﻿
<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetProcessTypeDataList: "@Url.Action("GetProcessTypeDataList", "ProcessTypeMaster")",
        SaveProcessTypeData: "@Url.Action("SaveProcessTypeData", "ProcessTypeMaster")",
    }
</script>

<script src="~/Scripts/CookBook/ProcessTypeMaster.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />

<style>
    .popover {
        z-index: 120000 !important;
    }

    /* .k-window {
        height: 230px !important;
    }*/

    .slider {
        top: 6px !important;
        bottom: -6px !important;
    }

    /* #videoclip{
        height:500px !important;
    }*/
</style>
@{
    ViewBag.Title = "Manage Process Type";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div id="ProcessTypeMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">


                        <div class="card-tools" style="margin-top: -6px;">
                            <span style="float:left; margin-top:2px!important">
                                <input type="text" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="    position: relative; right: -277px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                            </span>
                            @*<button id="btnExport" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                        data-widget="chat-pane-toggle" style="padding-top:7px">
                                    Export To Excel
                                </button>*@
                            <button id="AddNew" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="margin-top:5px">
                                Add New
                            </button>

                        </div>
                    </div>
                    <div id="processtypeid" style="display:none;"></div>
                    <!-- /.card-header -->
                    <div id="clbody" class="card-body">
                        <div id="bulkerror" class="alert alert-danger alert-dismissible" style="display:none">
                            <i class="icon fas fa-exclamation"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="success" class="alert alert-success alert-dismissible" style="display:none">
                            <i class="icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridProcessType"></div>
                        <div id="ProcessTypewindowEdit" style="display:none;">
                            <div class="container">
                                <div id="error" class="alert alert-danger alert-dismissible" style="display:none">
                                    <i class="icon fas fa-exclamation"></i>
                                    <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                    </p>
                                </div>
                                <div class="row" style="padding-top: 10px!important">
                                    <div class="col-4">
                                        <label class="form-control-label">Process Type Code</label>
                                        <input type="text" id="ProcessTypecode" class="form-control" disabled />
                                    </div>
                                    <div class="col-6">

                                        <label class="form-control-label">Process Type Name<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="processtypename" class="form-control" />
                                    </div>
                                </div>

                                <div style="margin-top:10px;margin-bottom:10px!important;">
                                    <div class="modal-footer col" style="padding-right:7.5px!important; align-items:flex-end!important">
                                        <button type="submit" id="btnCancel" class="btn btn-tool">Cancel</button>
                                        <button type="submit" id="btnSubmit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <!-- /.card-footer-->
                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>

<div id="videoPlayingDiv" style="display:none;">
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 5px;">
            <video id="videoclip" width="990" height="550" controls="controls" style="border:1px solid lightgrey;" disablePictureInPicture controlsList="nodownload noplaybackrate" oncontextmenu="return false;">
                <source id="mp4video" src="#" type="video/mp4" />
            </video>
        </div>
    </div>
</div>