﻿<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetAPLMasterDataList: "@Url.Action("GetAPLMasterDataList", "APLMaster")",
        GetMOGDataList: "@Url.Action("GetMOGDataList", "MOG")",
        SaveAPLMasterData: "@Url.Action("SaveAPLMasterData", "APLMaster")",
        SaveAPLMasterDataList: "@Url.Action("SaveAPLMasterDataList", "APLMaster")",
        UploadExcelsheet: "@Url.Action("UploadExcelsheet", "APLMaster")",
        GetMOGAPLHISTORYDetailsAPL: "@Url.Action("GetMOGAPLHISTORYDetailsAPL", "APLMaster")",
        GetMOGAPLHISTORYAPL: "@Url.Action("GetMOGAPLHISTORYAPL", "APLMaster")",
        GetALLHISTORYDetailsAPL: "@Url.Action("GetALLHISTORYDetailsAPL", "APLMaster")",
        GetshowGetALLHISTORYBATCHWISEAPL: "@Url.Action("GetshowGetALLHISTORYBATCHWISEAPL", "APLMaster")",
        GetAllergenDataList: "@Url.Action("GetAllergenDataList", "CookBookMaster")",
        //Krish 11-10-2022
        GetRangeTypeDataList: "@Url.Action("GetRangeTypeDataList", "RangeTypeMaster")",
        SaveRangeTypeAPLData:"@Url.Action("SaveRangeTypeAPLData", "APLMaster")",
    }
</script>

<script src="~/Scripts/CookBook/APLMaster.js"></script>
<link href="~/Content/css/styles-falcon.css" rel="stylesheet" />
<style>
    #inputAllergenClear .k-input[readonly] {
        background-color: #e2e2e2 !important;
        color: #2e2e2e;
    }

    .checkbox-container .checkmark:after {
        left: 3.5px !important;
        top: 1px !important;
    }

    .batchstatuscolor {
        color: forestgreen !important;
    }

    .batchstatuscolorred {
        color: orangered !important;
    }

    #GETALLMogViewALLHistoryBATCHWISEAPL .k-grid-content {
        min-height: 100px;
        max-height: 200px;
    }

    .colortag {
        height: 13px;
        width: 12px;
        border-radius: 9px;
        margin-left: 22px;
        background-color: blue;
    }
    .k-grid-MapTemp {
        color: #76B4B0 !important;
    }
</style>
@{
    ViewBag.Title = "APL Master and MOG Mapping";

}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div id="mogviewhistorymainAPL" style="display:none;" class="col-lg-12 card direct-chat direct-chat-primary">

                    <div class="row" style="margin:10px">

                        <div>
                            <div class="menuName">
                                <div><span id="inputdishname1">Upload MOG APL Mapping Batch status. </span></div>
                                <div style="height:20px;display: inline-grid;margin-top: -1px;margin-left: 2px;color: #000;">
                                    <label class="form-control-label" style="font-size:0.965em!important">
                                        Batch Failed, Following records have the invalid/incorrect data. Refer below list and correct the data in excel and re-upload.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!--</div>-->



                    </div>
                    <div class="row" style="margin-top:10px!important">
                        <div class="col-3" style="margin-top: 10px; text-align: right; margin-left: 766px;">
                            <button type="submit" id="APLMOGbtnbackAPL" onclick="back()" class="btn btn-success btn-xs">Back</button>
                            <button type="submit" id="ALLBATCHVIEWAPL" onclick="AllViewBatch()" class="btn btn-success btn-xs">View All Batch(s)</button>

                        </div>

                    </div>
                    <div class="row" style="margin-top:10px!important">


                    </div>

                    <div class="row"></div>
                    <div class="row" style="margin-top:10px">
                        <div class="col-12">
                            @*<div id="gridRecipeCustom" style="max-height:200px;"></div>*@
                            <div id="gridMogViewCustomHistoryDetailsAPL" style="max-height: 200px;margin-top: 24px;"></div>
                        </div>

                    </div>
                    <div class="row" style="margin-top:10px!important">


                    </div>


                    <div class="row" style="margin-top:10px">
                        <div class="col-12">
                            @*<div id="gridRecipeCustom" style="max-height:200px;"></div>*@
                            <div id="gridMogViewCustomHistoryAPL" style="max-height:200px;"></div>
                        </div>

                    </div>


                    <span style="float:left; margin-top:2px!important" id="batchsearchAPL">
                        <input type="text" id="BatchmyInputAPL" placeholder="Search" class="search-input" title="Start typing to filter">
                        <i class="fas fa-search" style="position: relative; right: -988px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                    </span>

                    <div class="row" style="margin-top:10px!important">


                    </div>

                    <div class="row"></div>
                    <div class="row" style="margin-top:10px">
                        <div class="col-12">
                            @*<div id="gridRecipeCustom" style="max-height:200px;"></div>*@
                            <div id="gridMogViewALLHistoryAPL" style="max-height: 200px;"></div>
                        </div>

                    </div>



                    <div class="row" style="margin-top:10px!important">


                    </div>

                    <div class="row"></div>
                    <div class="row" style="margin-top:10px">
                        <div class="col-12">
                            @*<div id="gridRecipeCustom" style="max-height:200px;"></div>*@
                            <div id="GETALLMogViewALLHistoryBATCHWISEAPL" style="max-height: 200px;"></div>
                        </div>

                    </div>



                </div>
                <div id="SiteMaster" class="col-lg-12 card direct-chat direct-chat-primary">

                    <div class="card-header">
                        @*<h3 class="card-title" style="margin-left: -9px;">APL Master</h3>*@
                        <div class="card-tools" style="margin-top:-9px;margin-right:-0.375rem">
                            <span style="float:left; margin-top:2px!important">
                                <input type="text" id="myInput" style="margin-left: -24px;" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="    position: relative; right: -252px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                            </span>
                            <div id="previewchk" class="btn btn-tool">
                                <div style="DISPLAY: inline-block; margin-top: inherit;">
                                    <label class="checkbox-container" style="display: inline-block; top: 2px;">
                                        <input type="checkbox" id="btnMappedAPL" onchange="mappedApl(this);">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <label class="btn btn-tool" id="mappedapl" style="font-weight: 400;margin-top: -6px!important; font-size:13px!important;">
                                    Unmapped APL(s)
                                </label>
                            </div>
                            <button id="btnExport" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px">
                                Export To Excel
                            </button>
                            <button id="BtnExportTempAPL" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px">
                                APL-MOG Mapping Template
                            </button>
                            <button id="BtnviewuploadhistoryAPL" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px">
                                View Upload History
                            </button>
                            <button id="ExcelUploadAPL" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="margin-top:5px; ">
                                Upload APL Mapping
                            </button>
                            @*<button id="InitiateBulkChanges" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                        data-widget="chat-pane-toggle" style="padding-top:7px;">
                                    Apply Bulk Changes
                                </button>*@
                            <button id="CancelBulkChanges" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="display:none;padding-top:7px">
                                Cancel Bulk Changes
                            </button>
                            <button id="SaveBulkChanges" type="submit" class="btn btn-success-bulk btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="display:none; margin-top:5px">
                                Save Bulk Changes
                            </button>
                        </div>
                    </div>

                    <div id="UploadExcelFileAPL">

                        <div class="container">
                            <div class="row">
                                <div class="form-control-label" style="padding-top:-2px;margin-left:7px;margin-bottom:0px!important;"> Please select the MOG-APL Mapping file to upload</div>
                            </div>
                            <div class="row">
                                <div class="col-4" id="EXclmogCodeDiv" style="min-width:85px!important">
                                    <input type="file" id="fileAPL" class="form-control-file" accept=".xlsx" style="font-size:0.8em" />
                                </div>
                            </div>
                            <div class="row" style="float:left;">
                                <div class="col-11">
                                    <button id="UploadMOGExcelAPL" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                            data-widget="chat-pane-toggle" style="margin-top:5px; ">
                                        Upload Excel
                                    </button>
                                </div>


                            </div>

                        </div>


                    </div>
                    <div id="articleid" style="display:none;"></div>
                    <!-- /.card-header -->
                    <div id="fpbody" class="card-body">
                        <div id="gridBulkChange"></div>
                        <div id="gridAPLMaster"></div>
                        <div id="APLwindowEdit">
                            <div class="container">
                                <div class="row" style="padding-top: 10px!important">
                                    <div class="col-3">
                                        <label class="form-control-label">Article Number</label>
                                        <label id="articlenumber" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-5">
                                        <label class="form-control-label">Article Description</label>
                                        <label id="articledescription" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">UOM</label>
                                        <label id="uom" class="form-control-plaintext"></label>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-3">
                                        <label class="form-control-label">Article Type</label>
                                        <label id="type" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-5">
                                        <label class="form-control-label">Category</label>
                                        <label id="category" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Last Updated</label>
                                        <label id="lastupdated" class="form-control-plaintext"></label>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-11">
                                        <label class="form-control-label">Merchandize Category</label>
                                        <label id="mcategory" class="form-control-plaintext"></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="form-control-label">MOG</label>
                                        <div id="inputmog" class="form-control"></div>
                                    </div>
                                </div>

                                <div class="row" style="display:none;">
                                    <div class="col-6">
                                        <div style="width:96%;">  <div class="form-control-label" style="margin-bottom:0px!important;"> Start typing/Select <span style="color:red !important">Top 8</span> Allergen to be Mapped with APL</div></div>
                                        <div id="inputAllergenClear" style="width: 96%;">
                                            <div style="display:none; text-align: left;" id="inputAllergen"></div>

                                        </div>

                                    </div>

                                    <div class="" style="flex: 0 0 41.666667%; max-width: 77.667%;">
                                        <div style="width:110%;">
                                            <div class="form-control-label" style="margin-bottom:0px!important;"> Start typing/Select <span style="color:dodgerblue !important">Other</span> Allergen to be Mapped with APL</div>
                                        </div>
                                        <div id="inputOtherAllergenClear" style="width: 110%;">
                                            <div style="display:none; text-align: left;" id="inputOtherAllergen"></div>

                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-8"></div>
                                    <div class="" style="flex: 0 0 29%; max-width: 29%;">
                                        <div class="modal-footer col" style="padding-right:7.5px!important; align-items:flex-end!important; margin-top:0px !important">
                                            <button type="submit" id="APLbtnCancel" class="btn btn-tool">Cancel</button>
                                            <button type="submit" id="APLbtnSubmit" class="btn btn-info">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
@*Krish 11-10-2022*@
<div id="RangeTypeAPLwindowEdit" style="display:none;">
    <div class="container">
        <div id="error" class="alert alert-danger alert-dismissible" style="display:none">
            <i class="icon fas fa-exclamation"></i>
            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
            </p>
        </div>
        <div class="row" style="padding-top: 10px!important">
            <div class="col-3">
                <label class="form-control-label">Article Number</label>
                <label id="rtArticleNumber" class="form-control-label"></label>
            </div>
            <div class="col-5">

                <label class="form-control-label">Article Description</label>
                <label id="rtArticleDescription" class="form-control-label"></label>
            </div>
            <div class="col-2">

                <label class="form-control-label">UOM</label>
                <label id="rtUom" class="form-control-label"></label>
            </div>
        </div>
        <div class="row" style="padding-top: 10px!important">
            <div class="col-3">
                <label class="form-control-label">Article Type</label>
                <label id="rtArticleType" class="form-control-label"></label>
            </div>
            <div class="col-5" >

                <label class="form-control-label">Merchandize Category</label>
                <label id="rtMerchandizeCategory" class="form-control-label"></label>
            </div>
            <div class="col-2" >

                <label class="form-control-label">Category</label>
                <label id="rtCategory" class="form-control-label"></label>
            </div>
            
        </div>

        <div class="row" style="padding-top:10px;">

            @*<div class="col-4">
                    <label class="form-control-label">Std Temp From<span class="mandatoryAsterisk">*</span></label>
                    <input id="rangetypeFrom" class="form-control" type="number" />
                </div>*@
            <div class="col-6">
                <label class="form-control-label">Range Type<span class="mandatoryAsterisk">*</span></label>
                <input id="rtRangeType" class="form-control" type="text" />
            </div>

        </div>
        <div style="margin-top:10px;margin-bottom:10px!important;">
            <div class="modal-footer col" style="padding-right:7.5px!important; align-items:flex-end!important">
                <button type="submit" id="rtbtnCancel" class="btn btn-tool">Cancel</button>
                <button type="submit" id="rtbtnSubmit" class="btn btn-info">Save</button>
            </div>
        </div>
    </div>
</div>
<div id="videoPlayingDiv" style="display:none;">
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 5px;">
            <video id="videoclip" width="990" height="550" controls="controls" style="border:1px solid lightgrey;" disablePictureInPicture controlsList="nodownload noplaybackrate" oncontextmenu="return false;">
                <source id="mp4video" src="#" type="video/mp4" />
            </video>
        </div>
    </div>
</div>