﻿<script>

    var CookBookMasters = {
          GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
          SaveNutritionMaster: "@Url.Action("SaveNutritionMaster", "CookBookMaster")",
          GetNutritionMasterDataList: "@Url.Action("GetNutritionMasterDataList", "CookBookMaster")",
           GetNutrientUOMDataList: "@Url.Action("CommonMasterList", "HealthcareMaster")",
          GetNutritionElementTypeList: "@Url.Action("GetNutritionElementTypeList", "CookBookMaster")",

    }
</script>

<script src="~/Scripts/CookBook/NutritionMaster.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />
<style>

    .slider {
        top: 6px !important;
        bottom: -6px !important;
    }

  
    .checkbox-container input:checked ~ .checkmark::after {
        top: 2px !important;
        left: 4px !important;
    }
</style>
@{
    ViewBag.Title = "Nutrition";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div id="SiteMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 id="ct" class="card-title" style="margin-left: -17px;"></h3>
                        <div class="card-tools" style="margin-top: -6px;">
                            <span style="float:left; margin-top:2px!important">
                                <input type="text" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="    position: relative; right: -277px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                            </span>
                            <button id="dpaddnew" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="margin-top:5px">
                                Add New
                            </button>
                        </div>
                    </div>
                    <div id="dpid" style="display:none;"></div>
                    <!-- /.card-header -->
                    <div id="dpbody" class="card-body">


                        <div id="gridNutritionMaster"></div>
                        <div id="NutritionMasterWindowEdit" style="display:none;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6">
                                        <label class="form-control-label">Code</label>
                                        <input type="text" id="dpcode" class="form-control" disabled />
                                    </div>
                                    <div class="col-5">
                                        <label class="form-control-label"> Nutrient<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="dpnutritionelement" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label class="form-control-label"> Nutrient Type<span class="mandatoryAsterisk">*</span></label>
                                        <div id="dpnutritionelementtype" class="form-control" />
                                    </div>
                                    <div class="col-5">
                                        <label class="form-control-label"> Nutrient UOM</label>
                                        <div id="dpnutritionelementuom" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label class="form-control-label"> Display Order<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="inputdisplayorder" class="form-control" />
                                    </div>
                                    <div class="col-5">
                                            <label class="form-control-label"> Display on UI</label>
                                            <div style="DISPLAY: inline-block; margin-top: inherit;">
                                                <label class="checkbox-container" style="display: inline-block;">
                                                    <input type="checkbox" id="isdisplay">
                                                    <span class="checkmark"></span>
                                                </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="first-input">
                                    <div style="margin-bottom:45px;">

                                        <button type="submit" id="secredpsubmit" class="btn btn-info btn-new-save">Save</button>

                                        <button type="submit" id="secredpcancel" class="btn btn-tool btn-new-cancel">Cancel</button>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->

                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<div id="videoPlayingDiv" style="display:none;">
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 5px;">
            <video id="videoclip" width="990" height="550" controls="controls" style="border:1px solid lightgrey;" disablePictureInPicture controlsList="nodownload noplaybackrate" oncontextmenu="return false;">
                <source id="mp4video" src="#" type="video/mp4" />
            </video>
        </div>
    </div>
</div>