﻿<script>

    var CookBookMasters = {
        GetSiteMasterList: "@Url.Action("GetSiteMasterList", "Item")",
        GetRegionMasterList: "@Url.Action("GetRegionMasterList", "Item")",
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetDishTypeDataList: "@Url.Action("GetDishTypeDataList", "CookBookMaster")",
        GetDishCategoryDataList: "@Url.Action("GetDishCategoryDataList", "CookBookMaster")",
        GetDishSubCategoryDataList: "@Url.Action("GetDishSubCategoryDataList", "CookBookMaster")",
        GetDietCategoryDataList: "@Url.Action("GetDietCategoryDataList", "CookBookMaster")",
        GetFoodProgramDataList: "@Url.Action("GetFoodProgramDataList", "CookBookMaster")",
        GetServingTemperatureDataList: "@Url.Action("GetServingTemperatureDataList", "CookBookMaster")",
        GetUOMDataList: "@Url.Action("GetUOMDataList", "CookBookMaster")",
        GetDishDataList: "@Url.Action("GetDishDataList", "Dish")",
        SaveDishData: "@Url.Action("SaveDishData", "Dish")",
        SaveDishDataList: "@Url.Action("SaveDishDataList", "Dish")",
        GetDishDataList: "@Url.Action("GetDishDataList", "Dish")",
        GetDishRecipeMappingDataList: "@Url.Action("GetDishRecipeMappingDataList", "Dish")",
        SaveDishRecipeMappingList: "@Url.Action("SaveDishRecipeMappingList", "Dish")",
        GetMOGDataList: "@Url.Action("GetMOGDataList", "MOG")",
        GetUOMDataList: "@Url.Action("GetUOMDataList", "CookBookMaster")",
        GetRecipeDataList: "@Url.Action("GetRecipeDataList", "Recipe")",
        GetBaseRecipesByRecipeID: "@Url.Action("GetBaseRecipesByRecipeID", "Recipe")",
        GetMOGsByRecipeID: "@Url.Action("GetSimulatedMappedRecipeMOGListNationalDataList", "CostSimulation")",
        GetColorDataList: "@Url.Action("GetColorDataList", "Color")",
        SaveRecipeData: "@Url.Action("SaveRecipeData", "Recipe")",
        SaveRecipeDataList: "@Url.Action("SaveRecipeDataList", "Recipe")",
         GetAPLMasterDataListForMOG: "@Url.Action("GetAPLMasterDataListForMOG", "APLMaster")",
        GetApplicationSettingDataList: "@Url.Action("GetApplicationSettingDataList", "Setting")",
          GetBaseRecipesByRecipeID: "@Url.Action("GetBaseRecipesByRecipeID", "Recipe")",
        GetRecipeMappingDataList: "@Url.Action("GetRecipeMappingDataList", "CostSimulation")",
    }

</script>



<script src="~/Scripts/CookBook/DishSimulation.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />
<link href="~/Content/css/summernote/summernote-bs4.css" rel="stylesheet" />
<script src="~/Content/css/summernote/summernote-bs4.min.js"></script>
@{
    ViewBag.Title = "Dish Simulation";
}
<style>
    #gridRecipeCustom .k-grid-content.k-auto-scrollable {
        height: auto !important;
    }

    .serv {
        font-size: 0.8em;
        line-height: 21px;
        padding: 8px 0px;
    }


    .k-button, .k-state-hover, .k-button:hover {
        color: #e2e2e2;
        border-color: none;
        background-color: transparent;
        box-shadow: none !important;
    }

        .k-button.k-state-active, .k-button:active {
            color: #e2e2e2;
            border-color: none !important;
            background-color: transparent !important;
            box-shadow: none !important;
        }

        .k-button.k-state-focus, .k-button:focus {
            box-shadow: none !important;
        }

        .k-button.k-state-active:hover, .k-button:active:hover {
            box-shadow: none !important;
            background-color: transparent !important;
            border: none !important;
        }

    .k-grid-MapDishes {
        cursor: pointer !important;
    }

    .k-dropdown-wrap.k-state-border-down {
        border-bottom-width: 1px;
        padding-bottom: 0;
        border-radius: 4px;
    }

    .k-dirty {
        display: none;
    }
</style>
<!-- Main content -->

<section class="content">
   <div class="container-fluid" style="display:block">
        <!-- Main row -->
       <div class="row">
           <div class="col-sm-12">

           </div>
           <div class="col-sm-12">

           </div>
           <!-- Left col -->
           <section class="col-sm-12 connectedSortable" style="display:inherit;min-height:480px;" id="configMaster">
               <div style="display:block;" class="col-lg-12 card direct-chat direct-chat-primary">
                   <div class="card-header">


                       <div style="display:none;width:150px!important; margin-left:-13px; margin-top:7px!important; margin-right:10px; text-align: left;" id="ddDish" class="form-control"></div>
                       <button id="btnGo" type="submit" class="btn  btn-info" data-toggle="tooltip" title=""
                               data-widget="chat-pane-toggle" style="display:block;margin-left:144px!important;margin-top:-25px!important" onclick="PopulateRecipe()">
                           Go
                       </button>

                       <!-- /.Left col -->
                   </div>
                   <section class="col-sm-12 connectedSortable" style="display:none;min-height:480px;" id="DishMaster">

                       <div class="row">
                           <div class="col-9">

                               <div class="categoryStatus">
                                   <div id="itemDietCategory">
                                       <div id="itemDietCategoryStatus"></div>
                                   </div>
                               </div>
                               <div>
                                   <div class="menuName">
                                       <div><span id="inputdishname1">Menu Image Preview </span></div>
                                       <div style="height:20px;display: inline-grid;margin-top: -1px;margin-left: 2px;color: #000;"><label class="form-control-label" style="font-size:0.965em!important">Dish Code: <span id="inputdishcode1" style="margin-right:4px"> 1010</span>| Dish Category:<span style="margin-left:4px" id="inputdishcategory1"></span>| Dish Type:<span style="margin-left:4px" id="inputdishtype1"></span></label></div>
                                   </div>
                               </div>
                           </div>
                       </div>

                       <div class="row" style="margin-top:25px!important;">
                           <div class="col-3">
                               <label class="form-control-label"> Recipe</label>
                               <div id="ddRecipe"></div>
                           </div>
                           <div class="col-3">
                               <label class="form-control-label"> Region</label>
                               <div id="ddRegion"></div>
                           </div>
                           <div class="col-3">
                               <label class="form-control-label"> Site</label>
                               <div id="ddSite"></div>
                           </div>
                           <div class="col-2">
                               <label class="form-control-label"> Portion Size (Gms)</label>

                               <input type="text" id="portionSize" class="form-control">
                           </div>
                       </div>

                       <div class="row">
                           <div class="col-12">
                               <div class="dishRecipe">
                                   <div id="mup_gridMOG" class="upper" onclick="showHideGrid('gridMOG','emptymog','mup_gridMOG')">
                                       Change the MOG Configuration
                                       <br />

                                   </div>
                                   <div class="lower">
                                       <div id="gridMOG" style="display:none;"></div>
                                       <div id="emptymog" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                           <button id="addmog" class="btn btn-default" style="margin-top:22px!important">Add MOG(s) </button>
                                       </div>
                                   </div>
                               </div>
                           </div>

                           <div class="row">
                               <div class="col-12">
                                   <div class="dishRecipe">
                                       <div id="bup_gridBaseRecipe" class="upper" onclick="showHideGrid('gridBaseRecipe','emptybr','bup_gridBaseRecipe')">

                                           Change the base Recipe Configuration


                                       </div>
                                       <div class="lower">
                                           <div id="gridBaseRecipe" style="display:none;"></div>
                                           <div id="emptybr" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                               <button id="addbr" class="btn btn-default" style="margin-top:22px!important">Add Base Recipe(s) </button>
                                           </div>
                                       </div>

                                   </div>

                               </div>

                           </div>

                       </div>
                       </section>
                       <!-- /.row (main row) -->
               </div><!-- /.container-fluid -->

           </section>
       </div>
   </div>
    </section>
