﻿<script>

    var CookBookMasters = {
        GetFoodPanDataList: "@Url.Action("GetFoodPanDataList", "CookBookMaster")",
        SaveFoodPanData: "@Url.Action("SaveFoodPan", "CookBookMaster")",
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
    }
</script>

<script src="~/Scripts/CookBook/FoodPan.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />
<style>
</style>
@{
    ViewBag.Title = "Manage Food Pan";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div id="SiteMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -12px;margin-top:3px;"></h3>
                        <div class="card-tools" style="margin-top: -6px;">
                            <button id="fnaddnew" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="margin-top:5px">
                                Add New
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- /.card-header -->
                    <div id="fnbody" class="card-body">
                        <div id="gridFoodPan" class=""></div>
                        <div id="windowEdit">
                            <div class="container">
                                <label id="fnid" style="display:none"></label>
                                <div class="row" style="padding-top: 10px!important">
                                    <div class="col-2" style="display:none">
                                        <label class="form-control-label">Food Pan Code</label>
                                        <input type="text" id="fncode" class="form-control" disabled />
                                    </div>
                                    <div class="col-12">
                                        <label class="form-control-label">Food Pan Name</label>
                                        <input type="text" id="fnname" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="form-control-label">Size</label>
                                        <input type="text" id="fnsize" class="form-control" />
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">Depth</label>
                                        <input type="text" id="fndepth" class="form-control" />
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group" style="margin-top: 14px; float: right;">
                                            <p style="margin-bottom:2px;font-size:12px">Status</p>
                                            <label class="switch">
                                                <input id="fnactive" type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px !important;">
                                    <div class="modal-footer col" style="padding-right:7.5px!important; align-items:flex-end!important">
                                        <button type="submit" id="btnCancel" class="btn btn-tool">Cancel</button>
                                        <button type="submit" id="btnSubmit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    
                    </div>
                    <!-- /.card-footer-->
                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>