﻿<script>

    var CookBookMasters = {
        GetSiteMasterList: "@Url.Action("GetSiteDataList", "Site")",
        GetDishDataListForFood: "@Url.Action("GetDishDataListForFood", "FoodPan")",
        GetFoodPanDataList: "@Url.Action("GetFoodPanDataList", "CookBookMaster")",
        SaveSiteDishFoodPanData: "@Url.Action("SaveDishFoodPanData", "FoodPan")",
        SaveSiteDishFoodPanDataList: "@Url.Action("SaveFoodPanDataList", "FoodPan")",

        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetDishTypeDataList: "@Url.Action("GetDishTypeDataList", "CookBookMaster")",
        GetDishCategoryDataList: "@Url.Action("GetDishCategoryDataList", "CookBookMaster")",
        GetDishSubCategoryDataList: "@Url.Action("GetDishSubCategoryDataList", "CookBookMaster")",
        GetDietCategoryDataList: "@Url.Action("GetDietCategoryDataList", "CookBookMaster")",
        GetFoodProgramDataList: "@Url.Action("GetFoodProgramDataList", "CookBookMaster")",
        GetServingTemperatureDataList: "@Url.Action("GetServingTemperatureDataList", "CookBookMaster")",
        GetUOMDataList: "@Url.Action("GetUOMDataList", "CookBookMaster")",
        GetDishDataList: "@Url.Action("GetDishDataList", "Dish")",
        SaveDishData: "@Url.Action("SaveDishData", "Dish")",
        SaveDishDataList: "@Url.Action("SaveDishDataList", "Dish")",
        GetDishDataList: "@Url.Action("GetDishDataList", "Dish")",
        GetDishRecipeMappingDataList: "@Url.Action("GetDishRecipeMappingDataList", "Dish")",
        SaveDishRecipeMappingList: "@Url.Action("SaveDishRecipeMappingList", "Dish")",
        GetMOGDataList: "@Url.Action("GetMOGDataList", "MOG")",
        GetUOMDataList: "@Url.Action("GetUOMDataList", "CookBookMaster")",
        GetRecipeDataList: "@Url.Action("GetRecipeDataList", "Recipe")",
        GetBaseRecipesByRecipeID: "@Url.Action("GetBaseRecipesByRecipeID", "Recipe")",
        GetMOGsByRecipeID: "@Url.Action("GetMOGsByRecipeID", "Recipe")",
        SaveRecipeData: "@Url.Action("SaveRecipeData", "Recipe")",
        SaveRecipeDataList:"@Url.Action("SaveRecipeDataList", "Recipe")",
    }
</script>


<script src="~/Scripts/CookBook/Recipe.js"></script>

<script src="~/Scripts/CookBook/Food.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />
<link href="~/Content/css/summernote/summernote-bs4.css" rel="stylesheet" />
<script src="~/Content/css/summernote/summernote-bs4.min.js"></script>
@{
    ViewBag.Title = "Dish - Food Pan Mapping";
}
<style>
    #gridRecipeCustom .k-grid-content.k-auto-scrollable {
        height: auto !important;
    }

    .serv {
        font-size: 0.8em;
        line-height: 21px;
        padding: 8px 0px;
    }


    .k-button, .k-state-hover, .k-button:hover {
        color: #e2e2e2;
        border-color: none;
        background-color: transparent;
        box-shadow: none !important;
    }

        .k-button.k-state-active, .k-button:active {
            color: #e2e2e2;
            border-color: none !important;
            background-color: transparent !important;
            box-shadow: none !important;
        }

        .k-button.k-state-focus, .k-button:focus {
            box-shadow: none !important;
        }

        .k-button.k-state-active:hover, .k-button:active:hover {
            box-shadow: none !important;
            background-color: transparent !important;
            border: none !important;
        }

    .k-grid-MapDishes {
        cursor: pointer !important;
    }

    .k-dropdown-wrap.k-state-border-down {
        border-bottom-width: 1px;
        padding-bottom: 0;
        border-radius: 4px;
    }

    .k-dirty {
        display: none;
    }
</style>
<!-- Main content -->

<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-12">
                <div id="success" class="alert alert-success alert-dismissible" style="display:none;width:100%;">
                    <i class="icon fas fa-check"></i>
                    <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                    </p>
                </div>
            </div>
            <section class="col-sm-12" style="display:inherit; max-height:480px">

                <div id="ItemMaster" class="col-lg-12 card direct-chat direct-chat-primary" style="margin-top: 0px !important;">
                    <div class="card-header">
                        @*<h3 class="card-title" style="margin-left: -17px;">Dish Food Mapping</h3>*@
                                                        <div style="display:none;width:250px!important; margin-left:-13px; margin-top:7px!important; margin-right:10px; text-align: left;" id="ddlSiteMaster" class="form-control"></div>
                        <button id="btnGo" type="submit" class="btn  btn-info" data-toggle="tooltip" title=""
                                data-widget="chat-pane-toggle" style="display:none;margin-left:-6px!important;margin-top:8px!important">
                            Go
                        </button>

                        <div style="display:none" class="card-tools" id="bulkChangeToolBar">
                            <button id="btnExport" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px">
                                Export To Excel
                            </button>
                            <button id="InitiateBulkChanges" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px">
                                Apply Bulk Changes
                            </button>
                            <button id="CancelBulkChanges" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="display:none;padding-top:7px">
                                Cancel Bulk Changes
                            </button>
                            <button id="SaveBulkChanges" type="submit" class="btn btn-success-bulk btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="display:none; margin-top:5px">
                                Save Bulk Changes
                            </button>
                        </div>
                    </div>
                    <div id="foodpanid" style="display:none;"></div>
                    <!-- /.card-header -->
                    <div id="fpbody" class="card-body" style="overflow:visible;display:none;">
                        <div id="bulkerror" class="alert alert-danger alert-dismissible" style="display:none">
                            <i class="icon fas fa-exclamation"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div style="display:none" id="gridBulkChange"></div>
                        <div class="row" >
                            <div  style="display:none" id="gridLabel" class="col-8">
                                <label class="form-control-label">Click to Edit Map Food Pan to Dish and Capacity</label>
                            </div>
                            </div>
                            <div style="display:none" id="gridDish"></div>
                            <div id="windowEditDish">
                                <div class="container">
                                    <div id="error" class="alert alert-danger alert-dismissible" style="display:none">
                                        <i class="icon fas fa-exclamation"></i>
                                        <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                        </p>
                                    </div>
                                    <div class="row" style="padding-top: 5px !important;padding-bottom: 15px;">

                                        <div class="col-3">
                                            <label class="form-control-label">Dish Code</label>
                                            <label id="inputdishcode" class="form-control-plaintext"></label>
                                        </div>
                                        <div class="col-6">
                                            <label class="form-control-label">Dish Name</label>
                                            <label id="inputdishname" class="form-control-plaintext"></label>
                                        </div>
                                        <div class="col-1">
                                            <label class="form-control-label">UOM</label>
                                            <label id="lbluom" class="form-control-plaintext"></label>
                                        </div>


                                    </div>
                                    <div class="row">

                                        <div class="col-7">
                                            <label class="form-control-label">Food Pan Type</label>
                                            <div id="inputFoodPanType" class="form-control"></div>
                                        </div>

                                        <div class="col-2" style="min-width:138px!important">
                                            <label id="foodPanCapcitylbl" class="form-control-label">Capacity</label>
                                            <input type="text" id="inputFoodPanCapacity" class="form-control" />
                                        </div>


                                    </div>
                                    <div class="row" style="margin-top:10px">
                                        <div class="modal-footer col" style="padding-right: 31.5px !important;">
                                            <button type="submit" id="btnCancelDish" class="btn btn-tool">Cancel</button>
                                            <button type="submit" id="btnSubmitDish" class="btn btn-info">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                    </div>
                <div id="mapRecipe" style="display:none;" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="row" style="margin-top:10px">
                        <div class="col-12">
                            <div id="bulkerror1" class="alert alert-danger alert-dismissible" style="display:none">
                                <i class="icon fas fa-exclamation"></i>
                                <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                </p>
                            </div>
                            <div id="success1" class="alert alert-success alert-dismissible" style="display:none">
                                <i class="icon fas fa-check"></i>
                                <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="row" style="margin:10px">

                        <div class="col-9">

                            <div class="categoryStatus">
                                <div id="itemDietCategory">
                                    <div id="itemDietCategoryStatus"></div>
                                </div>
                            </div>
                            <div>
                                <div class="menuName">
                                    <div><span id="inputdishname1">Menu Image Preview </span></div>
                                    <div style="height:20px;display: inline-grid;margin-top: -1px;margin-left: 2px;color: #000;"><label class="form-control-label" style="font-size:0.965em!important">Dish Code: <span id="inputdishcode1" style="margin-right:4px"> 1010</span>| Dish Category:<span style="margin-left:4px" id="inputdishcategory1"></span>| Dish Type:<span style="margin-left:4px" id="inputdishtype1"></span></label></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3" style="margin-top:10px; padding-right:9px; text-align:right">
                            <button type="submit" id="AddNew" class=" btn  btn-tool" onclick="addNewRecipe()">Add New Recipe</button>
                            <button type="submit" id="btnback" onclick="back()" class=" btn btn-tool">Cancel</button>
                            <button type="submit" id="btnSubmitDishMap" onclick="saveDB()" class="btn btn-info">Save</button>
                        </div>

                    </div>
                    <div class="row" style="margin-top:10px!important">
                        <div class="col-8">
                            <label class="form-control-label">Start Typing / Choose Recipe to map with <span id="iname"></span></label>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-11">
                            <div id="inputrecipelist"></div>
                        </div>
                        <div class="col-1"><button type="button" class="btn btn-info btn-action" onclick="UpdateRecipe()"> Update  </button></div>
                    </div>

                    <div class="row" style="margin-top:10px">
                        <div class="col-12">
                            <div id="gridRecipeCustom" style="max-height:200px;"></div>
                        </div>

                    </div>

            </section>
            <div id="gridRecipe" style="display:none;"></div>

            <!-- Window Edit 0 start-->

            <div id="windowEdit0" style="display:none;margin-top:10px;">
                <section class="col-12">
                    <div class="container">
                        <div id="error0" class="alert alert-danger alert-dismissible" style="display:none">
                            <i class="icon fas fa-exclamation"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div class="row">
                            <span style="margin-left: 8px;">Create New Recipe</span>
                            <div class="modal-footer col" style="padding-right: 7.5px !important;margin-top: 0px !important;">



                                <button type="submit" id="btnCancel0" onclick="backCreate()" class="btn btn-tool">Cancel</button>
                                <button type="submit" id="btnCancel0" onclick="backCreate()" class="btn btn-tool">Cancel</button>
                                <button type="submit" id="btnSubmit0" onclick="backSave()" class="btn btn-info">Save</button>

                            </div>
                        </div>


                        <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:98.5%;margin-left:7px!important;">


                            <div class="col-2">
                                <label class="form-control-label">Recipe Code</label>
                                <input type="text" id="inputrecipecode0" class="form-control" disabled />
                            </div>
                            <div class="col-4">
                                <label class="form-control-label">Recipe Name</label>
                                <input type="text" id="inputrecipename0" class="form-control" />
                            </div>
                            <div class="col-2">
                                <label class="form-control-label">Quantity</label>
                                <input type="text" id="inputquantity0" value="10" class="form-control" />
                            </div>
                            <div class="col-1">
                                <label class="form-control-label">UOM</label>
                                <div id="inputuom0" class="form-control"></div>
                            </div>
                            <div class="col-1">
                                <label class="form-control-label">Recipe Type</label>
                                <div id="inputbase0" class="form-control"></div>
                            </div>


                            <div class="col-5">
                                <h6 class="form-control-main"><b>Cost of Recipe / KG: <span id="grandCostPerKG0">0.00</span></b></h6>
                            </div>

                            <div class="col-4" style="text-align:right">
                                <h6 class="form-control-main"><b>Total Cost of Recipe: <span id="grandTotal0">0.00</span></b></h6>
                            </div>
                        </div>




                        <div class="row">
                            <div class="col-12">
                                <div class="dishRecipe">
                                    <div class="upper">

                                        <b>Base Recipe</b>
                                        <span id="baseRecipePlus0" class="hideG1" onclick="showHideGrid('gridBaseRecipe0','emptybr0','baseRecipePlus0','baseRecipeMinus0',true)"> Show <i class="fas fa-angle-down"></i></span>
                                        <span id="baseRecipeMinus0" class="hideG1" onclick="showHideGrid('gridBaseRecipe0','emptybr0','baseRecipeMinus0','baseRecipePlus0',false)"> Hide <i class="fas fa-angle-up"></i></span>
                                        @*<i id="baseRecipePlus0" style="font-size: 13px; margin-left: 7px;" class="fas fa-plus" ></i>
                                    <i id="baseRecipeMinus0" style="font-size: 13px; margin-left: 7px;display:none;" class="fas fa-minus" ></i>*@
                                        <br />
                                        <small style="color:#a7a7a7">Add one or more Base Recipe(s) to this Recipe</small>

                                    </div>
                                    <div class="lower">
                                        <div id="gridBaseRecipe0" style="display:none;"></div>
                                        @*<div id="emptybr0" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                        <button id="addbr0" class="btn btn-default" style="margin-top:22px!important">Add Base Recipe(s) </button>
                                    </div>*@
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="dishRecipe">
                                    <div class="upper">
                                        <b>
                                            MOG (Managed Order Guide)

                                        </b>
                                        <span id="mogPlus0" class="hideG1" onclick="showHideGrid('gridMOG0','emptymog0','mogPlus0','mogMinus0',true)"> Show <i class="fas fa-angle-down"></i></span>
                                        <span id="mogMinus0" class="hideG1" onclick="showHideGrid('gridMOG0','emptymog0','mogMinus0','mogPlus0',false)"> Hide <i class="fas fa-angle-up"></i></span>



                                        <br />
                                        <small style="color:#a7a7a7">Add one or more MOG(s) to this Recipe</small>
                                    </div>
                                    <div class="lower">
                                        <div id="gridMOG0" style="display:none;"></div>
                                        @*<div id="emptymog0" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                        <button id="addmog0" class="btn btn-default" style="margin-top:22px!important">Add MOG(s) </button>
                                    </div>*@
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h6><b>Instructions</b></h6>

                                <textarea id="inputinstruction0" class="form-control" style="height:60px!important"></textarea>

                            </div>

                        </div>

                    </div>
                </section>

            </div>
            <!--Window Edit 0 End-->
            <div id="windowEdit1">
                <div class="container" style="overflow: auto!important; max-height:530px!important">
                    <div id="error1" class="alert alert-danger alert-dismissible" style="display:none">
                        <i class="icon fas fa-exclamation"></i>
                        <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                        </p>
                    </div>
                    <div class="card" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;">
                        <div class="row">
                            <div class="col-2">
                                <label class="form-control-label">Recipe Code</label>
                                <input type="text" id="inputrecipecode1" class="form-control" disabled />
                            </div>
                            <div class="col-4">
                                <label class="form-control-label">Recipe Name</label>
                                <input type="text" id="inputrecipename1" class="form-control" />
                            </div>
                            <div class="col-2">
                                <label class="form-control-label">Quantity</label>
                                <input type="text" id="inputquantity1" class="form-control" />
                            </div>
                            <div class="col-1">
                                <label class="form-control-label">UOM</label>
                                <div id="inputuom1" class="form-control"></div>
                            </div>
                            <div class="col-1">
                                <label class="form-control-label">Recipe Type</label>
                                <div id="inputbase1" class="form-control"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <h6 class="form-control-main"><b>Cost of Recipe / KG: <span id="grandCostPerKG1">0.00</span></b></h6>
                            </div>

                            <div class="col-4" style="text-align:right">
                                <h6 class="form-control-main"><b>Total Cost of Recipe: <span id="grandTotal1">0.00</span></b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h6>
                            <b>Base Recipe</b><br />
                            <small style="color:#a7a7a7">Add one or more Base Recipe(s) to this Recipe</small>
                        </h6>
                        <div id="gridBaseRecipe1"></div>
                        <div id="emptybr1" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px'>
                            <button id="addbr1" class="btn btn-default" style="margin-top:22px!important">Add Base Recipe(s) </button>
                        </div>
                    </div>
                    <div class="row">
                        <h6>
                            <b>MOG (Managed Order Guide) </b><br />
                            <small style="color:#a7a7a7">Add one or more MOG(s) to this Recipe</small>
                        </h6>
                        <div id="gridMOG1"></div>
                        <div id="emptymog1" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px'>
                            <button id="addmog1" class="btn btn-default" style="margin-top:22px!important">Add MOG(s) </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label class="form-control-main">Instructions</label>

                                <textarea id="inputinstruction1" class="form-control" style="height:60px!important"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="modal-footer  col" style="padding-right:7.5px!important;">
                            <button type="submit" id="btnCancel1" class="btn btn-tool">Cancel</button>
                            <button type="submit" id="btnSubmit1" class="btn btn-info">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        
            <div id="windowEdit3">
                <div class="container" style="overflow: auto!important; max-height:530px!important">
                    <div id="error3" class="alert alert-danger alert-dismissible" style="display:none">
                        <i class="icon fas fa-exclamation"></i>
                        <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                        </p>
                    </div>
                    <div class="card" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;">
                        <div class="row">
                            <div class="col-2">
                                <label class="form-control-label">Recipe Code</label>
                                <input type="text" id="inputrecipecode3" class="form-control" disabled />
                            </div>
                            <div class="col-4">
                                <label class="form-control-label">Recipe Name</label>
                                <input type="text" id="inputrecipename3" class="form-control" />
                            </div>
                            <div class="col-2">
                                <label class="form-control-label">Quantity</label>
                                <input type="text" id="inputquantity3" class="form-control" />
                            </div>
                            <div class="col-1">
                                <label class="form-control-label">UOM</label>
                                <div id="inputuom3" class="form-control"></div>
                            </div>
                            <div class="col-1">
                                <label class="form-control-label">Recipe Type</label>
                                <div id="inputbase3" class="form-control"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <h6 class="form-control-main"><b>Cost of Recipe / KG: <span id="grandCostPerKG3">0.00</span></b></h6>
                            </div>

                            <div class="col-4" style="text-align:right">
                                <h6 class="form-control-main"><b>Total Cost of Recipe: <span id="grandTotal3">0.00</span></b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h6>
                            <b>Base Recipe</b><br />
                            <small style="color:#a7a7a7">Add one or more Base Recipe(s) to this Recipe</small>
                        </h6>
                        <div id="gridBaseRecipe3"></div>
                        <div id="emptybr3" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px'>
                            <button id="addbr3" class="btn btn-default" style="margin-top:22px!important">Add Base Recipe(s) </button>
                        </div>
                    </div>
                    <div class="row">
                        <h6>
                            <b>MOG (Managed Order Guide) </b><br />
                            <small style="color:#a7a7a7">Add one or more MOG(s) to this Recipe</small>
                        </h6>
                        <div id="gridMOG3"></div>
                        <div id="emptymog3" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px'>
                            <button id="addmog3" class="btn btn-default" style="margin-top:22px!important">Add MOG(s) </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-13">
                            <div class="form-group">
                                <label class="form-control-main">Instructions</label>

                                <textarea id="inputinstruction3" class="form-control" style="height:60px!important"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="modal-footer col" style="padding-right:7.5px!important;">
                            <button type="submit" id="btnCancel3" class="btn btn-tool">Cancel</button>
                            <button type="submit" id="btnSubmit3" class="btn btn-info">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="windowEdit4">
                <div class="container" style="overflow: auto!important; max-height:530px!important">
                    <div id="error4" class="alert alert-danger alert-dismissible" style="display:none">
                        <i class="icon fas fa-exclamation"></i>
                        <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                        </p>
                    </div>
                    <div class="card" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;">
                        <div class="row">
                            <div class="col-2">
                                <label class="form-control-label">Recipe Code</label>
                                <input type="text" id="inputrecipecode4" class="form-control" disabled />
                            </div>
                            <div class="col-4">
                                <label class="form-control-label">Recipe Name</label>
                                <input type="text" id="inputrecipename4" class="form-control" />
                            </div>
                            <div class="col-2">
                                <label class="form-control-label">Quantity</label>
                                <input type="text" id="inputquantity4" class="form-control" />
                            </div>
                            <div class="col-1">
                                <label class="form-control-label">UOM</label>
                                <div id="inputuom4" class="form-control"></div>
                            </div>
                            <div class="col-1">
                                <label class="form-control-label">Recipe Type</label>
                                <div id="inputbase4" class="form-control"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <h6 class="form-control-main"><b>Cost of Recipe / KG: <span id="grandCostPerKG4">0.00</span></b></h6>
                            </div>

                            <div class="col-4" style="text-align:right">
                                <h6 class="form-control-main"><b>Total Cost of Recipe: <span id="grandTotal4">0.00</span></b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h6>
                            <b>Base Recipe</b><br />
                            <small style="color:#a7a7a7">Add one or more Base Recipe(s) to this Recipe</small>
                        </h6>
                        <div id="gridBaseRecipe4"></div>
                        <div id="emptybr4" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px'>
                            <button id="addbr4" class="btn btn-default" style="margin-top:22px!important">Add Base Recipe(s) </button>
                        </div>
                    </div>
                    <div class="row">
                        <h6>
                            <b>MOG (Managed Order Guide) </b><br />
                            <small style="color:#a7a7a7">Add one or more MOG(s) to this Recipe</small>
                        </h6>
                        <div id="gridMOG4"></div>
                        <div id="emptymog4" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px'>
                            <button id="addmog4" class="btn btn-default" style="margin-top:22px!important">Add MOG(s) </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label class="form-control-main">Instructions</label>

                                <textarea id="inputinstruction4" class="form-control" style="height:60px!important"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="modal-footer col" style="padding-right:7.5px!important;">
                            <button type="submit" id="btnCancel4" class="btn btn-tool">Cancel</button>
                            <button type="submit" id="btnSubmit4" class="btn btn-info">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="windowEdit5">
                <div class="container" style="overflow: auto!important; max-height:530px!important">
                    <div id="error5" class="alert alert-danger alert-dismissible" style="display:none">
                        <i class="icon fas fa-exclamation"></i>
                        <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                        </p>
                    </div>
                    <div class="card" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;">
                        <div class="row">
                            <div class="col-2">
                                <label class="form-control-label">Recipe Code</label>
                                <input type="text" id="inputrecipecode5" class="form-control" disabled />
                            </div>
                            <div class="col-4">
                                <label class="form-control-label">Recipe Name</label>
                                <input type="text" id="inputrecipename5" class="form-control" />
                            </div>
                            <div class="col-2">
                                <label class="form-control-label">Quantity</label>
                                <input type="text" id="inputquantity5" class="form-control" />
                            </div>
                            <div class="col-1">
                                <label class="form-control-label">UOM</label>
                                <div id="inputuom5" class="form-control"></div>
                            </div>
                            <div class="col-1">
                                <label class="form-control-label">Recipe Type</label>
                                <div id="inputbase5" class="form-control"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <h6 class="form-control-main"><b>Cost of Recipe / KG: <span id="grandCostPerKG5">0.00</span></b></h6>
                            </div>

                            <div class="col-4" style="text-align:right">
                                <h6 class="form-control-main"><b>Total Cost of Recipe: <span id="grandTotal5">0.00</span></b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h6>
                            <b>Base Recipe</b><br />
                            <small style="color:#a7a7a7">Add one or more Base Recipe(s) to this Recipe</small>
                        </h6>
                        <div id="gridBaseRecipe5"></div>
                        <div id="emptybr5" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px'>
                            <button id="addbr5" class="btn btn-default" style="margin-top:22px!important">Add Base Recipe(s) </button>
                        </div>
                    </div>
                    <div class="row">
                        <h6>
                            <b>MOG (Managed Order Guide) </b><br />
                            <small style="color:#a7a7a7">Add one or more MOG(s) to this Recipe</small>
                        </h6>
                        <div id="gridMOG5"></div>
                        <div id="emptymog5" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px'>
                            <button id="addmog5" class="btn btn-default" style="margin-top:22px!important">Add MOG(s) </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label class="form-control-main">Instructions</label>

                                <textarea id="inputinstruction5" class="form-control" style="height:60px!important"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="modal-footer col" style="padding-right:7.5px!important;">
                            <button type="submit" id="btnCancel5" class="btn btn-tool">Cancel</button>
                            <button type="submit" id="btnSubmit5" class="btn btn-info">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>