﻿
<script>

    var CookBookMasters = {
           GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetDietCategoryDataList: "@Url.Action("GetDietCategoryDataList", "CookBookMaster")",
        GetDishCategoryList: "@Url.Action("GetDishCategoryList", "Item")",
        GetSiteMasterList: "@Url.Action("GetSiteDataList", "Site")",
        GetDishDataListForFood: "@Url.Action("GetDishDataListForFood", "FoodPan")",
        GetDishCategoryDataListForFood: "@Url.Action("GetDishCategoryDataListForFood", "FoodPan")",
          GetFoodPanDataList: "@Url.Action("GetFoodPanDataList", "CookBookMaster")",
        SaveSiteDishFoodPanData: "@Url.Action("SaveDishFoodPanData", "FoodPan")",
        SaveSiteDishFoodPanDataList: "@Url.Action("SaveFoodPanDataList", "FoodPan")",
        SaveFoodPanCategoryDataList: "@Url.Action("SaveFoodPanCategoryDataList", "FoodPan")",
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetDishTypeDataList: "@Url.Action("GetDishTypeDataList", "CookBookMaster")",
        GetDishCategoryDataList: "@Url.Action("GetDishCategoryDataList", "CookBookMaster")",
        GetDishSubCategoryDataList: "@Url.Action("GetDishSubCategoryDataList", "CookBookMaster")",
        GetDietCategoryDataList: "@Url.Action("GetDietCategoryDataList", "CookBookMaster")",
        GetFoodProgramDataList: "@Url.Action("GetFoodProgramDataList", "CookBookMaster")",
     
        GetUOMDataList: "@Url.Action("GetUOMDataList", "CookBookMaster")",
        GetDishDataList: "@Url.Action("GetDishDataList", "Dish")",
        SaveDishData: "@Url.Action("SaveDishData", "Dish")",
        SaveDishDataList: "@Url.Action("SaveDishDataList", "Dish")",
       
    

    }
</script>
<link href="~/Content/css/styleSite.css" rel="stylesheet" />
<link href="~/Content/css/styles.css" rel="stylesheet" />
<script src="~/Scripts/CookBook/SiteFoodPan.js"></script>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Site - Dish - Food Pan Mapping"; ;
}

<style>
    .nav-link {
        padding: .5rem 1rem;
    }

    .site_smallIngredient {
        text-align: left;
        position: absolute;
        z-index: 1024;
        left: 57%;
        min-height: 142px;
        background-color: #a6a6a6;
        border: 1px solid #e2e2e2;
        width: 100%;
        min-width: 410px;
        border-radius: 5px;
    }

    .smallIngredient {
        position: relative;
    }

    .supper > span {
        float: right;
    }

    span .k-dropdown {
        width: 120px !important;
    }

    .served_site {
        margin-left: 5px;
        margin-right: 18px;
    }

    .served_site_variation {
        margin-left: 7px;
        margin-right: 21px;
    }

    .tilebox .k-dropdown {
        background-color: transparent !important;
    }

    .k-widget.k-dropdown.k-header.myCustomClass {
        width: 170px;
    }

    .tilebox {
        padding-left: 8px;
    }

        .tilebox .qserv {
            font-size: 0.9em;
            color: #595959;
        }

        .tilebox .wtpc {
            font-size: 0.9em;
            color: #595959;
        }

        .tilebox .site_smallIngredient .k-i-arrow-s {
            left: 10px;
            position: absolute;
            top: 6px;
        }

    .suppertxt {
        padding-left: 0px !important;
        height: auto !important;
    }

        .suppertxt span {
            padding-right: 5px;
        }

    .showportion {
        font-weight: 900;
        cursor: pointer;
        margin-right: 8px;
        margin-top: -5px;
    }

    .bgcolortrans {
        background: transparent !important;
        box-shadow: none !important;
        width: 50px;
    }

        .bgcolortrans .k-dropdown-wrap {
            padding: 0px 2px;
        }

    .popupokbtn {
        top: 0;
        margin-top: 0px !important;
        padding: 1px 10px !important;
        font-size: 14px !Important;
    }

    .k-dropdown {
        background-color: transparent !important;
        /*height:24px!important;*/
    }

    .k-button, .k-state-hover {
        color: #e2e2e2;
        border-color: none;
        background-color: transparent;
        box-shadow: none !important;
    }

        .k-button.k-state-active, .k-button:active {
            color: #e2e2e2;
            border-color: none !important;
            background-color: transparent !important;
            box-shadow: none !important;
        }

        .k-button.k-state-focus, .k-button:focus {
            box-shadow: none !important;
        }

        .k-button.k-state-active:hover {
            box-shadow: none !important;
            background-color: transparent !important;
            border: none !important;
        }

    .k-grid-MapDishes {
        cursor: pointer !important;
    }

        .k-grid-MapDishes:hover {
            background: transparent !important;
        }

    .connectedSortable {
        background-color: transparent;
    }

    .MapDisabled {
        cursor: no-drop;
    }

    .search-input {
        width: 284px;
        height: 25px !important;
        padding-left: 8px;
        float: right;
        position: relative;
        margin-top: 8px;
        border: solid 1px #ccc;
        font-size: 0.8em;
        margin-right: 15px;
        border-radius: 4px;
        padding-top: 0px;
    }

    .k-dropdown-wrap.k-state-border-down {
        border-bottom-width: 1px;
        padding-bottom: 0;
        border-radius: 4px;
    }

    .top-arrow {
        position: relative;
        content: '';
        /*border-left: 7px solid transparent;*/
        border-right: 7px solid transparent;
        border-bottom: 7px solid #699e9b;
        left: -5px;
        top: -1px;
        transform: rotate(0deg);
    }

    .direct-chat .card-body {
        overflow-x: visible !important;
        padding: 0;
        position: relative;
    }
    .smallIngredient .slower {
        width:95%;
    }
</style>

<!-- Main content -->


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <section class="col-sm-12 connectedSortable" style="display:inherit;" id="configMaster">
                <div style="display:block;" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <div style="display:none;width:250px!important; margin-left:-13px; margin-top:7px!important; margin-right:10px; text-align: left;" id="ddlSiteMaster" class="form-control"></div>
                        <button id="btnGo" type="submit" class="btn  btn-info" data-toggle="tooltip" title=""
                                data-widget="chat-pane-toggle" style="display:none;margin-left:-6px!important;margin-top:8px!important">
                            Go
                        </button>
                        <button style="float:right;display:none" type="submit" id="btnBack" onclick="back()" class=" btn btn-tool">Cancel</button>
                        <button style="float:right;display:none"  type="submit" id="btnSubmit" onclick="onSave()" class="btn btn-tool">Save</button>
                        <button style="float:right;display:none" type="submit" id="btnPublish" onclick="onPublish()" class="btn btn-info btn-publish">Publish</button>

                    </div>
                  
                </div>
            </section>
        </div>
        <!-- Main row -->
        <!-- Left col -->
        <section class="connectedSortable" id="mapMaster" style="margin-top:-40px;display:none;">
            <div class="row">
                <div class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card">
                        <div class="row" >
                            <div id="ConfigMaster" style="display:block;" class="col-lg-12 card direct-chat direct-chat-primary">
                                <div class="card-body">

                                     
                                  
                                    <div class="row"  style="margin-top:0px!important;justify-content:flex-end">
                                        <button type="submit" id="expandIcon" class="btn" style="padding: 5px; width: 75px; font-weight: 400; font-size: 0.8em !important; margin-top: -20px; color: #76b4b0;">Expand All</button>
                                        <button type="submit" id="collapseIcon" class="btn" style="padding:5px;width:75px;font-weight:400; font-size:0.8em!important; margin-top: -20px; color:#76b4b0;">Collapse All</button>
                                    </div>
                                    <div class="row" style="margin-top:3px!important">
                                        <div class="col-12" id="dishCategory"></div>
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</section>
