﻿@using CookBook.Data.UserData;
@{
    UserMasterResponseData userData = (UserMasterResponseData)Session["UserLoginDetails"];

}
<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetDishTypeDataList: "@Url.Action("GetDishTypeDataList", "CookBookMaster")",
        GetDishCategoryDataList: "@Url.Action("GetDishCategoryDataList", "CookBookMaster")",
        GetDishSubCategoryDataList: "@Url.Action("GetDishSubCategoryDataList", "CookBookMaster")",
        GetDietCategoryDataList: "@Url.Action("GetDietCategoryDataList", "CookBookMaster")",
        GetFoodProgramDataList: "@Url.Action("GetFoodProgramDataList", "CookBookMaster")",
        GetServingTemperatureDataList: "@Url.Action("GetServingTemperatureDataList", "CookBookMaster")",
        GetUOMDataList: "@Url.Action("GetUOMDataList", "CookBookMaster")",
        GetDishDataList: "@Url.Action("GetDishDataList", "Dish")",
        GetDishImpactedItemList: "@Url.Action("GetDishImpactedItemList", "Item")",
        SaveDishData: "@Url.Action("SaveDishData", "Dish")",
        SaveDishDataList: "@Url.Action("SaveDishDataList", "Dish")",
        GetDishDataList: "@Url.Action("GetDishDataList", "Dish")",
        GetCuisineDataList: "@Url.Action("GetCuisineDataList", "Dish")",
        GetDishRecipeMappingDataList: "@Url.Action("GetDishRecipeMappingDataList", "Dish")",
        SaveDishRecipeMappingList: "@Url.Action("SaveDishRecipeMappingList", "Dish")",
        GetMOGDataList: "@Url.Action("GetMOGDataList", "MOG")",
        GetUOMDataList: "@Url.Action("GetUOMDataList", "CookBookMaster")",
        GetRecipeDataList: "@Url.Action("GetRecipeDataList", "Recipe")",
        GetBaseRecipesByRecipeID: "@Url.Action("GetBaseRecipesByRecipeID", "Recipe")",
        GetMOGsByRecipeID: "@Url.Action("GetMOGsByRecipeID", "Recipe")",
        GetColorDataList: "@Url.Action("GetColorDataList", "Color")",
        SaveRecipeData: "@Url.Action("SaveRecipeData", "Recipe")",
        SaveRecipeDataList: "@Url.Action("SaveRecipeDataList", "Recipe")",
        GetAPLMasterDataListForMOG: "@Url.Action("GetAPLMasterDataListForMOG", "APLMaster")",
        GetApplicationSettingDataList: "@Url.Action("GetApplicationSettingDataList", "Setting")",
        GetHealthTagMasterList: "@Url.Action("HealthTagMasterList", "HealthcareMaster")",
        GetLifeStyleTagMasterList: "@Url.Action("LifeStyleTagMasterList", "HealthcareMaster")",
        GetDietTypeMasterList: "@Url.Action("GetDietTypeMasterList", "HealthcareMaster")",
        GetTextureMasterList: "@Url.Action("GetTextureMasterList", "HealthcareMaster")",
        GetUOMModuleMappingDataList: "@Url.Action("GetUOMModuleMappingDataList", "CookBookMaster")",
        GetRecipeDishDataByDish: "@Url.Action("GetRecipeDishDataByDish", "Dish")",
        GetSubSectorMasterList: "@Url.Action("GetSubSectorMasterList", "Item")",
        //Krish
        GetSectorItemDataList: "@Url.Action("GetSectorDishDataList", "Dish")",
        //Krish 07-10-2022
        GetRangeTypeDataList: "@Url.Action("GetRangeTypeDataList", "RangeTypeMaster")",
        SaveRangeTypeDishData:"@Url.Action("SaveRangeTypeDishData", "Dish")",
    }
</script>

<script src="~/Scripts/CookBook/Dish.js"></script>
@*<script src="~/Scripts/CookBook/RecipeDish.js"></script>*@
<link href="~/Content/css/styles.css" rel="stylesheet" />
<link href="~/Content/css/summernote/summernote-bs4.css" rel="stylesheet" />
<script src="~/Content/css/summernote/summernote-bs4.min.js"></script>
@{
    ViewBag.Title = "Sector Dish Configuration";
}
<style>
    #gridRecipeCustom .k-grid-content.k-auto-scrollable {
        height: auto !important;
    }

    .serv {
        font-size: 0.8em;
        line-height: 21px;
        padding: 8px 0px;
    }

    .k-grid-ViewAPL {
        color: #76B4B0 !important;
    }

    .k-grid-Delete {
        color: red !important;
    }

    .k-button, .k-state-hover, .k-button:hover {
        color: #e2e2e2;
        border-color: none;
        background-color: transparent;
        box-shadow: none !important;
    }

        .k-button.k-state-active, .k-button:active {
            color: #e2e2e2;
            border-color: none !important;
            background-color: transparent !important;
            box-shadow: none !important;
        }

        .k-button.k-state-focus, .k-button:focus {
            box-shadow: none !important;
        }

        .k-button.k-state-active:hover, .k-button:active:hover {
            box-shadow: none !important;
            background-color: transparent !important;
            border: none !important;
        }

    .k-grid-MapDishes {
        cursor: pointer !important;
    }

    .k-dropdown-wrap.k-state-border-down {
        border-bottom-width: 1px;
        padding-bottom: 0;
        border-radius: 4px;
    }

    .k-dirty {
        display: none;
    }

    #confirmSave_Box {
        z-index: 10020 !important;
    }

    .disabled {
        color: black;
        font-weight: bold;
        background-color: #dddddd;
    }
    .k-grid-MapTemp {
        color: #76b4b0 !important
    }
</style>
<!-- Main content -->

<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row" id="divMainContent">
            <!-- Left col -->
            <div class="col-12">
                <div id="success" class="alert alert-success alert-dismissible" style="display:none;width:100%;">
                    <i class="icon fas fa-check"></i>
                    <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                    </p>
                </div>
            </div>
            <section class="col-sm-12" style="display:inherit;">

                <div id="ItemMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;"></h3>
                        <div class="card-tools" style="margin-top: -6px;">
                            <span style="float:left; margin-top:6px!important;width:200px;" id="dietcategorysearch"></span>
                            <span style="float:left; margin-top:2px!important">
                                <input type="text" id="myInputDish" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="    position: relative; right: -277px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                            </span>
                            <button id="btnExport" type="submit" class="btn btn-tool hcSectorHide" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px;">
                                Export To Excel
                            </button>
                            <button id="InitiateBulkChanges" type="submit" class="btn btn-tool hcSectorHide" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px;">
                                Apply Bulk Changes
                            </button>
                            <button id="CancelBulkChanges" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="display:none;padding-top:7px">
                                Cancel Bulk Changes
                            </button>
                            <button id="SaveBulkChanges" type="submit" class="btn btn-success-bulk btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="display:none; margin-top:5px">
                                Save Bulk Changes
                            </button>
                            <button id="AddNewDish" type="submit" class="btn btn-success btn-xs hcSectorHide" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="margin-top:5px;">
                                Add New Dish
                            </button>
                        </div>
                    </div>
                    <div id="dishid" style="display:none;"></div>
                    <!-- /.card-header -->
                    <div id="fpbody" class="card-body" style="overflow:visible;">
                        <div id="bulkerror" class="alert alert-danger alert-dismissible" style="display:none">
                            <i class="icon fas fa-exclamation"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>

                        <div id="gridBulkChange"></div>
                        <div id="gridDish"></div>

                        @if (userData != null && userData.UserRoleId != 13)
                        {
                            <div id="windowEditDishsectorcate" style="display:none;">
                                <div class="container" style="overflow-y: auto; height:inherit;">
                                    <div id="error" class="alert alert-danger alert-dismissible" style="display:none">
                                        <i class="icon fas fa-exclamation"></i>
                                        <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                        </p>
                                    </div>
                                    <div class="row" style="margin-top:10px!important">
                                        <div class="col-2">
                                            <label class="form-control-label">Dish Code</label>
                                            <input type="text" id="inputdishcode" class="form-control" disabled />
                                        </div>
                                        <div class="col-4" style="min-width:277px;">
                                            <label class="form-control-label">Dish Name<span class="mandatoryAsterisk">*</span></label>
                                            <input type="text" id="inputdishname" class="form-control" />
                                        </div>
                                        <div class="col-4" style="min-width:256px;">
                                            <label class="form-control-label">Dish Alias</label>
                                            <input type="text" id="inputdishalias" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:15px!important">
                                        <div class="col-1" style="min-width:75px;">
                                            <label class="form-control-label">Diet Category<span class="mandatoryAsterisk">*</span></label>
                                            <div id="sectordishcateinputdietcategory" class="form-control"></div>
                                        </div>
                                        <div class="col-1">
                                            <label class="form-control-label">UOM<span class="mandatoryAsterisk">*</span></label>
                                            <div id="inputuomsectordish" class="form-control"></div>
                                        </div>
                                        <div class="col-1" style="min-width:120px;">
                                            <label class="form-control-label">Dish Type<span class="mandatoryAsterisk">*</span></label>
                                            <div id="inputdishtype" class="form-control"></div>
                                        </div>
                                        <div class="col-2" style="min-width:150px;">
                                            <label class="form-control-label">Dish Category<span class="mandatoryAsterisk">*</span></label>
                                            <div id="inputdishcategory" class="form-control"></div>
                                        </div>

                                        <div class="col-2" style="min-width:150px;">
                                            <label class="form-control-label">Kitchen Section<span class="mandatoryAsterisk">*</span></label>
                                            <div id="inputkitchensection" class="form-control"></div>
                                        </div>

                                        <div class="col-1 googleonly" style="margin-left: 0px;min-width:110px;">
                                            <label class="form-control-label">Cuisine</label>
                                            <div id="inputcuisine" class="form-control"></div>

                                        </div>
                                        <div class="col-1 googleonly" style="margin-left: 0px; min-width: 90px;">
                                            <label class="form-control-label">Sub Sector Type</label>
                                            <div id="inputsubsector" class="form-control"></div>

                                        </div>
                                    </div>

                                    <div class="row sectorhealthcareonly" style="margin-top:15px!important">
                                        <div class="col-3">
                                            <label class="form-control-label">Dish (Menu Type)<span class="mandatoryAsterisk">*</span></label>
                                            <div id="inputDishMenuType" class="form-control"></div>
                                        </div>
                                        <div class="col-8" style="margin-left:16px;">
                                            <div style="width:101%;">  <div class="form-control-label" style="margin-bottom:0px!important;"> Patient Billing profile</div></div>
                                            <div id="inputPatientBilingProfileClear" style="width: 100%;">
                                                <div style="text-align: left;" id="inputPatientBilingProfile"></div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row healthcareonly">
                                        <div class="col-6">
                                            <label class="form-control-label">Contains</label>
                                            <label class="form-control-label" id="allergenname"></label>
                                        </div>
                                        <div class="col-4" style="margin-left: 9px;">
                                            <label class="form-control-label">May Contains (NG)</label>
                                            <label class="form-control-label" id="ngallergenname"></label>
                                        </div>
                                    </div>

                                    <div class="row healthcareonly" style="margin-top:15px!important">
                                        <div class="col-6">
                                            <div style="width:96%;">  <div class="form-control-label" style="margin-bottom:0px!important;"> Start typing/Select Health Tag(s) to be mapped with Dish</div></div>
                                            <div id="inputHealthTagClear" style="width: 96%;">
                                                <div style="display:none; text-align: left;" id="inputHealthTag"></div>

                                            </div>
                                        </div>
                                        <div class="col-5" style="margin-left:16px;">
                                            <div style="width:101%;">  <div class="form-control-label" style="margin-bottom:0px!important;"> Start typing/Select Life Style Tag(s) to be mapped with Dish</div></div>
                                            <div id="inputLifeStyleTagClear" style="width: 100%;">
                                                <div style="display:none; text-align: left;" id="inputLifeStyleTag"></div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row healthcareonly" style="margin-top:15px!important">
                                        <div class="col-6">
                                            <div style="width:96%;">  <div class="form-control-label" style="margin-bottom:0px!important;"> Start typing/Select Diet Type to be mapped with Dish</div></div>
                                            <div id="inputDietTypeClear" style="width: 96%;">
                                                <div style="display:none; text-align: left;" id="inputDietType"></div>

                                            </div>
                                        </div>
                                        <div class="col-5" style="margin-left:16px;">
                                            <label class="form-control-label">Texture Type</label>
                                            <div id="inputtexture" class="form-control"></div>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top:15px!important">
                                        <div class="col-3 isHealthCare">
                                            <label class="form-control-label">Choose Dish Color</label>
                                            <div class="colortable">
                                                <table>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-2 isHealthCare" style="margin-left:16px;">
                                            <label class="form-control-label">Preview</label>
                                            <div class="colortagedit form-control"></div>
                                        </div>
                                        <div class="col-1 isHealthCare">
                                            <div class="form-group" style="margin-top: 1px; float: right;">
                                                <p style="margin-bottom:2px;font-size:12px" class="form-control-label">Is Sensitive</p>
                                                <label class="switch" style="margin-top:8px;">
                                                    <input id="issensitive" type="checkbox">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-4 isHealthCare" style="min-width:272px;">
                                            <label class="form-control-label">Sensitive Note</label>
                                            <input type="text" id="inputsensitive" class="form-control" />
                                        </div>
                                        <div class="modal-footer col" style="padding-right:11.5px!important;">
                                            <button type="submit" id="btnCancelDish" class="btn btn-tool">Cancel</button>
                                            <button type="submit" id="btnSubmitDish" class="btn btn-info">Save</button>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        }



                    </div>
                </div>
                <!-- /.card-body -->

                <div id="mapRecipe" style="display:none;" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="row" style="margin-top:10px">
                        <div class="col-12">
                            <div id="bulkerror1" class="alert alert-danger alert-dismissible" style="display:none">
                                <i class="icon fas fa-exclamation"></i>
                                <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                </p>
                            </div>
                            <div id="success1" class="alert alert-success alert-dismissible" style="display:none">
                                <i class="icon fas fa-check"></i>
                                <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="row" style="margin:10px">

                        <div class="col-9">

                            <div class="categoryStatus">
                                <div id="itemDietCategory">
                                    <div id="itemDietCategoryStatus"></div>
                                </div>
                            </div>
                            <div>
                                <div class="menuName">
                                    <div><span id="inputdishname1">Menu Image Preview </span></div>
                                    <div style="height:20px;display: inline-grid;margin-top: -1px;margin-left: 2px;color: #000;">
                                        <label class="form-control-label" style="font-size:0.965em!important">
                                            Dish Code:
                                            <span id="inputdishcode1" style="margin-right:4px"> 1010</span>| Dish Category:
                                            <span style="margin-left:4px" id="inputdishcategory1"></span> |
                                            <span class="googleonly" id="inputcuisinelabel" style="margin-right:4px"> </span> Dish Type:
                                            <span style="margin-left:4px" id="inputdishtype1"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3" style="margin-top:10px; padding-right:9px; text-align:right">
                            @*<button type="submit" style="display:none;" id="AddNew" class=" btn  btn-tool" onclick="addNewRecipe()">Add New Recipe</button>*@
                            <button type="submit" id="btnback" onclick="back()" class=" btn btn-tool">Back</button>
                            <button type="submit" id="btnSubmitDishMap" onclick="saveDB()" class="btn btn-info">Save</button>
                        </div>

                    </div>
                    <div class="row" style="margin-top:10px!important">
                        <div class="col-8">
                            <label class="form-control-label">Start Typing / Choose Recipe to map with <span id="iname"></span></label>
                        </div>

                    </div>
                    <div class="row">

                        <div id="rclear" class="col-11">
                            <div id="inputrecipelist"></div>
                        </div>
                        <div class="col-1"><button type="button" class="btn btn-info btn-action" onclick="UpdateRecipe()"> Update  </button></div>
                    </div>

                    <div class="row" style="margin-top:10px">
                        <div class="col-12">
                            <div id="gridRecipeCustom" style="max-height:200px;"></div>
                        </div>

                    </div>

            </section>
            <div id="gridRecipe" style="display:none;"></div>

            <div id="windowEditNutritionInfo" style="display:none;">
                <section>
                    <div class="container">
                        <div class="row" style="margin-left: 2px !important;">
                            <div class="col-12">
                                <h4>Nutrition Data – <span id="ndDishName">Dish Name</span></h4>
                                <p style="border-bottom: 1px solid #dee2e6;padding-bottom: 15px;">Compass India Food Services</p>
                                <div id="nutritionDetail" style="overflow-y: scroll; height: 337px;">

                                </div>

                            </div>
                        </div>
                    </div>
                </section>

            </div>

            <!-- Window Edit 0 start-->
            <!-- Window Edit 0 start-->

            <div id="windowEdit0" class="col-sm-12 connectedSortable" style="display:none; max-height:480px">
                <section>
                    <div class="container" style="overflow: auto!important; max-height:480px!important">
                        <div id="error0" class="alert alert-danger alert-dismissible" style="display:none">
                            <i class="icon fas fa-exclamation"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div class="row">
                            <span style="margin-left: 8px;">New Recipe Configuration </span>
                            <div class="modal-footer col" style="padding-right: 7.5px !important;margin-top: 0px !important;">



                                <button type="submit" id="btnCancel0" class="btn btn-tool">Cancel</button>
                                <button type="submit" id="btnSubmit0" class="btn btn-info">Save</button>

                            </div>
                        </div>


                        <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:98.5%;margin-left:7px!important;">


                            <div class="col-2">
                                <label class="form-control-label">Recipe Code</label>
                                <input type="text" id="inputrecipecode0" class="form-control" disabled />
                            </div>
                            <div class="col-4">
                                <label class="form-control-label">Recipe Name</label>
                                <input type="text" id="inputrecipename0" class="form-control" />
                            </div>
                            <div class="col-2">
                                <label class="form-control-label">Quantity</label>
                                <input type="text" id="inputquantity0" value="10" class="form-control" />
                            </div>
                            <div class="col-1">
                                <label class="form-control-label">UOM</label>
                                <div id="inputuom0" class="form-control"></div>
                            </div>
                            <div class="col-1">
                                <label class="form-control-label">Base</label>
                                <div id="inputbase0" class="form-control"></div>
                            </div>


                            <div class="col-5">
                                <h6 class="form-control-main"><b>Cost of Recipe / KG: <span id="grandCostPerKG0">0.00</span></b></h6>
                            </div>

                            <div class="col-4" style="text-align:right">
                                <h6 class="form-control-main"><b>Total Cost of Recipe: <span id="grandTotal0">0.00</span></b></h6>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-12">
                                <div class="dishRecipe">
                                    <div class="upper" onclick="showHideGrid('gridMOG0','emptymog0')">
                                        Managed Order Guide
                                        <br />

                                    </div>
                                    <div class="lower">
                                        <div id="gridMOG0" style="display:none;"></div>
                                        <div id="emptymog0" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                            <button id="addmog0" class="btn btn-default" style="margin-top:22px!important">Add MOG(s) </button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>


                        <div class="row mfgHide">
                            <div class="col-12">
                                <div class="dishRecipe">
                                    <div class="upper" onclick="showHideGrid('gridBaseRecipe0','emptybr0')">

                                        Base Recipe

                                    </div>
                                    <div class="lower">
                                        <div id="gridBaseRecipe0" style="display:none;"></div>
                                        <div id="emptybr0" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                            <button id="addbr0" class="btn btn-default" style="margin-top:22px!important">Add Base Recipe(s) </button>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="row">
                            <div class="col-12">
                                <h6><b>Instructions</b></h6>

                                <textarea id="inputinstruction0" class="form-control" style="height:60px!important"></textarea>

                            </div>

                        </div>

                    </div>
                </section>

            </div>
            <!--Window Edit 0 End-->
            <!-- Window Edit 1 start-->

            <div id="windowEdit1" class="col-sm-12 connectedSortable" style="display:none; max-height:520px">
                <section>
                    <div class="container" style="overflow: auto!important; max-height:520px!important">

                        <div class="row">
                            <span style="margin-left: 8px;margin-top: 7px;">Recipe Configuration </span>
                            <div class="modal-footer col" style="padding-right: 7.5px !important;margin-top: 0px !important;">

                                <button type="submit" id="btnCancel1" class="btn btn-tool">Back</button>
                                <button type="submit" style="display:none;" id="btnSubmit1" class="btn btn-tool">Save</button>
                                <button type="submit" style="display:none;" id="btnPublish1" class="btn btn-publish">Publish</button>


                            </div>
                        </div>

                        <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:98.6%;margin-left:7px!important;margin-bottom:20px;">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-2">
                                        <label class="form-control-label">Recipe Code</label>
                                        <input type="text" id="inputrecipecode1" class="form-control" disabled />
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Recipe Name</label>
                                        <input type="text" id="inputrecipename1" class="form-control" disabled />
                                    </div>
                                    <div class="col-2">
                                        <label class="form-control-label">Quantity</label>
                                        <input type="text" id="inputquantity1" class="form-control" disabled />
                                    </div>
                                    <div class="col-1">
                                        <label class="form-control-label">UOM</label>
                                        <div id="inputuom1" class="form-control" disabled></div>
                                    </div>
                                    <div class="col-2">
                                        <label class="form-control-label">Recipe Type</label>
                                        <div id="inputbase1" class="form-control" disabled></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row" style="text-align: right;">
                                    <div class="col-12 mt-1">
                                        <h6 class="form-control-main m-0">Total Cost of Recipe: <span id="grandTotal1">₹0.00</span></h6>
                                    </div>

                                    <div class="col-12">
                                        <h6 class="form-control-main m-0">Cost of Recipe / KG : <span id="grandCostPerKG1">₹0.00</span></h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="dishRecipe">
                                    <div class="upper" style="height: 24px;" id="mup_gridBaseRecipe1" onclick="showHideGrid('gridMOG1','emptymog1','mup_gridBaseRecipe1')">
                                        Direct Ingredients (MOG)
                                        <br />

                                    </div>
                                    <div class="lower">
                                        <div id="gridMOG1" style="display:none;"></div>
                                        <div id="emptymog1" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                            <button id="addmog1" class="btn btn-default" style="margin-top:22px!important">No MOG(s)  </button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>

                        <div class="row mfgHide">
                            <div class="col-12">

                                <div class="dishRecipe">
                                    <div class="upper" style="height: 24px;" id="bup_gridBaseRecipe1" onclick="showHideGrid('gridBaseRecipe1','emptybr1','bup_gridBaseRecipe1')">

                                        Base Recipe(s)

                                    </div>
                                    <div class="lower">
                                        <div id="gridBaseRecipe1" style="display:none;"></div>
                                        <div id="emptybr1" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                            <button id="addbr1" class="btn btn-default" style="margin-top:22px!important">No Base Recipe(s) </button>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div id="jump1">
                            <div class="row">
                                <div class="col-12">
                                    <h6>Instructions</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-12">


                                <textarea id="inputinstruction1" class="form-control" style="height:60px!important"></textarea>

                            </div>

                        </div>

                    </div>
                </section>

            </div>
            <!--Window Edit 1 End-->
            <div id="windowEdit2" style="display:none;">
                <div class="container" style="overflow: auto!important; max-height:530px!important">
                    <div id="error2" class="alert alert-danger alert-dismissible" style="display:none">
                        <i class="icon fas fa-exclamation"></i>
                        <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                        </p>
                    </div>
                    <div class="card" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;">
                        <div class="row">
                            <div class="col-2">
                                <label class="form-control-label">Recipe Code</label>
                                <input type="text" id="inputrecipecode2" class="form-control" disabled />
                            </div>
                            <div class="col-4">
                                <label class="form-control-label">Recipe Name</label>
                                <input type="text" id="inputrecipename2" class="form-control" />
                            </div>
                            <div class="col-2">
                                <label class="form-control-label">Quantity</label>
                                <input type="text" id="inputquantity2" class="form-control" />
                            </div>
                            <div class="col-1">
                                <label class="form-control-label">UOM</label>
                                <div id="inputuom2" class="form-control"></div>
                            </div>
                            <div class="col-1">
                                <label class="form-control-label">Base</label>
                                <div id="inputbase2" class="form-control"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <h6 class="form-control-main"><b>Cost of Recipe / KG: <span id="grandCostPerKG2">0.00</span></b></h6>
                            </div>

                            <div class="col-4" style="text-align:right">
                                <h6 class="form-control-main"><b>Total Cost of Recipe: <span id="grandTotal2">0.00</span></b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h6>
                            <b>Base Recipe</b><br />
                            <small style="color:#a7a7a7">Add one or more Base Recipe(s) to this Recipe</small>
                        </h6>
                        <div id="gridBaseRecipe2"></div>
                        <div id="emptybr2" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px'>
                            <button id="addbr2" class="btn btn-default" style="margin-top:22px!important">No Base Recipe(s) </button>
                        </div>
                    </div>
                    <div class="row">
                        <h6>
                            <b>MOG (Managed Order Guide) </b><br />
                            <small style="color:#a7a7a7">Add one or more MOG(s) to this Recipe</small>
                        </h6>
                        <div id="gridMOG2"></div>
                        <div id="emptymog2" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px'>
                            <button id="addmog2" class="btn btn-default" style="margin-top:22px!important">No MOG(s)  </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label class="form-control-main">Instructions</label>

                                <textarea id="inputinstruction2" class="form-control" style="height:60px!important"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="modal-footer col" style="padding-right:7.5px!important;">
                            <button type="submit" id="btnCancel2" class="btn btn-tool">Cancel</button>
                            <button type="submit" id="btnSubmit2" class="btn btn-info">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="windowEdit3" style="display:none;">
                <div class="container" style="overflow: auto!important; max-height:530px!important">
                    <div id="error3" class="alert alert-danger alert-dismissible" style="display:none">
                        <i class="icon fas fa-exclamation"></i>
                        <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                        </p>
                    </div>
                    <div class="card" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;">
                        <div class="row">
                            <div class="col-2">
                                <label class="form-control-label">Recipe Code</label>
                                <input type="text" id="inputrecipecode3" class="form-control" disabled />
                            </div>
                            <div class="col-4">
                                <label class="form-control-label">Recipe Name</label>
                                <input type="text" id="inputrecipename3" class="form-control" />
                            </div>
                            <div class="col-2">
                                <label class="form-control-label">Quantity</label>
                                <input type="text" id="inputquantity3" class="form-control" />
                            </div>
                            <div class="col-1">
                                <label class="form-control-label">UOM</label>
                                <div id="inputuom3" class="form-control"></div>
                            </div>
                            <div class="col-1">
                                <label class="form-control-label">Base</label>
                                <div id="inputbase3" class="form-control"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <h6 class="form-control-main"><b>Cost of Recipe / KG: <span id="grandCostPerKG3">0.00</span></b></h6>
                            </div>

                            <div class="col-4" style="text-align:right">
                                <h6 class="form-control-main"><b>Total Cost of Recipe: <span id="grandTotal3">0.00</span></b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h6>
                            <b>Base Recipe</b><br />
                            <small style="color:#a7a7a7">Add one or more Base Recipe(s) to this Recipe</small>
                        </h6>
                        <div id="gridBaseRecipe3"></div>
                        <div id="emptybr3" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px'>
                            <button id="addbr3" class="btn btn-default" style="margin-top:22px!important">No Base Recipe(s) </button>
                        </div>
                    </div>
                    <div class="row">
                        <h6>
                            <b>MOG (Managed Order Guide) </b><br />
                            <small style="color:#a7a7a7">Add one or more MOG(s) to this Recipe</small>
                        </h6>
                        <div id="gridMOG3"></div>
                        <div id="emptymog3" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px'>
                            <button id="addmog3" class="btn btn-default" style="margin-top:22px!important">No MOG(s)  </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-13">
                            <div class="form-group">
                                <label class="form-control-main">Instructions</label>

                                <textarea id="inputinstruction3" class="form-control" style="height:60px!important"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="modal-footer col" style="padding-right:7.5px!important;">
                            <button type="submit" id="btnCancel3" class="btn btn-tool">Cancel</button>
                            <button type="submit" id="btnSubmit3" class="btn btn-info">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="windowEdit4" style="display:none;">
                <div class="container" style="overflow: auto!important; max-height:530px!important">
                    <div id="error4" class="alert alert-danger alert-dismissible" style="display:none">
                        <i class="icon fas fa-exclamation"></i>
                        <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                        </p>
                    </div>
                    <div class="card" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;">
                        <div class="row">
                            <div class="col-2">
                                <label class="form-control-label">Recipe Code</label>
                                <input type="text" id="inputrecipecode4" class="form-control" disabled />
                            </div>
                            <div class="col-4">
                                <label class="form-control-label">Recipe Name</label>
                                <input type="text" id="inputrecipename4" class="form-control" />
                            </div>
                            <div class="col-2">
                                <label class="form-control-label">Quantity</label>
                                <input type="text" id="inputquantity4" class="form-control" />
                            </div>
                            <div class="col-1">
                                <label class="form-control-label">UOM</label>
                                <div id="inputuom4" class="form-control"></div>
                            </div>
                            <div class="col-1">
                                <label class="form-control-label">Base</label>
                                <div id="inputbase4" class="form-control"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <h6 class="form-control-main"><b>Cost of Recipe / KG: <span id="grandCostPerKG4">0.00</span></b></h6>
                            </div>

                            <div class="col-4" style="text-align:right">
                                <h6 class="form-control-main"><b>Total Cost of Recipe: <span id="grandTotal4">0.00</span></b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h6>
                            <b>Base Recipe</b><br />
                            <small style="color:#a7a7a7">Add one or more Base Recipe(s) to this Recipe</small>
                        </h6>
                        <div id="gridBaseRecipe4"></div>
                        <div id="emptybr4" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px'>
                            <button id="addbr4" class="btn btn-default" style="margin-top:22px!important">No Base Recipe(s) </button>
                        </div>
                    </div>
                    <div class="row">
                        <h6>
                            <b>MOG (Managed Order Guide) </b><br />
                            <small style="color:#a7a7a7">Add one or more MOG(s) to this Recipe</small>
                        </h6>
                        <div id="gridMOG4"></div>
                        <div id="emptymog4" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px'>
                            <button id="addmog4" class="btn btn-default" style="margin-top:22px!important">No MOG(s)  </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label class="form-control-main">Instructions</label>

                                <textarea id="inputinstruction4" class="form-control" style="height:60px!important"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="modal-footer col" style="padding-right:7.5px!important;">
                            <button type="submit" id="btnCancel4" class="btn btn-tool">Cancel</button>
                            <button type="submit" id="btnSubmit4" class="btn btn-info">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="windowEdit5" style="display:none;">
                <div class="container" style="overflow: auto!important; max-height:530px!important">
                    <div id="error5" class="alert alert-danger alert-dismissible" style="display:none">
                        <i class="icon fas fa-exclamation"></i>
                        <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                        </p>
                    </div>
                    <div class="card" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;">
                        <div class="row">
                            <div class="col-2">
                                <label class="form-control-label">Recipe Code</label>
                                <input type="text" id="inputrecipecode5" class="form-control" disabled />
                            </div>
                            <div class="col-4">
                                <label class="form-control-label">Recipe Name</label>
                                <input type="text" id="inputrecipename5" class="form-control" />
                            </div>
                            <div class="col-2">
                                <label class="form-control-label">Quantity</label>
                                <input type="text" id="inputquantity5" class="form-control" />
                            </div>
                            <div class="col-1">
                                <label class="form-control-label">UOM</label>
                                <div id="inputuom5" class="form-control"></div>
                            </div>
                            <div class="col-1">
                                <label class="form-control-label">Base</label>
                                <div id="inputbase5" class="form-control"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <h6 class="form-control-main"><b>Cost of Recipe / KG: <span id="grandCostPerKG5">0.00</span></b></h6>
                            </div>

                            <div class="col-4" style="text-align:right">
                                <h6 class="form-control-main"><b>Total Cost of Recipe: <span id="grandTotal5">0.00</span></b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h6>
                            <b>Base Recipe</b><br />
                            <small style="color:#a7a7a7">Add one or more Base Recipe(s) to this Recipe</small>
                        </h6>
                        <div id="gridBaseRecipe5"></div>
                        <div id="emptybr5" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px'>
                            <button id="addbr5" class="btn btn-default" style="margin-top:22px!important">No Base Recipe(s) </button>
                        </div>
                    </div>
                    <div class="row">
                        <h6>
                            <b>MOG (Managed Order Guide) </b><br />
                            <small style="color:#a7a7a7">Add one or more MOG(s) to this Recipe</small>
                        </h6>
                        <div id="gridMOG5"></div>
                        <div id="emptymog5" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px'>
                            <button id="addmog5" class="btn btn-default" style="margin-top:22px!important">No MOG(s)  </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label class="form-control-main">Instructions</label>

                                <textarea id="inputinstruction5" class="form-control" style="height:60px!important"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="modal-footer col" style="padding-right:7.5px!important;">
                            <button type="submit" id="btnCancel5" class="btn btn-tool">Cancel</button>
                            <button type="submit" id="btnSubmit5" class="btn btn-info">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="windowEditDishImpactedItems">
                <div class="container">
                    <div class="row">
                        <div class="col-12" style="max-width: 99.5% !important;margin-left: -5px;margin-top: 10px;">
                            <div id="gridDishImpactedItems"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
        <!--Nutritionist Edit row-->
        @if (userData != null && userData.UserRoleId == 13)
        {
            <div class="row" id="divEditNutri" style="display:none;">
                @Html.Partial("_DishDetailsNutritionist")
            </div>
        }
    </div><!-- /.container-fluid -->
</section>

@*Krish 07-10-2022*@
<div id="RangeTypeDishwindowEdit" style="display:none;">
    <div class="container">
        <div id="error" class="alert alert-danger alert-dismissible" style="display:none">
            <i class="icon fas fa-exclamation"></i>
            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
            </p>
        </div>
        <div class="row" style="padding-top: 10px!important">
            <div class="col-3">
                <label class="form-control-label">Dish Code</label>
                <label id="rtDishCode" class="form-control-label"></label>
            </div>
            <div class="col-4">

                <label class="form-control-label">Dish Name</label>
                <label id="rtDishName" class="form-control-label"></label>
            </div>
            <div class="col-2">

                <label class="form-control-label">Dish Alias</label>
                <label id="rtDishAlias" class="form-control-label"></label>
            </div>
        </div>
        <div class="row" style="padding-top: 10px!important">
            <div class="col-3">
                <label class="form-control-label">Diet Category</label>
                <label id="rtDietCategory" class="form-control-label"></label>
            </div>
            <div class="col-4">

                <label class="form-control-label">UOM</label>
                <label id="rtUom" class="form-control-label"></label>
            </div>
            <div class="col-2">

                <label class="form-control-label">Dish Category</label>
                <label id="rtDishCategory" class="form-control-label"></label>
            </div>
            @*<div class="col-2" style=" padding-left: 0;">

                <label class="form-control-label">Recipe</label>
                <label id="rtRecipe" class="form-control-label"></label>
            </div>*@
        </div>

        <div class="row" style="padding-top:10px;">

            @*<div class="col-4">
            <label class="form-control-label">Std Temp From<span class="mandatoryAsterisk">*</span></label>
            <input id="rangetypeFrom" class="form-control" type="number" />
        </div>*@
            <div class="col-5">
                <label class="form-control-label">Cooking Range Type<span class="mandatoryAsterisk">*</span></label>
                <input id="rtRangeTypeC" class="form-control" type="text" />
            </div>
            <div class="col-5">
                <label class="form-control-label">Serving Range Type<span class="mandatoryAsterisk">*</span></label>
                <input id="rtRangeTypeS" class="form-control" type="text" />
            </div>
        </div>
        
        <div style="margin-top:10px;margin-bottom:10px!important;">
            <div class="modal-footer col" style="padding-right:7.5px!important; align-items:flex-end!important">
                <button type="submit" id="rtbtnCancel" class="btn btn-tool">Cancel</button>
                <button type="submit" id="rtbtnSubmit" class="btn btn-info">Save</button>
            </div>
        </div>
    </div>
</div>
<div id="windowEditMOGWiseAPL" style="display:none;">
    <div class="container">
        <div style="margin-top:10px;" id="gridMOGWiseAPL"></div>

    </div>
</div>
<div id="videoPlayingDiv" style="display:none;">
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 5px;">
            <video id="videoclip" width="990" height="550" controls="controls" style="border:1px solid lightgrey;" disablePictureInPicture controlsList="nodownload noplaybackrate" oncontextmenu="return false;">
                <source id="mp4video" src="#" type="video/mp4" />
            </video>
        </div>
    </div>
</div>
