﻿<script>

    var CookBookMasters = {
        GetSiteMasterList: "@Url.Action("GetSiteDataList", "Site")",
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetDishTypeDataList: "@Url.Action("GetDishTypeDataList", "CookBookMaster")",
        GetDishCategoryDataList: "@Url.Action("GetDishCategoryDataList", "CookBookMaster")",
        GetDishSubCategoryDataList: "@Url.Action("GetDishSubCategoryDataList", "CookBookMaster")",
        GetDietCategoryDataList: "@Url.Action("GetDietCategoryDataList", "CookBookMaster")",
        GetFoodProgramDataList: "@Url.Action("GetFoodProgramDataList", "CookBookMaster")",
        GetServingTemperatureDataList: "@Url.Action("GetServingTemperatureDataList", "CookBookMaster")",
        GetUOMDataList: "@Url.Action("GetUOMDataList", "CookBookMaster")",
        GetRegionDishDataList: "@Url.Action("GetRegionDishDataList", "Dish")",
        SaveDishData: "@Url.Action("SaveDishData", "Dish")",
        SaveDishDataList: "@Url.Action("SaveDishDataList", "Dish")",
        GetDishRecipeMappingDataList: "@Url.Action("GetDishRecipeMappingDataList", "Dish")",
        GetRegionDishRecipeMappingDataList: "@Url.Action("GetRegionDishRecipeMappingDataList", "Dish")",
        SaveDishRecipeMappingList: "@Url.Action("SaveDishRecipeMappingList", "Dish")",
        SaveRegionDishRecipeMappingList: "@Url.Action("SaveRegionDishRecipeMappingList", "Dish")",
        GetMOGDataList: "@Url.Action("GetMOGDataList", "MOG")",
        GetUOMDataList: "@Url.Action("GetUOMDataList", "CookBookMaster")",
        GetRegionRecipeDataList: "@Url.Action("GetRegionRecipeDataList", "Recipe")",
        GetBaseRecipesByRecipeID: "@Url.Action("GetBaseRecipesByRecipeID", "Recipe")",
        GetMOGsByRecipeID: "@Url.Action("GetMOGsByRecipeID", "Recipe")",
        GetColorDataList: "@Url.Action("GetColorDataList", "Color")",
        SaveRecipeData: "@Url.Action("SaveRecipeData", "Recipe")",
        SaveRecipeDataList: "@Url.Action("SaveRecipeDataList", "Recipe")",
         GetAPLMasterDataListForMOG: "@Url.Action("GetAPLMasterDataListForMOG", "APLMaster")",
        GetRegionMasterListByUserId: "@Url.Action("GetRegionMasterListByUserId", "Item")",
        GetSiteMasterList: "@Url.Action("GetSiteDataList", "Site")",
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetDishDataList: "@Url.Action("GetDishDataList", "Dish")",
        GetMOGDataList: "@Url.Action("GetMOGDataList", "MOG")",
        GetUOMDataList: "@Url.Action("GetUOMDataList", "CookBookMaster")",
        GetRegionRecipeDataList: "@Url.Action("GetRegionRecipeDataList", "Recipe")",
        GetRecipeDataList: "@Url.Action("GetRecipeDataList", "Recipe")",
        GetBaseRecipesByRecipeID: "@Url.Action("GetBaseRecipesByRecipeID", "Recipe")",
        GetRegionBaseRecipesByRecipeID: "@Url.Action("GetRegionBaseRecipesByRecipeID", "Recipe")",
        GetMOGsByRecipeID: "@Url.Action("GetMOGsByRecipeID", "Recipe")",
        GetRegionMOGsByRecipeID: "@Url.Action("GetRegionMOGsByRecipeID", "Recipe")",
        SaveRecipeData: "@Url.Action("SaveRecipeData", "Recipe")",
        SaveRegionRecipeData: "@Url.Action("SaveRegionRecipeData", "Recipe")",
        SaveRecipeDataList: "@Url.Action("SaveRecipeDataList", "Recipe")",
        SaveRegionRecipeDataList: "@Url.Action("SaveRegionRecipeDataList", "Recipe")",
        GetAPLMasterDataListForMOG_Region: "@Url.Action("GetAPLMasterDataListForMOG_Region", "APLMaster")",
         GetApplicationSettingDataList: "@Url.Action("GetApplicationSettingDataList", "Setting")",
        GetRegionMasterListByUserId: "@Url.Action("GetRegionMasterListByUserId", "Item")",
                GetSubSectorMasterList: "@Url.Action("GetSubSectorMasterList", "Item")"
    }
</script>

<script src="~/Scripts/CookBook/DishRegion.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />
<link href="~/Content/css/summernote/summernote-bs4.css" rel="stylesheet" />
<script src="~/Content/css/summernote/summernote-bs4.min.js"></script>
@*<script src="~/Scripts/CookBook/RecipeRegionalConfig.js"></script>*@
@{
    ViewBag.Title = "Regional Dish Configuration";
}
<style>
    #gridRecipeCustom .k-grid-content.k-auto-scrollable {
        height: auto !important;
    }

    .serv {
        font-size: 0.8em;
        line-height: 21px;
        padding: 8px 0px;
    }


    .k-button, .k-state-hover, .k-button:hover {
        color: #e2e2e2;
        border-color: none;
        background-color: transparent;
        box-shadow: none !important;
    }

        .k-button.k-state-active, .k-button:active {
            color: #e2e2e2;
            border-color: none !important;
            background-color: transparent !important;
            box-shadow: none !important;
        }

        .k-button.k-state-focus, .k-button:focus {
            box-shadow: none !important;
        }

        .k-button.k-state-active:hover, .k-button:active:hover {
            box-shadow: none !important;
            background-color: transparent !important;
            border: none !important;
        }

    .k-grid-MapDishes {
        cursor: pointer !important;
    }

    .k-dropdown-wrap.k-state-border-down {
        border-bottom-width: 1px;
        padding-bottom: 0;
        border-radius: 4px;
    }

    .k-dirty {
        display: none;
    }
</style>
<!-- Main content -->

<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->

            <section class="col-sm-12" style="display:inherit; max-height:480px">

                <div id="ItemMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <div style="float: left; display: none; width: 150px !important; margin-left: -13px; margin-top: 7px !important; margin-right: 10px; text-align: left;" id="inputSubSector" class="form-control googleonly"></div>

                        <div style="display:none;width:250px!important; margin-left:-13px; margin-top:7px!important; margin-right:10px; text-align: left;" id="ddlRegionMaster" class="form-control"></div>
                        <button id="btnGo" type="submit" class="btn  btn-info" data-toggle="tooltip" title=""
                                data-widget="chat-pane-toggle" style="display:none;margin-left:-6px!important;margin-top:8px!important">
                            Go
                        </button>
                        <div id="actionDishRegion" class="card-tools" style="display:none;">
                            <span style="display: none !important; float: none; margin-top: 6px !important; width: 200px;" id="dietcategorysearch"></span>
                            <span id="myInputDishSearch" style="display: none; float: right; margin-top: 2px !important">
                                <input type="text" id="myInputDish" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style=" position: relative; right: -277px; top: 4px; font-size: 0.7em; color: #76b4b0;"></i>
                            </span>
                        </div>
                        </div>
                        <div id="dishid" style="display:none;"></div>
                        <!-- /.card-header -->
                        <div id="fpbody" class="card-body" style="overflow:visible;">


                            <div id="gridDish"></div>

                        </div>
                        <!-- /.card-body -->

                    </div>
                <div id="mapRecipe" style="display:none;" class="col-lg-12 card direct-chat direct-chat-primary">



                    <div class="row" style="margin:10px">

                        <div class="col-9">

                            <div class="categoryStatus">
                                <div id="itemDietCategory">
                                    <div id="itemDietCategoryStatus"></div>
                                </div>
                            </div>
                            <div>
                                <div class="menuName">
                                    <div><span id="inputdishname1">Menu Image Preview </span></div>
                                    <div style="height:20px;display: inline-grid;margin-top: -1px;margin-left: 2px;color: #000;">
                                        <label class="form-control-label" style="font-size:0.965em!important">
                                            <span class="googleonly" style="margin-left:4px" id="dssector"></span>
                                            Dish Code:
                                            <span id="inputdishcode1" style="margin-right:4px"> 1010</span>| Dish Category:
                                            <span style="margin-left:4px" id="inputdishcategory1"></span> |
                                            <span class="googleonly" id="inputcuisinelabel" style="margin-right:4px"></span> Dish Type:
                                            <span style="margin-left:4px" id="inputdishtype1"></span>

                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3" style="margin-top:10px; padding-right:9px; text-align:right">
                            <button type="submit" id="btnback" onclick="back()" class=" btn btn-tool">Back</button>
                            <button type="submit" id="btnSubmitDishMap" onclick="saveDB()" class="btn btn-info">Save</button>
                        </div>

                    </div>
                    <div class="row" style="margin-top:10px!important">


                    </div>


                    <div class="row" style="margin-top:10px">
                        <div class="col-12">
                            <div id="gridRecipeCustom" style="max-height:200px;"></div>
                        </div>

                    </div>

            </section>
            <div id="gridRecipe" style="display:none;"></div>

            <div id="recipeid" style="display:none;"></div>
            <div id="recipeid0" style="display:none;"></div>
            <div id="recipeid1" style="display:none;"></div>
            <div id="recipeid2" style="display:none;"></div>
            <div id="recipeid3" style="display:none;"></div>
            <div id="recipeid4" style="display:none;"></div>
            <div id="recipeid5" style="display:none;"></div>
            <div id="windowEdit" @*style="display:none;margin-top:10px;"*@ class="col-sm-12 " style="display:none; max-height:520px">
                <section style="overflow: auto!important; max-height:520px!important">
                    <div class="container" style="margin-top:22px;">
                        <div id="error" class="alert alert-danger alert-dismissible" style="display:none">
                            <i class="icon fas fa-exclamation"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div class="row">
                            <span>Recipe Configuration</span>

                            <div class="modal-footer col">


                                <button type="submit" id="btnCancel" class="btn btn-tool">Back</button>

                                <button type="submit" id="btnSubmit" class="btn btn-info">Save</button>
                                <button type="submit" id="btnPublish" class="btn btn-publish">Publish</button>

                            </div>
                        </div>
                        @*<div class="card" >*@

                        <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:98.5%;margin-left:7px!important;margin-bottom:20px;">
                            <div class="col-9">
                                <div class="row">
                                    <div class="col-2">
                                        <label class="form-control-label">Recipe Code</label>
                                        <input type="text" id="inputrecipecode" class="form-control" disabled />
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">Recipe Name</label>
                                        <input type="text" id="inputrecipename" class="form-control" readonly disabled />
                                    </div>
                                    <div class="col-2">
                                        <label class="form-control-label">Quantity</label>
                                        <input type="text" id="inputquantity" value="10" placeholder="10" class="form-control" readonly />
                                    </div>
                                    <div class="col-2">
                                        <label style="margin-bottom: -4px !important;" class="form-control-label">UOM</label>
                                        <div id="inputuom" class="form-control"></div>
                                    </div>
                                    <div class="col-2">
                                        <label style="margin-bottom: -4px !important;" class="form-control-label">Recipe Type</label>
                                        <div id="inputbase" class="form-control"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 mt-1">
                                        <h6 class="form-control-main m-0">Sector Grand Total Cost of Recipe: <span id="sectorgrandTotal">₹0.00</span></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-12 mt-1">
                                        <h6 class="form-control-main m-0">Total Cost of Recipe: <span id="grandTotal" style="float:right;">₹0.00</span></h6>
                                    </div>

                                    <div class="col-12">
                                        <h6 class="form-control-main m-0">  Cost of Recipe / Kg : <span style="float:right;" id="grandCostPerKG">₹0.00</span></h6>
                                    </div>
                                    <div class="col-12 mt-1">
                                        <h6 class="form-control-main m-0 grtotal">Change in Cost : (<span style="float:right;" id="changegrandTotal">₹0.00</span><span id="totalchangepercent">0</span>%)</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: -20px !important; margin-left: 8px !important; margin-bottom: -10px;">
                            <div class="form-control-main" style="font-size: 0.8em !important; font-style: italic;">
                                Max. Permissible % Increase in MOG Quantity = <span class="asRegionQuantity">10</span>%, Cost =  <span class="asRegionCost">5</span>%
                                Max. Permissible % Decrease in MOG Quantity = <span class="asRegionQuantity">10</span>%
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="dishRecipe">
                                    <div id="mup_gridMOG" class="upper" onclick="showHideGrid('gridMOG','emptymog','mup_gridMOG')">
                                        Direct Ingredients (MOG)
                                        <br />

                                    </div>
                                    <div class="lower">
                                        <div id="gridMOG" style="display:none;"></div>
                                        @*<div id="emptymog" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                        <button id="addmog" class="btn btn-default" style="margin-top:22px!important">Add MOG(s) </button>
                                    </div>*@
                                    </div>
                                </div>
                            </div>



                        </div>
                        @*</div>*@

                        <div class="row mfgHide" >
                            <div class="col-12">
                                <div class="dishRecipe">
                                    <div id="bup_gridBaseRecipe" class="upper" onclick="showHideGrid('gridBaseRecipe','emptybr','bup_gridBaseRecipe')">

                                        Base Recipe(s)


                                    </div>
                                    <div class="lower">
                                        <div id="gridBaseRecipe" style="display:none;"></div>
                                        @*<div id="emptybr" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                        <button id="addbr" class="btn btn-default" style="margin-top:22px!important">Add Base Recipe(s) </button>
                                    </div>*@
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div id="jump">
                            <div class="row">
                                <div class="col-12">
                                    <h6>Instructions</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">


                                <textarea id="inputinstruction" class="form-control" style="height:60px!important"></textarea>

                            </div>

                        </div>

                    </div>
                </section>

            </div>

            <!-- Window Edit 1 start-->

            <div id="windowEdit1" class="col-sm-12 " style="display:none; max-height:520px">
                <section>
                    <div class="container" style="overflow: auto!important; max-height:520px!important">

                        <div class="row">
                            <span style="margin-left: 8px;margin-top: 7px;">Recipe Configuration </span>
                            <div class="modal-footer col" style="padding-right: 7.5px !important;margin-top: 0px !important;">

                                <button type="submit" id="btnCancel1" onclick="back1()" class="btn btn-tool">Back</button>
                                <button type="submit" style="display:none;" id="btnSubmit1" class="btn btn-info">Save</button>
                                @*<button type="submit" id="btnPublish1" class="btn btn-publish">Publish</button>*@

                            </div>
                        </div>

                        <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:98.5%;margin-left:7px!important;margin-bottom:20px;">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-2">
                                        <label class="form-control-label">Recipe Code</label>
                                        <input type="text" id="inputrecipecode1" class="form-control" disabled />
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Recipe Name</label>
                                        <input type="text" id="inputrecipename1" class="form-control" disabled />
                                    </div>
                                    <div class="col-2">
                                        <label class="form-control-label">Quantity</label>
                                        <input type="text" id="inputquantity1" value="10" placeholder="10" class="form-control" readonly />
                                    </div>
                                    <div class="col-1">
                                        <label class="form-control-label">UOM</label>
                                        <div id="inputuom1" class="form-control"></div>
                                    </div>
                                    <div class="col-2">
                                        <label class="form-control-label">Recipe Type</label>
                                        <div id="inputbase1" class="form-control"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-12 mt-1">
                                        <h6 class="form-control-main m-0">Total Cost of Recipe: <span id="grandTotal1">₹0.00</span></h6>
                                    </div>

                                    <div class="col-12">
                                        <h6 class="form-control-main m-0">Cost of Recipe / Kg : <span id="grandCostPerKG1">₹0.00</span></h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="dishRecipe">
                                    <div class="upper" style="height: 24px;" id="mup_gridBaseRecipe1" onclick="showHideGrid('gridMOG1','emptymog1','mup_gridBaseRecipe1')">
                                        Direct Ingredients (MOG)
                                        <br />

                                    </div>
                                    <div class="lower">
                                        <div id="gridMOG1" style="display:none;"></div>
                                        <div id="emptymog1" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                            <button id="addmog1" class="btn btn-default" style="margin-top:22px!important" disabled>No Data</button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>

                        <div class="row mfgHide">
                            <div class="col-12">

                                <div class="dishRecipe">
                                    <div class="upper" style="height: 24px;" id="bup_gridBaseRecipe1" onclick="showHideGrid('gridBaseRecipe1','emptybr1','bup_gridBaseRecipe1')">

                                        Base Recipe(s)

                                    </div>
                                    <div class="lower">
                                        <div id="gridBaseRecipe1" style="display:none;"></div>
                                        <div id="emptybr1" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                            <button id="addbr1" class="btn btn-default" style="margin-top:22px!important" disabled>No Data </button>
                                        </div>
                                    </div>

                                </div>



                            </div>

                        </div>
                        <div id="jump1">
                            <div class="row">
                                <div class="col-12">
                                    <h6>Instructions</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-12">


                                <textarea id="inputinstruction1" class="form-control" style="height:60px!important"></textarea>

                            </div>

                        </div>

                    </div>
                </section>

            </div>
            <!--Window Edit 1 End-->
            <!-- Window Edit 2 start-->

            <div id="windowEdit2" class="col-sm-12 " style="display:none; max-height:520px">
                <section>
                    <div class="container" style="overflow: auto!important; max-height:520px!important">

                        <div class="row">
                            <span style="margin-left: 8px;margin-top: 7px;">Recipe Configuration </span>
                            <div class="modal-footer col" style="padding-right: 7.5px !important;margin-top: 0px !important;">

                                <button type="submit" id="btnCancel2" class="btn btn-tool">Back</button>
                                @*<button type="submit" id="btnPublish2" class="btn btn-publish">Publish</button>*@
                                <button type="submit" style="display:none;" id="btnSubmit2" class="btn btn-info">Save</button>

                            </div>
                        </div>

                        <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:98.5%;margin-left:7px!important;margin-bottom:20px;">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-2">
                                        <label class="form-control-label">Recipe Code</label>
                                        <input type="text" id="inputrecipecode2" class="form-control" disabled />
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Recipe Name</label>
                                        <input type="text" id="inputrecipename2" class="form-control" />
                                    </div>
                                    <div class="col-2">
                                        <label class="form-control-label">Quantity</label>
                                        <input type="text" id="inputquantity2" value="10" placeholder="10" class="form-control" readonly />
                                    </div>
                                    <div class="col-1">
                                        <label class="form-control-label">UOM</label>
                                        <div id="inputuom2" class="form-control"></div>
                                    </div>
                                    <div class="col-2">
                                        <label class="form-control-label">Recipe Type</label>
                                        <div id="inputbase2" class="form-control"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-12 mt-1">
                                        <h6 class="form-control-main m-0">Total Cost of Recipe: <span id="grandTotal2">₹0.00</span></h6>
                                    </div>

                                    <div class="col-12">
                                        <h6 class="form-control-main m-0">Cost of Recipe / Kg : <span id="grandCostPerKG2">₹0.00</span></h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="dishRecipe">
                                    <div class="upper" style="height: 24px;" id="mup_gridBaseRecipe2" onclick="showHideGrid('gridMOG2','emptymog2','mup_gridBaseRecipe2')">
                                        Direct Ingredients (MOG)
                                        <br />

                                    </div>
                                    <div class="lower">
                                        <div id="gridMOG2" style="display:none;"></div>
                                        <div id="emptymog2" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                            <button id="addmog2" class="btn btn-default" disabled style="margin-top:22px!important">No Data </button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>

                        <div class="row mfgHide">
                            <div class="col-12">

                                <div class="dishRecipe">
                                    <div class="upper" style="height: 24px;" id="bup_gridBaseRecipe2" onclick="showHideGrid('gridBaseRecipe2','emptybr2','bup_gridBaseRecipe2')">

                                        Base Recipe(s)

                                    </div>
                                    <div class="lower">
                                        <div id="gridBaseRecipe2" style="display:none;"></div>
                                        <div id="emptybr2" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                            <button id="addbr2" disabled class="btn btn-default" style="margin-top:22px!important">No Data </button>
                                        </div>
                                    </div>

                                </div>



                            </div>

                        </div>
                        <div id="jump2">
                            <div class="row">
                                <div class="col-12">
                                    <h6>Instructions</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-12">


                                <textarea id="inputinstruction2" class="form-control" style="height:60px!important"></textarea>

                            </div>

                        </div>

                    </div>
                </section>

            </div>
            <!--Window Edit 2 End-->
            <!-- Window Edit 3 start-->

            <div id="windowEdit3" class="col-sm-12 " style="display:none; max-height:520px">
                <section>
                    <div class="container" style="overflow: auto!important; max-height:520px!important">

                        <div class="row">
                            <span style="margin-left: 8px;margin-top: 7px;">Recipe Configuration </span>
                            <div class="modal-footer col" style="padding-right: 7.5px !important;margin-top: 0px !important;">

                                <button type="submit" id="btnCancel3" class="btn btn-tool">Back</button>
                                @*<button type="submit" id="btnPublish3" class="btn btn-publish">Publish</button>*@
                                <button type="submit" style="display:none;" id="btnSubmit3" class="btn btn-info">Save</button>

                            </div>
                        </div>

                        <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:98.5%;margin-left:7px!important;margin-bottom:20px;">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-2">
                                        <label class="form-control-label">Recipe Code</label>
                                        <input type="text" id="inputrecipecode3" class="form-control" disabled />
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Recipe Name</label>
                                        <input type="text" id="inputrecipename3" class="form-control" />
                                    </div>
                                    <div class="col-2">
                                        <label class="form-control-label">Quantity</label>
                                        <input type="text" id="inputquantity3" value="10" placeholder="10" class="form-control" readonly />
                                    </div>
                                    <div class="col-1">
                                        <label class="form-control-label">UOM</label>
                                        <div id="inputuom3" class="form-control"></div>
                                    </div>
                                    <div class="col-2">
                                        <label class="form-control-label">Recipe Type</label>
                                        <div id="inputbase3" class="form-control"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-12 mt-1">
                                        <h6 class="form-control-main m-0">Total Cost of Recipe: <span id="grandTotal3">₹0.00</span></h6>
                                    </div>

                                    <div class="col-12">
                                        <h6 class="form-control-main m-0">Cost of Recipe / Kg : <span id="grandCostPerKG3">₹0.00</span></h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="dishRecipe">
                                    <div class="upper" style="height: 24px;" id="mup_gridBaseRecipe3" onclick="showHideGrid('gridMOG3','emptymog3','mup_gridBaseRecipe3')">
                                        Direct Ingredients (MOG)
                                        <br />

                                    </div>
                                    <div class="lower">
                                        <div id="gridMOG3" style="display:none;"></div>
                                        <div id="emptymog3" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                            <button id="addmog3" class="btn btn-default" style="margin-top:22px!important" disabled>No Data </button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>

                        <div class="row mfgHide">
                            <div class="col-12">

                                <div class="dishRecipe">
                                    <div class="upper" style="height: 24px;" id="bup_gridBaseRecipe3" onclick="showHideGrid('gridBaseRecipe3','emptybr3','bup_gridBaseRecipe3')">

                                        Base Recipe(s)

                                    </div>
                                    <div class="lower">
                                        <div id="gridBaseRecipe3" style="display:none;"></div>
                                        <div id="emptybr3" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                            <button id="addbr3" disabled class="btn btn-default" style="margin-top:22px!important">No Data </button>
                                        </div>
                                    </div>

                                </div>



                            </div>

                        </div>
                        <div id="jump3">
                            <div class="row">
                                <div class="col-12">
                                    <h6>Instructions</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-12">


                                <textarea id="inputinstruction3" class="form-control" style="height:60px!important"></textarea>

                            </div>

                        </div>

                    </div>
                </section>

            </div>
            <!--Window Edit 3 End-->



            <div id="windowEdit4"  style="display:none;">
                <div class="container" style="overflow: auto!important; max-height:530px!important">
                    <div id="error4" class="alert alert-danger alert-dismissible" style="display:none">
                        <i class="icon fas fa-exclamation"></i>
                        <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                        </p>
                    </div>
                    <div class="card" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;">
                        <div class="row">
                            <div class="col-2">
                                <label class="form-control-label">Recipe Code</label>
                                <input type="text" id="inputrecipecode4" class="form-control" disabled />
                            </div>
                            <div class="col-4">
                                <label class="form-control-label">Recipe Name</label>
                                <input type="text" id="inputrecipename4" class="form-control" />
                            </div>
                            <div class="col-2">
                                <label class="form-control-label">Quantity</label>
                                <input type="text" id="inputquantity4" class="form-control" />
                            </div>
                            <div class="col-1">
                                <label class="form-control-label">UOM</label>
                                <div id="inputuom4" class="form-control"></div>
                            </div>
                            <div class="col-1">
                                <label class="form-control-label">Recipe Type</label>
                                <div id="inputbase4" class="form-control"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <h6 class="form-control-main"><b>Cost of Recipe / Kg: <span id="grandCostPerKG4">₹0.00</span></b></h6>
                            </div>

                            <div class="col-4" style="text-align:right">
                                <h6 class="form-control-main"><b>Total Cost of Recipe: <span id="grandTotal4">₹0.00</span></b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h6>
                            Base Recipe(s)<br />
                            <small style="color:#a7a7a7">Add one or more Base Recipe(s) to this Recipe</small>
                        </h6>
                        <div id="gridBaseRecipe4"></div>
                        <div id="emptybr4" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px'>
                            <button id="addbr4" class="btn btn-default" disabled style="margin-top:22px!important">No Data </button>
                        </div>
                    </div>
                    <div class="row">
                        <h6>
                            Direct Ingredients (MOG)<br />
                            <small style="color:#a7a7a7">Add one or more MOG(s) to this Recipe</small>
                        </h6>
                        <div id="gridMOG4"></div>
                        <div id="emptymog4" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px'>
                            <button id="addmog4" class="btn btn-default" disabled style="margin-top:22px!important">No Data </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label class="form-control-main">Instructions</label>

                                <textarea id="inputinstruction4" class="form-control" style="height:60px!important"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="modal-footer col" style="padding-right:7.5px!important;">
                            <button type="submit" id="btnCancel4" class="btn btn-default">Back</button>
                            <button style="display:none;" type="submit" id="btnSubmit4" class="btn btn-tool">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="windowEdit5"  style="display:none;">
                <div class="container" style="overflow: auto!important; max-height:530px!important">
                    <div id="error5" class="alert alert-danger alert-dismissible" style="display:none">
                        <i class="icon fas fa-exclamation"></i>
                        <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                        </p>
                    </div>
                    <div class="card" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;">
                        <div class="row">
                            <div class="col-2">
                                <label class="form-control-label">Recipe Code</label>
                                <input type="text" id="inputrecipecode5" class="form-control" disabled />
                            </div>
                            <div class="col-4">
                                <label class="form-control-label">Recipe Name</label>
                                <input type="text" id="inputrecipename5" class="form-control" />
                            </div>
                            <div class="col-2">
                                <label class="form-control-label">Quantity</label>
                                <input type="text" id="inputquantity5" class="form-control" />
                            </div>
                            <div class="col-1">
                                <label class="form-control-label">UOM</label>
                                <div id="inputuom5" class="form-control"></div>
                            </div>
                            <div class="col-1">
                                <label class="form-control-label">Recipe Type</label>
                                <div id="inputbase5" class="form-control"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <h6 class="form-control-main"><b>Cost of Recipe / Kg: <span id="grandCostPerKG5">₹0.00</span></b></h6>
                            </div>

                            <div class="col-4" style="text-align:right">
                                <h6 class="form-control-main"><b>Total Cost of Recipe: <span id="grandTotal5">₹0.00</span></b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h6>
                            Base Recipe(s)<br />
                            <small style="color:#a7a7a7">Add one or more Base Recipe(s) to this Recipe</small>
                        </h6>
                        <div id="gridBaseRecipe5"></div>
                        <div id="emptybr5" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px'>
                            <button id="addbr5" class="btn btn-default" style="margin-top:22px!important" disabled>No Data </button>
                        </div>
                    </div>
                    <div class="row">
                        <h6>
                            Direct Ingredients (MOG)<br />
                            <small style="color:#a7a7a7">Add one or more MOG(s) to this Recipe</small>
                        </h6>
                        <div id="gridMOG5"></div>
                        <div id="emptymog5" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px'>
                            <button id="addmog5" class="btn btn-default" style="margin-top:22px!important" disabled>No Data </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label class="form-control-main">Instructions</label>

                                <textarea id="inputinstruction5" class="form-control" style="height:60px!important"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="modal-footer col" style="padding-right:7.5px!important;">
                            <button type="submit" id="btnCancel5" class="btn btn-default">Back</button>
                            <button type="submit" id="btnSubmit5" class="btn btn-tool">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.Left col -->
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>

<div id="windowEditMOGWiseAPL">
    <div class="container">
        <div style="margin-top:10px;" id="gridMOGWiseAPL"></div>

    </div>
</div>