﻿
<style>

    .k-grid-norecords {
        width: 98% !important;
        height: 50px !important;
    }
    #windowEditMOGAPLDependencies .k-grid-content.k-auto-scrollable {
        height: 150px !important;
        max-height: 150px !important;
    }

    #windowEditMOGAPLDependencies .k-grid {
        width: 99% !important;
    }


    h6 {
        font-weight: 600 !important;
        margin-top: 10px !important;
    }

    .dependencies-scroll {
        max-height: 360px;
        overflow-y: scroll !important;
        overflow-x: hidden;
    }

    .info-box {
        min-height: 45px !important;
        padding: 0px !important;
        border: 1px solid #00000047;
    }

    .info-box-padding {
        margin-right: 103px !important;
    }

   /* .k-window-actions {
        display: none !important;
    }*/

</style>
<div id="windowEditMOGAPLDependencies">
    <div class="container">
        <input type="hidden" value="" id="hiddenMogID" />

        <div class="row" style="margin-top: 10px !important;">
            <div class="clearfix hidden-md-up"></div>

            <div class="col-12 col-sm-6 col-md-3 info-box-padding">
                <div class="info-box mb-3">
                    <div class="info-box-content">
                        <span id="totalImapactedAPLDishes" class="info-box-number text-center">
                            0
                        </span>
                        <span class="info-box-text text-center">Total Impacted Dishes</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->

            <div class="col-12 col-sm-6 col-md-3 info-box-padding" style="padding-left:9px;">
                <div class="info-box mb-3">
                    <div class="info-box-content">
                        <span id="totalImapactedAPLSites" class="info-box-number text-center">
                            0
                        </span>
                        <span class="info-box-text text-center">Impact on Sites</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-3" style="padding-left:9px;">
                <div class="info-box mb-3">
                    <div class="info-box-content">
                        <span id="totalImapactedAPLRegion" class="info-box-number text-center">
                            0
                        </span>
                        <span class="info-box-text text-center">Impact on Regions</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        </div>

        <div class="row" style="margin-top: 5px !important;">
            <div class="col-2">
                <h6 class="form-control-main m-0" style="font-size: 15px !important; font-weight: 600 !important;">Previous Mapped APL: </h6>
            </div>
            <div class="col-9">
                <h6 class="form-control-main m-0" id="previousMappedAPL"></h6>
            </div>
        </div>

        <div class="row" style="margin-top: 5px !important;">
            <div class="col-2">
                <h6 class="form-control-main m-0" style="font-size: 15px !important; font-weight: 600 !important;">Current Mapped APL: </h6>
            </div>
            <div class="col-9">
                <h6 class="form-control-main m-0" id="currentMappedAPL">Salt, Catch, Sachet, 5000X1g</h6>
            </div>
        </div>

        <div class="row dependencies-scroll">
            <!-- Dishes -->
            <div class="col-12">
                <h6>Sector Dish</h6>
                <div id="dishAPLGrid"></div>
            </div>
            <!-- Region -->
            <div class="col-12" >
                <h6>Region Dish</h6>
                <div id="regionAPLGrid"></div>
            </div>
            <!-- Sites -->
            <div class="col-12">
                <h6>Site Dish</h6>
                <div id="siteAPLGrid"></div>
            </div>
        </div>
        <div class="row">
            <div class="modal-footer col-12" style="margin-top:10px !important">
                <button type="submit" id="btnDoLater" class="btn btn-tool">No Shall do it later</button>
                <button style="display:none;" type="submit" id="btnAgree" class="btn btn-info">
                    I understand the impact, Proceed
                </button>
            </div>
        </div>
    </div>
</div>
