﻿<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetUOMDataList: "@Url.Action("GetUOMDataList", "CookBookMaster")",
        GetExpiryProductDataList: "@Url.Action("GetExpiryProductDataList", "MOG")",
        SaveExpiryProductData: "@Url.Action("SaveExpiryProductData", "MOG")",
        GetSectorDataList: "@Url.Action("GetSectorDataList", "Home")",
        GetUOMModuleMappingDataList: "@Url.Action("GetUOMModuleMappingDataList", "CookBookMaster")",
        GetExpiryCategoryDataList: "@Url.Action("GetExpiryCategoryDataList", "CookBookMaster")",
    }
</script>

<script src="~/Scripts/CookBook/ExpiryCategoryMapping.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />
<style>
    .k-grid-PrintLabel {
        margin-left: 10px !important;
    }

    #GETALLMogViewALLHistoryBATCHWISE .k-grid-content {
        min-height: 100px;
        max-height: 200px;
    }
    #inputSectorClear .k-input[readonly] {
        background-color: #e2e2e2 !important;
        color: #2e2e2e;
    }

    .m-link {
        cursor: pointer !important;
        color: #a09b9b;
        font-size: 0.8em;
        margin-right: 4px;
    }

    .k-grid-MapAPL {
        color: #76b4b0 !important;
    }
    .statuscolu {
        color: orangered !important;
    }

    #windowEditMOGWiseAPL .card-header {
        padding-top: 0px !important;
    }

    #windowEditMOGWiseAPL .container {
        padding-left: 5px !important;
    }

    #changesum:hover {
        background: none !important;
    }

    .btn-tool:hover {
        background-color: transparent !important;
    }

    .checkbox-container .checkmark:after {
        left: 3.5px !important;
        top: 1px !important;
    }

    .info-box {
        min-height: 45px !important;
        padding: 0px !important;
        border: 1px solid #00000047;
    }

    .info-box-padding {
        /* padding-left: 0px !important;
        padding-right: 0px !important;*/
        margin-right: 23px !important;
    }

    /*#finalRecipeGrid, #baseRecipeGrid, #dishGrid, #itemGrid, #siteGrid .k-grid-content.k-auto-scrollable {
        height: 150px !important;
        max-height: 150px !important;
    }*/

    #windowEditMOGDependencies .k-grid-content.k-auto-scrollable {
        height: 150px !important;
        max-height: 150px !important;
    }
    .batchstatuscolor
    {
        color:forestgreen !important;
    }
    .batchstatuscolorred {
        color: orangered !important;
    }
    .ViewBatch {
        color: #b7aeae!important;
    }
    #windowEditMOGDependencies .k-grid {
        width: 99% !important;
    }


    h6 {
        font-weight: 600 !important;
        margin-top: 10px !important;
    }

    .dependencies-scroll {
        max-height: 360px;
        overflow-y: scroll !important;
        overflow-x: hidden;
    }

    .slider {
        top: 6px !important;
        bottom: -6px !important;
    }

    #windowEditMOGDependencies .k-grid-norecords-template {
        background-color: #fff;
        border: none !important;
        font-size: 20px !important;
    }

    .colortag {
        height: 13px;
        width: 12px;
        border-radius: 9px;
        margin-left: 22px;
        background-color:blue;
    }
</style>
@{
    ViewBag.Title = "Expiry Category Mapping";
}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <input id="isRIEnabled" type="hidden" value="@System.Configuration.ConfigurationManager.AppSettings["isRIEnabled"]" />
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">

                <div id="MOGMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -12px;margin-top: 7px;"></h3>

                        <div class="card-tools" style="margin-top: -6px;">

                            <button id="btnExport" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px">
                                Export To Excel
                            </button>
                          
                            <span style="float:left">
                                <input type="text" style=" margin-top: 8px;" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="position: relative; right: -277px;top: 7px;font-size: 0.8em;color: #76b4b0;"></i>
                            </span>
                          
                        </div>
                    </div>
                    <div id="mogid" style="display:none;"></div>
                    <!-- /.card-header -->
                    <div id="fpbody" class="card-body">
                        <div id="gridExpiryCategoryMapping"></div>
                        <div id="ExpiryCategoryMappingwindowEdit">

                            <div class="container">

                                <div class="row" style="margin-top:10px;">
                                    <div class="col-4 mogViewDiv" id="mogCodeDiv" style="min-width:85px!important">
                                        <label class="form-control-label">Product Code</label>
                                        <label class="form-control-label" id="productcodelabel">Product Code</label>
                                    </div>

                                    <div class="col-4 mogViewDiv" id="mogNameDiv">
                                        <label class="form-control-label">Product Name</label>
                                        <label class="form-control-label" id="inputproductnamelabel">Product Name</label>
                                    </div>

                                    <div class="col-2 mogViewDiv" id="productTypeDiv">
                                        <label class="form-control-label">Product Type</label>
                                        <label class="form-control-label" id="inputproducttypelabel">Product Type</label>
                                    </div>
                                </div>

                                <div class="row" style="margin-top:10px;">
                                    <div class="col-6">
                                        <label class="form-control-label"> Expiry Category<span class="mandatoryAsterisk">*</span></label>
                                        <div id="expiryCategory" class="form-control" />
                                    </div>
                                    <div class="col-2 shelflifediv">
                                       
                                    </div>
                                    <div class="col-2 shelflifediv" style="display:none;">
                                        <label class="form-control-label">Shelf Life</label>
                                        <label class="form-control-label" id="shelflife">Shelf Life</label>
                                    </div>

                                </div>
                               
                                <div class="row" style="float:right;">
                                    <div class="col-11">
                                        <button type="submit" id="NatiMogbtnCancel" class="btn btn-tool">Cancel</button>
                                        <button type="submit" id="NatiMogbtnSubmit" style="margin-top: 9px !important;" class="btn btn-info">Save</button>
                                    </div>

                                </div>

                            </div>


                        </div>
                        <div id="ExpiryCategoryPrintingwindowEdit">

                            <div class="container">

                                <div class="row" style=" margin-top: 13px !important;">
                                    <div class="col-4 mogViewDiv" id="mogCodeDiv" style="min-width:85px!important">
                                        <label class="form-control-label">Product Code</label>
                                        <label class="form-control-label" id="pproductcodelabel">Product Code</label>
                                    </div>

                                    <div class="col-4 mogViewDiv" id="mogNameDiv">
                                        <label class="form-control-label">Product Name</label>
                                        <label class="form-control-label" id="pinputproductnamelabel">Product Name</label>
                                    </div>

                                    <div class="col-2 mogViewDiv" id="productTypeDiv">
                                        <label class="form-control-label">Product Type</label>
                                        <label class="form-control-label" id="pinputproducttypelabel">Product Type</label>
                                    </div>
                                </div>

                                <div class="row " style=" margin-top: 16px !important;">
                                    <div class="col-4">
                                        <label class="form-control-label"> Expiry Category</label>
                                        <label class="form-control-label" id="pexpiryCategory">Product Type</label>
                                        <input type="hidden" class="form-control-label" id="pshelflife" />
                                        <input type="hidden" class="form-control-label" id="pshelflifeuom" />
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">Scan Date</label>
                                        <input class="form-control" id="datepickerscandate" />
                                    </div>

                                    <div class="col-2">
                                        <label class="form-control-label">Expiry Date</label>
                                        <label class="form-control-label" id="pexpiryDate"></label>
                                    </div>



                                </div>

                                <div class="row " style=" margin-top: 16px !important;">
                                    <div class="col-4">
                                        <label class="form-control-label"> No. of Labels</label>
                                        <input type="text" id="inputnooflabel" value="1" class="form-control" />
                                    </div>

                                </div>

                                <div class="row" style="margin-top: 15px !important;">
                                    <div class="col-5"></div>
                                    <div class="col-6">
                                        <button type="submit" id="PrintCancel" class="btn btn-tool">Cancel</button>
                                        <button type="submit" id="PrintPreviewSubmit" style="margin-top: 9px !important;" class="btn btn-info">Print Preview</button>
                                        <button type="submit" id="PrintSubmit" style="margin-top: 9px !important;" class="btn btn-info">Print</button>
                                    </div>


                                </div>

                            </div>


                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<div id="videoPlayingDiv" style="display:none;">
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 5px;">
            <video id="videoclip" width="990" height="550" controls="controls" style="border:1px solid lightgrey;" disablePictureInPicture controlsList="nodownload noplaybackrate" oncontextmenu="return false;">
                <source id="mp4video" src="#" type="video/mp4" />
            </video>
        </div>
    </div>
</div>