﻿<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetUOMDataList: "@Url.Action("GetUOMDataList", "CookBookMaster")",
        GetMOGDataList: "@Url.Action("GetMOGDataList", "MOG")",
        SaveMOGData: "@Url.Action("SaveMOGData", "MOG")",
        SaveMOGDataList: "@Url.Action("SaveMOGDataList", "MOG")",
        GetAPLMasterDataListForMOG: "@Url.Action("GetAPLMasterDataListForMOG", "APLMaster")",
        GetAPLMasterDataList: "@Url.Action("GetAPLMasterDataList", "APLMaster")",
        SaveAPLMasterDataList: "@Url.Action("SaveAPLMasterDataList", "APLMaster")",
        GetMOGImpactedDataList: "@Url.Action("GetMOGImpactedDataList", "MOG")",
        SendMOGEmail: "@Url.Action("SendMOGEmail", "MOG")",
         GetUOMModuleMappingDataList: "@Url.Action("GetUOMModuleMappingDataList", "CookBookMaster")",
    }
</script>

<script src="~/Scripts/CookBook/MOG.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />
<style>
    .m-link {
        cursor: pointer !important;
        color: #a09b9b;
        font-size: 0.8em;
        margin-right: 4px;
    }
    .switch {
        cursor: none;
        color: #b7aeae!important;
    }
    .k-grid-MapAPL {
        color: #76b4b0 !important;
    }

    #windowEditMOGWiseAPL .card-header {
        padding-top: 0px !important;
    }

    #windowEditMOGWiseAPL .container {
        padding-left: 5px !important;
    }

    #changesum:hover {
        background: none !important;
    }

    .btn-tool:hover {
        background-color: transparent !important;
    }

    .checkbox-container .checkmark:after {
        left: 3.5px !important;
        top: 1px !important;
    }

    .info-box {
        min-height: 45px !important;
        padding: 0px !important;
        border: 1px solid #00000047;
    }

    .info-box-padding {
       /* padding-left: 0px !important;
        padding-right: 0px !important;*/
       margin-right:23px !important;
    }

    /*#finalRecipeGrid, #baseRecipeGrid, #dishGrid, #itemGrid, #siteGrid .k-grid-content.k-auto-scrollable {
        height: 150px !important;
        max-height: 150px !important;
    }*/

    #windowEditMOGDependencies .k-grid-content.k-auto-scrollable {
        height: 150px !important;
        max-height: 150px !important;
    }

    #windowEditMOGDependencies .k-grid{
        width:99% !important;
    }


    h6 {
        font-weight: 600 !important;
        margin-top: 10px !important;
    }

    .dependencies-scroll {
        max-height: 360px;
        overflow-y: scroll !important;
        overflow-x: hidden;
    }

    .slider {
        top: 6px !important;
        bottom: -6px !important;
        cursor: no-drop !important;
    }

    #windowEditMOGDependencies .k-grid-norecords-template {
        background-color: #fff;
        border: none !important;
        font-size: 20px !important;
    }

</style>
@{
    ViewBag.Title = "Sector MOG";
}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <input id="isRIEnabled" type="hidden" value="@System.Configuration.ConfigurationManager.AppSettings["isRIEnabled"]" />
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div id="MOGMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -12px;margin-top: 7px;">MOG Details</h3>
                        <div class="card-tools" style="margin-top: -6px;">
                            <button id="btnExport" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px">
                                Export To Excel
                            </button>
                            <span style="float:left">
                                <input type="text" style=" margin-top: 8px;" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="position: relative; right: -277px;top: 7px;font-size: 0.8em;color: #76b4b0;"></i>
                            </span>
                            <button id="InitiateBulkChanges" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px; display:none;">
                                Apply Bulk Changes
                            </button>
                            <button id="CancelBulkChanges" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="display:none;padding-top:7px; display:none;">
                                Cancel Bulk Changes
                            </button>
                            <button id="SaveBulkChanges" type="submit" class="btn btn-success-bulk btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="display:none; margin-top:5px">
                                Save Bulk Changes
                            </button>
                            @*<button id="AddNew" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="margin-top:5px; display:none;">
                                Add New MOG
                            </button>*@
                        </div>
                    </div>
                    <div id="mogid" style="display:none;"></div>
                    <!-- /.card-header -->
                    <div id="fpbody" class="card-body">
                        <div id="bulkerror" class="alert alert-danger alert-dismissible" style="display:none">
                            <i class="icon fas fa-exclamation"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="success" class="alert alert-success alert-dismissible" style="display:none">
                            <i class="icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridBulkChange"></div>
                        <div id="gridMOG"></div>
                        <div id="MOGwindowEdit" style="display:none;">

                            <div class="container">
                                <div class="first-input">
                                    <div>
                                        <label class="form-control-label">Code</label>
                                        <input type="text" id="mogcode" class="form-control" disabled />
                                    </div>


                                </div>
                                <div class="first-input">
                                    <div>
                                        <label class="form-control-label"> MOG Name<<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="dpname" class="form-control" />
                                    </div>
                                </div>
                                <div class="first-input">
                                    <div>
                                        <label class="form-control-label">MOG Alias<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="inputmogalias" class="form-control" disabled />
                                    </div>


                                </div>
                                <div class="first-input">
                                    <div>
                                        <label class="form-control-label"> UOM<<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="inputuom" class="form-control" />
                                    </div>
                                </div>

                                <div class="first-input">
                                    <div>

                                        <button type="submit" id="btnSubmit" class="btn btn-info btn-new-save">Save</button>

                                        <button type="submit" id="btnCancel" class="btn btn-tool btn-new-cancel">Cancel</button>
                                    </div>


                                </div>

                            </div>


                            @*<div class="container">
                                <div id="error" class="alert alert-danger alert-dismissible" style="display:none">
                                    <i class="icon fas fa-exclamation"></i>
                                    <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                    </p>
                                </div>
                                <div class="row">
                                    <div class="col-2" id="mogCodeDiv" style="min-width:85px!important">
                                        <label class="form-control-label">MOG Code</label>
                                        <input type="text" id="mogcode" class="form-control" disabled />
                                    </div>
                                    <div class="col-4" id="mogNameDiv">
                                        <label class="form-control-label">MOG Name<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="inputmogname" class="form-control" disabled />
                                    </div>
                                    <div class="col-4" id="mogAliasDiv">
                                        <label class="form-control-label">MOG Alias</label>
                                        <input type="text" id="inputmogalias" class="form-control" />
                                    </div>
                                    <div class="col-1" id="mogUOMDiv">
                                        <label class="form-control-label">UOM<span class="mandatoryAsterisk">*</span></label>
                                        <div id="inputuom" class="form-control" disabled></div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="modal-footer col" style="padding-right:9px!important;">
                                        <button type="submit" id="btnCancel" class="btn btn-tool">Cancel</button>
                                        <button type="submit" id="btnSubmit" style="margin-top: 9px !important;" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>*@
                        </div>

                        <div id="MOGwindowEditMOGWiseAPL" style="display:none;">
                            <div class="container">

                                <div class="row" style="margin-top: 0px!important; display:none">

                                    <div style="width:35%;">  <div class="form-control-label" style="padding-top:20px;margin-left:10px;margin-bottom:0px!important;"> Start typing/Select the APLs to be Mapped with MOG</div></div>
                                    <div style="width:65%;float:right;">
                                        <div class="card-header">
                                            <div id="actionRegion" class="card-tools">

            <div id="showcheckedchk" class="btn btn-tool">
                <div style="display: inline-block; margin-top: inherit;">
                    <label class="checkbox-container" style="display: inline-block;">
                        <input type="checkbox" id="btnShowChecked" onchange="showChecked(this);">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <label class="btn btn-tool" id="changesum" style="font-weight: 400;margin-top: -6px!important; font-size: 0.9em!important;">
                    Preview
                </label>
            </div>

            <div id="previewchk" class="btn btn-tool">
            <div style="DISPLAY: inline-block; margin-top: inherit;">
                <label class="checkbox-container" style="display: inline-block;">
                    <input type="checkbox" id="btnPreview" onchange="preview(this);">
                    <span class="checkmark"></span>
                </label>
            </div>
            <label class="btn btn-tool" id="changesum" style="font-weight: 400;margin-top: -6px!important; font-size: 0.9em!important;">
                Change Summary
            </label>
        </div>

        <button id="btnDrft" type="submit" class="btn  btn-info" style="margin-top:7px!important" onclick="saveAll()">
            Save
        </button>
                                        </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row" style="margin-top:0px!important;display:none">
                                    <div id="inputAPLClear" style="margin-left: 10px; width: 90%;">
                                        <div style="display:none; text-align: left;" id="inputAPL"></div>

                                    </div>
                                    <div style="width:9%;float:right;">
                                        <button id="btnGo" type="button" class="btn btn-info" style="float:right;" onclick="addAPL()">
                                            &nbsp;Map
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12" style="max-width: 99.5% !important;">
                                        <div id="gridMOGWiseAPL"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="windowEditMOGChangeConfirm" style="display:none;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 alert alert-danger alert-dismissible" style="height: 145px;padding: 0.1rem 0rem 0rem 0.2rem !important;">
                                        <span style="font-size:14px;">
                                            Do you really want to change the Name from  (<span class="oldmogname">Ajwain Whole</span>) from the system?
                                            <br />
                                            Please view the MOG dependencies. After changing, the ‘<span class="newmogname">Ajwain Leaf</span>’ will start appearing in the below listed Recipe configuration in place of ‘<span>Ajwain Whole</span>’.
                                            <br />
                                            <br />
                                            However, an email notification will be sent to the respective Site Manager and Chef for this change. Click on ‘Proceed’ to change the MOG Name.
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="modal-footer col-7" style="margin-top:10px !important">
                                        <button type="submit" id="btnViewDependencies" class="btn btn-info">View Dependencies</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="windowEditMOGDependencies" style="display:none;">
                            <div class="container">
                                <div class="row" id="mogMsg">

                                    <div class="col-12">
                                        <div id="mogNameChangeMsgDiv" class="alert alert-danger alert-dismissible" style="height: auto; display:none; padding: 0.1rem 0rem 0rem 0.2rem !important;width: 98%;">
                                            Do you really want to change the MOG Name (<span class="oldmogcode">MOG-0004</span>) from ‘<span class="oldmogname">Ajwain Whole</span>’ to ‘<span class="newmogname">Ajwain Leaf</span>’ in the system?
                                            Please see the MOG references below. After changing, the ‘<span class="newmogname">Ajwain Leaf</span>’ will start appearing in the below listed Recipe
                                            configuration in place of ‘<span class="oldmogname">Ajwain Whole</span>’. However, an email notification will be sent to the respective Site Manager
                                            and Chef for this change. Click on ‘Proceed’ to change the MOG Name.
                                        </div>

                                        <div id="mogInactiveMsgDiv" class="alert alert-danger alert-dismissible" style="height: auto;display:none;padding: 0.1rem 0rem 0rem 0.2rem !important;width: 98%;">
                                            Do you really want to <span class="mogDepStatus"></span>  ‘<span class="oldmogname">Ajwain Leaf</span>’ in the system?
                                            Please see the MOG references below. After  <span class="mogDepStatus"></span>, the dependant Recipes and Dishes will get blocked at the Respective Sites and the email notification will be sent to the respective Site Manager.
                                            Click on ‘Proceed’ to apply the change or 'Cancel' to discard the change.
                                        </div>

                                        <div id="mogAPLMappingMsgDiv" class="alert alert-danger alert-dismissible" style="height: auto;display:none;padding: 0.1rem 0rem 0rem 0.2rem !important;width: 98%;">
                                            Do you really want to change ‘<span class="oldmogname">Ajwain Leaf</span>’ MOG-APL Mapping in the system?
                                            Please see the MOG references below. After change mapping the dependant Recipes and Dishes will get blocked at the Respective Sites and the email notification will be sent to the respective Site Manager.
                                            Click on ‘Proceed’ to apply the change or 'Cancel' to discard the change.
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px !important;">
                                    <div class="col-12 col-sm-6 col-md-2 info-box-padding">
                                        <div class="info-box">

                                            <div class="info-box-content">
                                                <span id="totalImapactedBaseRecipes" class="info-box-number text-center">
                                                    3
                                                </span>
                                                <span class="info-box-text text-center">Total Base Recipes</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-12 col-sm-6 col-md-2 info-box-padding">
                                        <div class="info-box mb-3">
                                            <div class="info-box-content">
                                                <span id="totalImapactedFinalRecipes" class="info-box-number text-center">
                                                    5
                                                </span>
                                                <span class="info-box-text text-center">Total Final Recipes</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                    <!-- /.col -->
                                    <!-- fix for small devices only -->
                                    <div class="clearfix hidden-md-up"></div>

                                    <div class="col-12 col-sm-6 col-md-2 info-box-padding">
                                        <div class="info-box mb-3">
                                            <div class="info-box-content">
                                                <span id="totalImapactedDishes" class="info-box-number text-center">
                                                    5
                                                </span>
                                                <span class="info-box-text text-center">Total Dishes</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-12 col-sm-6 col-md-2 info-box-padding">
                                        <div class="info-box mb-3">
                                            <div class="info-box-content">
                                                <span id="totalImapactedItems" class="info-box-number text-center">
                                                    4
                                                </span>
                                                <span class="info-box-text text-center">Total Menu Items</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-12 col-sm-6 col-md-2" style="padding-left:9px;">
                                        <div class="info-box mb-3">
                                            <div class="info-box-content">
                                                <span id="totalImapactedSites" class="info-box-number text-center">
                                                    2
                                                </span>
                                                <span class="info-box-text text-center">Impact on Sites</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                </div>
                                <div class="row dependencies-scroll">
                                    <!-- Base Recipies -->
                                    <div class="col-12">
                                        <h6>Impacted Base Recipes</h6>
                                        <div id="baseRecipeGrid"></div>
                                    </div>
                                    <!-- Final Recipes -->
                                    <div class="col-12">
                                        <h6>Impacted Final Recipes</h6>
                                        <div id="finalRecipeGrid"></div>
                                    </div>
                                    <!-- Dishes -->
                                    <div class="col-12">
                                        <h6>Impacted Dishes</h6>
                                        <div id="dishGrid"></div>
                                    </div>
                                    <!-- Items -->
                                    <div class="col-12">
                                        <h6>Impacted Items</h6>
                                        <div id="itemGrid"></div>
                                    </div>
                                    <!-- Sites -->
                                    <div class="col-12" style="display:none;">
                                        <h6>Impacted Sites</h6>
                                        <div id="siteGrid"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="modal-footer col-12" style="margin-top:10px !important">
                                        <button type="submit" id="btnDoLater" class="btn btn-tool">No Shall do it later</button>
                                        <button type="submit" id="btnAgree" style="display:none;" class="btn btn-info">
                                            I understand the impact, Proceed
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                 
                    <!-- /.card-footer-->
                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<div id="videoPlayingDiv" style="display:none;">
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 5px;">
            <video id="videoclip" width="990" height="550" controls="controls" style="border:1px solid lightgrey;" disablePictureInPicture controlsList="nodownload noplaybackrate" oncontextmenu="return false;">
                <source id="mp4video" src="#" type="video/mp4" />
            </video>
        </div>
    </div>
</div>