﻿
<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetUOMDataList: "@Url.Action("GetUOMDataList", "CookBookMaster")",
        GetInheritedMOGDataList: "@Url.Action("GetInheritedMOGDataList", "MOG")",
        GetRegionItemInheritanceMappingDataList: "@Url.Action("GetRegionItemInheritanceMappingDataList", "Item")",
        SaveMOGNationalToSectorInheritance: "@Url.Action("SaveMOGNationalToSectorInheritance", "Item")",
        SaveMOGData: "@Url.Action("SaveMOGData", "MOG")",
        GetUOMModuleMappingDataList: "@Url.Action("GetUOMModuleMappingDataList", "CookBookMaster")",

    }

</script>

<script src="~/Scripts/CookBook/InheritMOG.js"></script>
<link href="~/Content/css/stylesRegion.css" rel="stylesheet" />
<link href="~/Content/css/styles.css" rel="stylesheet" />
@{
    //  Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Regional Menu Configuration";
}


<style>
    .k-dropdown-wrap.k-state-default {
        background-color: #fff;
        min-height: 1.85em;
        line-height: 1.85em;
        padding: 0em 0;
        font-size: 13px;
        text-align: left;
    }

    .k-button, .k-state-hover {
        color: #e2e2e2;
        border-color: none;
        background-color: transparent;
        box-shadow: none !important;
    }

        .k-button.k-state-active, .k-button:active {
            color: #e2e2e2;
            border-color: none !important;
            background-color: transparent !important;
            box-shadow: none !important;
        }

        .k-button.k-state-focus, .k-button:focus {
            box-shadow: none !important;
        }

    k-button.k-state-active:hover {
        box-shadow: none !important;
        background-color: transparent !important;
        border: none !important;
    }

    .k-grid-MapDishes {
        cursor: pointer !important;
    }

        .k-grid-MapDishes:hover {
            background: transparent !important;
        }

    .connectedSortable {
        background-color: transparent;
    }

    .MapDisabled {
        cursor: no-drop;
    }

    .search-input {
        width: 284px;
        height: 25px !important;
        padding-left: 8px;
        float: right;
        position: relative;
        margin-top: 8px;
        border: solid 1px #ccc;
        font-size: 0.8em;
        margin-right: 15px;
        border-radius: 4px;
        padding-top: 0px;
    }

    .k-dropdown-wrap.k-state-border-down {
        border-bottom-width: 1px;
        padding-bottom: 0;
        border-radius: 4px;
    }

    .top-arrow {
        position: relative;
        content: '';
        /*border-left: 7px solid transparent;*/
        border-right: 7px solid transparent;
        border-bottom: 7px solid #699e9b;
        left: -5px;
        top: -1px;
        transform: rotate(0deg);
    }
    /* #gridItem {
        max-height: 460px !important;
    }
     #gridItem.k-grid-content {
        min-height: 100px !important;
        height:460px!important;

    }*/
    /*-- Loader --*/
    .preloader {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #ffffff;
        z-index: 99999999;
        opacity: 0.9;
    }

    #preloader-logo {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .loading-msg {
        width: 100%;
        font-size: 0.75em;
        color: #555;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, 50%);
        text-align: center;
    }

    .spinner {
        width: 80px;
        height: 80px;
        border: 2px solid #f3f3f3;
        border-top: 3px solid #2489CE;
        border-radius: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        animation: spin 1s infinite ease;
    }

    #topMsg {
        background-color: #fffcd7;
        width: 100%;
        margin-top: 12px;
        text-align: center;
        font-size: 14px;
        color: #4e1504;
    }

    #loading-msg {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 25px;
        text-align: center;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #333;
        font-size: 0.8em;
    }

    [class*=icheck-] > input:first-child:checked + input[type=hidden] + label::after, [class*=icheck-] > input:first-child:checked + label::after {
        top: 4px !important;
        left: 5px !important;
    }

    [class*=icheck-] > label {
        line-height: 18px !important;
    }

    [class*=icheck-] > input:first-child + input[type=hidden] + label::before, [class*=icheck-] > input:first-child + label::before {
        margin-left: -22px !important;
    }

    ::-webkit-scrollbar:horizontal {
        height: 10px !important;
    }


    ::-webkit-scrollbar {
        width: 10px !important;
    }
    /*-- End Loader --*/
</style>
<!-- Main content -->

<div class="preloader" style="display:none;">
    <div class="spinner"></div>
    <span id="loading-msg"></span>
</div>

<section class="content">
    <div class="container-fluid">

        <div class="row">

          
            <section class="col-sm-12" style="display:inherit;" id="configMaster">

                <div style="display:block;" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header" style="margin-top:-6px;">

                        <div id="actionRegion" class="card-tools" style="display:block;">

                            <span style="float:left;">
                                <input type="text" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="position: relative; right: -277px;top: 7px;font-size: 0.7em;color: #76b4b0;"></i>
                            </span>


                            <div id="previewchk" class="btn btn-tool">
                                <div style="DISPLAY: inline-block; margin-top: inherit;">
                                    <label class="checkbox-container" style="display: inline-block;">
                                        <input type="checkbox" id="btnPreview" onchange="preview(this);">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <label class="btn btn-tool" id="changesum" style="font-weight: 400;margin-top: -6px!important;margin-left:-6px; font-size: 0.9em!important;">
                                    Change Summary
                                </label>
                            </div>
                            <button id="btnExport" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px">
                                Export To Excel
                            </button>
                            <button id="btnInherited" type="submit" class="btn  btn-info" style="margin-top:7px!important" onclick="toggleInherited()">
                                <span id="toggleText">Edit Menu</span>
                            </button>
                            @*<button id="btnDrft" type="submit" class="btn  btn-tool" style="margin-top:7px!important" onclick="saveProcedure(0)">
                                Save
                            </button>*@
                            <button id="btnSaveChk" type="submit" class="btn btn-publish" style="margin-top:7px!important" onclick="saveProcedure(1)">
                                Inherit To Sector
                            </button>
                        </div>
                    </div>
                    <div id="fpbody" class="card-body">

                        <div id="gridItem"></div>
                        <div id="MOGwindowEdit" style="display:none;">

                            <div class="container">
                                <div class="first-input">
                                    <div>
                                        <label class="form-control-label">Code</label>
                                        <input type="text" id="mogcode" class="form-control" disabled />
                                    </div>


                                </div>
                                <div class="first-input">
                                    <div>
                                        <label class="form-control-label"> MOG Name<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="inputmogname" disabled class="form-control" />
                                    </div>
                                </div>
                                <div class="first-input">
                                    <div>
                                        <label class="form-control-label">MOG Alias</label>
                                        <input type="text" id="inputmogalias" class="form-control"  />
                                    </div>


                                </div>
                                <div class="first-input">
                                    <div>
                                        <label class="form-control-label"> UOM<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" disabled="disabled" id="inputuom" class="form-control" />
                                    </div>
                                </div>

                                <div class="first-input">
                                    <div>

                                        <button type="submit" id="btnSubmit" class="btn btn-info btn-new-save">Save</button>

                                        <button type="submit" id="btnCancel" class="btn btn-tool btn-new-cancel">Cancel</button>
                                    </div>


                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Main row -->
        <!-- Left col -->
        

    </div>

</section>
<div id="videoPlayingDiv" style="display:none;">
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 5px;">
            <video id="videoclip" width="990" height="550" controls="controls" style="border:1px solid lightgrey;" disablePictureInPicture controlsList="nodownload noplaybackrate" oncontextmenu="return false;">
                <source id="mp4video" src="#" type="video/mp4" />
            </video>
        </div>
    </div>
</div>