﻿<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetUOMDataList: "@Url.Action("GetUOMDataList", "CookBookMaster")",
        GetMOGDataList: "@Url.Action("GetNationalMOGDataList", "MOG")",
        SaveMOGData: "@Url.Action("SaveMOGData", "MOG")",
        SaveMOGDataList: "@Url.Action("SaveMOGDataList", "MOG")",
        GetAPLMasterDataListForMOG: "@Url.Action("GetAPLMasterDataListForMOG", "MOG")",
        GetAPLMasterDataList: "@Url.Action("GetAPLMasterDataList", "MOG")",
        SaveAPLMasterDataList: "@Url.Action("SaveAPLMasterDataList", "APLMaster")",
        GetMOGImpactedDataList: "@Url.Action("GetMOGImpactedDataList", "MOG")",
        SendMOGEmail: "@Url.Action("SendMOGEmail", "MOG")",
        GetSectorDataList: "@Url.Action("GetSectorDataList", "Home")",
        UploadExcelsheetMOG: "@Url.Action("UploadExcelsheetMOG", "MOG")",
        GetMOGAPLImpactedDataList: "@Url.Action("GetMOGAPLImpactedDataList", "MOG")",
        GetMOGAPLHISTORY: "@Url.Action("GetMOGAPLHISTORY", "MOG")",
        GetMOGAPLHISTORYDetails: "@Url.Action("GetMOGAPLHISTORYDetails", "MOG")",
        GetALLHISTORYDetails: "@Url.Action("GetALLHISTORYDetails", "MOG")",
        GetshowGetALLHISTORYBATCHWISE: "@Url.Action("GetshowGetALLHISTORYBATCHWISE", "MOG")",
        SendNewMOGEmail: "@Url.Action("SendNewMOGEmail", "MOG")",
        GetUOMModuleMappingDataList: "@Url.Action("GetUOMModuleMappingDataList", "CookBookMaster")",
        GetNutritionMasterDataList: "@Url.Action("GetNutritionMasterDataList", "CookBookMaster")",
        SaveMOGNutrientMasterData: "@Url.Action("SaveMOGData", "MOG")",
        //Krish 13-07-2022
        GetApplicationSettingDataList: "@Url.Action("GetApplicationSettingDataList", "Setting")",
        GetRangeTypeDataList: "@Url.Action("GetRangeTypeDataList", "RangeTypeMaster")",
        GetProcessDataList: "@Url.Action("GetProcessTypeDataList", "ProcessTypeMaster")",
        SaveProcessTypeMogData: "@Url.Action("SaveProcessTypeMogData", "MOG")",
        GetProcessTypeByMOGDataList: "@Url.Action("GetProcessTypeMogData", "MOG")",
        GetProcessMappingDataList: "@Url.Action("GetProcessMappingDataList", "ProcessTypeMaster")",
        GetAllergenDataList: "@Url.Action("GetAllergenDataList", "CookBookMaster")",
        SaveAllergenMogData: "@Url.Action("SaveAllergenMogData", "MOG")",

    }
</script>

<script src="~/Scripts/CookBook/NationalMOG.js"></script>
<script src="~/Scripts/CookBook/MogAplImpacts.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />
<style>
    .inputbrntrqty {
        width: 100px !important;
        border: solid 1px lightgoldenrodyellow !important;
        background-color: lightgoldenrodyellow;
        border-radius: 3px;
        text-align: center;
    }

    [class*=icheck-] > label {
        line-height: 16px !important;
    }

    [class*=icheck-] > input:first-child:checked + label::after {
        top: 5px !important;
        left: 0px !important;
    }

    #GETALLMogViewALLHistoryBATCHWISE .k-grid-content {
        min-height: 100px;
        max-height: 200px;
    }

    #inputSectorClear .k-input[readonly] {
        background-color: #e2e2e2 !important;
        color: #2e2e2e;
    }

    .m-link {
        cursor: pointer !important;
        color: #a09b9b;
        font-size: 0.8em;
        margin-right: 4px;
    }

    .k-grid-MapAPL {
        color: #76b4b0 !important;
    }

    .statuscolu {
        color: orangered !important;
    }

    #windowEditMOGWiseNutrient .card-header {
        padding-top: 0px !important;
    }

    #windowEditMOGWiseNutrient .container {
        padding-left: 5px !important;
    }

    #changesum:hover {
        background: none !important;
    }

    .btn-tool:hover {
        background-color: transparent !important;
    }

    .checkbox-container .checkmark:after {
        left: 3.5px !important;
        top: 1px !important;
    }

    .info-box {
        min-height: 45px !important;
        padding: 0px !important;
        border: 1px solid #00000047;
    }

    .info-box-padding {
        /* padding-left: 0px !important;
        padding-right: 0px !important;*/
        margin-right: 23px !important;
    }

    /*#finalRecipeGrid, #baseRecipeGrid, #dishGrid, #itemGrid, #siteGrid .k-grid-content.k-auto-scrollable {
        height: 150px !important;
        max-height: 150px !important;
    }*/

    #windowEditMOGDependencies .k-grid-content.k-auto-scrollable {
        height: 150px !important;
        max-height: 150px !important;
    }

    .batchstatuscolor {
        color: forestgreen !important;
    }

    .batchstatuscolorred {
        color: orangered !important;
    }

    .ViewBatch {
        color: #b7aeae !important;
    }

    #windowEditMOGDependencies .k-grid {
        width: 99% !important;
    }


    h6 {
        font-weight: 600 !important;
        margin-top: 10px !important;
    }

    .dependencies-scroll {
        max-height: 360px;
        overflow-y: scroll !important;
        overflow-x: hidden;
    }

    .slider {
        top: 6px !important;
        bottom: -6px !important;
    }

    #windowEditMOGDependencies .k-grid-norecords-template {
        background-color: #fff;
        border: none !important;
        font-size: 20px !important;
    }

    .colortag {
        height: 13px;
        width: 12px;
        border-radius: 9px;
        margin-left: 22px;
        background-color: blue;
    }

    .checkbox-container .checkmark:after {
        left: 2.5px !important;
        top: 1px !important;
    }
    /*Krish 13-07-2022*/
    #gridMOG .colortag {
        height: 12px !important;
        width: 22px !important;
        background-color: #fff;
        margin: 0 auto;
    }

    .sectordivList {
        float: left;
        margin-right: 5px;
        border: 1px solid #dee2e6;
        padding-left: 5px;
        padding-right: 5px;
    }
    /*.coresector, .manusector, .googlesector, .edusector {
        color: #2e2e2e;
    }*/
    .coresector {
        background-color: #BDB2FF;
        color: #fff;
    }

    .manusector {
        background-color: #FFADAD;
    }

    .googlesector {
        background-color: #FFD6A5;
    }

    .edusector {
        background-color: #CAFFBF;
    }

    .healthsector {
        background-color: #9BF6FF;
    }
    /*Krish 18-07-2022*/
    .checkmarkgrid {
        width: 14px;
        height: 14px;
    }

    .checkbox-container .checkmarkgrid:after {
        left: 3.5px !important;
        /*top: 1px !important;*/
    }

    input.k-checkbox {
        display: inline;
        opacity: 0;
        width: 0;
        margin: 0;
        -webkit-appearance: checkbox;
        overflow: hidden;
    }

    .k-checkbox-md {
        border: 1px solid #76b4b0;
    }
    /*#selColor1, #selColor2, #selColor3, #selColor4 {*/
    #selColor {
        border-radius: 9px;
        height: 12px;
        width: 22px;
        margin-bottom: 0;
        margin-left: 10px;
    }

    .k-grid-MapProcess {
        color: #76b4b0 !important;
    }
</style>
@{
    ViewBag.Title = "MOG Master";
}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <input id="isRIEnabled" type="hidden" value="@System.Configuration.ConfigurationManager.AppSettings["isRIEnabled"]" />
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div id="mogviewhistorymain" style="display:none;" class="col-lg-12 card direct-chat direct-chat-primary">


                    <div class="row" style="margin:10px">


                        <div>
                            <div class="menuName">
                                <div><span id="inputdishname1">Upload MOG APL Mapping Batch status. </span></div>
                                <div style="height:20px;display: inline-grid;margin-top: -1px;margin-left: 2px;color: #000;">
                                    <label class="form-control-label" style="font-size:0.965em!important">
                                        Batch Failed, Following records have the invalid/incorrect data. Refer below list and correct the data in excel and re-upload.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!--</div>-->



                    </div>
                    <div class="row" style="margin-top:10px!important">
                        <div class="col-3" style="margin-top: 10px; text-align: right; margin-left: 766px;">
                            <button type="submit" id="APLMOGbtnback" onclick="back()" class="btn btn-success btn-xs">Back</button>
                            <button type="submit" id="ALLBATCHVIEW" onclick="AllViewBatch()" class="btn btn-success btn-xs">View All Batch(s)</button>

                        </div>

                    </div>
                    <div class="row" style="margin-top:10px!important">


                    </div>

                    <div class="row"></div>
                    <div class="row" style="margin-top:10px">
                        <div class="col-12">
                            @*<div id="gridRecipeCustom" style="max-height:200px;"></div>*@
                            <div id="gridMogViewCustomHistoryDetails" style="max-height: 200px;margin-top: 24px;"></div>
                        </div>

                    </div>
                    <div class="row" style="margin-top:10px!important">


                    </div>


                    <div class="row" style="margin-top:10px">
                        <div class="col-12">
                            @*<div id="gridRecipeCustom" style="max-height:200px;"></div>*@
                            <div id="gridMogViewCustomHistory" style="max-height:200px;"></div>
                        </div>

                    </div>


                    <span style="float:left; margin-top:2px!important" id="batchsearch">
                        <input type="text" id="BatchmyInput" placeholder="Search" class="search-input" title="Start typing to filter">
                        <i class="fas fa-search" style="position: relative; right: -988px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                    </span>

                    <div class="row" style="margin-top:10px!important">


                    </div>

                    <div class="row"></div>
                    <div class="row" style="margin-top:10px">
                        <div class="col-12">
                            @*<div id="gridRecipeCustom" style="max-height:200px;"></div>*@
                            <div id="gridMogViewALLHistory" style="max-height: 200px;"></div>
                        </div>

                    </div>



                    <div class="row" style="margin-top:10px!important">


                    </div>

                    <div class="row"></div>
                    <div class="row" style="margin-top:10px">
                        <div class="col-12">
                            @*<div id="gridRecipeCustom" style="max-height:200px;"></div>*@
                            <div id="GETALLMogViewALLHistoryBATCHWISE" style="max-height: 200px;"></div>
                        </div>

                    </div>

                </div>


                <div id="MOGMaster" class="col-lg-12 card direct-chat direct-chat-primary ">
                    <div class="card-header" style="padding-top:0!important;padding-left:0;">
                        @*<h3 class="card-title" style="margin-left: -12px;margin-top: 7px;">MOG Details</h3>*@
                        <div class="card-title" style="width: 59%;">
                            <div class="row">
                                <div class="col-md-4 healthcareonly" style="padding-left:0;">
                                    <label class="form-control-label">Select Color</label>
                                    <div id="msColorFilter" style="float:left;min-height: 39px;font-size:14px;">
                                        <div>
                                            <label class='checkbox-container' style='display: inline-block;padding-top:1px;margin-right: 4px;'><input type='checkbox' class='checkboxcol' id='chkColorAll' checked><span class='checkmarkgrid'></span></label>All &nbsp;&nbsp;
                                            <label class='checkbox-container' style='display: inline-block;padding-top:1px;margin-right: 4px;'><input type='checkbox' class='checkboxcol' id='chkColorContains'><span class='checkmarkgrid'></span></label>Contains &nbsp;&nbsp;
                                            <label class='checkbox-container' style='display: inline-block;padding-top:1px;margin-right: 4px;'><input type='checkbox' class='checkboxcol' id='chkColorNg'><span class='checkmarkgrid'></span></label>NG
                                            <label id="selColor" data-colorcode=""></label>
                                        </div>
                                        @*<div>
                                                <label class='checkbox-container' style='display: inline-block;padding-top:1px;margin-right: 4px;'><input type='checkbox' class='checkboxcol' id='chkColorAll2' ><span class='checkmarkgrid'></span></label>All &nbsp;&nbsp;
                                                <label class='checkbox-container' style='display: inline-block;padding-top:1px;margin-right: 4px;'><input type='checkbox' class='checkboxcol' id='chkColorContains' disabled><span class='checkmarkgrid'></span></label>Contains &nbsp;&nbsp;
                                                <label class='checkbox-container' style='display: inline-block;padding-top:1px;margin-right: 4px;'><input type='checkbox' class='checkboxcol' id='chkColorNg' checked disabled><span class='checkmarkgrid'></span></label>NG
                                                <label id="selColor2" data-colorcode=""></label>
                                            </div>
                                            <div>
                                                <label class='checkbox-container' style='display: inline-block;padding-top:1px;margin-right: 4px;'><input type='checkbox' class='checkboxcol' id='chkColorAll3' ><span class='checkmarkgrid'></span></label>All &nbsp;&nbsp;
                                                <label class='checkbox-container' style='display: inline-block;padding-top:1px;margin-right: 4px;'><input type='checkbox' class='checkboxcol' id='chkColorContains' checked disabled><span class='checkmarkgrid'></span></label>Contains &nbsp;&nbsp;
                                                <label class='checkbox-container' style='display: inline-block;padding-top:1px;margin-right: 4px;'><input type='checkbox' class='checkboxcol' id='chkColorNg' checked disabled><span class='checkmarkgrid'></span></label>NG
                                                <label id="selColor3" data-colorcode=""></label>
                                            </div>
                                            <div>
                                                <label class='checkbox-container' style='display: inline-block;padding-top:1px;margin-right: 4px;'><input type='checkbox' class='checkboxcol' id='chkColorAll4' ><span class='checkmarkgrid'></span></label>All &nbsp;&nbsp;
                                                <label class='checkbox-container' style='display: inline-block;padding-top:1px;margin-right: 4px;'><input type='checkbox' class='checkboxcol' id='chkColorContains' disabled><span class='checkmarkgrid'></span></label>Contains &nbsp;&nbsp;
                                                <label class='checkbox-container' style='display: inline-block;padding-top:1px;margin-right: 4px;'><input type='checkbox' class='checkboxcol' id='chkColorNg' disabled><span class='checkmarkgrid'></span></label>NG
                                                <label id="selColor4" data-colorcode=""></label>
                                            </div>*@
                                    </div>
                                </div>
                                <div class="col-md-8" id="sectorSelector">
                                    <label class="form-control-label">Select Sector</label>
                                    <div id="msSectorFilter" style="float:left;min-height: 39px;font-size:14px;"></div>
                                </div>
                            </div>

                        </div>
                        <div class="card-tools" style="width:39%;margin-top: 13px;">

                            <button id="btnExport" type="submit" class="btn btn-tool healthcarehide" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px;margin-top: 11px!important; padding-right: 0!important;margin-right: 5px!important;">
                                Export To Excel
                            </button>

                            <div id="elementaryRadioBtn" class="card-tools healthcareonly" style="display:none;float: left;width:100px !important;margin-left: 6px;margin-top: 12px !important;text-align: left;">
                                @*<div class="icheck-success d-inline" id="">
                                        <input type="radio" name="elementary" value="All" checked="" id="inputAll">
                                        <label for="inputAll" class="form-control-plaintext" style="display:inline!important">
                                            All
                                        </label>
                                    </div>
                                    <div class="icheck-success d-inline" id="inputElementoryDiv">
                                        <input type="radio" value="Elementory" name="elementary" id="inputElementory">
                                        <label for="inputElementory" class="form-control-plaintext" style="display:inline!important">
                                            Elementary
                                        </label>
                                    </div>
                                    <div class="icheck-success d-inline" id="inputNonElementoryDiv">
                                        <input type="radio" value="NonElementory" name="elementary" id="inputNonElementory">
                                        <label for="inputNonElementory" class="form-control-plaintext" style="display:inline!important">
                                            Non Elementary
                                        </label>
                                    </div>*@
                                <div id="msElementaryFilter" style="width:100px;"></div>

                            </div>

                            <span style="float:left" id="searchInput">
                                <input type="text" style="margin-top: 12px;height:28px!important;width:270px !important;margin-right: 0px !important;" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="position: relative; right: -260px;top: 13px;font-size: 0.8em;color: #76b4b0;"></i>
                            </span>
                            <button id="InitiateBulkChanges" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px; display:none;">
                                Apply Bulk Changes
                            </button>
                            <button id="CancelBulkChanges" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="display:none;padding-top:7px; display:none;">
                                Cancel Bulk Changes
                            </button>
                            <button id="SaveBulkChanges" type="submit" class="btn btn-success-bulk btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="display:none; margin-top:5px">
                                Save Bulk Changes
                            </button>

                            <button id="AddNew" type="submit" class="btn btn-success btn-xs healthcarehide" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="margin-top:5px; ">
                                Add New MOG
                            </button>


                        </div>
                    </div>
                    <div id="mogid" style="display:none;"></div>
                    <!-- /.card-header -->
                    <div id="fpbody" class="card-body" style="max-height: 530px;overflow-x:visible;">
                        <div id="bulkerror" class="alert alert-danger alert-dismissible" style="display:none">
                            <i class="icon fas fa-exclamation"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="success" class="alert alert-success alert-dismissible" style="display:none">
                            <i class="icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridBulkChange"></div>
                        <div id="gridMOG" style="margin-top:4px;height: 480px;"></div>
                        <div id="NationalwindowEdit">

                            <div class="container">

                                <div class="row">
                                    <div class="col-4 mogViewDiv" id="mogCodeDiv" style="min-width:85px!important">
                                        <label class="form-control-label">MOG Code</label>
                                        <label class="form-control-label" id="mogcodelabel">MOG Code</label>
                                    </div>

                                    <div class="col-4 mogViewDiv" id="mogNameDiv">
                                        <label class="form-control-label">MOG Name</label>
                                        <label class="form-control-label" id="inputmognamelabel">MOG Name</label>
                                    </div>

                                    <div class="col-2 mogViewDiv" id="mogUOMDiv">
                                        <label class="form-control-label">UOM</label>
                                        <label class="form-control-label" id="inputuomnamelabel">UOM Name</label>
                                    </div>
                                </div>

                                <div class="row ">
                                    <div class="col-4 mogEditDiv" id="mogCodeDiv" style="min-width:85px!important">
                                        <label class="form-control-label">MOG Code</label>
                                        <input type="text" id="mogcode" class="form-control" disabled />
                                    </div>

                                    <div class="col-7 mogEditDiv" id="mogNameDiv">
                                        <label class="form-control-label">MOG Name<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="inputmogname" class="form-control" disabled />
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-4 mogEditDiv" id="mogUOMDiv">
                                        <label class="form-control-label">UOM<span class="mandatoryAsterisk">*</span></label>
                                        <div id="inputuom" class="form-control" disabled></div>
                                    </div>

                                    <div class="col-7" id="mogAliasDiv">
                                        <label class="form-control-label">MOG Alias</label>
                                        <input type="text" id="inputmogalias" class="form-control" />
                                    </div>


                                </div>
                                <div class="row" style="display:none;">
                                    <div class="col-12" id="mogAliasDiv">
                                        <div style="width:96%;">  <div class="form-control-label" style="margin-bottom:0px!important;"> Start typing/Select the Sector to be Mapped with MOG</div></div>
                                        <div id="inputSectorClear" style="width: 96%;">
                                            <div style="display:none; text-align: left;" id="inputSector"></div>

                                        </div>

                                    </div>
                                </div>
                                <div class="row" style="float:right;">
                                    <div class="col-11">
                                        <button type="submit" id="NatiMogbtnCancel" class="btn btn-tool">Cancel</button>
                                        <button type="submit" id="NatiMogbtnSubmit" style="margin-top: 9px !important;" class="btn btn-info">Save</button>
                                    </div>


                                </div>

                            </div>


                        </div>



                        <div id="UploadExcelFile">

                            <div class="container">
                                <div class="row">
                                    <div class="form-control-label" style="padding-top:-2px;margin-left:8px;margin-bottom:0px!important;"> Please select the MOG-APL Mapping file to upload</div>
                                </div>

                                <div class="row">
                                    <div class="col-4" id="EXclmogCodeDiv" style="min-width:85px!important">
                                        <input type="file" id="file" class="form-control-file" accept=".xlsx" style="font-size:0.8em" />
                                    </div>
                                </div>
                                <div class="row" style="float:left;">
                                    <div class="col-11">
                                        <button id="UploadMOGExcel" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                                data-widget="chat-pane-toggle" style="margin-top:5px; ">
                                            Upload Excel
                                        </button>
                                    </div>


                                </div>

                            </div>


                        </div>


                        <div id="windowEditMOGWiseNutrient">
                            <div class="container">
                                <div class="row" style="margin-left: 2px !important;">
                                    <div class="col-2 mogViewDiv" id="mogCodeDiv" style="min-width:85px!important">
                                        <label class="form-control-label">MOG Code</label>
                                        <label class="form-control-label" id="nmogcodelabel">MOG Code</label>
                                    </div>

                                    <div class="col-6 mogViewDiv" id="mogNameDiv">
                                        <label class="form-control-label">MOG Name</label>
                                        <label class="form-control-label" id="ninputmognamelabel">MOG Name</label>
                                    </div>

                                    @*<div class="col-3 mogViewDiv" id="mogNameDiv">
                        <label class="form-control-label">MOG Alias</label>
                        <label class="form-control-label" id="ninputmogaliaslabel"></label>
                    </div>*@

                                    <div class="col-1 mogViewDiv" id="mogUOMDiv">
                                        <label class="form-control-label">UOM</label>
                                        <label class="form-control-label" id="ninputuomnamelabel"></label>
                                    </div>
                                    <div class="col-1 mogEditDiv" id="mogCodeDiv" style="min-width:85px!important">
                                        <label class="form-control-label">Nutrition Value</label>
                                        <label class="form-control-label"><span id="mogquantity">100</span><span> gm</span></label>
                                        @*<input type="text" id="mogquantity" class="form-control" />*@
                                    </div>

                                </div>


                                <div class="row" sstyle="margin-top: -23px !important;">

                                    <div style="width:35%;"> </div>
                                    <div style="width:65%;float:right;">
                                        <div class="card-header" style="margin-top: -41px !important;">
                                            <div id="actionRegion" class="card-tools">



                                                <button id="btnDrft" type="submit" class="btn  btn-info" style="margin-top:7px!important" onclick="saveAll()">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-12" style="max-width: 99.5% !important;">
                                        <div id="gridMOGWiseNutrients"></div>

                                        <div id="windowEditMOGWiseAllergen" style="display:none;min-height: 200px;">
                                            <div class="container">
                                                <div id="error" class="alert alert-danger alert-dismissible" style="display:none">
                                                    <i class="icon fas fa-exclamation"></i>
                                                    <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                                    </p>
                                                </div>
                                                <div class="row" style="padding-top: 10px!important">
                                                    <div class="col-3">
                                                        <label class="form-control-label">MOG Code</label>
                                                        <label id="aMOGCode" class="form-control-label"></label>
                                                    </div>
                                                    <div class="col-5">

                                                        <label class="form-control-label">MOG Name</label>
                                                        <label id="aMOGName" class="form-control-label"></label>
                                                    </div>
                                                    <div class="col-2">

                                                        <label class="form-control-label">UOM</label>
                                                        <label id="aUom" class="form-control-label"></label>
                                                    </div>
                                                </div>

                                                <div class="row" style="margin-top:15px!important">
                                                    <div class="col-12">
                                                        <div style="width:96%;">  <div class="form-control-label" style="margin-bottom:0px!important;"> Start typing/Select Allergen(s) Contain to be mapped with MOG</div></div>
                                                        <div id="inputAllergenContainsClear" style="width: 96%;">
                                                            <div style="display:block; text-align: left;" id="inputAllergenContains"></div>

                                                        </div>
                                                    </div>
                                                    <div class="col-12" style="margin-top:16px;">
                                                        <div style="width:96%;">  <div class="form-control-label" style="margin-bottom:0px!important;"> Start typing/Select Allergen(s) May Contain to be mapped with MOG</div></div>
                                                        <div id="inputAllergenMayContainsClear" style="width: 96%;">
                                                            <div style="display:block; text-align: left;" id="inputAllergenMayContains"></div>

                                                        </div>
                                                    </div>
                                                </div>



                                                <div style="margin-top:10px;margin-bottom:10px!important;">
                                                    <div class="modal-footer col" style="padding-right:7.5px!important; align-items:flex-end!important">
                                                        <button type="submit" id="abtnCancel" class="btn btn-tool">Cancel</button>
                                                        <button type="submit" id="abtnSubmit" class="btn btn-info">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div id="windowEditMOGChangeConfirm">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 alert alert-danger alert-dismissible" style="height: 145px;padding: 0.1rem 0rem 0rem 0.2rem !important;">
                                        <span style="font-size:14px;">
                                            Do you really want to change the Name from  (<span class="oldmogname">Ajwain Whole</span>) from the system?
                                            <br />
                                            Please view the MOG dependencies. After changing, the ‘<span class="newmogname">Ajwain Leaf</span>’ will start appearing in the below listed Recipe configuration in place of ‘<span>Ajwain Whole</span>’.
                                            <br />
                                            <br />
                                            However, an email notification will be sent to the respective Site Manager and Chef for this change. Click on ‘Proceed’ to change the MOG Name.
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="modal-footer col-7" style="margin-top:10px !important">
                                        <button type="submit" id="btnViewDependencies" class="btn btn-info">View Dependencies</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="windowEditMOGDependencies">
                            <div class="container">
                                <div class="row" id="mogMsg">

                                    <div class="col-12">
                                        <div id="mogNameChangeMsgDiv" class="alert alert-danger alert-dismissible" style="height: auto; display:none; padding: 0.1rem 0rem 0rem 0.2rem !important;width: 98%;">
                                            Do you really want to change the MOG Name (<span class="oldmogcode">MOG-0004</span>) from ‘<span class="oldmogname">Ajwain Whole</span>’ to ‘<span class="newmogname">Ajwain Leaf</span>’ in the system?
                                            Please see the MOG references below. After changing, the ‘<span class="newmogname">Ajwain Leaf</span>’ will start appearing in the below listed Recipe
                                            configuration in place of ‘<span class="oldmogname">Ajwain Whole</span>’. However, an email notification will be sent to the respective Site Manager
                                            and Chef for this change. Click on ‘Proceed’ to change the MOG Name.
                                        </div>

                                        <div id="mogInactiveMsgDiv" class="alert alert-danger alert-dismissible" style="height: auto;display:none;padding: 0.1rem 0rem 0rem 0.2rem !important;width: 98%;">
                                            Do you really want to <span class="mogDepStatus"></span>  ‘<span class="oldmogname">Ajwain Leaf</span>’ in the system?
                                            Please see the MOG references below. After  <span class="mogDepStatus"></span>, the dependant Recipes and Dishes will get blocked at the Respective Sites and the email notification will be sent to the respective Site Manager.
                                            Click on ‘Proceed’ to apply the change or 'Cancel' to discard the change.
                                        </div>

                                        <div id="mogAPLMappingMsgDiv" class="alert alert-danger alert-dismissible" style="height: auto;display:none;padding: 0.1rem 0rem 0rem 0.2rem !important;width: 98%;">
                                            Do you really want to change ‘<span class="oldmogname">Ajwain Leaf</span>’ MOG-APL Mapping in the system?
                                            Please see the MOG references below. After change mapping the dependant Recipes and Dishes will get blocked at the Respective Sites and the email notification will be sent to the respective Site Manager.
                                            Click on ‘Proceed’ to apply the change or 'Cancel' to discard the change.
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px !important;">
                                    <div class="col-12 col-sm-6 col-md-2 info-box-padding">
                                        <div class="info-box">

                                            <div class="info-box-content">
                                                <span id="totalImapactedBaseRecipes" class="info-box-number text-center">
                                                    3
                                                </span>
                                                <span class="info-box-text text-center">Total Base Recipes</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-12 col-sm-6 col-md-2 info-box-padding">
                                        <div class="info-box mb-3">
                                            <div class="info-box-content">
                                                <span id="totalImapactedFinalRecipes" class="info-box-number text-center">
                                                    5
                                                </span>
                                                <span class="info-box-text text-center">Total Final Recipes</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                    <!-- /.col -->
                                    <!-- fix for small devices only -->
                                    <div class="clearfix hidden-md-up"></div>

                                    <div class="col-12 col-sm-6 col-md-2 info-box-padding">
                                        <div class="info-box mb-3">
                                            <div class="info-box-content">
                                                <span id="totalImapactedDishes" class="info-box-number text-center">
                                                    5
                                                </span>
                                                <span class="info-box-text text-center">Total Dishes</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-12 col-sm-6 col-md-2 info-box-padding">
                                        <div class="info-box mb-3">
                                            <div class="info-box-content">
                                                <span id="totalImapactedItems" class="info-box-number text-center">
                                                    4
                                                </span>
                                                <span class="info-box-text text-center">Total Menu Items</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-12 col-sm-6 col-md-2" style="padding-left:9px;">
                                        <div class="info-box mb-3">
                                            <div class="info-box-content">
                                                <span id="totalImapactedSites" class="info-box-number text-center">
                                                    2
                                                </span>
                                                <span class="info-box-text text-center">Impact on Sites</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                </div>
                                <div class="row dependencies-scroll">
                                    <!-- Base Recipies -->
                                    <div class="col-12">
                                        <h6>Impacted Base Recipes</h6>
                                        <div id="baseRecipeGrid"></div>
                                    </div>
                                    <!-- Final Recipes -->
                                    <div class="col-12">
                                        <h6>Impacted Final Recipes</h6>
                                        <div id="finalRecipeGrid"></div>
                                    </div>
                                    <!-- Dishes -->
                                    <div class="col-12">
                                        <h6>Impacted Dishes</h6>
                                        <div id="dishGrid"></div>
                                    </div>
                                    <!-- Items -->
                                    <div class="col-12">
                                        <h6>Impacted Items</h6>
                                        <div id="itemGrid"></div>
                                    </div>
                                    <!-- Sites -->
                                    <div class="col-12" style="display:none;">
                                        <h6>Impacted Sites</h6>
                                        <div id="siteGrid"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="modal-footer col-12" style="margin-top:10px !important">
                                        <button type="submit" id="btnDoLater" class="btn btn-tool">No Shall do it later</button>
                                        <button type="submit" id="btnAgree" style="display:none;" class="btn btn-info">
                                            I understand the impact, Proceed
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                    <!-- /.card-body -->
                    @Html.Partial("~/Views/MOG/_MogAplImpacts.cshtml")


                    <!-- /.card-footer-->
                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
@*Krish 18-10-2022*@
<div id="RangeTypeMOGwindowEdit" style="display:none;min-height: 200px;">
    <div class="container">
        <div id="error" class="alert alert-danger alert-dismissible" style="display:none">
            <i class="icon fas fa-exclamation"></i>
            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
            </p>
        </div>
        <div class="row" style="padding-top: 10px!important">
            <div class="col-3">
                <label class="form-control-label">MOG Code</label>
                <label id="rtMOGCode" class="form-control-label"></label>
            </div>
            <div class="col-5">

                <label class="form-control-label">MOG Name</label>
                <label id="rtMOGName" class="form-control-label"></label>
            </div>
            <div class="col-2">

                <label class="form-control-label">UOM</label>
                <label id="rtUom" class="form-control-label"></label>
            </div>
        </div>
        <div class="row" style="padding-top: 10px!important">
            <div class="col-12">
                <label class="form-control-label">Process<span class="mandatoryAsterisk">*</span></label>
                <input id="inputmultiProcess" class="form-control" />
            </div>

        </div>

        <div class="row" style="padding-top: 10px!important;display:none;" id="divDisinfection">
            <div class="col-6">
                <label class="form-control-label" id="lblDisinfection">Disinfection</label>
                <label class="form-control-label">Std Duration<span class="mandatoryAsterisk">*</span></label>
                <input id="inputStdDuration" class="form-control" type="number"/>
            </div>
        </div>
        <div class="row" style="padding-top: 10px!important;display:none;" id="divThwaing">
            <div class="col-6">
                <label class="form-control-label" id="lblThwaing">Thwaing</label>
                <label class="form-control-label">Range Type<span class="mandatoryAsterisk">*</span></label>
                <input id="rtRangeType" class="form-control" />
            </div>
        </div>

        @*<div class="row" style="padding-top:10px;">
            
            <div class="col-6">
                <label class="form-control-label">Range Type<span class="mandatoryAsterisk">*</span></label>
                <input id="rtRangeType" class="form-control" type="text" />
            </div>

        </div>*@
        <div style="margin-top:10px;margin-bottom:10px!important;">
            <div class="modal-footer col" style="padding-right:7.5px!important; align-items:flex-end!important">
                <button type="submit" id="rtbtnCancel" class="btn btn-tool">Cancel</button>
                <button type="submit" id="rtbtnSubmit" class="btn btn-info">Save</button>
            </div>
        </div>
    </div>
</div>
<div id="videoPlayingDiv" style="display:none;">
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 5px;">
            <video id="videoclip" width="990" height="550" controls="controls" style="border:1px solid lightgrey;" disablePictureInPicture controlsList="nodownload noplaybackrate" oncontextmenu="return false;">
                <source id="mp4video" src="#" type="video/mp4" />
            </video>
        </div>
    </div>
</div>

