﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <title>CookBook</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")


    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/Content/Custom.css" rel="stylesheet" />*@
    <link href="~/Content/css/styles.css" rel="stylesheet" />

    <link href="@Url.Content("~/Content/kendo/2016.1.412/kendo.bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2016.1.412/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.412/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.412/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.412/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.412/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />



    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


    <script src="~/Scripts/select.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>


    <script src="@Url.Content("~/Scripts/kendo/2016.1.412/angular.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.1.412/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.1.412/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.1.412/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/HTTP/HttpClient.js")"></script>
    <script src="@Url.Content("~/Scripts/Utility/Utility.js")"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div class="container">
        <div class="top-bar">
            <span id="city"></span>
        </div>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top banner">
            <div class="row">
                <div class="col-sm-12" style="text-align:center">
                    <a href="@Url.Action("Index", "Home")" class="brand-link" style="border-bottom:none!important;">
                        <img src="~/Content/Images/logo_long_dist.png" alt="CookBook" class="brand-image"
                             style="opacity: .8">
                        <span class="brand-text font-weight-light"></span>
                    </a>
                </div>
            </div>
        </nav>

        <div class="modal fade" id="confirmbox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
            <div class="modal-dialog" style="width:30%">
                <div class="modal-content">
                    <div class="modal-header">
                        <p id="confirmHeader" class="p-alert">Alert</p>
                    </div>
                    <div class="modal-body">
                        <p id="confirmMessage">Any confirmation message?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="org-btn save-btn" id="confirmOk">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirmbox_optional" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;z-index:1050;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <p id="confirmHeader_Optional" class="p-alert">Alert</p>
                    </div>
                    <div class="modal-body">
                        <p id="confirmMessage_Optional">Any confirmation message?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="org-btn save-btn width100" id="confirm_Ok">Ok</button>
                        @*<button class="btn btn-primary width100" id="confirm_No">Cancel</button>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirmSave_Box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;z-index:1150; width:100%; align-self:center;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <p id="confirmSave_Header" class="p-alert">Alert</p>
                    </div>
                    <div class="modal-body">
                        <p id="confirmSave_Message">Any confirmation message?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="org-btn save-btn" id="confirmSave_Ok">Ok</button>
                        <button class="clear-btn" id="confirmSave_No">Cancel</button>
                    </div>
                </div>
            </div>
            <a href="~/Views/Home/Error404.cshtml">~/Views/Home/Error404.cshtml</a>
        </div>
        <div class="text-center err-box" style="margin-top:60px!important">
            <img src="~/Content/Images/warning.png" />
            <p class="err"> Oops! The page you are looking for doesn't exist.<br /> Please contact Compass IT-Helpdesk for access.</p>
        </div>
        <div id="overlay"></div>
        <div id="preloader"></div>
    </div>
</body>
</html>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('#confirmSave_Box').on('shown.bs.modal', function (e) {
            $("#confirmSave_Ok").focus();
        });
        $('#confirmbox').on('shown.bs.modal', function (e) {
            $("#confirmOk").focus();
        });
    });
</script>