﻿@using CookBook.Data.UserData;
@{
    ViewBag.Title = "My Page";
    UserMasterResponseData userData = (UserMasterResponseData)Session["UserLoginDetails"];
}
<style>
    .img-container {
        text-align: center;
        display: block;
        padding-top: 200px;
    }
</style>
@{
    var isCookBookPlay = Convert.ToBoolean(System.Configuration.ConfigurationManager.AppSettings["IsCookBookPlay"]);
    if (isCookBookPlay)
    {
        <script>
            toastr.error("Welcome to CookBook Demo! Learn the tool by using it!");
        </script>
    }
}
<section id="ImageSectionMain">
    <div class="container-fluid">
        <center>
            @if (userData !=null && userData.SectorNumber == "80")
            {
            <div class="img-container center-block" id="img-container-bloom" style="margin-top:60px;padding-top:100px !important">
                <img src="~/Content/Images/Bloom_Logo.jpg" style="width: 600px" />
            </div>
            }
            else
            {
                <div class="img-container center-block" id="img-container-cookbook" style="margin-top:34px;">
                    <img src="~/Content/Images/logo_short.png" style="width: 200px" />
                </div>
            }
            <div class="img-container center-block" id="img-container-bloom" style="padding-top: 90px;">
                <img src="~/Content/Images/compass-logo.png" style="width: 150px;">
            </div>
        </center>


    </div>
</section>
<div class="modal-body" id="partialcolordiv">
    @*@Html.Partial("_ColorPartial")*@
</div>