﻿

<style>
    .img-container {
        text-align: center;
        display: block;
        padding-top: 200px;
    }
</style>
@{
    var isCookBookPlay = Convert.ToBoolean(System.Configuration.ConfigurationManager.AppSettings["IsCookBookPlay"]);
    if (isCookBookPlay)
    {
        <script>
            toastr.error("Welcome to CookBook Demo! Learn the tool by using it!");
        </script>
    }
}
<section id="ImageSectionMainRegion">
    <div class="container-fluid">
        <center>
            <div class="img-container" class="center-block" style="margin-top:100px;">
                <img src="~/Content/Images/logo_short.png" width="200px" />

            </div>
        </center>
    </div>
</section>

<div class="modal-body" id="partialcolordivRegion">
    @*@Html.Partial("_ColorPartial")*@
</div>