﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotAuthenticated</title>
</head>
<body>
    <div>
        <span> You are not authorized to view this application. Please consult your IT Administrator for access.</span>
    </div>
</body>
</html>
