﻿
<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetFoodProgramDataList: "@Url.Action("GetFoodProgramDataList", "CookBookMaster")",
        GetApplicationSettingDataList: "@Url.Action("GetApplicationSettingDataList", "Setting")",
        SaveApplicationSettingData: "@Url.Action("SaveApplicationSettingData", "Setting")",
        SaveCafeDataList: "@Url.Action("SaveCafeDataList", "Setting")",
        ChangeStatus: "@Url.Action("SaveAddNewUser", "UserMaster")",
        SaveAddNewUser: "@Url.Action("SaveAddNewUser", "UserMaster")",
        GetConceptType2DataList: "@Url.Action("GetConceptType2DataList", "CookBookMaster")",
                GetDayPartDataList: "@Url.Action("GetDayPartDataList", "CookBookMaster")",
        SaveFoodProgramDayPartMappingDataList: "@Url.Action("SaveFoodProgramDayPartMappingDataList", "Item")",
        GetFoodProgramDayPartMappingDataList: "@Url.Action("GetFoodProgramDayPartMappingDataList", "Item")",

    }
</script>

<script src="~/Scripts/CookBook/UserMaster.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />
<style>

    .slider {
        top: 6px !important;
        bottom: -6px !important;
    }
</style>
@{
    ViewBag.Title = "User Masters";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div id="SiteMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;">Add New Users</h3>
                        <div class="card-tools" style="margin-top: -6px;">
                            <span style="float:left; margin-top:2px!important">
                                <input type="text" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="    position: relative; right: -277px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                            </span>
                            <button id="Addnewuser" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="margin-top:5px">
                                Add New User
                            </button>
                        </div>
                    </div>
                    <div id="fpid" style="display:none;"></div>
                    <!-- /.card-header -->
                    <div id="fpbody" class="card-body">


                        <div id="gridFoodProgram"></div>
                        <div id="AdUserwindowEdit" style="display:none;">
                            <div class="container">
                                <div class="row" style="padding-top: 10px!important">
                                   
                                    <div class="col-4">
                                        <label class="form-control-label"> Email-ID<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="NewUserEmail" class="form-control" />
                                    </div>
                                   
                                </div>
                                
                               
                             
                                <div class="row" style="margin-top:10px;margin-bottom:15px;">
                                    <div class="modal-footer col-12" style="padding-right:7.5px!important; align-items:flex-end!important">
                                        <button type="submit" id="Usercancel" class="btn btn-tool">Cancel</button>
                                        <button type="submit" id="AddUser" class="btn btn-info">Save</button>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>
                    <!-- /.card-body -->

                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<div id="videoPlayingDiv" style="display:none;">
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 5px;">
            <video id="videoclip" width="990" height="550" controls="controls" style="border:1px solid lightgrey;" disablePictureInPicture controlsList="nodownload noplaybackrate" oncontextmenu="return false;">
                <source id="mp4video" src="#" type="video/mp4" />
            </video>
        </div>
    </div>
</div>
