﻿@using CookBook.Data.UserData
@{ 
    UserMasterResponseData userData = (UserMasterResponseData)Session["UserLoginDetails"];
}

<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetFoodProgramDataList: "@Url.Action("GetFoodProgramDataList", "CookBookMaster")",
        GetDishCategoryDataList: "@Url.Action("GetDishCategoryDataList", "CookBookMaster")",
        GetDishCategorySiblingDataList: "@Url.Action("GetDishCategorySiblingDataList", "Dish")",
        SaveApplicationSettingData: "@Url.Action("SaveApplicationSettingData", "Setting")",
        SaveCafeDataList: "@Url.Action("SaveCafeDataList", "Setting")",
        ChangeStatus: "@Url.Action("SaveFoodProgram", "CookBookMaster")",
        SaveFoodProgram: "@Url.Action("SaveFoodProgram", "CookBookMaster")",
        GetConceptType2DataList: "@Url.Action("GetConceptType2DataList", "CookBookMaster")",
        SaveDishCategory: "@Url.Action("SaveDishCategory", "CookBookMaster")",
        GetDayPartDataList: "@Url.Action("GetDayPartDataList", "CookBookMaster")",
        GetSubSectorMasterList: "@Url.Action("GetSubSectorMasterList", "Item")",
    }
</script>

<script src="~/Scripts/CookBook/DishCategory.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />
<style>

    #DishwindowEdit{
        overflow-y:scroll !important;
    }

    .slider {
        top: 6px !important;
        bottom: -6px !important;
    }
    .k-grid-filter.k-state-active {
        background-color: #ddd !important;
    }
</style>
@{
    ViewBag.Title = "Dish Category";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div id="SiteMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;"></h3>
                        <div class="card-tools" style="margin-top: -6px;">
                            <span style="float:left; margin-top:2px!important">
                                <input type="text" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="    position: relative; right: -277px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                            </span>
                            <button id="dcaddnew" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="margin-top:5px">
                                Add New
                            </button>
                        </div>
                    </div>
                    <div id="dcid" style="display:none;"></div>
                    <!-- /.card-header -->
                    <div id="dcbody" class="card-body">


                        <div id="gridDishCategory"></div>

                        @if (userData.SectorNumber == "80")
                        {
                            <div id="DishwindowEdit" style="display:none;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-2 allsector">
                                            <label class="form-control-label">Code</label>
                                            <input type="text" id="dccode" class="form-control" disabled />

                                        </div>
                                        <div class="col-9">

                                            <label class="form-control-label"> Name<span class="mandatoryAsterisk">*</span></label>
                                            <input style="width:95% !important;" type="text" id="dcname" class="form-control" />

                                        </div>
                                    </div>

                                    <div class="row" style="display:none;">
                                        <div class="col-2">
                                            <label class="form-control-label">Sibling Code</label>
                                            <input type="text" id="sbcode" class="form-control" disabled />

                                        </div>
                                        <div class="col-6">

                                            <label class="form-control-label">Mealtime</label>
                                            <div id="inputdaypart" class="form-control"></div>

                                        </div>



                                    </div>


                                    <div class="row" style="margin-top:15px!important">
                                        <div class="col-11">
                                            <div style="width:100%;">  <div class="form-control-label" style="margin-bottom:0px!important;"> Start typing/Select DishCategory Subling to be mapped with Dish Category</div></div>
                                            <div id="inputdishcategoryclear" style="width: 100%;">
                                                <div style="text-align: left;" id="inputdishcategory"></div>

                                            </div>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-11">

                                            <button type="submit" id="dcsubmit" class="btn btn-info btn-new-save">Save</button>

                                            <button type="submit" id="dccancel" class="btn btn-tool btn-new-cancel">Cancel</button>
                                        </div>


                                    </div>

                                </div>
                                </div>
                        }
                        else
                        {
                            <div id="DishwindowEdit" style="display:none;">
                                <div class="container">
                                    <div class="first-input">
                                        <div>
                                            <label class="form-control-label">Code</label>
                                            <input type="text" id="dccode" class="form-control" disabled />
                                        </div>


                                    </div>
                                    <div class="first-input">
                                        <div>
                                            <label class="form-control-label"> Name<span class="mandatoryAsterisk">*</span></label>
                                            <input type="text" id="dcname" class="form-control" />
                                        </div>
                                    </div>
                                    @if (userData.SectorNumber == "10")
                                    {
                                        <div class="first-input" >
                                            <div>
                                                <label class="form-control-label">Sub Sector Type<span class="mandatoryAsterisk">*</span></label>
                                                <div id="inputsubsector" class="form-control"></div>
                                            </div>
                                        </div>
                                    }
                                    <div class="first-input">
                                        <div>

                                            <button type="submit" id="dcsubmit" class="btn btn-info btn-new-save">Save</button>

                                            <button type="submit" id="dccancel" class="btn btn-tool btn-new-cancel">Cancel</button>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        }

                    </div>
                    <!-- /.card-body -->
                  
                    <!-- /.card-footer-->
                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<div id="videoPlayingDiv" style="display:none;">
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 5px;">
            <video id="videoclip" width="990" height="550" controls="controls" style="border:1px solid lightgrey;" disablePictureInPicture controlsList="nodownload noplaybackrate" oncontextmenu="return false;">
                <source id="mp4video" src="#" type="video/mp4" />
            </video>
        </div>
    </div>
</div>