﻿<script>

    var CookBookMasters = {
          GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
          SaveExpiryCategory: "@Url.Action("SaveExpiryCategory", "CookBookMaster")",
          GetExpiryCategoryDataList: "@Url.Action("GetExpiryCategoryDataList", "CookBookMaster")",
          GetShelfLifeUOMDataList: "@Url.Action("GetShelfLifeUOMDataList", "CookBookMaster")",

    }
</script>

<script src="~/Scripts/CookBook/ExpiryCategory.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />
<style>

    .slider {
        top: 6px !important;
        bottom: -6px !important;
    }
</style>
@{
    ViewBag.Title = "Expiry Category Master";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div id="SiteMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 id="ct" class="card-title" style="margin-left: -17px;"></h3>
                        <div class="card-tools" style="margin-top: -6px;">
                            <span style="float:left; margin-top:2px!important">
                                <input type="text" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="    position: relative; right: -277px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                            </span>
                            <button id="dpaddnew" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="margin-top:5px">
                                Add New
                            </button>
                        </div>
                    </div>
                    <div id="dpid" style="display:none;"></div>
                    <!-- /.card-header -->
                    <div id="dpbody" class="card-body">


                        <div id="gridExpiryCategory"></div>
                        <div id="ReaswindowEdit" style="display:none;">
                            <div class="container">
                                <div class="first-input">
                                    <div>
                                        <label class="form-control-label">Code</label>
                                        <input type="text" id="dpcode" class="form-control" disabled />
                                    </div>


                                </div>
                                <div class="first-input">
                                    <div>
                                        <label class="form-control-label"> Expiry Category Name<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="dpname" class="form-control" />
                                    </div>
                                </div>
                                <div class="first-input">
                                    <div>
                                        <label class="form-control-label"> Shelf Life<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="dpshelflife" class="form-control" />
                                    </div>
                                </div>
                                <div id="hiderow" class="first-input">
                                    <div>
                                        <label class="form-control-label"> Shelf Life UOM<span class="mandatoryAsterisk">*</span></label>
                                        <div id="dpShelfLifeUOM" class="form-control" />
                                    </div>
                                </div>
                                <div class="first-input">
                                    <div style="margin-bottom:45px;">

                                        <button type="submit" id="secredpsubmit" class="btn btn-info btn-new-save">Save</button>

                                        <button type="submit" id="secredpcancel" class="btn btn-tool btn-new-cancel">Cancel</button>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->

                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>

<div id="videoPlayingDiv" style="display:none;">
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 5px;">
            <video id="videoclip" width="990" height="550" controls="controls" style="border:1px solid lightgrey;" disablePictureInPicture controlsList="nodownload noplaybackrate" oncontextmenu="return false;">
                <source id="mp4video" src="#" type="video/mp4" />
            </video>
        </div>
    </div>
</div>