﻿<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetFoodProgramDataList: "@Url.Action("GetFoodProgramDataList", "CookBookMaster")",
        GetApplicationSettingDataList: "@Url.Action("GetApplicationSettingDataList", "Setting")",
        SaveApplicationSettingData: "@Url.Action("SaveApplicationSettingData", "Setting")",
        SaveCafeDataList: "@Url.Action("SaveCafeDataList", "Setting")",
        ChangeStatus: "@Url.Action("SaveFoodProgram", "CookBookMaster")",
        SaveFoodProgram: "@Url.Action("SaveFoodProgram", "CookBookMaster")",
        GetConceptType2DataList: "@Url.Action("GetConceptType2DataList", "CookBookMaster")",
                GetDayPartDataList: "@Url.Action("GetDayPartDataList", "CookBookMaster")",
        SaveFoodProgramDayPartMappingDataList: "@Url.Action("SaveFoodProgramDayPartMappingDataList", "Item")",
        GetFoodProgramDayPartMappingDataList: "@Url.Action("GetFoodProgramDayPartMappingDataList", "Item")",

    }
</script>

<script src="~/Scripts/CookBook/FoodProgram.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />
<style>

    .slider {
        top: 6px !important;
        bottom: -6px !important;
    }

   .item-photo {
    display: inline-block;
    box-shadow: none !important;
    margin: 0 -2px 0;
    width: 40px !important;
    height: 40px;
    border-radius: 3%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
}
</style>
@{
    ViewBag.Title = "Food Program";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div id="SiteMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;"></h3>
                        <div class="card-tools" style="margin-top: -6px;">
                            <span style="float:left; margin-top:2px!important">
                                <input type="text" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="    position: relative; right: -277px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                            </span>
                            <button id="fpaddnew" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="margin-top:5px">
                                Add New
                            </button>
                        </div>
                    </div>
                    <div id="fpid" style="display:none;"></div>
                    <!-- /.card-header -->
                    <div id="fpbody" class="card-body">

                        
                        <div id="gridFoodProgram"></div>
                        <div id="FDwindowEdit" style="display:none;">
                            <div class="container">
                                <div class="row" style="padding-top: 10px!important">
                                    <div class="col-2">
                                        <label class="form-control-label">Code</label>
                                        <input type="text" id="fpcode" class="form-control" disabled />
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label"> Name<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="fpname" class="form-control" />
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label"> Type<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="fptype" class="form-control" />
                                    </div>
                                </div>
                                <div class="row" style="padding-top:10px">
                                    <div class="col-6">
                                        <label class="form-control-label"> Description</label>
                                        <input type="text" id="fpdesc" class="form-control" />
                                    </div>
                                    <div class="col-4">

                                        <label class="form-control-label">  Food Program Image</label>

                                        <input type="file" id="file" class="form-control-file" accept=".png" style="font-size:0.8em" />
                                        <small>(upload .png or .jpg files only)</small>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-12" id="mogAliasDiv">
                                        <div style="width:96%;">  <div class="form-control-label" style="margin-bottom:0px!important;"> Start typing/Select the <span id="mtype">Service Type</span> to be Mapped with Food Program </div></div>
                                        <div id="fpdaypartClear" style="width: 96%;">
                                            <div style="display:block; text-align: left;" id="inputdaypart"></div>

                                        </div>

                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px">
                                    <div class="col-12">
                                        <label class="form-control-label">
                                            Image Preview
                                            @*<span style="float:right;margin-top:-3px" id="removeImage">
                                                <span class="smallGreen">
                                                    <i class="far fa-times-circle"></i>
                                                </span>
                                            </span>*@
                                        </label>
                                        <img id="image" alt="" style="min-height:90px; max-height:90px; border:1px dashed gray" />
                                        
                                    </div>
                                    <button type="submit" id="removeImage"  class="btn btn-tool">Remove Image</button>
                                </div>


                                    <div class="row" style="margin-top:10px;margin-bottom:15px;">
                                        <div class="modal-footer col-12" style="padding-right:7.5px!important; align-items:flex-end!important">
                                            <button type="submit" id="fpcancel" class="btn btn-tool">Cancel</button>
                                            <button type="submit" id="fpsubmit" onclick="Utility.Loading(); fpSubmit();" class="btn btn-info">Save</button>
                                        </div>
                                    </div>

                                </div>



                            </div>
                    </div>
                    <!-- /.card-body -->
                 
                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<div id="videoPlayingDiv" style="display:none;">
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 5px;">
            <video id="videoclip" width="990" height="550" controls="controls" style="border:1px solid lightgrey;" disablePictureInPicture controlsList="nodownload noplaybackrate" oncontextmenu="return false;">
                <source id="mp4video" src="#" type="video/mp4" />
            </video>
        </div>
    </div>
</div>