﻿<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetConceptType1DataList: "@Url.Action("GetConceptType1DataList", "CookBookMaster")",
        GetConceptType2DataList: "@Url.Action("GetConceptType2DataList", "CookBookMaster")",
        GetConceptType3DataList: "@Url.Action("GetConceptType3DataList", "CookBookMaster")",
        GetConceptType4DataList: "@Url.Action("GetConceptType4DataList", "CookBookMaster")",
        GetConceptType5DataList: "@Url.Action("GetConceptType5DataList", "CookBookMaster")",
        GetDietCategoryDataList: "@Url.Action("GetDietCategoryDataList", "CookBookMaster")",
        GetUOMDataList: "@Url.Action("GetUOMDataList", "CookBookMaster")",
        GetDishCategoryList: "@Url.Action("GetDishCategoryList", "NationalItem")",
        GetDishList: "@Url.Action("GetDishDataList", "NationalItem")",
        GetFoodProgramDataList: "@Url.Action("GetFoodProgramDataList", "CookBookMaster")",
        GetItemType1DataList: "@Url.Action("GetItemType1DataList", "CookBookMaster")",
        GetItemType2DataList: "@Url.Action("GetItemType2DataList", "CookBookMaster")",
        GetServewareDataList: "@Url.Action("GetServewareDataList", "CookBookMaster")",
        GetVisualCategoryDataList: "@Url.Action("GetVisualCategoryDataList", "CookBookMaster")",
        GetItemDataList: "@Url.Action("GetItemDataList", "NationalItem")",
        GetItemDishMappingDataList: "@Url.Action("GetItemDishMappingDataList", "NationalItem")",
        GetItemDishCategoryMappingDataList: "@Url.Action("GetItemDishCategoryMappingDataList", "NationalItem")",
        GetNationalItemDishCategoryMappingDataList: "@Url.Action("GetNationalItemDishCategoryMappingDataList", "NationalItem")",
        SaveItemData: "@Url.Action("SaveItemData", "NationalItem")",
        SaveItemDataList: "@Url.Action("SaveItemDataList", "NationalItem")",
        SaveItemDishMappingDataList: "@Url.Action("SaveItemDishMappingDataList", "NationalItem")",
        SaveItemDishCategoryMappingDataList: "@Url.Action("SaveItemDishCategoryMappingDataList", "NationalItem")",
         GetSubSectorMasterList: "@Url.Action("GetSubSectorMasterList", "NationalItem")"
    }
</script>

<script src="~/Scripts/CookBook/NationalItem.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />
<style>
    .k-grid-filter.k-state-active {
        background-color: #dedada !important;
    }
    .serv {
        font-size: 0.8em;
        line-height: 21px;
        padding: 8px 0px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .k-button, .k-state-hover, .k-button:hover {
        color: #e2e2e2;
        border-color: none;
        background-color: transparent;
        box-shadow: none !important;
    }

        .k-button.k-state-active, .k-button:active {
            color: #e2e2e2;
            border-color: none !important;
            background-color: transparent !important;
            box-shadow: none !important;
        }

        .k-button.k-state-focus, .k-button:focus {
            box-shadow: none !important;
        }

        .k-button.k-state-active:hover, .k-button:active:hover {
            box-shadow: none !important;
            background-color: transparent !important;
            border: none !important;
        }

    .k-grid-MapDishes {
        cursor: pointer !important;
    }

    .k-dropdown-wrap.k-state-border-down {
        border-bottom-width: 1px;
        padding-bottom: 0;
        border-radius: 4px;
    }
    .k-grid-View {
        color: #76B4B0!important
    }

    .k-grid .k-grid-toolbar .k-grid-add,
    .k-grid tbody .k-grid-edit,
    .k-grid tbody .k-grid-update,
    .k-grid tbody .k-grid-cancel,
    .k-grid tbody .k-grid-delete {
        min-width: 0;
    }

        .k-grid .k-grid-toolbar .k-grid-add .k-icon,
        .k-grid tbody .k-grid-edit .k-icon,
        .k-grid tbody .k-grid-update .k-icon,
        .k-grid tbody .k-grid-cancel .k-icon,
        .k-grid tbody .k-grid-delete .k-icon {
            margin: 0;
        }

    /*#gridItem {
        border-width: 0;
        height: 100%;*/ /* DO NOT USE !important for setting the Grid height! */
    /*}*/
    body {
        overflow-y: hidden;
    }
</style>

@{
    ViewBag.Title = "Sector Menu Configuration";
}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div style="display:block;" id="ItemMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -10px;margin-top:3px;"></h3>

                        <div class="card-tools" style="margin-top: -6px;">
                            <span style="float:left; margin-top:6px!important;width:200px;" id="dietcategorysearch"></span>
                            <span style="float:left; margin-top:2px!important">
                                <input type="text" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="    position: relative; right: -277px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                            </span>
                            <button id="btnExport" type="submit" class="btn btn-tool canbeexported" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle">
                                Export To Excel
                            </button>
                            @*<button id="InitiateBulkChanges" type="submit" class="btn btn-tool canbebulkchanged" data-toggle="tooltip" title=""
                                        data-widget="chat-pane-toggle">
                                    Apply Bulk Changes
                                </button>
                                <button id="CancelBulkChanges" type="submit" class="btn btn-tool canbebulkchanged" data-toggle="tooltip" title=""
                                        data-widget="chat-pane-toggle" style="display:none;">
                                    Cancel Bulk Changes
                                </button>
                                <button id="SaveBulkChanges" type="submit" class="btn btn-success-bulk btn-xs canbebulkchanged" data-toggle="tooltip" title=""
                                        data-widget="chat-pane-toggle" style="display:none; padding-top:1px;margin-top:4px;">
                                    Save Bulk Changes
                                </button>*@
                            @*<button id="AddNew" type="submit" class="btn btn-info canbecreated" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle">
                                Add New Item
                            </button>*@
                        </div>
                    </div>
                    <div id="itemid" style="display:none;"></div>
                    <!-- /.card-header -->
                    <div id="fpbody" class="card-body">

                        @*<div id="gridBulkChange"></div>*@
                        <div id="gridItem"></div>
                        <div id="MenuCwindowEdit" style="display:none;">
                            <div class="container" style="padding-right:10px!important;">


                                <div class="row">
                                    <div class="col-2 allsector">
                                        <label class="form-control-label">Item Code<span class="mandatoryAsterisk coreonly">*</span></label>
                                        <input type="text" id="inputitemcode" class="form-control canbedisabled" />

                                    </div>
                                    <div class="col-7">

                                        <label class="form-control-label">Item Name<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="inputitemname" class="form-control canbedisabled" />

                                    </div>

                                    <div class="col-2">

                                        <label class="form-control-label">Diet Category<span class="mandatoryAsterisk">*</span></label>
                                        <div id="inputdietcategory" class="form-control canbedisabled_ddl"></div>

                                    </div>
                                </div>

                                <div class="row googleonly">
                                    <div class="col-4">

                                        <label class="form-control-label">Sub Sector<span class="mandatoryAsterisk">*</span></label>
                                        <div id="inputsubsector" class="form-control"></div>

                                    </div>
                                </div>

                                <div class="row coreonly">

                                    <div class="col-2">

                                        <label class="form-control-label">HSN Code</label>
                                        <input type="text" id="inputhsncode" class="form-control alwaysdisabled" disabled />

                                    </div>
                                    <div class="col-1">

                                        <label class="form-control-label">CGST</label>
                                        <input type="text" id="inputcgst" class="form-control alwaysdisabled" disabled />

                                    </div>
                                    <div class="col-1">

                                        <label class="form-control-label">SGST</label>
                                        <input type="text" id="inputsgst" class="form-control alwaysdisabled" disabled />

                                    </div>
                                    <div class="col-1">

                                        <label class="form-control-label">UGST</label>
                                        <input type="text" id="inputugst" class="form-control alwaysdisabled" disabled />

                                    </div>
                                    <div class="col-1">

                                        <label class="form-control-label">CESS</label>
                                        <input type="text" id="inputcess" class="form-control alwaysdisabled" disabled />

                                    </div>
                                    <div class="col-4" style="min-width:200px!important">
                                        <label class="form-control-label">Food Program<span class="mandatoryAsterisk">*</span></label>
                                        <div id="inputfoodprogram" class="form-control canbedisabled_ddl"></div>
                                    </div>
                                </div>

                                <div style="margin-top:22px; padding-bottom:4px;font-size:12px;border-bottom:solid 1px #ece9e9" class="coreonly">Segmentation Variables</div>

                                <div class="row coreonly">
                                    <div class="col-4" style="max-width:163px!important">
                                        <label class="form-control-label">Visual Category</label>
                                        <div id="inputvisualcategory" class="form-control canbedisabled_ddl"></div>
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Item Type 1</label>
                                        <div id="inputitemtype1" class="form-control canbedisabled_ddl"></div>
                                    </div>
                                    <div class="col-2">
                                        <label class="form-control-label">Item Type 2</label>
                                        <div id="inputitemtype2" class="form-control canbedisabled_ddl"></div>
                                    </div>
                                    <div class="col-1" style="min-width:115px!important">
                                        <label class="form-control-label">Serveware</label>
                                        <div id="inputserveware" class="form-control canbedisabled_ddl"></div>
                                    </div>
                                </div>
                                <div class="row coreonly" style="margin-top:10px;">
                                    <div class="col-4" style="max-width:163px!important">
                                        <label class="form-control-label">Food Program Type</label>
                                        <div id="inputcontype2" class="form-control canbedisabled_ddl"></div>
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Concept Type 1</label>
                                        <div id="inputcontype1" class="form-control canbedisabled_ddl"></div>
                                    </div>
                                    <div class="col-2">
                                        <label class="form-control-label">Concept Type 3</label>
                                        <div id="inputcontype3" class="form-control canbedisabled_ddl"></div>
                                    </div>
                                    <div class="col-1" style="min-width:115px!important">
                                        <label class="form-control-label">Concept Type 4</label>
                                        <div id="inputcontype4" class="form-control canbedisabled_ddl"></div>
                                    </div>
                                </div>
                                <div class="row coreonly" style="margin-top:10px;">
                                    <div class="col-4" style="max-width:163px!important">
                                        <label class="form-control-label">Concept Type 5</label>
                                        <div id="inputcontype5" class="form-control canbedisabled_ddl"></div>
                                    </div>
                                    <div class="col-4" style="max-width:163px!important">
                                        <label class="form-control-label">Usability</label>
                                        <input type="text" id="inputapplicableTo" class="form-control canbedisabled" />
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">Item Image</label>
                                        <input type="file" id="file" class="form-control form-control-file" accept=".png" style="padding-left: 0px; padding-top: 0px !important;" />
                                        <small>(upload .png files only)</small>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px; padding-bottom:40px!important; position:relative">
                                    <div class="col-8">
                                        <img id="image" class="coreonly" style="min-height:100px; max-height:200px; border:1px solid #e2e2e2" src="../ItemImages/default.png">
                                    </div>
                                    <div class="col-3 modal-footer" style="/* padding-right:7.5px!important; */min-width: 163px;position:absolute;bottom:10px;right:10px">
                                        <button type="submit" id="btnCancel" class="btn btn-tool">
                                            Cancel
                                        </button>
                                        <button type="submit" id="btnSubmit" class="btn btn-info canbehidden">
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
                <div id="ConfigMaster" style="display:none;" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div>
                        <div class="row" style="float:right;">
                            <div class="col-12 card-tools">
                                <button type="submit" id="btnRecipeCancel" class="btn btn-tool">Back</button>
                                @*<button type="submit" id="btnSubmitRecipe" class="btn btn-tool canbehidden">Save</button>
                                <button type="submit" id="btnSubmitClose" class="btn btn-info btn-publish canbehidden">Publish</button>*@
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="margin-top:10px;">
                        <div class="row" style="margin:10px; margin-left:-17px!important">
                            <div class="col-8">
                                @*<div style="height:50px;width:50px; display: inline-grid;float:left;">
                                        <img style="height:50px;width:50px; " id="imageMenuItem" />
                                    </div>*@
                                <div class="categoryStatus">
                                    <div id="itemDietCategory">
                                        <div id="itemDietCategoryStatus"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="menuName">
                                        <div><span id="itemName">Menu Image Preview </span><span id="fpname" class="fptag"></span></div>
                                        <div style="height:20px;width: 500px;display: inline-grid;margin-top: -1px;margin-left: 2px;color: #000;"><label class="form-control-label" style="font-size:0.965em!important">Item Code: <span id="itemCode" style="margin-right:4px"> 1010</span>|<span id="fptype" style="margin-left:4px; margin-right:4px"></span><span id="pipeSpan">|</span><span style="margin-left:4px" id="vcat"></span></label></div>
                                        @*<div style="height:20px;width: 238px;display: flex;margin-top: -6px;margin-left: 2px;color: #000;"><span class="tag"></span><span class="tagc">Curated</span><span class="ntag"></span><span class="tagnc">Non-Curated</span></div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 canbehidden" style="display:none;">
                                <label class="form-control-label">Populate from Pre-Configured Menu Item</label>
                                <div id="inputmenuitem" class="form-control" style="width:inherit"></div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:13px;">
                            @*<div class="col-8">
                                <label class="form-control-label">Start Typing / Choose Dish Categories for <span id="iname"></span></label>
                            </div>*@
                            <div class="col-11 canbehidden" style="overflow-y: auto;max-height:100px!important;">
                                <div id="inputdishcategory"></div>
                            </div>
                            @*<div class="col-1 canbehidden"><button type="button" class="btn btn-info btn-action" onclick="ToggleMultiSelect()"> Update  </button></div>*@
                        </div>
                        <div class="row" style="margin-top:20px!important;justify-content:flex-end">
                            @*<i data-toggle="tooltip" title="Expand All" id="expandIcon" class="fa fa-plus" style="cursor:pointer;margin-right:10px; background: #ffc631; height: 25px; width: 25px; display: flex;justify-content: center; align-items: center; border-radius: 50%;"></i>
                                <i data-toggle="tooltip" title="Collapse All" id="collapseIcon" class="fa fa-minus" style="cursor: pointer; margin-right:7px; background: #ffc631; height: 25px; width: 25px; display: flex; justify-content: center; align-items: center; border-radius: 50%;"></i>*@
                            <button type="submit" id="expandIcon" class="btn" style="padding: 5px; width: 75px; font-weight: 400; font-size: 0.8em !important; margin-top: -20px; color: #76b4b0;">Expand All</button>
                            @*<span style="font-size: 0.9em; margin-top: -14px; margin-left: -9px; color: #76b4b0; margin-right: -9px;">/</span>*@
                            <button type="submit" id="collapseIcon" class="btn" style="padding:5px;width:75px;font-weight:400; font-size:0.8em!important; margin-top: -20px; color:#76b4b0;">Collapse All</button>

                        </div>
                        <div class="row" style="margin-top:3px!important;overflow-y: auto;max-height:43vh;">
                            <div class="col-12" id="dishCategory"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<div id="videoPlayingDiv" style="display:none;">
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 5px;">
            <video id="videoclip" width="990" height="550" controls="controls" style="border:1px solid lightgrey;" disablePictureInPicture controlsList="nodownload noplaybackrate" oncontextmenu="return false;">
                <source id="mp4video" src="#" type="video/mp4" />
            </video>
        </div>
    </div>
</div>