﻿<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetCafeDataList: "@Url.Action("GetCafeDataList", "Cafe")",
        GetSiteDataList: "@Url.Action("GetSiteDataList", "Site")",
        SaveCafeData: "@Url.Action("SaveCafeData", "Cafe")",
        SaveCafeDataList: "@Url.Action("SaveCafeDataList", "Cafe")",
        ChangeStatus: "@Url.Action("ChangeStatus", "Cafe")",
    }
</script>

<script src="~/Scripts/CookBook/Cafe.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />
<style>
    .slider {
        top: 6px !important;
        bottom: -6px !important;
    }
</style>
@{
    ViewBag.Title = "Manage Cafes";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div id="SiteMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;"></h3>
                        <div class="card-tools" style="margin-top: -6px;">
                            <span style="float:left; margin-top:2px!important">
                                <input type="text" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="    position: relative; right: -277px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                            </span>
                            <button id="btnExport" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px">
                                Export To Excel
                            </button>
                            @*<button id="InitiateBulkChanges" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px;display:none">
                                Apply Bulk Changes
                            </button>*@
                            <button id="CancelBulkChanges" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="display:none;padding-top:7px">
                                Cancel Bulk Changes
                            </button>
                            <button id="SaveBulkChanges" type="submit" class="btn btn-success-bulk btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="display:none; margin-top:5px">
                                Save Bulk Changes
                            </button>
                            <button id="AddNew" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="margin-top:5px">
                                Add New Cafe
                            </button>
                        </div>
                    </div>
                    <div id="cafeid" style="display:none;"></div>
                    <!-- /.card-header -->
                    <div id="fpbody" class="card-body">
                       
                        
                        <div id="gridBulkChange"></div>
                        <div id="gridCafe"></div>
                        <div id="CafewindowEdit">
                            <div class="container">
                               
                                <div class="row" style="padding-top: 10px!important">
                                    <div class="col-2">
                                        <label class="form-control-label">Cafe Code</label>
                                        <input type="text" id="cafecode" class="form-control" disabled />
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">Cafe Name<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="cafename" class="form-control" />
                                    </div>
                                    <div class="col-5">
                                        <label class="form-control-label">Description</label>
                                        <input type="text" id="description" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="form-control-label">Site<span class="mandatoryAsterisk">*</span></label>
                                        <div id="inputsite" class="form-control"></div>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">SQ Cafe ID</label>
                                        <input type="text" id="inputsqcafeid" class="form-control" />
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Secure Code</label>
                                        <input type="text" id="inputsqsecurecode" class="form-control" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px">
                                    <div class="modal-footer col" style="margin-top: 15px !important; margin-right: 10px !important;">
                                        <button type="submit" id="OthCafebtnCancel" class="btn btn-tool">Cancel</button>
                                        <button type="submit" id="OthCafebtnSubmit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<div id="videoPlayingDiv" style="display:none;">
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 5px;">
            <video id="videoclip" width="990" height="550" controls="controls" style="border:1px solid lightgrey;" disablePictureInPicture controlsList="nodownload noplaybackrate" oncontextmenu="return false;">
                <source id="mp4video" src="#" type="video/mp4" />
            </video>
        </div>
    </div>
</div>