﻿<script>

    var CookBookMasters = {
         GetSiteTypeDataList: "@Url.Action("GetSiteTypeDataList", "CookBookMaster")",
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetCPUDataList: "@Url.Action("GetCPUDataList", "Site")",
        GetDKDataList: "@Url.Action("GetDKDataList", "Site")",
        GetSiteDataList: "@Url.Action("GetSiteDataList", "Site")",
        SaveSiteData: "@Url.Action("SaveSiteData", "Site")",
        SaveSiteDataList: "@Url.Action("SaveSiteDataList", "Site")",
        ChangeStatus: "@Url.Action("ChangeStatus", "Site")",
        GetSubSectorMasterList: "@Url.Action("GetSubSectorMasterList", "Item")",
        GetDayPartDataList: "@Url.Action("GetDayPartDataList", "CookBookMaster")",
        GetAreaDataList: "@Url.Action("CommonMasterList", "CookBookMaster")",
        SaveSiteDayPartMappingDataList: "@Url.Action("SaveSiteDayPartMappingDataList", "Item")",
        GetSiteDayPartMappingDataList: "@Url.Action("GetSiteDayPartMappingDataList", "Item")",

    }
</script>

<script src="~/Scripts/CookBook/Site.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />
<style>
#gridBulkChange .k-input {text-align:left}
    .slider {
        top: 6px !important;
        bottom: -6px !important;
    }
    .k-window-titlebar {
        font-weight:400;
    }


    .checkbox-container input:checked ~ .checkmark::after {
        top: 2px !important;
        left: 4px !important;
    }

    .k-dropdown {
        width: 107% !important;
    }
</style>
@{
    ViewBag.Title = "Site Master";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div id="SiteMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;"></h3>
                        <div class="card-tools" style="margin-top: -6px;">
                            <span style="float:left; margin-top:2px!important">
                                <input type="text" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="    position: relative; right: -277px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                            </span>
                            <button id="btnExport" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px">
                                Export To Excel
                            </button>
                            <button id="InitiateBulkChanges" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px">
                                Apply Bulk Changes
                            </button>
                            <button id="CancelBulkChanges" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="display:none;padding-top:7px">
                                Cancel Bulk Changes
                            </button>
                            <button id="SaveBulkChanges" type="submit" class="btn btn-success-bulk btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="display:none; margin-top:5px">
                                Save Bulk Changes
                            </button>
                        </div>
                    </div>
                    <div id="siteid" style="display:none;"></div>
                    <!-- /.card-header -->
                    <div id="fpbody" class="card-body">
                        <div id="bulkerror" class="alert alert-danger alert-dismissible" style="display:none">
                            <i class="icon fas fa-exclamation"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="success" class="alert alert-success alert-dismissible" style="display:none">
                            <i class="icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridBulkChange"></div>
                        <div id="gridSite"></div>
                        <div id="OtherEditwindowEdit" style="display:none;">
                            <div class="container" style="padding:15px!important;">
                                <div id="error" class="alert alert-danger alert-dismissible" style="display:none">
                                    <i class="icon fas fa-exclamation"></i>
                                    <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                    </p>
                                </div>

                                <div class="row">
                                    <div class="col-3">
                                        <label class="form-control-label">Site Code</label>
                                        <label id="sitecode" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">Site Name</label>
                                        <label id="sitename" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">Address</label>
                                        <label id="siteaddr1" class="form-control-plaintext"></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <label class="form-control-label">District</label>
                                        <label id="district" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">Region</label>
                                        <label id="region" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">Postal Code</label>
                                        <label id="postal" class="form-control-plaintext"></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <label class="form-control-label">Site Org</label>
                                        <label id="sorg" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">Division</label>
                                        <label id="division" class="form-control-plaintext"></label>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">Distribution Channel</label>
                                        <label id="distch" class="form-control-plaintext"></label>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 10px!important;border-top: solid 1px #ccc;">
                                    <div class="col-5">
                                        <label class="form-control-label">Site Alias<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="sitealias" class="form-control" />
                                    </div>
                                    <div class="col-6" style="margin-left:5px!important;">
                                        <label class="form-control-label">Site Category</label>
                                        <div class="form-group clearfix" style="margin-top:5px!important">
                                            <div class="icheck-success d-inline">
                                                <input type="radio" name="r3" value="Site" checked="" id="inputIsSite">
                                                <label for="inputIsSite" class="form-control-plaintext" style="display:inline!important">
                                                    Site
                                                </label>
                                            </div>
                                            <div class="icheck-success d-inline">
                                                <input type="radio" value="CPU" name="r3" id="inputIsCPU">
                                                <label for="inputIsCPU" class="form-control-plaintext" style="display:inline!important">
                                                    CPU
                                                </label>
                                            </div>
                                            <div class="icheck-success d-inline">
                                                <input type="radio" value="Cloud Kitchen" name="r3" id="inputIsDK">
                                                <label for="inputIsDK" class="form-control-plaintext" style="display:inline!important">
                                                    Cloud Kitchen
                                                </label>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="row core">
                                    <div class="col-5">
                                        <label class="form-control-label">PeopleStrong Location Field</label>
                                        <input type="text" id="pssitealias" class="form-control" />
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Catered By CPU</label>
                                        <div id="inputcpu" class="form-control"></div>
                                    </div>
                                    <div class="col-2 googlehide">
                                        <label class="form-control-label">Cloud Kitchen</label>
                                        <div id="inputdk" style="width:156%!important;" class="form-control"></div>
                                    </div>
                                </div>
                                <div class="row core">
                                    <div class="col-3 googlehide">
                                        <label class="form-control-label">Map Type</label>
                                        <div id="inputmaptype" class="form-control"></div>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">Site Type</label>
                                        <div id="inputsitetype" class="form-control"></div>
                                    </div>
                                    <div class="col-4 googlehide" style="margin-left: 9px;">
                                        <label class="form-control-label">Retail</label>
                                        <div id="inputretail" style="width:100%!important;" class="form-control"></div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-3 manufacturing">
                                        <label class="form-control-label"> Cilantro Rollout</label>
                                        <div style="DISPLAY: inline-block; margin-top: inherit;">
                                            <label class="checkbox-container" style="display: inline-block;">
                                                <input type="checkbox" id="IsCilantroRollout">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-4 manufacturing" style="margin-left:5px!important;">
                                        <label class="form-control-label">Billing End Type</label>
                                        <div class="form-group clearfix" style="margin-top:5px!important">
                                            <div class="icheck-success d-inline">
                                                <input type="radio" name="billingendtype" value="CalendarMonth" checked="checked" id="inputIsCalendarMonth">
                                                <label for="inputIsCalendarMonth" class="form-control-plaintext" style="display:inline!important">
                                                    Calendar Month
                                                </label>
                                            </div>
                                            <div class="icheck-success d-inline">
                                                <input type="radio" value="Custom" name="billingendtype" id="inputIsCustom">
                                                <label for="inputIsCustom" class="form-control-plaintext" style="display:inline!important">
                                                    Custom
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-3 manufacturing">
                                        <label class="form-control-label">Billing End Date</label>
                                        <div id="inputbillingenddate" class="form-control"></div>
                                    </div>
                                </div>

                                <div class="row" id="subsector">
                                    <div class="col-3">
                                        <label class="form-control-label">Sub Sector<span class="mandatoryAsterisk">*</span></label>
                                        <div id="inputsitesubsector" class="form-control"></div>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-3">
                                        <label class="form-control-label"> PMP Rollout</label>
                                        <div style="DISPLAY: inline-block; margin-top: inherit;">
                                            <label class="checkbox-container" style="display: inline-block;">
                                                <input type="checkbox" id="IsPMPRollout">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label"> Is Chartwell</label>
                                        <div style="DISPLAY: inline-block; margin-top: inherit;">
                                            <label class="checkbox-container" style="display: inline-block;">
                                                <input type="checkbox" id="IsChartwellsPWA">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-5">
                                        <label class="form-control-label">Customer Org</label>
                                        <input type="text" id="customerorg" class="form-control" />
                                    </div>

                                </div>

                                @*<div class="row" style="margin-top:15px!important">
                                    <div class="col-5" style="margin-left:16px;">
                                        <div style="width:101%;">  <div class="form-control-label" style="margin-bottom:0px!important;"> Start typing/Select Area(s) to be mapped with Site</div></div>
                                        <div id="inputAreaClear" style="width: 100%;">
                                            <div style="display:none; text-align: left;" id="inputArea"></div>

                                        </div>
                                    </div>
                                </div>*@

                                <div class="row" style="margin-top: 15px !important; margin-right: 0px !important;margin-bottom:0px;">
                                    <div class="modal-footer col" style="padding-right:0px!important;right:7px; align-items:flex-end!important">
                                        <button type="submit" id="OthSMbtnCancel" class="btn btn-tool">Cancel</button>
                                        <button type="submit" id="OthSMbtnSubmit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                            </div>
                    </div>
                    <!-- /.card-body -->
         
                    <!-- /.card-footer-->
                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<div id="videoPlayingDiv" style="display:none;">
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 5px;">
            <video id="videoclip" width="990" height="550" controls="controls" style="border:1px solid lightgrey;" disablePictureInPicture controlsList="nodownload noplaybackrate" oncontextmenu="return false;">
                <source id="mp4video" src="#" type="video/mp4" />
            </video>
        </div>
    </div>
</div>