﻿<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetDishDataList: "@Url.Action("GetDishDataList", "Dish")",
        GetMOGDataList: "@Url.Action("GetMOGDataList", "MOG")",
        GetUOMDataList: "@Url.Action("GetUOMDataList", "CookBookMaster")",
        GetRecipeDataList: "@Url.Action("GetRecipeDataList", "Recipe")",
        GetBaseRecipesByRecipeID: "@Url.Action("GetBaseRecipesByRecipeID", "Recipe")",
        GetMOGsByRecipeID: "@Url.Action("GetMOGsByRecipeID", "Recipe")",
        SaveRecipeData: "@Url.Action("SaveRecipeData", "Recipe")",
        SaveRecipeDataList: "@Url.Action("SaveRecipeDataList", "Recipe")",
        GetAPLMasterDataListForMOG: "@Url.Action("GetAPLMasterDataListForMOG", "APLMaster")",
        GetRecipeImpactedDataList: "@Url.Action("GetRecipeImpactedDataList", "Recipe")",
        SendRecipeEmail: "@Url.Action("SendRecipeEmail", "Recipe")",
        GetApplicationSettingDataList: "@Url.Action("GetApplicationSettingDataList", "Setting")",
        GetNutritionMasterDataList: "@Url.Action("GetNutritionMasterDataList", "CookBookMaster")",
        SaveRecipeNutrientMappingData: "@Url.Action("SaveRecipeNutrientMappingData", "Recipe")",
        //Krish
        GetSectorRecipeDataList:"@Url.Action("GetSectorRecipeDataList", "Recipe")",
    }
</script>

<script src="~/Scripts/CookBook/ReadonlyRecipe.js"></script>
<script src="~/Scripts/CookBook/recipeImpactedPopUp.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />
<link href="~/Content/css/summernote/summernote-bs4.css" rel="stylesheet" />
<script src="~/Content/css/summernote/summernote-bs4.min.js"></script>
@{
    ViewBag.Title = "Sector Recipe Configuration";
}

<style>
    .inputbrntrqty {
        width: 100px !important;
        border: solid 1px lightgoldenrodyellow !important;
        background-color: lightgoldenrodyellow;
        border-radius: 3px;
        text-align: center;
    }

    [class*=icheck-] > label {
        line-height: 16px !important;
    }
    [class*=icheck-] > input:first-child:checked + label::after {
        top: 5px !important;
        left: 0px !important;
    }

    .fa-nutrition {
        content: url('./Content/Images/Nutrition.png');
        width: 12px !important;
    }

        .fa-nutrition:before {
            content: url('./Content/Images/Nutrition.png');
            width: 12px !important;
        }

    .checkbox-container .checkmark:after {
        left: 3.5px !important;
        top: 1px !important;
    }
    #windowEditMOGWiseAPL .k-grid-content.k-auto-scrollable {
        max-height: 150px !important;
    }

    #inputSearchAPL {
        height: 40px;
    }

    .k-dirty {
        display: none;
    }

    i {
        cursor: pointer !important;
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .k-numeric-wrap {
        border: none !important;
    }

    .k-numerictextbox {
        border: none !important;
    }

    /*.spin-input {
              height: 16px !important;
              width: 49px !important;
              border-radius: 2px !important;
              margin-bottom: 5px !important;
          }*/
    #windowEditMOGWiseAPL, #windowEditMOGWiseAPL .k-grid-content, #windowEditMOGWiseAPL .k-auto-scrollable {
        height: auto !important;
        /* max-height: 220px;*/
    }

    .slider {
        top: 6px !important;
        bottom: -6px !important;
    }

    .k-dropdown-wrap.k-state-disabled {
        height: 23px !important;
    }

    .k-dropdown-wrap.k-state-default, .k-dropdown-wrap.k-state-disabled {
        height: 23px !important;
    }
</style>

<div id="windowEditRecipeWiseNutrient">
    <div class="container">
        <div class="row" style="margin-left: 2px !important;">
            <div class="col-2 RecipeViewDiv" id="RecipeCodeDiv" style="min-width:85px!important">
                <label class="form-control-label">Recipe Code</label>
                <label class="form-control-label" id="nRecipecodelabel"></label>
            </div>

            <div class="col-6 RecipeViewDiv" id="RecipeNameDiv">
                <label class="form-control-label">Recipe Name</label>
                <label class="form-control-label" id="ninputRecipenamelabel"></label>
            </div>

            <div class="col-3 RecipeViewDiv" id="RecipeNameDiv" style="display:none !important;">
                <label class="form-control-label">Recipe Alias</label>
                <label class="form-control-label" id="ninputRecipealiaslabel"></label>
            </div>

            <div class="col-1 RecipeViewDiv" id="RecipeUOMDiv">
                <label class="form-control-label">UOM</label>
                <label class="form-control-label" id="ninputuomnamelabel"></label>
            </div>
            <div class="col-2 RecipeEditDiv" id="RecipeCodeDiv" style="min-width:85px!important">
                <label class="form-control-label">Nutrition Value</label>
                <label class="form-control-label"><span id="Recipequantity">100</span><span> gm</span></label>
                @*<label class="form-control-label">Recipe Quantity (gm)<span class="mandatoryAsterisk">*</span></label>
                    <input style="width: 40% !important;" type="text" id="Recipequantity" class="form-control" />*@
            </div>

        </div>


        <div class="row" sstyle="margin-top: -23px !important;">

            <div style="width:35%;"> </div>
            <div style="width:65%;float:right;">
                <div class="card-header" style="margin-top: -50px !important;">
                    <div id="actionRegion" class="card-tools">



                        <button id="btnDrft" type="submit" class="btn  btn-info " style="margin-top:7px!important" onclick="saveAll()">
                            Save
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-12" style="max-width: 99.5% !important;">
                <div id="gridRecipeWiseNutrients"></div>
            </div>
        </div>
    </div>
</div>



<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row" style="margin-top:20px!important;">
            <div class="col-12">
                <div id="success" class="alert alert-success alert-dismissible" style="display:none;width:100%;">
                    <i class="icon fas fa-check"></i>
                    <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                    </p>
                </div>
            </div>

            <!-- Left col -->
            <section id="mainContent" class="col-sm-12" style="display: inherit;min-height: 480px;margin-top: -14px;">

                <div id="RecipeMaster" class="col-lg-12 card direct-chat direct-chat-primary" style="display:block">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -12px;margin-top:4px !important">Recipe Details</h3>
                        <div class="card-tools" style="margin-top: -6px;">
                            <div id="elementaryRadioBtn" class="d-inline card-tools" style="float: left;width: 272px !important;margin-left: 6px;margin-top: 12px !important;text-align: left;">
                                <div class="icheck-success d-inline" id="">
                                    <input type="radio" name="elementary" value="All" checked="" id="inputAll">
                                    <label for="inputAll" class="form-control-plaintext" style="display:inline!important">
                                        All
                                    </label>
                                </div>
                                <div class="icheck-success d-inline" id="inputElementoryDiv">
                                    <input type="radio" value="Elementory" name="elementary" id="inputElementory">
                                    <label for="inputElementory" class="form-control-plaintext" style="display:inline!important">
                                        Elementary
                                    </label>
                                </div>
                                <div class="icheck-success d-inline" id="inputNonElementoryDiv">
                                    <input type="radio" value="NonElementory" name="elementary" id="inputNonElementory">
                                    <label for="inputNonElementory" class="form-control-plaintext" style="display:inline!important">
                                        Non Elementary
                                    </label>
                                </div>
                            </div>
                            <span style="float:left; margin-top:2px!important">
                                <input type="text" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="    position: relative; right: -277px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                            </span>
                            @*<div id="previewchk" class="btn btn-tool">
                                <div style="display: inline-block; margin-top: inherit;">
                                    <label class="checkbox-container" style="display: inline-block; top: 2px;">
                                        <input type="checkbox" id="btnElementoryRecipe" onchange="elementoryRecipe(this);">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <label class="btn btn-tool" id="mappedapl" style="font-weight: 400;margin-top: -6px!important; font-size:13px!important;">
                                    Elementory Reciep(s)
                                </label>
                            </div>*@
                            @*<button id="btnExport" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px">
                                Export To Excel
                            </button>*@
                        </div>
                    </div>
                    <div id="recipeid" style="display:none;"></div>
                    <div id="recipeid0" style="display:none;"></div>
                    <div id="recipeid1" style="display:none;"></div>
                    <div id="recipeid2" style="display:none;"></div>
                    <div id="recipeid3" style="display:none;"></div>
                    <div id="recipeid4" style="display:none;"></div>
                    <div id="recipeid5" style="display:none;"></div>
                    <div id="recipeidx" style="display:none;"></div>
                    <!-- /.card-header -->
                    <div id="fpbody" class="card-body">


                        <div id="gridBulkChange"></div>
                        <div id="gridRecipe" class="gridMain"></div>

                        <!-- Window Edit 1 start-->

                        <div id="windowEdit1" class="col-sm-12 connectedSortable" style="display:none; max-height:520px">
                            <section>
                                <div class="container" style="overflow: auto!important; max-height:520px!important">

                                    <div class="row">
                                        <span style="margin-left: 8px;margin-top: 7px;">Recipe Configuration </span>
                                        <div class="modal-footer col" style="padding-right: 7.5px !important;margin-top: 0px !important;">

                                            <button type="submit" id="btnCancel1" class="btn btn-tool">Back</button>


                                        </div>
                                    </div>

                                    <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:100%;margin-left:7px!important;margin-bottom:20px;">


                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-1">
                                                    <label class="form-control-label">Recipe Code</label>
                                                    <input type="text" id="inputrecipecode1" class="form-control" disabled />
                                                </div>
                                                <div class="col-3">
                                                    <label class="form-control-label">Recipe Name</label>
                                                    <input type="text" id="inputrecipename1" disabled class="form-control" />
                                                </div>
                                                <div class="col-3">
                                                    <label class="form-control-label">Recipe Alias Name</label>
                                                    <input type="text" id="inputrecipealiasname1" class="form-control" disabled />
                                                </div>
                                                <div class="col-1">
                                                    <label class="form-control-label">Quantity</label>
                                                    <input type="text" id="inputquantity1" value="10" class="form-control" disabled />
                                                </div>
                                                <div class="col-1">
                                                    <label class="form-control-label">UOM</label>
                                                    <div id="inputuom1" class="form-control" disabled></div>
                                                </div>
                                                <div class="col-2">
                                                    <label class="form-control-label">Recipe Type</label>
                                                    <div id="inputbase1" class="form-control" disabled></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">

                                            <div class="row">
                                                <div class="col-5">
                                                    <label class="form-control-label">Contains</label>
                                                    <label class="form-control-label" id="allergenname1"></label>
                                                </div>
                                                <div class="col-4">
                                                    <label class="form-control-label">May Contains (NG)</label>
                                                    <label class="form-control-label" id="ngallergenname1"></label>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="dishRecipe">
                                                <div class="upper" style="height: 24px;" id="mup_gridBaseRecipe1" onclick="showHideGrid('gridMOG1','emptymog1','mup_gridBaseRecipe1')">
                                                    Direct Ingredients (MOG)

                                                    <br />

                                                </div>
                                                <div class="lower">
                                                    <div id="gridMOG1" style="display:none;"></div>
                                                    <div id="emptymog1" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                        <button id="addmog1" class="btn btn-default" style="margin-top:22px!important">No MOG(S) </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>

                                    <div class="row">
                                        <div class="col-12">

                                            <div class="dishRecipe">
                                                <div class="upper" style="height: 24px;" id="bup_gridBaseRecipe1" onclick="showHideGrid('gridBaseRecipe1','emptybr1','bup_gridBaseRecipe1')">

                                                    Base Recipe(s)

                                                </div>
                                                <div class="lower">
                                                    <div id="gridBaseRecipe1" style="display:none;"></div>
                                                    <div id="emptybr1" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                        <button id="addbr1" class="btn btn-default" style="margin-top:22px!important">No Base Recipe(s) </button>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                    <div id="jump1">
                                        <div class="row">
                                            <div class="col-12">
                                                <h6>Instructions</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-12">


                                            <textarea id="inputinstruction1" class="form-control" style="height:60px!important" readonly></textarea>

                                        </div>

                                    </div>

                                </div>
                            </section>

                        </div>
                        <!--Window Edit 1 End-->
                        <!-- Window Edit 2 start-->

                        <div id="windowEdit2" class="col-sm-12 connectedSortable" style="display:none; max-height:520px">
                            <section>
                                <div class="container" style="overflow: auto!important; max-height:520px!important">

                                    <div class="row">
                                        <span style="margin-left: 8px;margin-top: 7px;">Recipe Configuration </span>
                                        <div class="modal-footer col" style="padding-right: 7.5px !important;margin-top: 0px !important;">

                                            <button type="submit" id="btnCancel2" class="btn btn-tool">Back</button>

                                        </div>
                                    </div>

                                    <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:100%;margin-left:7px!important;margin-bottom:20px;">

                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-1">
                                                    <label class="form-control-label">Recipe Code</label>
                                                    <input type="text" id="inputrecipecode2" class="form-control" disabled />
                                                </div>
                                                <div class="col-3">
                                                    <label class="form-control-label">Recipe Name</label>
                                                    <input type="text" id="inputrecipename2" disabled class="form-control" />
                                                </div>
                                                <div class="col-3">
                                                    <label class="form-control-label">Recipe Alias Name</label>
                                                    <input type="text" id="inputrecipealiasname2" class="form-control" disabled />
                                                </div>
                                                <div class="col-1">
                                                    <label class="form-control-label">Quantity</label>
                                                    <input type="text" id="inputquantity2" value="10" class="form-control" disabled />
                                                </div>
                                                <div class="col-1">
                                                    <label class="form-control-label">UOM</label>
                                                    <div id="inputuom2" class="form-control" disabled></div>
                                                </div>
                                                <div class="col-2">
                                                    <label class="form-control-label">Recipe Type</label>
                                                    <div id="inputbase2" class="form-control" disabled></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">

                                            <div class="row">
                                                <div class="col-5">
                                                    <label class="form-control-label">Contains</label>
                                                    <label class="form-control-label" id="allergenname2"></label>
                                                </div>
                                                <div class="col-4">
                                                    <label class="form-control-label">May Contains (NG)</label>
                                                    <label class="form-control-label" id="ngallergenname2"></label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="dishRecipe">
                                                <div class="upper" style="height: 24px;" id="mup_gridBaseRecipe2" onclick="showHideGrid('gridMOG2','emptymog2','mup_gridBaseRecipe2')">
                                                    Direct Ingredients (MOG)
                                                    <br />

                                                </div>
                                                <div class="lower">
                                                    <div id="gridMOG2" style="display:none;"></div>
                                                    <div id="emptymog2" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                        <button id="addmog2" class="btn btn-default" style="margin-top:22px!important">No MOG(S) </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>

                                    <div class="row">
                                        <div class="col-12">

                                            <div class="dishRecipe">
                                                <div class="upper" style="height: 24px;" id="bup_gridBaseRecipe2" onclick="showHideGrid('gridBaseRecipe2','emptybr2','bup_gridBaseRecipe2')">

                                                    Base Recipe(s)

                                                </div>
                                                <div class="lower">
                                                    <div id="gridBaseRecipe2" style="display:none;"></div>
                                                    <div id="emptybr2" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                        <button id="addbr2" class="btn btn-default" style="margin-top:22px!important">No Base Recipe(s) </button>
                                                    </div>
                                                </div>

                                            </div>



                                        </div>

                                    </div>
                                    <div id="jump2">
                                        <div class="row">
                                            <div class="col-12">
                                                <h6>Instructions</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-12">


                                            <textarea id="inputinstruction2" class="form-control" style="height:60px!important"></textarea>

                                        </div>

                                    </div>

                                </div>
                            </section>

                        </div>
                        <!--Window Edit 2 End-->
                        <!-- Window Edit 3 start-->

                        <div id="windowEdit3" class="col-sm-12 connectedSortable" style="display:none; max-height:520px">
                            <section>
                                <div class="container" style="overflow: auto!important; max-height:520px!important">

                                    <div class="row">
                                        <span style="margin-left: 8px;margin-top: 7px;">Recipe Configuration </span>
                                        <div class="modal-footer col" style="padding-right: 7.5px !important;margin-top: 0px !important;">

                                            <button type="submit" id="btnCancel3" class="btn btn-tool">Back</button>


                                        </div>
                                    </div>

                                    <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:100%;margin-left:7px!important;margin-bottom:20px;">

                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-1">
                                                    <label class="form-control-label">Recipe Code</label>
                                                    <input type="text" id="inputrecipecode3" class="form-control" disabled />
                                                </div>
                                                <div class="col-3">
                                                    <label class="form-control-label">Recipe Name</label>
                                                    <input type="text" id="inputrecipename3" disabled class="form-control" />
                                                </div>
                                                <div class="col-3">
                                                    <label class="form-control-label">Recipe Alias Name</label>
                                                    <input type="text" id="inputrecipealiasname3" class="form-control" disabled />
                                                </div>
                                                <div class="col-1">
                                                    <label class="form-control-label">Quantity</label>
                                                    <input type="text" id="inputquantity3" value="10" class="form-control" disabled />
                                                </div>
                                                <div class="col-1">
                                                    <label class="form-control-label">UOM</label>
                                                    <div id="inputuom3" class="form-control" disabled></div>
                                                </div>
                                                <div class="col-2">
                                                    <label class="form-control-label">Recipe Type</label>
                                                    <div id="inputbase3" class="form-control" disabled></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">

                                            <div class="row">
                                                <div class="col-5">
                                                    <label class="form-control-label">Contains</label>
                                                    <label class="form-control-label" id="allergenname3"></label>
                                                </div>
                                                <div class="col-4">
                                                    <label class="form-control-label">May Contains (NG)</label>
                                                    <label class="form-control-label" id="ngallergenname3"></label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="dishRecipe">
                                                <div class="upper" style="height: 24px;" id="mup_gridBaseRecipe3" onclick="showHideGrid('gridMOG3','emptymog3','mup_gridBaseRecipe3')">
                                                    Direct Ingredients (MOG)
                                                    <br />

                                                </div>
                                                <div class="lower">
                                                    <div id="gridMOG3" style="display:none;"></div>
                                                    <div id="emptymog3" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                        <button id="addmog3" class="btn btn-default" style="margin-top:22px!important">No MOG(S) </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>

                                    <div class="row">
                                        <div class="col-12">

                                            <div class="dishRecipe">
                                                <div class="upper" style="height: 24px;" id="bup_gridBaseRecipe3" onclick="showHideGrid('gridBaseRecipe3','emptybr3','bup_gridBaseRecipe3')">

                                                    Base Recipe(s)

                                                </div>
                                                <div class="lower">
                                                    <div id="gridBaseRecipe3" style="display:none;"></div>
                                                    <div id="emptybr3" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                        <button id="addbr3" class="btn btn-default" style="margin-top:22px!important">No Base Recipe(s) </button>
                                                    </div>
                                                </div>

                                            </div>



                                        </div>

                                    </div>
                                    <div id="jump3">
                                        <div class="row">
                                            <div class="col-12">
                                                <h6>Instructions</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-12">


                                            <textarea id="inputinstruction3" class="form-control" style="height:60px!important"></textarea>

                                        </div>

                                    </div>

                                </div>
                            </section>

                        </div>
                        <!--Window Edit 3 End-->
                        <!-- Window Edit 4 start-->

                        <div id="windowEdit4" class="col-sm-12 connectedSortable" style="display:none; max-height:520px">
                            <section>
                                <div class="container" style="overflow: auto!important; max-height:520px!important">

                                    <div class="row">
                                        <span style="margin-left: 8px;margin-top: 7px;">Recipe Configuration </span>
                                        <div class="modal-footer col" style="padding-right: 7.5px !important;margin-top: 0px !important;">

                                            <button type="submit" id="btnCancel4" class="btn btn-tool">Back</button>


                                        </div>
                                    </div>

                                    <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:100%;margin-left:7px!important;margin-bottom:20px;">

                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-1">
                                                    <label class="form-control-label">Recipe Code</label>
                                                    <input type="text" id="inputrecipecode4" class="form-control" disabled />
                                                </div>
                                                <div class="col-3">
                                                    <label class="form-control-label">Recipe Name</label>
                                                    <input type="text" id="inputrecipename4" disabled class="form-control" />
                                                </div>
                                                <div class="col-3">
                                                    <label class="form-control-label">Recipe Alias Name</label>
                                                    <input type="text" id="inputrecipealiasname4" class="form-control" disabled />
                                                </div>
                                                <div class="col-1">
                                                    <label class="form-control-label">Quantity</label>
                                                    <input type="text" id="inputquantity4" value="10" class="form-control" disabled />
                                                </div>
                                                <div class="col-1">
                                                    <label class="form-control-label">UOM</label>
                                                    <div id="inputuom4" class="form-control" disabled></div>
                                                </div>
                                                <div class="col-2">
                                                    <label class="form-control-label">Recipe Type</label>
                                                    <div id="inputbase4" class="form-control" disabled></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">

                                            <div class="row">
                                                <div class="col-5">
                                                    <label class="form-control-label">Contains</label>
                                                    <label class="form-control-label" id="allergenname4"></label>
                                                </div>
                                                <div class="col-4">
                                                    <label class="form-control-label">May Contains (NG)</label>
                                                    <label class="form-control-label" id="ngallergenname4"></label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="dishRecipe">
                                                <div class="upper" style="height: 24px;" id="mup_gridBaseRecipe4" onclick="showHideGrid('gridMOG4','emptymog4','mup_gridBaseRecipe4')">
                                                    Direct Ingredients (MOG)
                                                    <br />

                                                </div>
                                                <div class="lower">
                                                    <div id="gridMOG4" style="display:none;"></div>
                                                    <div id="emptymog4" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                        <button id="addmog4" class="btn btn-default" style="margin-top:22px!important">No MOG(S) </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>

                                    <div class="row">
                                        <div class="col-12">

                                            <div class="dishRecipe">
                                                <div class="upper" style="height: 24px;" id="bup_gridBaseRecipe4" onclick="showHideGrid('gridBaseRecipe4','emptybr4','bup_gridBaseRecipe4')">

                                                    Base Recipe(s)

                                                </div>
                                                <div class="lower">
                                                    <div id="gridBaseRecipe4" style="display:none;"></div>
                                                    <div id="emptybr4" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                        <button id="addbr4" class="btn btn-default" style="margin-top:22px!important">No Base Recipe(s) </button>
                                                    </div>
                                                </div>

                                            </div>



                                        </div>

                                    </div>
                                    <div id="jump4">
                                        <div class="row">
                                            <div class="col-12">
                                                <h6>Instructions</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-12">


                                            <textarea id="inputinstruction4" class="form-control" style="height:60px!important"></textarea>

                                        </div>

                                    </div>

                                </div>
                            </section>

                        </div>
                        <!--Window Edit 4 End-->
                        <!-- Window Edit 4 start-->

                        <div id="windowEdit5" class="col-sm-12 connectedSortable" style="display:none; max-height:520px">
                            <section>
                                <div class="container" style="overflow: auto!important; max-height:520px!important">

                                    <div class="row">
                                        <span style="margin-left: 8px;margin-top: 7px;">Recipe Configuration </span>
                                        <div class="modal-footer col" style="padding-right: 7.5px !important;margin-top: 0px !important;">

                                            <button type="submit" id="btnCancel5" class="btn btn-tool">Back</button>


                                        </div>
                                    </div>

                                    <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:100%;margin-left:7px!important;margin-bottom:20px;">

                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-1">
                                                    <label class="form-control-label">Recipe Code</label>
                                                    <input type="text" id="inputrecipecode5" class="form-control" disabled />
                                                </div>
                                                <div class="col-3">
                                                    <label class="form-control-label">Recipe Name</label>
                                                    <input type="text" id="inputrecipename5" disabled class="form-control" />
                                                </div>
                                                <div class="col-3">
                                                    <label class="form-control-label">Recipe Alias Name</label>
                                                    <input type="text" id="inputrecipealiasname5" class="form-control" disabled />
                                                </div>
                                                <div class="col-1">
                                                    <label class="form-control-label">Quantity</label>
                                                    <input type="text" id="inputquantity5" value="10" class="form-control" disabled />
                                                </div>
                                                <div class="col-1">
                                                    <label class="form-control-label">UOM</label>
                                                    <div id="inputuom5" class="form-control" disabled></div>
                                                </div>
                                                <div class="col-2">
                                                    <label class="form-control-label">Recipe Type</label>
                                                    <div id="inputbase5" class="form-control" disabled></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">

                                            <div class="row">
                                                <div class="col-5">
                                                    <label class="form-control-label">Contains</label>
                                                    <label class="form-control-label" id="allergenname5"></label>
                                                </div>
                                                <div class="col-4">
                                                    <label class="form-control-label">May Contains (NG)</label>
                                                    <label class="form-control-label" id="ngallergenname5"></label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="dishRecipe">
                                                <div class="upper" style="height: 24px;" id="mup_gridBaseRecipe5" onclick="showHideGrid('gridMOG4','emptymog4','mup_gridBaseRecipe4')">
                                                    Direct Ingredients (MOG)
                                                    <br />

                                                </div>
                                                <div class="lower">
                                                    <div id="gridMOG5" style="display:none;"></div>
                                                    <div id="emptymog5" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                        <button id="addmog5" class="btn btn-default" style="margin-top:22px!important">No MOG(S) </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>

                                    <div class="row">
                                        <div class="col-12">

                                            <div class="dishRecipe">
                                                <div class="upper" style="height: 24px;" id="bup_gridBaseRecipe5" onclick="showHideGrid('gridBaseRecipe5','emptybr5','bup_gridBaseRecipe5')">

                                                    Base Recipe(s)

                                                </div>
                                                <div class="lower">
                                                    <div id="gridBaseRecipe5" style="display:none;"></div>
                                                    <div id="emptybr5" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                        <button id="addbr5" class="btn btn-default" style="margin-top:22px!important">No Base Recipe(s) </button>
                                                    </div>
                                                </div>

                                            </div>



                                        </div>

                                    </div>
                                    <div id="jump5">
                                        <div class="row">
                                            <div class="col-12">
                                                <h6>Instructions</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-12">


                                            <textarea id="inputinstruction5" class="form-control" style="height:60px!important"></textarea>

                                        </div>

                                    </div>

                                </div>
                            </section>

                        </div>
                        <!--Window Edit 5 End-->
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
            </section>

            <!-- Window Edit 0 start-->

            <div id="windowEdit0" class="col-sm-12 connectedSortable" style="display:none; max-height:520px">
                <section>
                    <div class="container" style="overflow: auto!important; max-height:520px!important">
                        <div id="error0" class="alert alert-danger alert-dismissible" style="display:none">
                            <i class="icon fas fa-exclamation"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div class="row">
                            <span style="margin-left: 8px;">New Recipe Configuration </span>
                            <span style="margin-left:50px;margin-right:5px;"> Populate Recipe</span>
                            <div id="copyRecipe"></div>
                            <div class="modal-footer col">



                                <button type="submit" id="btnCancel0" class="btn btn-tool">Back</button>


                            </div>
                        </div>


                        <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:98.6%;margin-left:7px!important;margin-bottom:20px;">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-2">
                                        <label class="form-control-label">Recipe Code</label>
                                        <input type="text" id="inputrecipecode0" class="form-control" disabled />
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Recipe Name<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="inputrecipename0" class="form-control" />
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Recipe Alias Name</label>
                                        <input type="text" id="inputrecipealiasname0" class="form-control" />
                                    </div>
                                    <div class="col-1">
                                        <label class="form-control-label">Quantity</label>
                                        <input type="text" id="inputquantity0" value="10" class="form-control" disabled />
                                    </div>
                                    <div class="col-1">
                                        <label class="form-control-label">UOM</label>
                                        <div id="inputuom0" class="form-control" disabled></div>
                                    </div>
                                    <div class="col-2">
                                        <label class="form-control-label">Recipe Type<span class="mandatoryAsterisk">*</span></label>
                                        <div id="inputbase0" class="form-control"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">

                                <div class="row">
                                    <div class="col-5">
                                        <label class="form-control-label">Contains</label>
                                        <label class="form-control-label" id="allergenname0"></label>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">May Contains (NG)</label>
                                        <label class="form-control-label" id="ngallergenname0"></label>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="dishRecipe">
                                    <div id="mup_gridBaseRecipe0" class="upper" onclick="showHideGrid('gridMOG0','emptymog0','mup_gridBaseRecipe0')">
                                        Direct Ingredients (MOG)
                                        <br />

                                    </div>
                                    <div class="lower">
                                        <div id="gridMOG0" style="display:none;"></div>
                                        <div id="emptymog0" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                            @*<button id="addmog0" class="btn btn-default" style="margin-top:22px!important">Add MOG(s) </button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>


                        <div class="row">
                            <div class="col-12">
                                <div class="dishRecipe">
                                    <div class="upper" id="bup_gridBaseRecipe0" onclick="showHideGrid('gridBaseRecipe0','emptybr0','bup_gridBaseRecipe0')">

                                        Base Recipe(s)

                                    </div>
                                    <div class="lower">
                                        <div id="gridBaseRecipe0" style="display:none;"></div>
                                        <div id="emptybr0" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                            @*<button id="addbr0" class="btn btn-default" style="margin-top:22px!important">Add Base Recipe(s) </button>*@
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div id="jump0">
                            <div class="row">
                                <div class="col-12">
                                    <h6>Instructions</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">


                                <textarea id="inputinstruction0" class="form-control" style="height:30px!important;"></textarea>

                            </div>

                        </div>

                    </div>
                </section>

            </div>
            <!--Window Edit 0 End-->
            <!-- Window Edit x start-->

            <div id="windowEditx" class="col-sm-12 connectedSortable" style="display:none; max-height:520px">
                <section>
                    <div class="container" style="overflow: auto!important; max-height:520px!important">

                        <div class="row">
                            <span style="margin-left: 8px;margin-top: 7px;">Base Recipe Configuration </span>
                            <div class="modal-footer col" style="padding-right: 7.5px !important;margin-top: 0px !important;">

                                <button type="submit" id="btnCancelx" class="btn btn-tool">Back</button>
                            </div>
                        </div>

                        <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:100%;margin-left:7px!important;margin-bottom:20px;">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-2">
                                        <label class="form-control-label">Recipe Code</label>
                                        <input type="text" id="inputrecipecodex" class="form-control" disabled />
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">Recipe Name<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="inputrecipenamex" class="form-control" />
                                    </div>
                                    <div class="col-1">
                                        <label class="form-control-label">Quantity</label>
                                        <input type="text" id="inputquantityx" value="10" class="form-control" disabled />
                                    </div>
                                    <div class="col-1">
                                        <label class="form-control-label">UOM</label>
                                        <div id="inputuomx" class="form-control" disabled></div>
                                    </div>
                                    <div class="col-2">
                                        <label class="form-control-label">Recipe Type<span class="mandatoryAsterisk">*</span></label>
                                        <div id="inputbasex" class="form-control"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">

                                <div class="row">
                                    <div class="col-5">
                                        <label class="form-control-label">Contains</label>
                                        <label class="form-control-label" id="allergennamex"></label>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">May Contains (NG)</label>
                                        <label class="form-control-label" id="ngallergennamex"></label>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="dishRecipe">
                                    <div class="upper" style="height: 24px;" id="mup_gridBaseRecipex" onclick="showHideGrid('gridMOGx','emptymogx','mup_gridBaseRecipex')">
                                        Direct Ingredients (MOG)
                                        <br />
                                    </div>
                                    <div class="lower">
                                        <div id="gridMOGx" style="display:none;"></div>
                                        <div id="emptymogx" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:block;'>
                                            @*<button id="addmogx" class="btn btn-default" style="margin-top:22px!important">Add MOG(s) </button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="dishRecipe">
                                    <div class="upper" style="height: 24px;" id="bup_gridBaseRecipex" onclick="showHideGrid('gridBaseRecipex','emptybrx','bup_gridBaseRecipex')">
                                        Base Recipe(s)
                                    </div>
                                    <div class="lower">
                                        <div id="gridBaseRecipex" style="display:none;"></div>
                                        <div id="emptybrx" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:block;'>
                                            @*<button id="addbrx" class="btn btn-default" style="margin-top:22px!important">Add Base Recipe(s) </button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="jumpx">
                            <div class="row">
                                <div class="col-12">
                                    <h6>Instructions</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <textarea id="inputinstructionx" class="form-control" style="height:60px!important"></textarea>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!--Window Edit x End-->

            <div id="windowEditNutritionInfo" style="display:none;">
                <section>
                    <div class="container">
                        <div class="row" style="margin-left: 2px !important;">
                            <div class="col-12">
                                <h4>Nutrition Data – <span id="ndRecipeName">-</span></h4>
                                <p style="border-bottom: 1px solid #dee2e6;padding-bottom: 15px;">Compass India Food Services</p>
                                <div id="nutritionDetail" style="overflow-y: scroll; height: 380px;">

                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                
            </div>

            <div id="windowEdit" @*style="display:none;margin-top:10px;" *@ class="col-sm-12 connectedSortable" style="display:none; max-height:520px">
                <section>
                    <div class="container" style="overflow: auto!important; max-height:520px!important">

                        <div class="row">
                            <span>Recipe Configuration</span>

                            <div class="modal-footer col">

                                @*<button type="submit" id="btnNutritionData" class="btn btn-tool healthcareonly">Nutrition Data</button>*@
                                <button type="submit" id="btnCancel" class="btn btn-tool">Back</button>

                            </div>
                        </div>
                        @*<div class="card">
                        *@

                        <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:98.6%;margin-left:7px!important;margin-bottom:20px;">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-2">
                                        <label class="form-control-label">Recipe Code</label>
                                        <input type="text" id="inputrecipecode" class="form-control" disabled />
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Recipe Name</label>
                                        <input type="text" id="inputrecipename" class="form-control" disabled />
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Recipe Alias Name</label>
                                        <input type="text" id="inputrecipealiasname" class="form-control" disabled />
                                    </div>
                                    <div class="col-1">
                                        <label class="form-control-label">Quantity</label>
                                        <input type="text" id="inputquantity" value="10" class="form-control" disabled />
                                    </div>
                                    <div class="col-1">
                                        <label class="form-control-label">UOM</label>
                                        <div id="inputuom" class="form-control" disabled></div>
                                    </div>
                                    <div class="col-2">
                                        <label class="form-control-label">Recipe Type</label>
                                        <div id="inputbase" class="form-control" disabled></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">

                                <div class="row">
                                    <div class="col-3">
                                        @*<h6 class="form-control-main m-0"><span>Total Qty of Ingredients : </span><span id="ToTIngredients"></span></h6>*@
                                        <label class="form-control-label">Total Qty of Ingredients (Kg)</label>
                                        <label class="form-control-label" id="ToTIngredients"></label>
                                    </div>
                                    <div class="col-5">
                                        <label class="form-control-label">Contains</label>
                                        <label class="form-control-label" id="allergenname"></label>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">May Contains (NG)</label>
                                        <label class="form-control-label" id="ngallergenname"></label>
                                    </div>
                                </div>
                               
                            </div>

                        </div>
                        <div class="row form-control-label" style="margin-left: 7px !important; margin-top: -13px !important; font-style: italic; color: #615e5e !important;"><span>* Major >= <span class="asPercent">5</span>% of the Recipe Weight</span></div>
                        <div class="row">
                            <div class="col-12">
                                <div class="dishRecipe">
                                    <div id="mup_gridMOG" class="upper" onclick="showHideGrid('gridMOG','emptymog','mup_gridMOG')">
                                        Direct Ingredients (MOG)
                                        <span class="k-button-icontext k-grid-clearall gridButton" style="margin-left: 270px;">Total MOG Qty : </span><label id="totmog"></label>
                                        <br />

                                    </div>
                                    <div class="lower">
                                        <div id="gridMOG" style="display:none;"></div>
                                        <div id="emptymog" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                            @*<button id="addmog" class="btn btn-default" style="margin-top:22px!important">Add MOG(s) </button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                        @*
                    </div>*@

                        <div class="row"  id="baserecipemaindiv">
                            <div class="col-12">
                                <div class="dishRecipe">
                                    <div id="bup_gridBaseRecipe" class="upper" onclick="showHideGrid('gridBaseRecipe','emptybr','bup_gridBaseRecipe')">

                                        Base Recipe(s)

                                        <span class="k-button-icontext k-grid-clearall gridButton" style="margin-left: 330px;">Total Base Recipe Qty : </span><label id="totBaseRecpQty"></label>
                                    </div>
                                    <div class="lower">
                                        <div id="gridBaseRecipe" style="display:none;"></div>
                                        <div id="emptybr" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                            @*<button id="addbr" class="btn btn-default" style="margin-top:22px!important">Add Base Recipe(s) </button>*@
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div id="jump">
                            <div class="row">
                                <div class="col-12">
                                    <h6>Instructions</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">


                                <textarea id="inputinstruction" class="form-control" style="height:60px!important"></textarea>

                            </div>

                        </div>

                    </div>
                </section>

            </div>
            <!-- /.Left col -->
        </div>
        @Html.Partial("~/Views/Shared/_RecipeImpactPopUp.cshtml")
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>


<div id="windowEditMOGWiseAPL" style="display:none;">
    <div id="inputSearchAPL">
        <span id="searchspan1" style="float:right; margin-top:2px!important; display:block">
            <input type="text" id="myInputAPL" placeholder="Search" class="search-input" title="Start typing to filter">
            <i class="fas fa-search" style="    position: relative; right: -277px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
        </span>

    </div>
    <div class="container">

        <div style="margin-top:10px;" id="gridMOGWiseAPL"></div>

    </div>
</div>

