﻿<script>

    var CookBookMasters = {
       GetSiteMasterList: "@Url.Action("GetSiteDataList", "Site")",
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetDishDataList: "@Url.Action("GetDishDataList", "Dish")",
        GetMOGDataList: "@Url.Action("GetRegionMOGDataList", "MOG")",
        GetUOMDataList: "@Url.Action("GetUOMDataList", "CookBookMaster")",
        GetRegionRecipeDataList: "@Url.Action("GetRegionRecipeDataList", "Recipe")",
        GetRecipeDataList: "@Url.Action("GetRecipeDataList", "Recipe")",
        GetBaseRecipesByRecipeID: "@Url.Action("GetBaseRecipesByRecipeID", "Recipe")",
        GetRegionBaseRecipesByRecipeID: "@Url.Action("GetRegionBaseRecipesByRecipeID", "Recipe")",
        GetMOGsByRecipeID: "@Url.Action("GetMOGsByRecipeID", "Recipe")",
        GetRegionMOGsByRecipeID: "@Url.Action("GetRegionMOGsByRecipeID", "Recipe")",
        SaveRecipeData: "@Url.Action("SaveRecipeData", "Recipe")",
        SaveRegionRecipeData: "@Url.Action("SaveRegionRecipeData", "Recipe")",
        SaveRecipeDataList: "@Url.Action("SaveRecipeDataList", "Recipe")",
        SaveRegionRecipeDataList: "@Url.Action("SaveRegionRecipeDataList", "Recipe")",
        GetAPLMasterDataListForMOG_Region: "@Url.Action("GetAPLMasterDataListForMOG_Region", "APLMaster")",
         GetApplicationSettingDataList: "@Url.Action("GetApplicationSettingDataList", "Setting")",
        GetRegionMasterListByUserId: "@Url.Action("GetRegionMasterListByUserId", "Item")",
        GetSubSectorMasterList: "@Url.Action("GetSubSectorMasterList", "Item")",
        GetUOMModuleMappingDataList: "@Url.Action("GetUOMModuleMappingDataList", "CookBookMaster")",
        GetMOGUOMDataList: "@Url.Action("GetMOGUOMDataList", "MOG")",

        GetRecipePrintingData:"@Url.Action("GetRecipePrintingData", "Recipe")",
    }
</script>

<script src="~/Scripts/CookBook/RecipeRegionalConfig.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />
<link href="~/Content/css/summernote/summernote-bs4.css" rel="stylesheet" />
<script src="~/Content/css/summernote/summernote-bs4.min.js"></script>
@{
    ViewBag.Title = "Regional Recipe Configuration";
}

<style>
    #inputSearchAPL {
        height: 40px;
    }

    .k-dirty {
        display: none;
    }

    .k-state-disabled {
        color: #b7aeae !important;
    }

    #windowEditMOGWiseAPL .k-grid-content.k-auto-scrollable {
        max-height: 150px !important;
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .k-numeric-wrap {
        border: none !important;
    }

    .k-numerictextbox {
        border: none !important;
    }

    #windowEditMOGWiseAPL, #windowEditMOGWiseAPL .k-grid-content, #windowEditMOGWiseAPL .k-auto-scrollable {
        height: auto !important;
    }

    .grtotal {
        padding-top: 2px !important;
    }
    
</style>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <section id="mainContent" class="col-sm-12 " style="display: inherit;min-height: 480px;margin-top: -14px;">

            <div id="RecipeMaster" class="col-lg-12 card direct-chat direct-chat-primary" style="display:block">
                <div class="card-header">
                    <div style="float: left; display: none; width: 150px !important; margin-left: -13px; margin-top: 7px !important; margin-right: 10px; text-align: left;" id="inputSubSector" class="form-control googleonly"></div>
                    <div style="display:block;width:250px!important; margin-left:-13px; margin-top:7px!important; margin-right:10px; text-align: left;" id="ddlRegionMaster" class="form-control"></div>
                    <button id="btnGo" type="submit" class="btn  btn-info" data-toggle="tooltip" title=""
                            data-widget="chat-pane-toggle" style="display:none;margin-left:-6px!important;margin-top:8px!important">
                        Go
                    </button>
                    <span id="searchspan" style="float:right; margin-top:2px!important; display:none">
                        <input type="text" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                        <i class="fas fa-search" style="    position: relative; right: -277px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                    </span>
                </div>
                @*<div id="intialImage">
                        <img src="~/ItemImages/Landing-RRC.jpg" alt="" width="100%" height="100%"/>
                    </div>*@
                <div id="RegRecrecipeid" style="display:none;"></div>
                <div id="RegRecrecipeid0" style="display:none;"></div>
                <div id="RegRecrecipeid1" style="display:none;"></div>
                <div id="RegRecrecipeid2" style="display:none;"></div>
                <div id="RegRecrecipeid3" style="display:none;"></div>
                <div id="RegRecrecipeid4" style="display:none;"></div>
                <div id="RegRecrecipeid5" style="display:none;"></div>
                <!-- /.card-header -->
                <div id="fpbody" class="card-body">
                    <div id="bulkerror" class="alert alert-danger alert-dismissible" style="display:none">
                        <i class="icon fas fa-exclamation"></i>
                        <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                        </p>
                    </div>

                    <div id="gridBulkChange"></div>
                    <div id="gridRecipe"></div>

                    <!-- Window Edit 1 start-->

                    <div id="RecipeReConfgwindowEdit1" class="col-sm-12 connectedSortable" style="display:none; max-height:520px">
                        <section>
                            <div class="container" style="overflow: auto!important; max-height:520px!important">

                                <div class="row">
                                    <span style="margin-left: 8px;margin-top: 7px;">Recipe Configuration </span>
                                    <div class="modal-footer col" style="padding-right: 7.5px !important;margin-top: 0px !important;">

                                        <button type="submit" id="btnCancel1" class="btn btn-tool">Back</button>
                                        <button type="submit" style="display:none;" id="btnSubmit1" class="btn btn-tool">Save</button>
                                        <button type="submit" style="display:none;" id="btnPublish1" class="btn btn-publish">Publish</button>


                                    </div>
                                </div>

                                <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:100%;margin-left:7px!important;margin-bottom:20px;">


                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-1">
                                                <label class="form-control-label">Recipe Code</label>
                                                <input type="text" id="RegRecinputrecipecode1" class="form-control" disabled />
                                            </div>
                                            <div class="col-4">
                                                <label class="form-control-label">Recipe Name</label>
                                                <input type="text" id="RegRecinputrecipename1" disabled class="form-control" />
                                            </div>
                                            <div class="col-4">
                                                <label class="form-control-label">Recipe Alias Name</label>
                                                <input type="text" id="RegRecinputrecipealiasname1" class="form-control" disabled />
                                            </div>
                                            <div class="col-2 rcHide">
                                                <label class="form-control-label">Recipe UOM Category<span class="mandatoryAsterisk">*</span></label>
                                                <div id="inputrecipecum1" class="form-control" disabled></div>
                                            </div>
                                            <div class="col-1">
                                                <label class="form-control-label">Quantity</label>
                                                <input type="text" id="RegRecinputquantity1" value="10" class="form-control" disabled />
                                            </div>
                                            <div class="col-1">
                                                <label class="form-control-label">UOM</label>
                                                <div id="RegRecinputuom1" class="form-control" disabled></div>
                                                <label style="margin-left: 10px;" id="lRegRecinputuom1" class="form-control-label">-</label>
                                            </div>
                                            <div class="col-1 rcHide">
                                                <label class="form-control-label">Wt./Unit</label>
                                                <input type="text" id="inputwtperunit1" class="form-control" disabled />
                                            </div>
                                            <div class="col-1 rcHide">
                                                <label class="form-control-label">UOM</label>
                                                <div id="inputwtperunituom1" class="form-control" disabled></div>
                                                <label style="margin-left: 10px;" id="linputwtperunituom1" class="form-control-label">-</label>
                                            </div>

                                            <div class="col-1 rcHide">
                                                <label class="form-control-label">Gravy Wt.</label>
                                                <input type="text" id="inputgravywtperunit1" class="form-control" disabled />
                                            </div>
                                            <div class="col-1 rcHide">
                                                <label class="form-control-label">UOM</label>
                                                <div id="inputgravywtperunituom1" class="form-control" disabled></div>
                                                <label style="margin-left: 10px;" id="linputgravywtperunituom1" class="form-control-label">-</label>
                                            </div>
                                            <div class="col-2 mfgHide">
                                                <label class="form-control-label">Recipe Type</label>
                                                <div id="RegRecinputbase1" class="form-control" disabled></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">

                                        <div class="row">
                                            <div class="col-4"></div>
                                            <div class="col-5">
                                                <h6 class="form-control-main m-0 text-right">Total Cost of Recipe: <span id="grandTotal1">₹0.00</span></h6>
                                            </div>
                                            <div>
                                                <h6 class="form-control-main m-0 text-right">Cost of Recipe / UOM : <span id="grandCostPerKG1">₹0.00</span></h6>

                                            </div>


                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="dishRecipe">
                                            <div class="upper" style="height: 24px;" id="mup_gridBaseRecipe1" onclick="showHideGrid('gridMOG1','emptymog1','mup_gridBaseRecipe1')">
                                                Direct Ingredients (MOG)
                                                <br />

                                            </div>
                                            <div class="lower">
                                                <div id="gridMOG1" style="display:none;"></div>
                                                <div id="emptymog1" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                    <button id="addmog1" class="btn btn-default" style="margin-top:22px!important">No MOG(S) </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>

                                <div class="row mfgHide">
                                    <div class="col-12">

                                        <div class="dishRecipe">
                                            <div class="upper" style="height: 24px;" id="bup_gridBaseRecipe1" onclick="showHideGrid('gridBaseRecipe1','emptybr1','bup_gridBaseRecipe1')">

                                                Base Recipe(s)

                                            </div>
                                            <div class="lower">
                                                <div id="gridBaseRecipe1" style="display:none;"></div>
                                                <div id="emptybr1" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                    <button id="addbr1" class="btn btn-default" style="margin-top:22px!important">No Base Recipe(s) </button>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                                <div id="jump1">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6>Instructions</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-12">


                                        <textarea id="RegRecinputinstruction1" class="form-control" style="height:60px!important" readonly></textarea>

                                    </div>

                                </div>

                            </div>
                        </section>

                    </div>
                    <!--Window Edit 1 End-->
                    <!-- Window Edit 2 start-->

                    <div id="RecipeReConfgwindowEdit2" class="col-sm-12 connectedSortable" style="display:none; max-height:520px">
                        <section>
                            <div class="container" style="overflow: auto!important; max-height:520px!important">

                                <div class="row">
                                    <span style="margin-left: 8px;margin-top: 7px;">Recipe Configuration </span>
                                    <div class="modal-footer col" style="padding-right: 7.5px !important;margin-top: 0px !important;">

                                        <button type="submit" id="btnCancel2" class="btn btn-tool">Back</button>
                                        <button type="submit" style="display:none;" id="btnSubmit2" class="btn btn-tool">Save</button>
                                        <button type="submit" style="display:none;" id="btnPublish2" class="btn btn-publish">Publish</button>


                                    </div>
                                </div>

                                <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:100%;margin-left:7px!important;margin-bottom:20px;">

                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-1">
                                                <label class="form-control-label">Recipe Code</label>
                                                <input type="text" id="RegRecinputrecipecode2" class="form-control" disabled />
                                            </div>
                                            <div class="col-4">
                                                <label class="form-control-label">Recipe Name</label>
                                                <input type="text" id="RegRecinputrecipename2" disabled class="form-control" />
                                            </div>
                                            <div class="col-4">
                                                <label class="form-control-label">Recipe Alias Name</label>
                                                <input type="text" id="RegRecinputrecipealiasname2" class="form-control" disabled />
                                            </div>
                                            <div class="col-2 rcHide">
                                                <label class="form-control-label">Recipe UOM Category<span class="mandatoryAsterisk">*</span></label>
                                                <div id="inputrecipecum2" class="form-control" disabled></div>
                                            </div>

                                            <div class="col-1">
                                                <label class="form-control-label">Quantity</label>
                                                <input type="text" id="RegRecinputquantity2" value="10" class="form-control" disabled />
                                            </div>
                                            <div class="col-1">
                                                <label class="form-control-label">UOM</label>
                                                <div id="RegRecinputuom2" class="form-control" disabled></div>
                                            </div>
                                            <div class="col-1 rcHide">
                                                <label class="form-control-label">Wt./Unit</label>
                                                <input type="text" id="inputwtperunit2" class="form-control" disabled />
                                            </div>
                                            <div class="col-1 rcHide">
                                                <label class="form-control-label">UOM</label>
                                                <div id="inputwtperunituom2" class="form-control" disabled></div>
                                            </div>

                                            <div class="col-1 rcHide">
                                                <label class="form-control-label">Gravy Wt.</label>
                                                <input type="text" id="inputgravywtperunit2" class="form-control" disabled />
                                            </div>
                                            <div class="col-1 rcHide">
                                                <label class="form-control-label">UOM</label>
                                                <div id="inputgravywtperunituom2" class="form-control" disabled></div>
                                            </div>
                                            <div class="col-2 mfgHide">
                                                <label class="form-control-label">Recipe Type</label>
                                                <div id="RegRecinputbase2" class="form-control" disabled></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">

                                        <div class="row">
                                            <div class="col-5">
                                                <h6 class="form-control-main m-0">Total Cost of Recipe: <span id="grandTotal2">₹0.00</span></h6>
                                            </div>

                                            <div class="col-5">
                                                <h6 class="form-control-main m-0">Cost of Recipe / UOM : <span id="grandCostPerKG2">₹0.00</span></h6>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="dishRecipe">
                                            <div class="upper" style="height: 24px;" id="mup_gridBaseRecipe2" onclick="showHideGrid('gridMOG2','emptymog2','mup_gridBaseRecipe2')">
                                                Direct Ingredients (MOG)
                                                <br />

                                            </div>
                                            <div class="lower">
                                                <div id="gridMOG2" style="display:none;"></div>
                                                <div id="emptymog2" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                    <button id="addmog2" class="btn btn-default" style="margin-top:22px!important">No MOG(S) </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>

                                <div class="row mfgHide">
                                    <div class="col-12">

                                        <div class="dishRecipe">
                                            <div class="upper" style="height: 24px;" id="bup_gridBaseRecipe2" onclick="showHideGrid('gridBaseRecipe2','emptybr2','bup_gridBaseRecipe2')">

                                                Base Recipe(s)

                                            </div>
                                            <div class="lower">
                                                <div id="gridBaseRecipe2" style="display:none;"></div>
                                                <div id="emptybr2" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                    <button id="addbr2" class="btn btn-default" style="margin-top:22px!important">No Base Recipe(s) </button>
                                                </div>
                                            </div>

                                        </div>



                                    </div>

                                </div>
                                <div id="jump2">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6>Instructions</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-12">


                                        <textarea id="RegRecinputinstruction2" class="form-control" style="height:60px!important"></textarea>

                                    </div>

                                </div>

                            </div>
                        </section>

                    </div>
                    <!--Window Edit 2 End-->
                    <!-- Window Edit 3 start-->

                    <div id="RecipeReConfgwindowEdit3" class="col-sm-12 connectedSortable" style="display:none; max-height:520px">
                        <section>
                            <div class="container" style="overflow: auto!important; max-height:520px!important">

                                <div class="row">
                                    <span style="margin-left: 8px;margin-top: 7px;">Recipe Configuration </span>
                                    <div class="modal-footer col" style="padding-right: 7.5px !important;margin-top: 0px !important;">

                                        <button type="submit" id="btnCancel3" class="btn btn-tool">Back</button>
                                        <button type="submit" style="display:none;" id="btnSubmit3" class="btn btn-tool">Save</button>
                                        <button type="submit" style="display:none;" id="btnPublish3" class="btn btn-publish">Publish</button>


                                    </div>
                                </div>

                                <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:100%;margin-left:7px!important;margin-bottom:20px;">

                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-1">
                                                <label class="form-control-label">Recipe Code</label>
                                                <input type="text" id="RegRecinputrecipecode3" class="form-control" disabled />
                                            </div>
                                            <div class="col-4">
                                                <label class="form-control-label">Recipe Name</label>
                                                <input type="text" id="RegRecinputrecipename3" disabled class="form-control" />
                                            </div>
                                            <div class="col-4">
                                                <label class="form-control-label">Recipe Alias Name</label>
                                                <input type="text" id="RegRecinputrecipealiasname3" class="form-control" disabled />
                                            </div>
                                            <div class="col-2 rcHide">
                                                <label class="form-control-label">Recipe UOM Category<span class="mandatoryAsterisk">*</span></label>
                                                <div id="inputrecipecum3" class="form-control" disabled></div>
                                            </div>
                                            <div class="col-1">
                                                <label class="form-control-label">Quantity</label>
                                                <input type="text" id="RegRecinputquantity3" value="10" class="form-control" disabled />
                                            </div>
                                            <div class="col-1">
                                                <label class="form-control-label">UOM</label>
                                                <div id="RegRecinputuom3" class="form-control" disabled></div>
                                            </div>
                                            <div class="col-1rcHide">
                                                <label class="form-control-label">Wt./Unit</label>
                                                <input type="text" id="inputwtperunit3" class="form-control" disabled />
                                            </div>
                                            <div class="col-1 rcHide">
                                                <label class="form-control-label">UOM</label>
                                                <div id="inputwtperunituom3" class="form-control" disabled></div>
                                            </div>

                                            <div class="col-1 rcHide">
                                                <label class="form-control-label">Gravy Wt.</label>
                                                <input type="text" id="inputgravywtperunit3" class="form-control" disabled />
                                            </div>
                                            <div class="col-1 rcHide">
                                                <label class="form-control-label">UOM</label>
                                                <div id="inputgravywtperunituom3" class="form-control" disabled></div>
                                            </div>
                                            <div class="col-2 mfgHide">
                                                <label class="form-control-label">Recipe Type</label>
                                                <div id="RegRecinputbase3" class="form-control" disabled></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">

                                        <div class="row">
                                            <div class="col-5">
                                                <h6 class="form-control-main m-0">Total Cost of Recipe: <span id="grandTotal3">₹0.00</span></h6>
                                            </div>

                                            <div class="col-5">
                                                <h6 class="form-control-main m-0">Cost of Recipe / UOM : <span id="grandCostPerKG3">₹0.00</span></h6>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="dishRecipe">
                                            <div class="upper" style="height: 24px;" id="mup_gridBaseRecipe3" onclick="showHideGrid('gridMOG3','emptymog3','mup_gridBaseRecipe3')">
                                                Direct Ingredients (MOG)
                                                <br />

                                            </div>
                                            <div class="lower">
                                                <div id="gridMOG3" style="display:none;"></div>
                                                <div id="emptymog3" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                    <button id="addmog3" class="btn btn-default" style="margin-top:22px!important">No MOG(S) </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>

                                <div class="row mfgHide">
                                    <div class="col-12">

                                        <div class="dishRecipe">
                                            <div class="upper" style="height: 24px;" id="bup_gridBaseRecipe3" onclick="showHideGrid('gridBaseRecipe3','emptybr3','bup_gridBaseRecipe3')">

                                                Base Recipe(s)

                                            </div>
                                            <div class="lower">
                                                <div id="gridBaseRecipe3" style="display:none;"></div>
                                                <div id="emptybr3" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                    <button id="addbr3" class="btn btn-default" style="margin-top:22px!important">No Base Recipe(s) </button>
                                                </div>
                                            </div>

                                        </div>



                                    </div>

                                </div>
                                <div id="jump3">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6>Instructions</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-12">


                                        <textarea id="RegRecinputinstruction3" class="form-control" style="height:60px!important"></textarea>

                                    </div>

                                </div>

                            </div>
                        </section>

                    </div>
                    <!--Window Edit 3 End-->
                    <!-- Window Edit 4 start-->

                    <div id="RecipeReConfgwindowEdit4" class="col-sm-12 connectedSortable" style="display:none; max-height:520px">
                        <section>
                            <div class="container" style="overflow: auto!important; max-height:520px!important">

                                <div class="row">
                                    <span style="margin-left: 8px;margin-top: 7px;">Recipe Configuration </span>
                                    <div class="modal-footer col" style="padding-right: 7.5px !important;margin-top: 0px !important;">

                                        <button type="submit" id="btnCancel4" class="btn btn-tool">Back</button>
                                        <button type="submit" style="display:none;" id="btnSubmit4" class="btn btn-tool">Save</button>
                                        <button type="submit" style="display:none;" id="btnPublish4" class="btn btn-publish">Publish</button>


                                    </div>
                                </div>

                                <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:100%;margin-left:7px!important;margin-bottom:20px;">

                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-1">
                                                <label class="form-control-label">Recipe Code</label>
                                                <input type="text" id="RegRecinputrecipecode4" class="form-control" disabled />
                                            </div>
                                            <div class="col-4">
                                                <label class="form-control-label">Recipe Name</label>
                                                <input type="text" id="RegRecinputrecipename4" disabled class="form-control" />
                                            </div>
                                            <div class="col-4">
                                                <label class="form-control-label">Recipe Alias Name</label>
                                                <input type="text" id="RegRecinputrecipealiasname4" class="form-control" disabled />
                                            </div>
                                            <div class="col-2 rcHide">
                                                <label class="form-control-label">Recipe UOM Category<span class="mandatoryAsterisk">*</span></label>
                                                <div id="inputrecipecum4" class="form-control" disabled></div>
                                            </div>
                                            <div class="col-1">
                                                <label class="form-control-label">Quantity</label>
                                                <input type="text" id="RegRecinputquantity4" value="10" class="form-control" disabled />
                                            </div>
                                            <div class="col-1">
                                                <label class="form-control-label">UOM</label>
                                                <div id="RegRecinputuom4" class="form-control" disabled></div>
                                            </div>

                                            <div class="col-1 rcHide">
                                                <label class="form-control-label">Wt./Unit</label>
                                                <input type="text" id="inputwtperunit4" class="form-control" disabled />
                                            </div>
                                            <div class="col-1 rcHide">
                                                <label class="form-control-label">UOM</label>
                                                <div id="inputwtperunituom4" class="form-control" disabled></div>
                                            </div>

                                            <div class="col-1 rcHide">
                                                <label class="form-control-label">Gravy Wt.</label>
                                                <input type="text" id="inputgravywtperunit4" class="form-control" disabled />
                                            </div>
                                            <div class="col-1 rcHide">
                                                <label class="form-control-label">UOM</label>
                                                <div id="inputgravywtperunituom4" class="form-control" disabled></div>
                                            </div>
                                            <div class="col-2 mfgHide">
                                                <label class="form-control-label">Recipe Type</label>
                                                <div id="RegRecinputbase4" class="form-control" disabled></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">

                                        <div class="row">
                                            <div class="col-5">
                                                <h6 class="form-control-main m-0">Total Cost of Recipe: <span id="grandTotal4">₹0.00</span></h6>
                                            </div>

                                            <div class="col-5">
                                                <h6 class="form-control-main m-0">Cost of Recipe / UOM : <span id="grandCostPerKG4">₹0.00</span></h6>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="dishRecipe">
                                            <div class="upper" style="height: 24px;" id="mup_gridBaseRecipe4" onclick="showHideGrid('gridMOG4','emptymog4','mup_gridBaseRecipe4')">
                                                Direct Ingredients (MOG)
                                                <br />

                                            </div>
                                            <div class="lower">
                                                <div id="gridMOG4" style="display:none;"></div>
                                                <div id="emptymog4" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                    <button id="addmog4" class="btn btn-default" style="margin-top:22px!important">No MOG(S) </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>

                                <div class="row mfgHide">
                                    <div class="col-12">

                                        <div class="dishRecipe">
                                            <div class="upper" style="height: 24px;" id="bup_gridBaseRecipe4" onclick="showHideGrid('gridBaseRecipe4','emptybr4','bup_gridBaseRecipe4')">

                                                Base Recipe(s)

                                            </div>
                                            <div class="lower">
                                                <div id="gridBaseRecipe4" style="display:none;"></div>
                                                <div id="emptybr4" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                    <button id="addbr4" class="btn btn-default" style="margin-top:22px!important">No Base Recipe(s) </button>
                                                </div>
                                            </div>

                                        </div>



                                    </div>

                                </div>
                                <div id="jump4">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6>Instructions</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-12">


                                        <textarea id="RegRecinputinstruction4" class="form-control" style="height:60px!important"></textarea>

                                    </div>

                                </div>

                            </div>
                        </section>

                    </div>
                    <!--Window Edit 4 End-->
                    <!-- Window Edit 4 start-->

                    <div id="RecipeReConfgwindowEdit5" class="col-sm-12 connectedSortable" style="display:none; max-height:520px">
                        <section>
                            <div class="container" style="overflow: auto!important; max-height:520px!important">

                                <div class="row">
                                    <span style="margin-left: 8px;margin-top: 7px;">Recipe Configuration </span>
                                    <div class="modal-footer col" style="padding-right: 7.5px !important;margin-top: 0px !important;">

                                        <button type="submit" id="btnCancel5" class="btn btn-tool">Back</button>
                                        <button type="submit" style="display:none;" id="btnSubmit5" class="btn btn-tool">Save</button>
                                        <button type="submit" style="display:none;" id="btnPublish5" class="btn btn-publish">Publish</button>


                                    </div>
                                </div>

                                <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:100%;margin-left:7px!important;margin-bottom:20px;">

                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-1">
                                                <label class="form-control-label">Recipe Code</label>
                                                <input type="text" id="RegRecinputrecipecode5" class="form-control" disabled />
                                            </div>
                                            <div class="col-4">
                                                <label class="form-control-label">Recipe Name</label>
                                                <input type="text" id="RegRecinputrecipename5" disabled class="form-control" />
                                            </div>
                                            <div class="col-4">
                                                <label class="form-control-label">Recipe Alias Name</label>
                                                <input type="text" id="RegRecinputrecipealiasname5" class="form-control" disabled />
                                            </div>
                                            <div class="col-2 rcHide">
                                                <label class="form-control-label">Recipe UOM Category<span class="mandatoryAsterisk">*</span></label>
                                                <div id="inputrecipecum5" class="form-control" disabled></div>
                                            </div>
                                            <div class="col-1">
                                                <label class="form-control-label">Quantity</label>
                                                <input type="text" id="RegRecinputquantity5" value="10" class="form-control" disabled />
                                            </div>
                                            <div class="col-1">
                                                <label class="form-control-label">UOM</label>
                                                <div id="RegRecinputuom5" class="form-control" disabled></div>
                                            </div>
                                            <div class="col-1 rcHide">
                                                <label class="form-control-label">Wt./Unit</label>
                                                <input type="text" id="inputwtperunit5" class="form-control" disabled />
                                            </div>
                                            <div class="col-1 rcHide">
                                                <label class="form-control-label">UOM</label>
                                                <div id="inputwtperunituom5" class="form-control" disabled></div>
                                            </div>

                                            <div class="col-1 rcHide">
                                                <label class="form-control-label">Gravy Wt.</label>
                                                <input type="text" id="inputgravywtperunit5" class="form-control" disabled />
                                            </div>
                                            <div class="col-1 rcHide">
                                                <label class="form-control-label">UOM</label>
                                                <div id="inputgravywtperunituom5" class="form-control" disabled></div>
                                            </div>
                                            <div class="col-2 mfgHide">
                                                <label class="form-control-label">Recipe Type</label>
                                                <div id="RegRecinputbase5" class="form-control" disabled></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">

                                        <div class="row">
                                            <div class="col-5">
                                                <h6 class="form-control-main m-0">Total Cost of Recipe: <span id="grandTotal5">₹0.00</span></h6>
                                            </div>

                                            <div class="col-5">
                                                <h6 class="form-control-main m-0">Cost of Recipe / UOM : <span id="grandCostPerKG5">₹0.00</span></h6>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="dishRecipe">
                                            <div class="upper" style="height: 24px;" id="mup_gridBaseRecipe5" onclick="showHideGrid('gridMOG4','emptymog4','mup_gridBaseRecipe4')">
                                                Direct Ingredients (MOG)
                                                <br />

                                            </div>
                                            <div class="lower">
                                                <div id="gridMOG5" style="display:none;"></div>
                                                <div id="emptymog5" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                    <button id="addmog5" class="btn btn-default" style="margin-top:22px!important">No MOG(S) </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>

                                <div class="row mfgHide">
                                    <div class="col-12">

                                        <div class="dishRecipe">
                                            <div class="upper" style="height: 24px;" id="bup_gridBaseRecipe5" onclick="showHideGrid('gridBaseRecipe5','emptybr5','bup_gridBaseRecipe5')">

                                                Base Recipe(s)

                                            </div>
                                            <div class="lower">
                                                <div id="gridBaseRecipe5" style="display:none;"></div>
                                                <div id="emptybr5" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                    <button id="addbr5" class="btn btn-default" style="margin-top:22px!important">No Base Recipe(s) </button>
                                                </div>
                                            </div>

                                        </div>



                                    </div>

                                </div>
                                <div id="jump5">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6>Instructions</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-12">


                                        <textarea id="RegRecinputinstruction5" class="form-control" style="height:60px!important"></textarea>

                                    </div>

                                </div>

                            </div>
                        </section>

                    </div>
                    <!--Window Edit 5 End-->
                </div>
                <!-- /.card-body -->
                <!-- /.card-footer-->
            </div>
        </section>



        <div id="windowEdit" @*style="display:none;margin-top:10px;"*@ class="col-sm-12 connectedSortable" style="display:none; max-height:520px">
            <section style="overflow: auto!important; max-height:520px!important">
                <div class="container" style="margin-top:22px;">
                    <div id="error" class="alert alert-danger alert-dismissible" style="display:none">
                        <i class="icon fas fa-exclamation"></i>
                        <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                        </p>
                    </div>
                    <div class="row" style="font-size:14px !important;">
                        <span style="margin-right: 4px;margin-left: 5px;">Total Cost of Recipe: </span><span id="grandTotal">₹0.00</span>
                        <span style="margin-right: 4px;margin-left: 5px;"> | Cost of Recipe / UOM : </span><span id="grandCostPerKG">₹0.00</span>
                        <span class="changegrandTotalDiv" style="margin-right: 4px; margin-left: 5px;"> | Change in Cost : </span>
                        <span class="changegrandTotalDiv" id="changegrandTotal">₹0.00</span><span class="changegrandTotalDiv">(</span> <span class="changegrandTotalDiv" id="totalchangepercent">0</span><span class="changegrandTotalDiv">%)</span>
                        <span style="margin-right: 4px;margin-left: 5px;">| Total Qty of Ingredients (DKG): <span id="ToTIngredients">0</span></span>

                        <div class="modal-footer col">


                            <button type="submit" id="btnCancel" class="btn btn-tool">Back</button>

                            <button type="submit" id="btnSubmit" class="btn btn-info">Save</button>
                            <button type="submit" id="btnPublish" class="btn btn-publish">Publish</button>

                        </div>
                    </div>
                    @*<div class="card" >*@

                    <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:98.5%;margin-left:7px!important;margin-bottom:20px;">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-2">
                                    <label class="form-control-label">Recipe Code</label>
                                    <input type="text" id="RegRecinputrecipecode" class="form-control" disabled />
                                </div>
                                <div class="col-4">
                                    <label class="form-control-label">Recipe Name</label>
                                    <input type="text" id="RegRecinputrecipename" class="form-control" disabled />
                                </div>
                                <div class="col-4">
                                    <label class="form-control-label">Recipe Alias Name</label>
                                    <input type="text" id="RegRecinputrecipealiasname" class="form-control" disabled />
                                </div>
                                <div class="col-2 rcHide">
                                    <label class="form-control-label">Recipe UOM Category<span class="mandatoryAsterisk">*</span></label>
                                    <div id="inputrecipecum" class="form-control"></div>
                                </div>
                                <div class="col-1">
                                    <label class="form-control-label">Quantity</label>
                                    <input type="text" id="RegRecinputquantity" value="10" placeholder="10" class="form-control" />
                                </div>
                                <div class="col-1">
                                    <label class="form-control-label">UOM</label>
                                    <div id="RegRecinputuom" class="form-control" disabled></div>
                                    <label style="margin-left: 10px;" id="lRegRecinputuom" class="form-control-label">-</label>
                                </div>
                                <div class="col-1 rcHide">
                                    <label class="form-control-label">Wt./Unit</label>
                                    <input type="text" id="inputwtperunit" class="form-control" disabled />
                                </div>
                                <div class="col-1 rcHide">
                                    <label class="form-control-label">UOM</label>
                                    <div id="inputwtperunituom" class="form-control" disabled></div>
                                    <label style="margin-left: 10px;" id="linputwtperunituom" class="form-control-label">-</label>
                                </div>

                                <div class="col-1 rcHide">
                                    <label class="form-control-label">Gravy Wt.</label>
                                    <input type="text" id="inputgravywtperunit" class="form-control" disabled />
                                </div>
                                <div class="col-1 rcHide">
                                    <label class="form-control-label">UOM</label>
                                    <div id="inputgravywtperunituom" class="form-control" disabled></div>
                                    <label style="margin-left: 10px;" id="linputgravywtperunituom" class="form-control-label">-</label>
                                </div>
                                <div class="col-2 mfgHide">
                                    <label style="margin-bottom: -4px !important;" class="form-control-label">Recipe Type</label>
                                    <div id="RegRecinputbase" class="form-control"></div>
                                </div>
                            </div>
                            @*<div class="row">
                                <div class="col-4 mt-1">
                                    <h6 class="form-control-main m-0"><span>Total Qty of Ingredients : </span><span id="ToTIngredients"></span></h6>
                                </div>

                                <div class="col-3 mt-1">
                                    <h6 class="form-control-main m-0">Total Cost of Recipe:  <span id="grandTotal">₹0.00</span></h6>
                                </div>
                                <div class="col-3 mt-1">
                                    <h6 class="form-control-main m-0">  Cost of Recipe / UOM : <span id="grandCostPerKG">₹0.00</span></h6>
                                </div>
                                <div class="col-2 mt-1 changegrandTotalDiv">
                                    <h6 class="form-control-main m-0 grtotal">Change in Cost :
                                    <span id="changegrandTotal">₹0.00</span> &nbsp;(<span id="totalchangepercent">0</span>%)</h6>
                                </div>*@
                        </div>
                    </div>
                    @*<div class="col-3">
                            <div class="row">
                                <div class="col-3 mt-1">
                                    <h6 class="form-control-main m-0">Total Cost of Recipe: <span id="grandTotal" style="float:right;">₹0.00</span></h6>
                                </div>

                                <div class="col-12">
                                    <h6 class="form-control-main m-0">  Cost of Recipe / UOM : <span  style="float:right;" id="grandCostPerKG">₹0.00</span></h6>
                                </div>
                                <div class="col-12 mt-1">
                                    <h6 class="form-control-main m-0 grtotal">Change in Cost : (<span  style="float:right;" id="changegrandTotal">₹0.00</span><span   id="totalchangepercent">0</span>%)</h6>
                                </div>
                            </div>
                        </div>*@
                </div>
                <div class="row" id="percentageChangeDiv" style="margin-top: -20px !important; margin-left: 8px !important; margin-bottom: -10px;">
                    <div class="form-control-main" style="font-size: 0.8em !important; font-style: italic;">
                        Max. Permissible % Increase in MOG Quantity = <span class="asRegionQuantity">10</span>%, Cost =  <span class="asRegionCost">5</span>%
                        Max. Permissible % Decrease in MOG Quantity = <span class="asRegionQuantity">10</span>%
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="dishRecipe">
                            <div id="mup_gridMOG" class="upper" onclick="showHideGrid('gridMOG','emptymog','mup_gridMOG')">
                                Direct Ingredients (MOG)
                                <span class="k-button-icontext k-grid-clearall gridButton totmoglbl" style="margin-left: 162px;">Total MOG Qty : </span><label class="totmoglbl" id="totmog"></label>
                                <br />

                            </div>
                            <div class="lower">
                                <div id="gridMOG" style="display:none;"></div>
                                @*<div id="emptymog" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                        <button id="addmog" class="btn btn-default" style="margin-top:22px!important">Add MOG(s) </button>
                                    </div>*@
                            </div>
                        </div>
                    </div>



                </div>
                @*</div>*@

                <div class="row mfgHide">
                    <div class="col-12">
                        <div class="dishRecipe">
                            <div id="bup_gridBaseRecipe" class="upper" onclick="showHideGrid('gridBaseRecipe','emptybr','bup_gridBaseRecipe')">

                                Base Recipe(s)
                                <span class="k-button-icontext k-grid-clearall gridButton" style="margin-left: 208px;">Total Base Recipe Qty : </span><label id="totBaseRecpQty">0</label>

                            </div>
                            <div class="lower">
                                <div id="gridBaseRecipe" style="display:none;"></div>
                                @*<div id="emptybr" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                        <button id="addbr" class="btn btn-default" style="margin-top:22px!important">Add Base Recipe(s) </button>
                                    </div>*@
                            </div>

                        </div>

                    </div>

                </div>
                <div id="jump">
                    <div class="row">
                        <div class="col-12">
                            <h6>Instructions</h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">


                        <textarea id="RegRecinputinstruction" class="form-control" style="height:60px!important"></textarea>

                    </div>

                </div>

        </div>
</section>

            </div>
<!-- /.Left col -->
<!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>

<div id="windowEditMOGWiseAPL">
    <div id="inputSearchAPL">
        <span id="searchspan1" style="float:right; margin-top:2px!important; display:block">
            <input type="text" id="myInputAPL" placeholder="Search" class="search-input" title="Start typing to filter">
            <i class="fas fa-search" style="    position: relative; right: -277px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
        </span>

    </div>
    <div class="container">

        <div style="margin-top:10px;" id="gridMOGWiseAPL"></div>

    </div>
</div>

@*Krish*@
<div id="printRecipe">
    @Html.Partial("_RecipePrint")
    
</div>
<div id="displayRecipeDetails" style="display:none;">
    @Html.Partial("_RecipeDetails")
    <div id="recipeDetailsShell"></div>
</div>