﻿<script>

    var CookBookMasters = {
           GetUOMDataList: "@Url.Action("GetUOMDataList", "CookBookMaster")",
        GetContainerTypeDataList: "@Url.Action("GetContainerTypeDataList", "Container")",
        GetContainerDataList: "@Url.Action("GetContainerDataList", "Container")",
        SaveContainerData: "@Url.Action("SaveContainer", "Container")",
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetFoodPanAliasDataList: "@Url.Action("GetFoodPanAliasDataList", "Container")",
        ChangeStatus: "@Url.Action("ChangeContainerStatus", "Container")",
    }
</script>

<script src="~/Scripts/CookBook/Container.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />
<style>
    #ContainerswindowEdit .container .row {
        display: flex !important;
        flex-wrap: nowrap !important;
    }
    .slider {
        top: 6px !important;
        bottom: -6px !important;
    }
    .cls33{
        width:100%!important;
        padding:5px;
        
    }
    .cls20 {
        width: 18% !important;
        padding: 5px;
    }
    .cls25 {
        width: 21% !important;
        padding: 5px;
    }
</style>
@{
    ViewBag.Title = "Container Details";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div id="SiteMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -12px;margin-top:3px;"></h3>
                        <div class="card-tools" style="margin-top: -6px;">
                            <span style="float:left; margin-top:2px!important">
                                <input type="text" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="    position: relative; right: -277px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                            </span>
                            <button id="cnaddnew" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="margin-top:5px">
                                Add New
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- /.card-header -->
                    <div id="cnbody" class="card-body">
                        <div id="gridContainer" class=""></div>
                        <div id="ContainerswindowEdit" style="display:none">
                            <div class="container">
                                <label id="cnid" style="display:none"></label>
                                <div class="row" style="padding-top: 10px!important">
                                    <div class="col-2" style="display:none">
                                        <label class="form-control-label">Container Details  Code</label>
                                        <input type="text" id="cncode" class="form-control" disabled />
                                    </div>
                                    <div class="cls33">
                                        <label class="form-control-label">Container Name<span class="mandatoryAsterisk">*</span></label>
                                        <div id="inputctuom" class="form-control"></div>
                                    </div>
                                    <div class="cls33">
                                        <label class="form-control-label">Container Details Name<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="cnname" class="form-control" />
                                    </div>
                                    <div class="cls33">
                                        <label class="form-control-label">Alias Name</label>
                                        <input type="text" id="cnaliasname" class="form-control" />
                                        @*<div id="cnaliasname" class="form-control"></div>*@
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="cls33">
                                        <label class="form-control-label">Length(mm)</label>
                                        <input type="text" id="cnlength" class="form-control" />
                                    </div>

                                    <div class="cls33">
                                        <label class="form-control-label">Breadth(mm)</label>
                                        <input type="text" id="cnbreadth" class="form-control" />
                                    </div>
                                    <div class="cls33">
                                        <label class="form-control-label">Depth(mm)</label>
                                        <input type="text" id="cndepth" class="form-control" />
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="cls33">
                                        <label class="form-control-label">Empty Container Weight(in Kg)<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="cnwt" class="form-control" />
                                    </div>
                                    <div class="cls33">
                                        <label class="form-control-label"> UOM<span class="mandatoryAsterisk">*</span></label>
                                        <div id="inputconuom" class="form-control" disabled></div>
                                    </div>
                                    <div class="cls33">
                                        <label class="form-control-label"> Image</label>
                                        <input type="file" id="file" class="form-control form-control-file" accept=".png" style="padding-left: 0px; padding-top: 0px !important;" />
                                        <small>(upload .png/.jpg files only)</small>
                                    </div>


                                </div>
                                <div class="row" style="margin-top:10px !important;">
                                <div class="col-8">
                                    <img id="image" style="min-height:100px; max-height:160px; border:1px solid #e2e2e2" src="../ItemImages/default.png">
                                </div>
                                </div>
                                <div class="row" style="margin-top:10px !important;">

                                    <div class="col  modal-footer" style="padding-right:4px!important; align-items:flex-end!important">
                                        <button type="submit" id="CCbtnCancel" class="btn btn-tool">Cancel</button>
                                        <button type="submit" id="CCbtnSubmit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                            </div>
                    </div>
                    <!-- /.card-body -->
                   
                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<div id="videoPlayingDiv" style="display:none;">
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 5px;">
            <video id="videoclip" width="990" height="550" controls="controls" style="border:1px solid lightgrey;" disablePictureInPicture controlsList="nodownload noplaybackrate" oncontextmenu="return false;">
                <source id="mp4video" src="#" type="video/mp4" />
            </video>
        </div>
    </div>
</div>