﻿<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetFoodPanAliasDataList: "@Url.Action("GetFoodPanAliasDataList", "Container")",
        SaveFoodPanAliasData: "@Url.Action("SaveFoodPanAliasData", "Container")",
        ChangeStatus: "@Url.Action("ChangeStatusFoodPanAlias", "Container")",
    }
</script>

<script src="~/Scripts/CookBook/FoodPanAlias.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />
<style>
</style>
@{
    ViewBag.Title = "Manage Container Alias";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div id="SiteMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;"></h3>
                        <div class="card-tools" style="margin-top: -6px;">
                            <span style="float:left; margin-top:2px!important">
                                <input type="text" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="    position: relative; right: -277px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                            </span>
                            <button id="btnExport" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px">
                                Export To Excel
                            </button>

                            <button id="AddNew" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="margin-top:5px">
                                Add New Alias
                            </button>
                        </div>
                    </div>
                    <div id="FoodPanAliasid" style="display:none;"></div>
                    <!-- /.card-header -->
                    <div id="fpbody" class="card-body">

                        <div id="gridFoodPanAlias"></div>
                        <div id="windowEdit">
                            <div class="container">
                                <div id="error" class="alert alert-danger alert-dismissible" style="display:none">
                                    <i class="icon fas fa-exclamation"></i>
                                    <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                    </p>
                                </div>
                                <div class="row" style="padding-top: 10px!important">
                                    <div class="col-5">
                                        <label class="form-control-label">Container Alias  Code</label>
                                        <input type="text" id="FoodPanAliasCode" class="form-control" disabled />
                                    </div>
                                    <div class="col-6">
                                        <label class="form-control-label"> Name<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="name" class="form-control" />
                                    </div>

                                </div>
                                <div class="row" style="margin-top:10px">
                                    <div class="modal-footer col-12" style="padding-right:7.5px!important; align-items:flex-end!important">
                                        <button type="submit" id="btnCancel" class="btn btn-tool">Cancel</button>
                                        <button type="submit" id="btnSubmit" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<div id="videoPlayingDiv" style="display:none;">
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 5px;">
            <video id="videoclip" width="990" height="550" controls="controls" style="border:1px solid lightgrey;" disablePictureInPicture controlsList="nodownload noplaybackrate" oncontextmenu="return false;">
                <source id="mp4video" src="#" type="video/mp4" />
            </video>
        </div>
    </div>
</div>