﻿@*<div class="modal-body" id="partialcolordiv">
        @Html.Partial("_ColorPartial")
    </div>*@

<script>
    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetSimulationDataListWithPaging: "@Url.Action("GetSimulationDataList", "FoodCostSimulator")",
        GetSiteByRegionList: "@Url.Action("GetSiteByRegionDataList", "Site")",
        GetSiteByUserList:"@Url.Action("GetSiteByUserDataList", "Site")",
        GetSiteMasterList: "@Url.Action("GetSiteDataList", "Site")",
        GetRegionMasterListByUserId: "@Url.Action("GetRegionMasterListByUserId", "Item")",
        GetDayPartDataList: "@Url.Action("GetDayPartDataList", "CookBookMaster")",
        GetSimulationItemList: "@Url.Action("GetSimulationItemList", "FoodCostSimulator")",
        GetDayPartBySiteList: "@Url.Action("GetDayPartBySiteList", "FoodCostSimulator")",
        GetSimulationRegionItemDishCategories: "@Url.Action("GetSimulationRegionItemDishCategories", "FoodCostSimulator")",
        SaveSimulationData: "@Url.Action("SaveSimulationData", "FoodCostSimulator")",
        GetSimulationBoardData: "@Url.Action("GetSimulationBoardData", "FoodCostSimulator")",
        SaveStatusSimulationData: "@Url.Action("SaveStatusSimulationData", "FoodCostSimulator")",
        GetDishCategoryList: "@Url.Action("GetDishCategoryList", "Item")",
        GetDishList: "@Url.Action("GetFcsDishDataList", "FoodCostSimulator")",
        GetSiteDishDataList: "@Url.Action("GetSiteDishDataList", "Item")",
        //Recipe
        GetSiteRecipeDataList: "@Url.Action("GetSiteRecipeDataList", "Recipe")",
        GetSiteDishRecipeList: "@Url.Action("GetSiteDishRecipeDataList", "Recipe")",
        GetBaseRecipesByRecipeID: "@Url.Action("GetBaseRecipesByRecipeID", "Recipe")",
        GetSiteBaseRecipesByRecipeID: "@Url.Action("GetSiteBaseRecipesByRecipeID", "Recipe")",
        GetMOGsByRecipeID: "@Url.Action("GetMOGsByRecipeID", "Recipe")",
        GetAPLMasterDataListForMOG: "@Url.Action("GetAPLMasterDataListForMOG", "APLMaster")",
        GetMOGDataList: "@Url.Action("GetMOGDataList", "MOG")",
        GetRecipeDataList: "@Url.Action("GetRecipeDataList", "Recipe")",
        GetUOMModuleMappingDataList: "@Url.Action("GetUOMModuleMappingDataList", "CookBookMaster")",
        GetSiteMOGsByRecipeID: "@Url.Action("GetSiteMOGsByRecipeID", "FoodCostSimulator")",
        GetAPLMasterDataListForMOG_Site: "@Url.Action("GetAPLMasterDataListForMOG_Site", "APLMaster")",
        GetSiteDishRecipeMappingDataList: "@Url.Action("GetSiteDishRecipeMappingDataList", "Dish")",
        GetAPLMasterDataListForMOG_Region: "@Url.Action("GetAPLMasterDataListForMOG_Region", "APLMaster")",
        SaveRecipeData: "@Url.Action("SaveFoodCostSimSiteRecipeData", "FoodCostSimulator")",
        UpdateAndFetchSiteDishRecipeData: "@Url.Action("UpdateAndFetchSiteDishRecipeData", "FoodCostSimulator")",
        UpdateAndFetchSiteRecipeData: "@Url.Action("UpdateAndFetchSiteRecipeData", "FoodCostSimulator")",
        GetAPLMasterDataListForMOG_Site_FCS: "@Url.Action("GetAPLMasterDataListForMOG_Site_FCS", "FoodCostSimulator")",
        SaveSimAPLHistory:"@Url.Action("SaveSimAPLHistory", "FoodCostSimulator")",
        //GetItemsDishCategories:"@Url.Action("GetItemsDishCategories", "FoodCostSimulator")",
        //SaveColorData: "@Url.Action("SaveColorData", "Color")"
    }
</script>

@*<link href="~/Content/css/styleSite.css" rel="stylesheet" />*@
<link href="~/Content/css/styles.css" rel="stylesheet" />

<script src="~/Scripts/CookBook/FoodCostSimulatorRecipe.js"></script>
<script src="~/Scripts/CookBook/FoodCostSimulator.js"></script>
<script src="~/Scripts/CookBook/FoodCostSimulatorBoard.js"></script>
<script>
    //var $loading = $('#loading').hide();
    //Attach the event handler to any element
    $(document)
        .ajaxStart(function () {
            //ajax request went so show the loading image
            Utility.Loading();
            console.log("sta")
        })
        .ajaxStop(function () {
            //got response so hide the loading image
            Utility.UnLoading();
            console.log("sto")
        });
</script>


<style>
    .divDisabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    .popover {
        z-index: 120000 !important;
    }

    /*.k-window {
        height: 230px !important;
    }*/

    .slider {
        top: 6px !important;
        bottom: -6px !important;
    }

    .k-grid-ExporttoExcel {
        color: #76b4b0 !important;
    }

    .k-grid-View {
        color: #76b4b0 !important;
    }

    .maingrid .mg_top_header {
        background-color: rgb(118,180,176) !important;
        color: #fff;
        border: #fff solid 1px;
        text-align: center;
    }

    .maingrid .mg_top_header_dp_title {
        background-color: rgb(221, 221, 221) !important;
        padding: 0;
    }

    .maingrid .mg_top_header_dp_title_text {
        background-color: rgb(221, 221, 221) !important;
        font-weight: 600;
        font-size: 14px;
    }

    .maingrid input[type=text] {
        /*background-color: rgb(255,255,102);*/
        border: none;
        width: 38px !important;
    }

    .maingrid .addedDishes {
        /*background-color: rgb(255,255,102) !important;*/
        background-color: lightgoldenrodyellow !important;
    }

    .maingrid .mg_bot_header_dc_title, .maingrid .mg_bottom_header {
        background-color: rgb(221, 221, 221) !important;
        border: #fff solid 1px;
    }
    /*.mg_top_header_item_title {
        padding:0;
    }*/
    .maingrid .mg_top_header_item_text {
        padding: 0;
        padding-left: 2px;
    }

    /*.maingrid .k-i-close {
        color: red;
        cursor: pointer;*/
    /*margin-left:98px;*/
    /*}*/
    .maingrid .fa-times {
        color: red;
        cursor: pointer;
        /*margin-left:98px;*/
    }

    .row-striped:nth-of-type(odd) {
        background-color: #efefef;
    }

    .row-striped:nth-of-type(even) {
        background-color: #ffffff;
    }

    .maingrid .k-i-plus {
        cursor: pointer;
    }

    .k-dropdown {
        background-color: transparent !important;
        /*height:24px!important;*/
    }

    .k-grid-Delete, .k-grid-Delete:hover {
        color: red !important;
    }

    .k-grid-ViewAPL, .k-grid-ViewAPL:hover {
        color: #76B4B0 !important;
    }

    .k-button, .k-state-hover {
        color: #e2e2e2;
        border-color: none;
        background-color: transparent;
        box-shadow: none !important;
    }

        .k-button.k-state-active, .k-button:active {
            color: #e2e2e2;
            border-color: none !important;
            background-color: transparent !important;
            box-shadow: none !important;
        }

        .k-button.k-state-focus, .k-button:focus {
            box-shadow: none !important;
        }

        .k-button.k-state-active:hover {
            box-shadow: none !important;
            background-color: transparent !important;
            border: none !important;
        }

    .maingrid .fa-link {
        margin-right: 5px;
        cursor: pointer;
        /*transform: rotate(50deg);*/
    }
    .maingrid .fa-utensils {
        margin-right: 8px;
        cursor: pointer;
    }
    /*#header-fixed {
        position: fixed;
        top: 0px;
        display: none;
        background-color: white;
    }*/
    .maingrid .mg_top_header {
        position: -webkit-sticky;
        position: sticky;
        /*this is for all Safari (Desktop & iOS), not for Chrome position: sticky;*/
        top: 0;
        z-index: 1;
        /* any positive value, layer order is global background: #fff;
         any bg-color to overlap*/
    }

    .k-grid-ChangeAPL, .k-grid-ChangeAPL:hover {
        color: #76B4B0;
        background-color: inherit !important;
    }

    .gridButton {
        font-size: 13px;
        color: white;
        padding-right: 5px;
    }

    #gridMOGWiseAPL .k-grid-content.k-auto-scrollable {
        max-height: 300px;
        height: auto !important;
    }

    #inputrecipealiasname {
        padding: 13px;
    }

    .simBoardItemHeaderRow {
        height: 45px;
        background-color: #cccccc !important;
        padding: 7px;
        border-radius: 5px 5px 0 0;
        padding-left: 20px !important;
    }

    .maingrid .txtGrmroots {
        margin-left: 5px !important;
    }

    .multitSelectdishcatdish li, #NewSimServiceType li, #ItemsForSimulation li {
        margin-right: 4px !important;
    }

    /*@@media only screen and (min-height: 600px) {
        #gridSimulationBoard {
            max-height: 52vh!important;
        }
    }*/
    /* @@media only screen and (min-height: 600px) {
            #gridSimulationBoard {
                max-height: 52vh;
            }
        }*/
</style>
@{
    ViewBag.Title = "Food Cost Simulator";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row" style="margin-top:22px;">
            <!-- Left col -->

            <div id="FCSimulator" class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <section class="col-lg-12 card direct-chat direct-chat-primary">
                    <input type="hidden" name="SimulationID" value="0" id="SimulationID" />
                    <input type="hidden" name="SimulationCode" id="SimulationCode" />

                    <div class="card-header">
                        <div class="card-tools" style="margin-top: -6px;">
                            <span style="float:left; margin-top:2px!important">
                                <input type="text" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="    position: relative; right: -277px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                            </span>
                            <button id="AddNew" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="margin-top:5px">
                                Create Simulation
                            </button>

                        </div>
                    </div>
                    <div id="colorid" style="display:none;"></div>
                    <!-- /.card-header -->
                    <div id="clbody" class="card-body">
                        <div id="bulkerror" class="alert alert-danger alert-dismissible" style="display:none">
                            <i class="icon fas fa-exclamation"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="success" class="alert alert-success alert-dismissible" style="display:none">
                            <i class="icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridSimulationMaster"></div>

                    </div>
                    <!-- /.card-body -->
                    <!-- /.card-footer-->

                </section>
            </div>

            <div id="FCSimulatorAdd" class="col-sm-12 connectedSortable" style="display: none;min-height: 300px;max-height: 320px;">
                @*<section style="overflow: auto!important; max-height:520px!important">*@

                <section style="overflow: auto!important;" class="col-lg-12 card direct-chat direct-chat-primary">
                    @*<div class="container" style="margin-top:22px;">*@
                    <div>
                        <div id="error" class="alert alert-danger alert-dismissible" style="display:none">
                            <i class="icon fas fa-exclamation"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="success" class="alert alert-success alert-dismissible" style="display:none">
                            <i class="icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        @*<div class="row" id="divSimTopNav" style="display:none;">
                                <span id="spanHeadertxt">Create New Simulation</span>

                                <div class="modal-footer col">
                                    <button type="submit" id="btnCancel" onclick="" class="btn btn-tool">Back</button>
                                </div>
                            </div>*@
                        <div id="divSimTopNav" style="display:none;">
                        </div>
                        <div class="row" id="divSimTopNavViewOnly" style="display:none;">
                            @*<span id="spanHeadertxt">Create New Simulation</span>*@

                            <div class="modal-footer col">
                                <button type="submit" id="btnCancel2" onclick="" class="btn btn-tool" style=" margin-top: 0px !important;">Simulation List</button>
                            </div>
                        </div>

                        <div id="divSimConfigMain" class="card direct-chat direct-chat-primary" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 5px; border-radius: 5px;width:98.5%;margin-bottom:10px!important;">
                            <div class="row" style="margin-bottom:0!important;margin-top:0!important;">
                                <div class="col-12">
                                    <div class="row" style="margin-bottom:0!important;margin-top:0!important;">
                                        <div class="col-12">
                                            <div id="card-header-forcalling" class="card-header" style="cursor:pointer;padding-top:0px!important;padding-bottom: 0px !important;padding-left:0px;padding-right:0px;">
                                                <div class="float-left" style="padding-top: 4px;">
                                                    <label class="form-control-label">Simulation Configuration</label>
                                                </div>
                                                <div class="card-tools">
                                                    <a style="cursor:pointer;text-decoration:none;margin-top:0!important;" class="btn btn-tool" id="btnExpandConfig" onclick="expandConfig(this);">Collapse</a>
                                                    <button type="submit" id="btnCancel" style="margin-top: 0 !important;" class="btn btn-tool">Simulation List</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="divConfigFcs card-body">

                                <div class="row" style="width:98.5%;margin-left:7px!important;font-size:14px;">
                                    <div class="col-12" id="divSimConfig" style="padding-right:0px;">
                                        <div class="row" style="margin-bottom:0!important;margin-top:0!important;">


                                            <input type="hidden" name="hdnSiteCode" id="hdnSiteCode" />
                                            @*<label>Simulation Configuration</label>*@
                                            <div class="col-4" style="padding-left: 0;">
                                                <label style="font-weight:500;vertical-align: middle;"><input type="radio" name="radSimConfig" style="margin-right: 5px;vertical-align: middle;" id="radNewSimulation" />New Simulation</label>
                                            </div>
                                            <div class="col-4" style="padding-right:0;padding-left:0;">
                                                <label style="font-weight:500;margin-left:3px;"><input type="radio" style="margin-right: 5px;vertical-align: middle;" name="radSimConfig" id="radCopyFromSimulation" />Copy From Simulation</label>
                                                <div id="selectSimulation" style="margin-left:3px;width:97%;height:28px !important;"></div>
                                            </div>
                                            <div class="col-4" style="padding-right:0;padding-left:3px;">
                                                <label style="font-weight:500;margin-left:2px;"><input type="radio" name="radSimConfig" style="margin-right: 5px;vertical-align: middle;" id="radCopyFromSite" />Copy From Unit</label>
                                                <div id="selectFromSite" style="margin-left:2px;width:97%;height:28px !important;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="divSimFilter" class="row" style="background-color: rgb(242,240,239);padding-bottom: 10px!important; border-radius: 5px;width:100%;margin-bottom:6px;margin-top:0!important;">
                                    <div class="col-12">
                                        <div class="row" style="margin-top:0!important;">
                                            <div class="col-4">
                                                <label class="form-control-label">Select Region</label>
                                                <div id="NewSimRegion" class="form-control"></div>
                                            </div>
                                            <div class="col-4">
                                                <label class="form-control-label">Select Site</label>
                                                <div id="NewSimSiteByRegion" class="form-control" style="height: 28px !important;"></div>
                                            </div>
                                            <div class="col-4">
                                                <label class="form-control-label">Specify Number Of Days</label>
                                                <input type="text" id="NewSimNoOfDays" class="form-control" maxlength="2" onkeypress="return isNumber(event);" style="height: 28px !important;" />
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <label class="form-control-label" id="lblNewSimServiceType">Select Service Type</label>
                                                <div id="NewSimServiceType" class="form-control"></div>
                                            </div>
                                            <div class="col-6">
                                                <label class="form-control-label">Choose Items For Simulation</label>
                                                <div id="ItemsForSimulation" class="form-control"></div>
                                            </div>
                                        </div>
                                        @*<div class="row">
                                            <div class="col-12">
                                                <label class="form-control-label">Choose Items For Simulation</label>
                                                <div id="ItemsForSimulation" class="form-control"></div>
                                            </div>
                                        </div>*@
                                        <div class="row">
                                            <div class="col-6">
                                                <label class="form-control-label">Simulation Name</label>
                                                <input type="text" id="txtSimulationName" class="form-control" style="height: 28px !important;" />
                                            </div>
                                            <div class="col-6">
                                                <label class="form-control-label"> </label>

                                                <button id="btnGo" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                                        data-widget="chat-pane-toggle" style="margin-top:18px;">
                                                    Go
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="col-lg-12 card direct-chat direct-chat-primary" id="divBoard" style="display:none;background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:98.5%;">
                            @*<div class="col-12">*@

                            @*<div class="row">
                                    <div class="col-12">
                                        <div class="float-left">
                                            <label class="form-control-label">Simulation Board</label>
                                        </div>
                                        <div class="float-right">
                                            <button id="btnSaveAsDraft" type="submit" class="btn btn-primary btn-xs" data-toggle="tooltip" title=""
                                                    data-widget="chat-pane-toggle" style="margin-right:8px">
                                                Save As Draft
                                            </button>
                                            <button id="btnUpdateVer" type="submit" class="btn btn-warning btn-xs" data-toggle="tooltip" title=""
                                                    data-widget="chat-pane-toggle" style="margin-right:8px">
                                                Update Ver.
                                            </button>
                                            <button id="btnFinalize" type="submit" class="btn btn-danger btn-xs" data-toggle="tooltip" title=""
                                                    data-widget="chat-pane-toggle" style="margin-right:8px">
                                                Finalize & Lock
                                            </button>
                                        </div>

                                    </div>
                                </div>*@
                            <div class="card-header" style="padding-top:0px!important;">
                                <div class="float-left" style="margin-top:5px;">
                                    <label class="form-control-label">Simulation Board</label>
                                </div>

                                @*<div class="float-left">
                                        <label class="form-control-label" id="lblavgTotal2"></label>
                                    </div>*@
                                <div class="boardTotalTop" style="float: left; margin-left: 26%;">
                                    <span style=" margin-left: 9px;">Total Average Cost</span>
                                    <span style="margin-right: 4px;margin-left: 5px;"> </span><span id="lblavgTotal2">₹0.00</span>
                                </div>
                                <div class="card-tools">
                                    <button type="submit" id="btnCancelVO" style="margin-top: 0 !important;display:none;" class="btn btn-tool">Back</button>

                                    <button id="btnResetBoard" type="submit" class="btn btn-secondary btn-xs" data-toggle="tooltip" title=""
                                            data-widget="chat-pane-toggle" style="margin-right:8px">
                                        Reset
                                    </button>

                                    <button id="btnSaveAsDraft" type="submit" class="btn btn-primary btn-xs" data-toggle="tooltip" title=""
                                            data-widget="chat-pane-toggle" style="margin-right:8px">
                                        Save As Draft
                                    </button>
                                    <button id="btnUpdateVer" type="submit" class="btn btn-warning btn-xs" data-toggle="tooltip" title=""
                                            data-widget="chat-pane-toggle" style="margin-right:8px">
                                        Update Ver.
                                    </button>
                                    <button id="btnFinalize" type="submit" class="btn btn-danger btn-xs" data-toggle="tooltip" title=""
                                            data-widget="chat-pane-toggle" style="margin-right:8px">
                                        Finalize & Lock
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="k-grid k-widget">
                                    <div id="gridSimulationBoard" style="overflow: auto !important; max-width:auto;max-height:65vh;"></div>
                                </div>
                            </div>

                            @*</div>*@
                        </div>



                        <div id="windowEdit" @*style="display:none;margin-top:10px;"*@ class="col-sm-12 connectedSortable" style="display:none; max-height:520px">
                            <section>
                                <div class="container" style="overflow: auto!important; max-height:520px!important">
                                    <div id="error" class="alert alert-danger alert-dismissible" style="display:none">
                                        <i class="icon fas fa-exclamation"></i>
                                        <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                        </p>
                                    </div>
                                    <input type="hidden" name="hdnDishId" id="hdnDishId" />
                                    <input type="hidden" name="hdnItemId" id="hdnItemId" />
                                    <input type="hidden" name="hdnDishCatCode" id="hdnDishCatCode" />
                                    <input type="hidden" name="hdnDishCode" id="hdnDishCode" />
                                    <input type="hidden" name="hdnDayPartCode" id="hdnDayPartCode" />
                                    <input type="hidden" name="hdnStatus" id="hdnStatus" />
                                    <div class="row">
                                        <span style=" margin-left: 9px;">Unit Recipe Configuration</span>
                                        <span style="margin-right: 4px;margin-left: 5px;"> | Total Cost of Recipe: </span><span id="grandTotal">₹0.00</span>
                                        <span style="margin-right: 4px;margin-left: 5px;"> | Cost of Recipe / Kg : </span><span id="grandCostPerKG">₹0.00</span>
                                        <span class="changegrandtotal" style="margin-right: 4px; margin-left: 5px;"> | Change in Cost : </span>
                                        <span class="changegrandtotal" id="changegrandTotal">₹0.00</span><span class="changegrandtotal">(</span> <span id="totalchangepercent">0</span><span class="changegrandtotal">%)</span>
                                        <div class="modal-footer col">

                                            <button id="AddNewRecipe" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title="" data-widget="chat-pane-toggle" style="margin-top:5px">
                                                Add Alternate Recipe
                                            </button>

                                            <button type="submit" id="btnCancelRecipe" class="btn btn-tool">Back</button>

                                            <button type="submit" id="btnSubmitRecipe" class="btn btn-info">Save</button>

                                        </div>
                                    </div>
                                    @*<div class="card" >*@

                                    <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:98.5%;margin-left:7px!important;margin-bottom:20px;">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-2" style="display:none;">
                                                    <label class="form-control-label">Recipe Code</label>
                                                    <input type="text" id="inputrecipecode" class="form-control" disabled />
                                                </div>
                                                <div class="col-4">
                                                    <label class="form-control-label">Recipe Name</label>
                                                    <input type="text" id="inputrecipename" class="form-control" disabled style="display:none;" />
                                                    <div id="copyRecipe0" style="width:100%;"></div>
                                                </div>
                                                <div class="col-4">
                                                    <label class="form-control-label">Recipe Alias Name</label>
                                                    <input type="text" id="inputrecipealiasname" class="form-control" disabled />
                                                </div>

                                                <div class="col-4 rcHide">
                                                    <label class="form-control-label">Recipe UOM Category<span class="mandatoryAsterisk">*</span></label>
                                                    <div id="inputrecipecum" class="form-control"></div>
                                                </div>
                                                <div class="col-1">
                                                    <label class="form-control-label">Quantity</label>
                                                    <input type="text" id="inputquantity" value="10" class="form-control" disabled />
                                                </div>
                                                <div class="col-1">
                                                    <label class="form-control-label">UOM</label>
                                                    <div id="inputuom" class="form-control"></div>
                                                    <label style="margin-left: 10px;" id="linputuom" class="form-control-label">-</label>
                                                </div>
                                                <div class="col-1 rcHide">
                                                    <label class="form-control-label">Wt./Unit</label>
                                                    <input type="text" id="inputwtperunit" class="form-control" disabled />
                                                </div>
                                                <div class="col-1 rcHide">
                                                    <label class="form-control-label">UOM</label>
                                                    <div id="inputwtperunituom" class="form-control" disabled></div>
                                                    <label style="margin-left: 10px;" id="linputwtperunituom" class="form-control-label">-</label>
                                                </div>

                                                <div class="col-1 rcHide">
                                                    <label class="form-control-label">Gravy Wt.</label>
                                                    <input type="text" id="inputgravywtperunit" class="form-control" disabled />
                                                </div>
                                                <div class="col-1 rcHide">
                                                    <label class="form-control-label">UOM</label>
                                                    <div id="inputgravywtperunituom" class="form-control" disabled></div>
                                                    <label style="margin-left: 10px;" id="linputgravywtperunituom" class="form-control-label">-</label>
                                                </div>
                                                <div class="col-2 mfgHide">
                                                    <label style="margin-bottom: -4px !important;" class="form-control-label">Recipe Type</label>
                                                    <div id="inputbase" class="form-control"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-7 mt-1" id="recipeAllergens">

                                                </div>

                                                <div class="col-5 mt-1">
                                                    <h6 class="form-control-main m-0 text-right"><span>Total Qty of Ingredients : </span><span id="ToTIngredients">0</span></h6>
                                                </div>

                                            </div>

                                        </div>
                                        @*<div class="col-3">
                                                <div class="row">
                                                    <div class="col-3 mt-1">
                                                        <h6 class="form-control-main m-0">Total Cost of Recipe: <span id="grandTotal" style="float:right;">₹0.00</span></h6>
                                                    </div>

                                                    <div class="col-12">
                                                        <h6 class="form-control-main m-0">  Cost of Recipe / Kg : <span  style="float:right;" id="grandCostPerKG">₹0.00</span></h6>
                                                    </div>
                                                    <div class="col-12 mt-1">
                                                        <h6 class="form-control-main m-0 grtotal">Change in Cost : (<span  style="float:right;" id="changegrandTotal">₹0.00</span><span   id="totalchangepercent">0</span>%)</h6>
                                                    </div>
                                                </div>
                                            </div>*@
                                    </div>
                                    <div id="percentageChangeDiv" class="row" style="margin-top: -20px !important; margin-left: 8px !important; margin-bottom: -10px;">
                                        <div class="form-control-main" style="font-size: 0.8em !important; font-style: italic;">
                                            Max. Permissible % Increase in MOG Quantity = <span class="asSiteQuantity">10</span>%, Cost =  <span class="asSiteCost">5</span>%
                                            Max. Permissible % Decrease in MOG Quantity = <span class="asSiteQuantity">10</span>%
                                            @*<span>Pleaes choose at least one APL with each MOG before Publish Recipe</span>*@
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="dishRecipe">
                                                <div id="mup_gridMOG" class="upper" onclick="showHideGrid('gridMOG','emptymog','mup_gridMOG')">
                                                    Direct Ingredients (MOG)
                                                    <span id="totmogspan" class="k-button-icontext k-grid-clearall gridButton" style="margin-left: 162px;">Total MOG Qty : </span><label id="totmog"></label>
                                                    <br />

                                                </div>
                                                <div class="lower">
                                                    <div id="gridMOG" style="display:none;"></div>
                                                    <div id="emptymog" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                        <button id="addmog" class="btn btn-default" style="margin-top:22px!important">Add MOG(s) </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                    @*</div>*@

                                    <div class="row mfgHide">
                                        <div class="col-12">
                                            <div class="dishRecipe">
                                                <div id="bup_gridBaseRecipe" class="upper" onclick="showHideGrid('gridBaseRecipe','emptybr','bup_gridBaseRecipe')">

                                                    Base Recipe(s)
                                                    <span class="k-button-icontext k-grid-clearall gridButton" style="margin-left: 208px;">Total Base Recipe Qty : </span><label id="totBaseRecpQty"></label>

                                                </div>
                                                <div class="lower">
                                                    <div id="gridBaseRecipe" style="display:none;"></div>
                                                    @*<div id="emptybr" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                            <button id="addbr" class="btn btn-default" style="margin-top:22px!important">Add Base Recipe(s) </button>
                                                        </div>*@
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                    <div id="jump">
                                        <div class="row">
                                            <div class="col-12">
                                                <h6>Instructions</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <textarea id="inputinstruction" class="form-control" style="height:60px!important"></textarea>

                                        </div>

                                    </div>

                                </div>
                            </section>

                        </div>

                        <div id="windowEdit0" class="col-sm-12 connectedSortable" style="display:none; max-height:520px">
                            <section>
                                <div class="container" style="overflow: auto!important; max-height:520px!important">
                                    <div id="error0" class="alert alert-danger alert-dismissible" style="display:none">
                                        <i class="icon fas fa-exclamation"></i>
                                        <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                        </p>
                                    </div>
                                    <div class="row">
                                        <span style="margin-left: 8px;">New Recipe Configuration </span>
                                        <span style="margin-left:50px;margin-right:5px;"> Populate Recipe</span>
                                        <div id="copyRecipe"></div>
                                        <div class="modal-footer col">



                                            <button type="submit" id="btnCancel0" class="btn btn-tool">Back</button>

                                            <button type="submit" id="btnSubmit0" class="btn btn-info">Save</button>
                                            @*<button type="submit" id="btnPublish0" class="btn btn-publish">Publish</button>*@

                                        </div>
                                    </div>


                                    <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:98.6%;margin-left:7px!important;margin-bottom:20px;">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-2" style="display:none;">
                                                    <label class="form-control-label">Recipe Code</label>
                                                    <input type="text" id="inputrecipecode0" class="form-control" disabled />
                                                </div>
                                                <div class="col-4">
                                                    <label class="form-control-label">Recipe Name<span class="mandatoryAsterisk">*</span></label>
                                                    <input type="text" id="inputrecipename0" class="form-control" />
                                                </div>
                                                <div class="col-4">
                                                    <label class="form-control-label">Recipe Alias Name</label>
                                                    <input type="text" id="inputrecipealiasname0" class="form-control" />
                                                </div>
                                                <div class="col-4 rcHide">
                                                    <label class="form-control-label">Recipe UOM Category<span class="mandatoryAsterisk">*</span></label>
                                                    <div id="inputrecipecum0" class="form-control"></div>
                                                </div>
                                                <div class="col-1">
                                                    <label class="form-control-label">Quantity</label>
                                                    <input type="text" id="inputquantity0" value="10" class="form-control" />
                                                </div>
                                                <div class="col-1">
                                                    <label class="form-control-label">UOM</label>
                                                    <div id="inputuom0" class="form-control" disabled></div>
                                                    <label style="margin-left: 10px;" id="linputuom0" class="form-control-label">-</label>
                                                </div>
                                                <div class="col-1 rcHide">
                                                    <label class="form-control-label">Wt./Unit</label>
                                                    <input type="text" id="inputwtperunit0" class="form-control" disabled />
                                                </div>
                                                <div class="col-1 rcHide">
                                                    <label class="form-control-label">UOM</label>
                                                    <div id="inputwtperunituom0" class="form-control"></div>
                                                    <label style="margin-left: 10px;" id="linputwtperunituom0" class="form-control-label">-</label>
                                                </div>

                                                <div class="col-1 rcHide">
                                                    <label class="form-control-label">Gravy Wt.</label>
                                                    <input type="text" id="inputgravywtperunit0" class="form-control" disabled />
                                                </div>
                                                <div class="col-1 rcHide">
                                                    <label class="form-control-label">UOM</label>
                                                    <div id="inputgravywtperunituom0" class="form-control"></div>
                                                    <label style="margin-left: 10px;" id="linputgravywtperunituom0" class="form-control-label">-</label>
                                                </div>
                                                <div class="col-2 mfgHide">
                                                    <label class="form-control-label">Recipe Type<span class="mandatoryAsterisk">*</span></label>
                                                    <div id="inputbase0" class="form-control"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">

                                            <div class="row">
                                                <div class="col-3 offset-md-6">
                                                    <h6 class="form-control-main m-0 text-right">Total Cost of Recipe: <span id="grandTotal0">₹0.00</span></h6>
                                                </div>

                                                <div class="col-3">
                                                    <h6 class="form-control-main m-0 text-right">Cost of Recipe / Kg : <span id="grandCostPerKG0">₹0.00</span></h6>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="dishRecipe">
                                                <div id="mup_gridBaseRecipe0" class="upper" onclick="showHideGrid('gridMOG0','emptymog0','mup_gridBaseRecipe0')">
                                                    Direct Ingredients (MOG)
                                                    <br />

                                                </div>
                                                <div class="lower">
                                                    <div id="gridMOG0" style="display:none;"></div>
                                                    <div id="emptymog0" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                        <button id="addmog0" class="btn btn-default" style="margin-top:22px!important">Add MOG(s) </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>


                                    <div class="row mfgHide">
                                        <div class="col-12">
                                            <div class="dishRecipe">
                                                <div class="upper" id="bup_gridBaseRecipe0" onclick="showHideGrid('gridBaseRecipe0','emptybr0','bup_gridBaseRecipe0')">

                                                    Base Recipe(s)

                                                </div>
                                                <div class="lower">
                                                    <div id="gridBaseRecipe0" style="display:none;"></div>
                                                    <div id="emptybr0" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                        <button id="addbr0" class="btn btn-default" style="margin-top:22px!important">Add Base Recipe(s) </button>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                    <div id="jump0">
                                        <div class="row">
                                            <div class="col-12">
                                                <h6>Instructions</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">


                                            <textarea id="inputinstruction0" class="form-control" style="height:30px!important;"></textarea>

                                        </div>

                                    </div>

                                </div>
                            </section>

                        </div>

                        @*<div id="windowEditMOGWiseAPL" style="display:none;">
                                <div id="inputSearchAPL">
                                    <span id="searchspan1" style="float:right; margin-top:2px!important; display:block">
                                        <input type="text" id="myInputAPL" placeholder="Search" class="search-input" title="Start typing to filter">
                                        <i class="fas fa-search" style="    position: relative; right: -277px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                                    </span>

                                </div>
                                <div class="container">

                                    <div style="margin-top:10px;" id="gridMOGWiseAPL"></div>

                                </div>
                            </div>*@
                        <div id="windowEditMOGWiseAPL">

                            <div class="row">
                                <div id="inputSearchAPL">
                                    <span id="searchspan1" style="float:left; margin-top:2px!important; display:block">
                                        <input type="text" id="myInputAPL" placeholder="Search" class="search-input" title="Start typing to filter">
                                        <i class="fas fa-search" style="    position: relative; right: -277px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                                    </span>
                                    <label id="labelUnitAPLList" style="display: none;margin-top: 7px;"></label>
                                    <label id="labelUnitAPLList2" style="display: none;margin-top: 7px;float:right;"></label>
                                </div>
                                <div class="modal-footer col" style="padding-right: 12.5px !important;margin-top: 0px !important;">
                                    <button type="submit" id="btnUnitAPLSelector" class="btn btn-success" onclick="getMOGWiseAPLMasterData_RegionSite(this)">Region APL</button>

                                    <button type="submit" id="btnCancelAPL" class="btn btn-tool">Back</button>
                                    @*<button type="submit" id="btnSubmitAPL" class="btn btn-tool">Save</button>*@
                                </div>
                            </div>

                            <div class="container">

                                <div style="margin-top: 10px; height: auto;" id="gridMOGWiseAPL"></div>

                            </div>
                        </div>

                        <div id="divDishCategory" style="display:none;">
                            <div class="container">
                                <div class="first-input">
                                    <div>
                                        <label class="form-control-label">Code</label>
                                        <input type="text" id="uomcode" class="form-control" disabled />
                                    </div>


                                </div>
                                <div class="first-input">
                                    <div>
                                        <label class="form-control-label"> Name<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="uomname" class="form-control" />
                                    </div>
                                </div>

                                <div class="first-input">
                                    <div>

                                        <button type="submit" id="uomsubmit" class="btn btn-info btn-new-save">Save</button>

                                        <button type="submit" id="uomcancel" class="btn btn-tool btn-new-cancel">Cancel</button>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <!-- /.card-footer-->
                </section>
            </div>

            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<div id="videoPlayingDiv" style="display:none;">
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 5px;">
            <video id="videoclip" width="990" height="550" controls="controls" style="border:1px solid lightgrey;" disablePictureInPicture controlsList="nodownload noplaybackrate" oncontextmenu="return false;">
                <source id="mp4video" src="#" type="video/mp4" />
            </video>
        </div>
    </div>
</div>