﻿<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetDishDataList: "@Url.Action("GetDishDataList", "Dish")",
        GetMOGDataList: "@Url.Action("GetMOGDataList", "MOG")",
        GetUOMDataList: "@Url.Action("GetUOMDataList", "CookBookMaster")",
        GetRecipeDataList: "@Url.Action("GetRecipeDataList", "Recipe")",
        GetBaseRecipesByRecipeID: "@Url.Action("GetBaseRecipesByRecipeID", "Recipe")",
        GetMOGsByRecipeID: "@Url.Action("GetMOGsByRecipeID", "Recipe")",
        SaveRecipeData: "@Url.Action("SaveRecipeData", "Recipe")",
        SaveRecipeDataList: "@Url.Action("SaveRecipeDataList", "Recipe")",
        GetAPLMasterDataListForMOG: "@Url.Action("GetAPLMasterDataListForMOG", "APLMaster")",
        GetRecipeImpactedDataList: "@Url.Action("GetRecipeImpactedDataList", "Recipe")",
        SendRecipeEmail: "@Url.Action("SendRecipeEmail", "Recipe")",
        GetApplicationSettingDataList: "@Url.Action("GetApplicationSettingDataList", "Setting")",
        GetUOMModuleMappingDataList: "@Url.Action("GetUOMModuleMappingDataList", "CookBookMaster")",
        GetNutritionMasterDataList: "@Url.Action("GetNutritionMasterDataList", "CookBookMaster")",
        SaveRecipeNutrientMappingData: "@Url.Action("SaveRecipeNutrientMappingData", "Recipe")",
        GetMOGUOMDataList: "@Url.Action("GetMOGUOMDataList", "MOG")",
        GetSiteDataListByUserId: "@Url.Action("GetSiteDataListByUserId", "Site")",
        GetSiteRecipeDataList: "@Url.Action("GetSiteRecipeDataList", "Recipe")",
        SaveRecipeCopy:"@Url.Action("SaveRecipeCopy", "Recipe")",

        GetRecipePrintingData:"@Url.Action("GetRecipePrintingData", "Recipe")",
    }
</script>
<style>
    .checkbox-container .checkmarkgrid:after {
        left: 3.4px !important;
    }

    .siteinputdiv .k-dropdown .k-input {
        padding: 6px 0 !important;
        font-size: 12px !important;
    }

    .siteinputdiv span.k-icon.k-i-arrow-s {
        top: 9px !important;
    }
     /*.k-dropdown .k-input {
        height: 30px !important;
        line-height: 1.65em !important;
        padding: 0.097em 0 !important;
        font-size: 12px !important;
    }*/

    .k-multiselect-wrap {
        background-color: #dddddd !important;
    }

    .k-dropdown-wrap.k-state-default {
        background-color: #fff;
        min-height: inherit !important;
        padding: 0em 0;
        font-size: 13px;
        height: 30px !important;
    }

    #inputsitemulti {
        max-height: 100px !important;
    }

    input.k-checkbox {
        display: inline;
        opacity: 0;
        width: 0;
        margin: 0;
        -webkit-appearance: checkbox;
        overflow: hidden;
    }

    .row-checkbox {
        margin-left: 20px;
    }

    .search-input {
        margin-right: 0px !important;
    }

    .k-checkbox-md {
        border: 1px solid #76b4b0;
    }

    

</style>
@*<script src="~/Scripts/CookBook/Recipe.js"></script>*@

<script src="~/Scripts/CookBook/RecipeCopy.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row" style="margin-top:2px!important;">
            <div class="col-12">
                <div id="success" class="alert alert-success alert-dismissible" style="display:none;width:100%;">
                    <i class="icon fas fa-check"></i>
                    <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                    </p>
                </div>
            </div>

            <!-- Left col -->
            <section id="mainContent" class="col-sm-12 " style="display: inherit;min-height: 480px;">
                <div id="RecipeMaster" class="col-lg-12 card direct-chat direct-chat-primary" style="display:block;margin-top:0!important">
                    <div class="card-header" style="padding-top:0px!important;">
                        <div class="row">
                            <div class="col-md-4 siteinputdiv" style="padding-left:0;">
                                <label class="form-control-label" style="margin-left: -13px;">Select Copy from Unit</label>
                                <div style="height:30px !important; display:block;width:100%!important; margin-left:-13px; margin-top:7px!important; margin-right:10px; text-align: left;" id="inputsite" class="form-control">

                                </div>
                            </div>
                            <div class="col-md-7">
                                <label class="form-control-label">Select Copy to Unit</label>
                                <div style="height: 33px !important;background-color: #dddddd; display: block;margin-top: 7px !important;text-align: left;" id="inputsitemulti" class="form-control">

                                </div>
                            </div>
                            <div class="col-md-1" style="text-align: right; ">
                                <button id="btnGo" type="submit" class="btn  btn-info" data-toggle="tooltip" title=""
                                        data-widget="chat-pane-toggle" style=" display: inline-block; height: 32px; margin-left: -3px !important; margin-top: 27px !important; padding-top: 0px !important; padding-bottom: 2px !important; padding-top: 2px !important;">
                                    Apply
                                </button>
                            </div>
                        </div>

                        @*<button id="btnGo" type="submit" class="btn  btn-info" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="display:none;margin-left:-6px!important;margin-top:8px!important">
                                Go
                            </button>*@
                        <span id="searchspan" style="float:right; margin-top:2px!important; display:none">
                            <input type="text" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                            <i class="fas fa-search" style="    position: relative; right: -277px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                        </span>
                    </div>
                    <!-- /.card-header -->
                    <div class="row">
                        <div class="col-12" style="padding-left:0;">
                            <div id="fpbody" class="card-body" style="overflow: hidden;">
                                <div id="bulkerror" class="alert alert-danger alert-dismissible" style="display:none">
                                    <i class="icon fas fa-exclamation"></i>
                                    <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                    </p>
                                </div>


                                <div id="gridRecipe"></div>

                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
</section>
<div id="videoPlayingDiv" style="display:none;">
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 5px;">
            <video id="videoclip" width="990" height="550" controls="controls" style="border:1px solid lightgrey;" disablePictureInPicture controlsList="nodownload noplaybackrate" oncontextmenu="return false;">
                <source id="mp4video" src="#" type="video/mp4" />
            </video>
        </div>
    </div>
</div>