﻿<style>
    #recipeTab {
        background-color: #fff !important;
        border-color: #fff !important;
    }

        #recipeTab .k-content {
            margin-left: 0;
            /*margin-top: 0 !important;
            padding-top: 0 !important;*/
            margin-top: 7px !important;
            padding: 5px !important;
            padding-left: 0 !important;
            border: solid 1px #d5d5d5 !important;
        }
        /*Krish 09-08-2022*/
        #recipeTab .defRecipeHighlighted {
            border: 1px solid #ffc631 !important;
        }

        #recipeTab .k-tabstrip-items {
            padding-left: 0;
        }

        #recipeTab .k-item {
            border-color: #fff !important;
        }

        /*#recipeTab .k-state-active {

        }*/

        #recipeTab .k-link {
            /*background-color: rgb(118,180,176) !important;*/
            /* background-color: rgb(118,180,176);*/
            color: black !important;
            background-color: #ffc631 !important;
            padding: 5px;
            border-radius: 5px 5px 0 0;
            padding-left: 10px !important;
            padding-right: 10px !important;
            height: 24px;
            color: white;
            cursor: pointer;
            padding-bottom: 2px;
        }

        #recipeTab .container {
            padding-left: 5px !important;
        }

    #windowEditDishnutri .k-tabstrip:focus {
        box-shadow: none !important;
    }

    #windowEditDishnutri .divdetailshead {
        margin-bottom: 0 !important;
        font-weight: 500 !important;
    }
    /*#windowEditDishnutri .lbldetails {
        font-size: 0.9rem;
    }*/
    /*#windowEditDishnutri .divdetailsinput {
        background-color: #fff;
        border-color: #fff;
        font-weight: 600;
        padding-left: 0;
        font-size: 1rem !important;
    }*/
    /*#ngallergenname, #allergenname {
        color: #212529 !important;
        font-weight: 700 !important;*/
        /*font-size: 1rem !important;*/
    /*}*/

    #gridMOGNutri .k-grid-content, .dishRecipe .k-grid-content {
        /* overflow: visible !important;*/
        max-height: fit-content !important;
    }

    #windowEditDishnutri {
        padding-bottom: 15px;
    }
    /*#windowEditDishnutri .leftside {
            overflow-y: scroll;
            max-height: 86vh;
        }*/
    .k-last .k-link {
        margin-right: 0 !important;
    }
    /*Krish 13-07-2022*/

    .dishRecipe .colortag {
        height: 12px !important;
        width: 22px !important;
        background-color: #fff;
        border-radius: 9px;
        margin-left: 9px;
    }
    
</style>
<div id="windowEditDishnutri" class="col-md-12" style="padding-left:0;">

    @*<div class="container" style="overflow-y: auto; height:inherit;">*@
    <div id="error" class="alert alert-danger alert-dismissible" style="display:none">
        <i class="icon fas fa-exclamation"></i>
        <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
        </p>
    </div>

    <div class="row">

        <div class="col-md-5 leftside">
            <div class="row">
                <div class="col-12" style="padding-left: 6px;">
                    <h3 class="card-title"><label id="lblDishNutriTitle" class="divdetailshead"></label></h3>
                </div>
            </div>
            <div class="row" style="margin-top:10px!important">
                <div class="col-3">
                    <label class="form-control-label">Dish Code</label>
                    @*<input type="text" id="inputdishcode" class="form-control divdetailsinput" disabled />*@
                    <label id="txtinputdishcode" class="form-control-label label"></label>
                    <input type="hidden" name="inputdishcode" id="inputdishcode" />
                </div>
                <div class="col-5">
                    <label class="form-control-label">Dish Name</label>
                    @*<input type="text" id="inputdishname" class="form-control divdetailsinput" />*@
                    <label id="txtinputdishname" class="form-control-label label"></label>
                    <input type="hidden" name="inputdishname" id="inputdishname" />
                </div>
                <div class="col-4">
                    <label class="form-control-label">Dish Alias</label>
                    @*<input type="text" id="inputdishalias" class="form-control divdetailsinput" />*@
                    <label id="txtinputdishalias" class="form-control-label label"></label>
                    <input type="hidden" name="inputdishalias" id="inputdishalias" />
                </div>
            </div>
            <div class="row" style="margin-top:15px!important">
                <div class="col-3">
                    <label class="form-control-label">Diet Category</label>
                    @*<div id="sectordishcateinputdietcategory" class="form-control"></div>*@
                    <label id="txtsectordishcateinputdietcategory" class="form-control-label label"></label>
                    <input type="hidden" name="sectordishcateinputdietcategory" id="sectordishcateinputdietcategory" />
                </div>

                <div class="col-5">
                    <label class="form-control-label">Dish Category</label>
                    @*<div id="inputdishcategory" class="form-control"></div>*@
                    <label id="txtinputdishcategory" class="form-control-label label"></label>
                    <input type="hidden" name="inputdishcategory" id="inputdishcategory" />
                </div>
                <div class="col-4">
                    <label class="form-control-label">Dish Type</label>
                    @*<div id="inputdishtype" class="form-control"></div>*@
                    <label id="txtinputdishtype" class="form-control-label label"></label>
                    <input type="hidden" name="inputdishtype" id="inputdishtype" />
                </div>


                <div class="col-2 googleonly" style="margin-left: -71px;">

                    <label class="form-control-label">Cuisine</label>
                    <div id="inputcuisine" class="form-control"></div>

                </div>
            </div>

            <div style="display:none;">
                <label class="form-control-label">UOM<span class="mandatoryAsterisk">*</span></label>
                <div id="inputuomsectordish" class="form-control"></div>
            </div>

            <div class="row healthcareonly">
                <div class="col-6">
                    <label class="form-control-label">Contains</label>
                    <label class="form-control-label label" id="allergenname"></label>
                </div>
                <div class="col-6">
                    <label class="form-control-label">May Contains (NG)</label>
                    <label class="form-control-label label" id="ngallergenname"></label>
                </div>
            </div>

            <div class="row healthcareonly">
                <div class="col-12">
                    
                    <div class="form-control-label"> Start typing/Select allowed Health Tag(s) to be mapped with this Dish</div>
                    <div id="inputHealthTagClear" style="padding-left:0;">
                        <div style="display:none; text-align: left;" id="inputHealthTag"></div>

                    </div>
                </div>
            </div>
            <div class="row " style="display:none !important">
                <div class="col-12">
                    <div class="form-control-label"> Start typing/Select allowed Life Style Tag(s) to be mapped with this Dish</div>
                    <div id="inputLifeStyleTagClear" style="padding-left:0;">
                        <div style="display:none; text-align: left;" id="inputLifeStyleTag"></div>
                    </div>
                </div>
            </div>

            <div class="row healthcareonly">
                <div class="col-12">
                    <div class="form-control-label"> Start typing/Select allowed Diet Type to be mapped with this Dish</div>
                    <div id="inputDietTypeClear" style="padding-left:0;">
                        <div style="display:none; text-align: left;" id="inputDietType"></div>

                    </div>
                </div>
            </div>
            <div class="row healthcareonly">
                <div class="col-12">
                    <label class="form-control-label">Select allowed Texture Type to be mapped with this Dish</label>
                    <div id="inputtexture" class="form-control"></div>
                </div>
            </div>

            <div class="row" style="margin-top:15px!important">
                <div class="col-3 isHealthCare">
                    <label class="form-control-label">Choose Dish Color</label>
                    <div class="colortable">
                        <table>
                        </table>
                    </div>
                </div>
                <div class="col-2 isHealthCare" style="margin-left:16px;">
                    <label class="form-control-label">Preview</label>
                    <div class="colortagedit form-control"></div>
                </div>
                <div class="col-1 isHealthCare">
                    <div class="form-group" style="margin-top: 1px; float: right;">
                        <p style="margin-bottom:2px;font-size:12px" class="form-control-label">Is Sensitive</p>
                        <label class="switch" style="margin-top:8px;">
                            <input id="issensitive" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="col-4 isHealthCare" style="min-width:272px;">
                    <label class="form-control-label">Sensitive Note</label>
                    <input type="text" id="inputsensitive" class="form-control" />
                </div>
                <div class="modal-footer col" style="padding-right:11.5px!important;">
                    <button type="submit" id="btnCancelDishnutri" class="btn btn-tool">Cancel</button>
                    <button type="submit" id="btnSubmitDish" class="btn btn-info">Save</button>
                </div>
            </div>

        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-12">
                    <label class="divdetailshead">Mapped Recipe</label>
                </div>
            </div>
            <div class="row">
                <div class="col-12" style=" margin-bottom: 15px;">
                    <div id="recipeTab"></div>
                </div>
            </div>
        </div>

    </div>
    @*</div>*@

    <div style="display:none;">
        <div id="gridContent">
            <div id="gridMOGNutri" style="overflow:visible!important;"></div>
        </div>
        <div id="instructionContent">

        </div>
    </div>


    <div id="recipeDetails" style="display:none;">
        <div class="container" style="overflow-y: auto; height:inherit;">
            <div class="row ">
                <div class="col-md-2">
                    <label class="form-control-label">Recipe Code</label>

                    <label class="form-control-label label">##RecipeCode##</label>

                </div>
                <div class="col-md-5">
                    <label class="form-control-label">Recipe Name</label>

                    <label class="form-control-label label">##RecipeName##</label>

                </div>
                <div class="col-md-1">
                    <label class="form-control-label">Quantity</label>

                    <label class="form-control-label label">##Quantity##</label>

                </div>
                <div class="col-md-2">
                    <label class="form-control-label">Recipe Type</label>

                    <label class="form-control-label label">##RecipeType##</label>

                </div>
            </div>
            <div class="row">
                @*<div class="col-md-12">*@
                    <div class="col-md-5">
                        <label class="form-control-label">Contains</label>
                        <label class="form-control-label">##Allergen##</label>
                    </div>
                    <div class="col-md-6">
                        <label class="form-control-label">May Contains (NG)</label>
                        <label class="form-control-label">##AllergenNG##</label>
                    </div>
                @*</div>*@
            </div>
                <div class="row">
                <div class="col-md-12">

                    <div>
                        <div class="dishRecipe">
                            <div class="upper" style="height: 24px;">
                                Direct Ingredients (MOG)
                                <br />

                            </div>
                            <div class="lower">
                                <div style="overflow: visible !important;" data-role="grid" class="k-grid k-widget">
                                    ##RecipeGrid##
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="form-control-label">Instructions</label>
                </div>
                <div class="col-md-12" style="min-height:50px;" id="divInstr">
                    ##Instructions##
                </div>
            </div>
        </div>
    </div>


</div>