﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"  content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon"  type="image/x-icon" href="~/favicon.ico" />
    <title>CookBook</title>
    @Scripts.Render("~/bundles/modernizr")
    @*<script src="~/Scripts/jquery-3.5.1.min.js"></script>*@
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    @*<script src="~/Scripts/jquery.validate.min.js"></script>*@

    @*<script src="~/Scripts/jquery/jquery.min.js"></script>
        <script src="~/Scripts/jquery-ui/jquery-ui.min.js"></script>*@
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>

    <script src="~/Scripts/bootstrap/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/Scripts/chart.js/Chart.min.js"></script>*@
    @*<script src="~/Scripts/sparklines/sparkline.js"></script>*@
    @*<script src="~/Content/css/jqvmap/jquery.vmap.min.js"></script>
        <script src="~/Content/css/jqvmap/maps/jquery.vmap.usa.js"></script>*@
    <script src="~/Scripts/jquery-knob/jquery.knob.min.js"></script>
    <script src="~/Scripts/moment/moment.min.js"></script>
    <script src="~/Content/css/daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/css/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/Content/css/summernote/summernote-bs4.min.js"></script>
    <script src="~/Content/css/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="~/Content/js/adminlte.js"></script>
    <script src="~/Content/js/pages/dashboard.js"></script>
    <script src="~/Content/js/demo.js"></script>
    <script src="~/Content/css/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/Content/css/toastr/toastr.min.js"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.1.412/angular.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.1.412/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.1.412/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.1.412/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/HTTP/HttpClient.js")"></script>
    <script src="@Url.Content("~/Scripts/Utility/Utility.js")"></script>

    <link rel="stylesheet" href="~/Content/css/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/css/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="~/Content/css/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/jqvmap/jqvmap.min.css" />
    <link rel="stylesheet" href="~/Content/css/adminlte.min.css">
    <link rel="stylesheet" href="~/Content/css/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="~/Content/css/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/Content/css/summernote/summernote-bs4.css">
    <link rel="stylesheet" href="~/Content/css/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <link rel="stylesheet" href="~/Content/css/toastr/toastr.min.css">
    <link href="@Url.Content("~/Content/kendo/2016.1.412/kendo.bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2016.1.412/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.412/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.412/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.412/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.412/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    
    <style>
        .sidebar-dark-light {
            background-color: rgb(242,240,239);
        }

        .nav-header {
            color: rgb(107,79,71) !important;
            font-weight: 600 !important;
        }

        .sidebar a {
            color: rgb(107,79,71) !important;
        }

        .nav-link.active {
            background-color: rgb(231,227,225);
            color: rgb(107,79,71);
            border-bottom: solid 1px rgb(232,213,202);
            border-top: solid 1px rgb(232,213,202);
            border-left: solid 3px rgb(107,79,71);
        }

        .brand-link {
            border-bottom: 1px solid #4b545c;
            color: seagreen !important;
            padding-left: 5px !important;
        }

        .content-wrapper {
            background: #ffffff !important;
            margin-top: -15px !important;
        }

        .btn-tool {
            color: rgb(118,180,176) !important;
        }

        .modal-content {
            border-radius: 1rem !important
        }

        .white-btn {
            font-size: 15px !important;
            padding: 8px 59px !important;
            border-radius: 0.5rem;
            text-align: center;
            margin-right: 0px;
            color: #ffc631;
            background-color: transparent;
            color: #699e9b;
            font-weight: 500;
            height: auto;
            border: none;
        }

            .white-btn:hover {
                background-color: #e2e2d9 !important
            }

        .white-savecancel-btn {
            font-size: 15px !important;
            padding: 8px 35px !important;
            border-radius: 0.5rem;
            text-align: center;
            margin-right: 0px;
            color: #ffc631;
            background-color: transparent;
            color: #699e9b;
            font-weight: 500;
            height: auto;
            border: none;
        }

            .white-savecancel-btn:hover {
                background-color: #e2e2d9 !important
            }

        .colored-btn {
            font-size: 15px !important;
            padding: 8px 59px !important;
            border-radius: 0.5rem !important;
            text-align: center;
            margin-right: 10px;
            color: #000;
            background-color: #699e9b;
            font-weight: 500 !important;
            height: auto;
            margin-right: 0px !important;
            color: #fff !important;
            height: auto !important;
            border: none !important;
        }

        #confirmbox_optional .modal-dialog, #confirmbox .modal-dialog, #confirmSave_Box .modal-dialog {
            width: 28% !important;
        }

        #confirmbox_optional .modal-footer, #confirmbox .modal-footer, #confirmSave_Box .modal-footer {
            margin-bottom: 10px;
            margin-right: 10px;
            margin-top: 0px;
        }

        #confirmbox_optional .modal-header, #confirmbox .modal-header, #confirmSave_Box .modal-header {
            background: #b1a391;
            color: #3e3737;
        }

        .modal {
            align-self: center;
        }

        .modal-dialog {
            display: flex;
            align-items: center;
        }

        .k-loading-image {
            display: none !important;
        }

        .layout-fixed .wrapper .sidebar {
            height: calc(100vh - (4.6rem + 1px)) !important;
        }
    </style>
    <script>



        $(document).keyup(function (e) {

            if (e.keyCode === 27) {
                $(".k-window").hide();
                $(".k-overlay").hide();
            }// $('.cancel').click();   // esc


        });
            $(window).load(function () {

            Utility.UnLoading();
                var menus = document.querySelectorAll('.sectormenu > .nav-item');
                var divhid = $("#SideMenu1Sample");

            for (var i = 0; i < menus.length; i++) {
                if (menus[i].getElementsByTagName('a')[0].classList.contains('active')) {
                    var child = menus[i].querySelectorAll(':scope > .active');
                    //console.log(divhid.scrollTop() )
                    $("div.os-viewport").animate({
                        scrollTop: $(child).offset().top - divhid.offset().top - 250
                    });
                }
            }
           // var calcult = parseInt(divhid) - parseInt(500)
           // $(".os-scrollbar-handle").css("transform", "translate(0px, 104.118px)");
           // alert(calcult);
        });



        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });

        var CookBookLayout = {
            GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
            GetSectorDataList: "@Url.Action("GetSectorDataList", "Home")",
            ChangeSectorData: "@Url.Action("ChangeSectorData", "Home")",
            GetModulesByUserID: "@Url.Action("GetModulesByUserID", "Home")",
            GetUserPermissionsByModuleCode: "@Url.Action("GetUserPermissionsByModuleCode", "Home")",
        }
        var sectordata = [];
        var moduledata = [];
        var falconmoduledata = [];
        var secname = "";
        var sectorNumber;
        var user;
        $(function () {
            $('#confirmSave_Box').on('shown.bs.modal', function (e) {
                $("#confirmSave_Ok").focus();
            });

            $('#confirmbox').on('shown.bs.modal', function (e) {
                $("#confirmOk").focus();
            });
        });

        $(document).keydown("keypress", function (e) {
            if (e.keyCode == kendo.keys.ESC) {
                $('#confirmSave_Box').modal('hide');
                $("#confirmbox").modal('hide');
                $("#confirmbox_optional").modal('hide');
                $("#confirmbox_warning").modal('hide');
                $('#confirmSave_Box1').modal('hide');
            }
        });

        $(document).ready(function () {
            $("#brandLogo").click(function () {
                moduledata = "";
                localStorage.setItem('moduledata', JSON.stringify(moduledata));
                localStorage.setItem('sectordata', JSON.stringify(""));

            });
            $('[data-toggle="tooltip"]').tooltip();
            HttpClient.MakeSyncRequest(CookBookLayout.GetLoginUserDetailsUrl, function (result) {
                user = result;
            }, null, false);
            var userID;
            sectordata = JSON.parse(localStorage.getItem('sectordata'));
            if (sectordata == undefined || sectordata == null || sectordata.length == 0) {
                  HttpClient.MakeSyncRequest(CookBookLayout.GetSectorDataList, function (data) {
                    var dataSource = data;
                    sectordata = [];
                    for (var i = 0; i < dataSource.length; i++) {
                        sectordata.push({ "value": dataSource[i].ID, "text": dataSource[i].SectorName, "SectorNumber": dataSource[i].SectorNumber });
                    }
                    localStorage.setItem('sectordata', JSON.stringify(sectordata));
                }, null, false);
            }
            @using CookBook.Data.UserData;
             @{
                  UserMasterResponseData userData = (UserMasterResponseData)Session["UserLoginDetails"];
               }
            secname = "@if (userData != null)
                   {
                      @userData.SectorName
                   }";
            sectorNumber="@if (userData != null)
                   {
                      @userData.SectorNumber
                   }";
            userID = "@if (userData != null)
                   {
                      @userData.UserId
                   }";

            populateSectorDataDropdown();
            moduledata = JSON.parse(localStorage.getItem('moduledata'));
            if (moduledata == undefined || moduledata == null || moduledata.length == 0) {
                HttpClient.MakeSyncRequest(CookBookLayout.GetModulesByUserID, function (data) {
                    var dataSource = data;
                    moduledata = [];
                    falconmoduledata = [];
                    for (var i = 0; i < dataSource.length; i++) {
                        if (dataSource[i].MenuDisplay == true) {
                            if (dataSource[i].MenuHeading == "Falcon") {
                                falconmoduledata.push({ "ModuleCode": dataSource[i].ModuleCode, "MenuDisplayName": dataSource[i].MenuDisplayName, "PageUrl": dataSource[i].PageUrl, "MenuHeading": dataSource[i].MenuHeading, "MenuParent": dataSource[i].MenuParent });
                            }
                            else {
                                moduledata.push({ "ModuleCode": dataSource[i].ModuleCode, "MenuDisplayName": dataSource[i].MenuDisplayName, "PageUrl": dataSource[i].PageUrl, "MenuHeading": dataSource[i].MenuHeading, "MenuParent": dataSource[i].MenuParent });
                            }
                        }
                    }
                    moduledata.sort((a, b) => (a.DisplayOrder < b.DisplayOrder) ? -1 : 1)

                    for (var i = 0; i < falconmoduledata.length; i++) {
                        moduledata.push({ "ModuleCode": falconmoduledata[i].ModuleCode, "MenuDisplayName": falconmoduledata[i].MenuDisplayName, "PageUrl": falconmoduledata[i].PageUrl, "MenuHeading": falconmoduledata[i].MenuHeading, "MenuParent": falconmoduledata[i].MenuParent });
                    };

                    localStorage.setItem('moduledata', JSON.stringify(moduledata));
                }, { "userID": userID }, false);

            }
            populateSideNavBar();

        });

        function SetControlState(userID, moduleCode) {
            HttpClient.MakeRequest(CookBookLayout.GetUserPermissionsByModuleCode, function (data) {
                var dataSource = data;
                var permissiondata = [];
                for (var i = 0; i < dataSource.length; i++) {
                    if (dataSource[i].OperationCode == '02') {
                        //var dropdownlist = $(".canbedisabled_ddl").data("kendoDropDownList");
                        if (dataSource[i].Allowed == 1) {
                            $(".canbecreated").show();
                            $(".canbehidden").show();
                            $(".canbedisabled").removedAttr("ReadOnly");
                            //dropdownlist.enable(true);
                        } else {
                            $(".canbecreated").hide();
                            $(".canbehidden").hide();
                            $(".canbedisabled").attr("ReadOnly", "ReadOnly");
                            //dropdownlist.enable(false);
                        }
                    }
                    if (dataSource[i].OperationCode == '03') {
                        //var dropdownlist = $(".canbedisabled_ddl").data("kendoDropDownList");
                        if (dataSource[i].Allowed == 1) {
                            $(".canbehidden").show();
                            $(".canbedisabled").removedAttr("ReadOnly");
                            //dropdownlist.enable(true);
                        } else {
                            $(".canbehidden").hide();
                            $(".canbedisabled").attr("ReadOnly", "ReadOnly");
                            //dropdownlist.enable(false);
                        }
                    }
                    if (dataSource[i].OperationCode == '04') {
                        if (dataSource[i].Allowed == 1) {
                            $(".canbebulkchanged").show();
                        } else {
                            $(".canbebulkchanged").hide();
                        }
                    }
                    if (dataSource[i].OperationCode == '05') {
                        if (dataSource[i].Allowed == 1) {
                            $(".canbemapped").removeAttr("ReadOnly");
                        } else {
                            $(".canbemapped").attr("ReadOnly", "ReadOnly");
                            $(".canbemappedcaption").val("View");
                        }
                    }
                    if (dataSource[i].OperationCode == '06') {
                        if (dataSource[i].Allowed == 1) {
                            $(".canbeexported").show();
                        } else {
                            $(".canbeexported").hide();
                        }
                    }
                    if (dataSource[i].OperationCode == '07') {
                        if (dataSource[i].Allowed == 1) {
                            $(".canbedeactivated").removeAttr("ReadOnly");
                        } else {
                            $(".canbedeactivated").attr("ReadOnly", "ReadOnly");
                        }
                    }
                }

            }, { "userID": userID, "moduleCode": moduleCode },false);
        }

 function populateSectorDataDropdown() {
            var nav = $("#sectorlist");
            var lhtml = "";
            if (sectordata.length == 1) {

                lhtml = "<a class='nav-link' data-toggle='dropdown' href='#'>" + secname + "</a >";
            } else {
                lhtml = "<a class='nav-link' title='Click here to switch the Sector' data-toggle='dropdown' href='#'>" + secname + "<span id='location'><span> (Click here to switch the Sector)</a >";
                lhtml = lhtml + "\n" +
                    "<div class='dropdown-menu dropdown-menu-lg dropdown-menu-right'>\n" +
                    "<span class='dropdown-item dropdown-header'>Change Sector</span>\n" +
                    "<div class='dropdown-divider'></div>\n";


                for (sector of sectordata) {
                   // var swch = "";
                    if (sector.text == secname) {
                        continue;
                    } else
                    if (sector.text != secname) {
                       // swch = "Switch";
                    }
                    lhtml = lhtml + "\n" +
                        "<div class='dropdown-divider'></div>\n" +
                        "<a href='#'  onclick=ChangeSector('" + sector.value + "') class='dropdown-item'>\n" +
                            "<i class='fas mr-2'></i>" + sector.text + "\n" +
                          //  "<span class='float-right text-muted text-sm' onclick=ChangeSector('" + sector.value + "')>"+ swch +"</span>\n" +
                            "</a>";
                }
                lhtml = lhtml + "\n </div>";
            }
            nav.append(lhtml);
        }


        function populateSideNavBar() {
            var navmmt2 = $("nav.mt-2 .sectormenu");
            var baseUrl = '@System.Configuration.ConfigurationManager.AppSettings["redirectUri"]';
            var lhtml = "";
            var header = "";
            var parent = "";
            for (module of moduledata) {
                if (header != module.MenuHeading) {
                    if (parent != "") {
                        if (parent != "blank") {
                            lhtml = lhtml + " </ul></li>";
                        }
                    }
                    header = module.MenuHeading;
                    lhtml = lhtml + "<li class='nav-header'>" + header + "</li>";

                }
                if (parent != module.MenuParent && header == module.MenuHeading) {
                    if (parent != "") {
                        if (parent != "blank") {
                            lhtml = lhtml + " </ul></li>";
                        }
                    }
                    if (module.MenuParent == "null") {
                        parent = "blank";
                    } else {
                        parent = module.MenuParent;
                        lhtml = lhtml + "<li class='nav-item has-treeview'>" +
                            "    <a href='#' class='nav-link'>" +
                            "       <i class='nav-icon fas fa-copy'></i>" +
                            "       <p>" + module.MenuParent + " <i class='fas fa-angle-right right'></i></p>" +
                            "    </a>" +
                            "    <ul class='nav nav-treeview'>";
                    }
                }
                var link = baseUrl + module.PageUrl;

                if (module.MenuParent == "null" ) {
                    parent = "blank";
                    lhtml = lhtml + "\n" +
                        "       <li class='nav-item'>" +
                       //"         <a href= '#' onclick='ActionCall(this);' class='nav-link'>" +
                       "          <a href= '" + link + "' onclick='ActionCall(this);' class='nav-link'>" +
                      // "           <a href= '" + link + "'  class='nav-link'>" +
                        "                <i class='nav-icon fas fa-copy'></i>" +
                        "                <p>" + module.MenuDisplayName + "</p>" +
                        "           </a>" +
                        "       </li>";
                } else {
                    parent = module.MenuParent
                    if (user.SectorNumber == "20" && module.MenuDisplay == "Day Part") {
                       module.MenuDisplay="Service Type"
                    } else if (user.SectorNumber =!"20" && module.MenuDisplay == "Day Part") {
                        module.MenuDisplay = "Mealtime"
                    }
                    lhtml = lhtml + "\n" +
                        "       <li class='nav-item'>" +
                        "           <a href=" + link + "  class='nav-link'>" +
                        "                <i class='far nav-icon'></i>" +
                        "                <p>" + module.MenuDisplayName + "</p>" +
                        "           </a>" +
                        "       </li>";
                }

            }
            navmmt2.append(lhtml);


        }
        function closePopUpWindow() {
            //=================Feeder Masters================

            $("#FDwindowEdit").data("kendoWindow").close();
            $("#MealwindowEdit").data("kendoWindow").close();
            $("#UOMwindowEdit").data("kendoWindow").close();
            $("#RTwindowEdit").data("kendoWindow").close();
            $("#ReaswindowEdit").data("kendoWindow").close();

            ////=========Sector=========================
            //$("#ColorwindowEdit").data("kendoWindow").close();
            //$("#DishwindowEdit").data("kendoWindow").close();
            //$("#windowEditDish").data("kendoWindow").close();
            //$("#MenuCwindowEdit").data("kendoWindow").close();
            //$("#ContTywindowEdit").data("kendoWindow").close();
            //$("#ContainerswindowEdit").data("kendoWindow").close();
            //return true;
        }
        //add by gaurav saini on 14-apr-2021

        function ActionCall(param) {
            event.preventDefault();
            var url = $.trim(param);

            var item;
           // alert(param);
            //return false;
            document.querySelectorAll('.k-window').forEach(function (a) {
                a.remove()
            })
            //=============================== Sector =========================
            if (url.includes("Color/Index")) {
                Utility.Loading();
                $("#partialcolordiv").load("@Url.Action("Index","Color")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Color Master");
                        CallActiveLink(param);

                    }
                });
            }
            else if (url.includes("NationalDishCategory/Index")) {
                Utility.Loading();

                $("#partialcolordiv").load("@Url.Action("Index", "NationalDishCategory")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("National Dish Category");
                        CallActiveLink(param);

                    }
                });
            }
            else if (url.includes("FoodProgram/DishCategory")) {
                Utility.Loading();

                $("#partialcolordiv").load("@Url.Action("DishCategory", "FoodProgram")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Dish Category");
                        CallActiveLink(param);

                    }
                });
            }
            else if (url.includes("Dish/Index")) {

                Utility.Loading();

                $("#partialcolordiv").load("@Url.Action("Index", "Dish")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Sector Dish Configuration");
                        CallActiveLink(param);
                        //closePopUpWindow();
                    }
                });
            }
            else if (url.includes("MOG/Index")) {
                Utility.Loading();

                $("#partialcolordiv").load("@Url.Action("Index", "MOG")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("MOG Master");
                        CallActiveLink(param);
                    }
                });
            }
            else if (url.includes("APLMaster/Index")) {
                Utility.Loading();

                $("#partialcolordiv").load("@Url.Action("Index", "APLMaster")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("APL Master");
                        CallActiveLink(param);
                    }
                });
            }
            else if (url.includes("NationalRecipe/Index")) {

                Utility.Loading();
                $("#partialcolordiv").load("@Url.Action("Index", "NationalRecipe")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("National Recipe Details");
                        Utility.UnLoading();
                        CallActiveLink(param);
                    }
                });


            }
            else if (url.includes("Recipe/Index")) {
                Utility.Loading();

                $("#partialcolordiv").load("@Url.Action("Index", "Recipe")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Sector Recipe Configuration");
                        CallActiveLink(param);

                    }
                });
            }
                 else if (url.includes("NationalItem/Index")) {

                Utility.Loading();
                $("#partialcolordiv").load("@Url.Action("Index", "NationalItem")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("National Item Master");
                        Utility.UnLoading();
                        CallActiveLink(param);
                    }
                });


            }
            else if (url.includes("Item/Index")) {
                //$("#mainLoader").prop('disabled', false);

                Utility.Loading();
                $("#partialcolordiv").load("@Url.Action("Index", "Item")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Sector Menu Configuration");
                        CallActiveLink(param);

                    }
                });
            }
            else if (url.includes("Container/Index")) {
                Utility.Loading();

                $("#partialcolordiv").load("@Url.Action("Index", "Container")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Container Master");
                        CallActiveLink(param);

                    }
                });
            }

            else if (url.includes("Container/Container")) {
                Utility.Loading();

                $("#partialcolordiv").load("@Url.Action("Container", "Container")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Container Details");
                        CallActiveLink(param);

                    }
                });
            }

            //========================= Feeder Masters =================================
            else if (url.includes("FoodProgram/Index")) {

                Utility.Loading();

                $("#partialcolordiv").load("@Url.Action("Index", "FoodProgram")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Food Program Details");
                        Utility.UnLoading();
                        CallActiveLink(param);
                       // closePopUpWindow();
                    }
                });
            }
            else if (url.includes("FoodProgram/DayPart")) {

                Utility.Loading();

                $("#partialcolordiv").load("@Url.Action("DayPart", "FoodProgram")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Mealtime Details");
                        Utility.UnLoading();
                        CallActiveLink(param);
                        //closePopUpWindow();
                    }
                });
            }
            else if (url.includes("FoodProgram/UOM")) {
                Utility.Loading();

                $("#partialcolordiv").load("@Url.Action("UOM", "FoodProgram")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("UOM Details");
                        Utility.UnLoading();
                        CallActiveLink(param);

                    }
                });
            }
            else if (url.includes("FoodProgram/ReasonType")) {
                Utility.Loading();

                $("#partialcolordiv").load("@Url.Action("ReasonType", "FoodProgram")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Reason Type Details");
                        Utility.UnLoading();
                        CallActiveLink(param);

                    }
                });
            }
            else if (url.includes("FoodProgram/Reason")) {
                Utility.Loading();
                $("#partialcolordiv").load("@Url.Action("Reason", "FoodProgram")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Reason Master");
                        Utility.UnLoading();
                        CallActiveLink(param);

                    }
                });
            }
            else if (url.includes("CookBookMaster/Index")) {
                Utility.Loading();

                $("#partialcolordiv").load("@Url.Action("Index", "CookBookMaster")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Segmentation Masters");
                        Utility.UnLoading();
                        CallActiveLink(param);

                    }
                });
            }
            //========================= Other Masters ======================
            else if (url.includes("Site/Index")) {
                Utility.Loading();

                $("#partialcolordiv").load("@Url.Action("Index", "Site")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Site Details Master")
                        CallActiveLink(param);

                    }
                });
            }
            else if (url.includes("Cafe/Index")) {
                Utility.Loading();

                $("#partialcolordiv").load("@Url.Action("Index", "Cafe")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Cafe Details Master")
                        CallActiveLink(param);

                    }
                });
            }
            else if (url.includes("MOG/NationalMOG")) {
                Utility.Loading();

                $("#partialcolordiv").load("@Url.Action("NationalMOG", "MOG")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("National MOG Master")
                        CallActiveLink(param);

                    }
                });
            }

            //========================= Region ======================

            else if (url.includes("Item/regionMenu")) {

                Utility.Loading();
                $("#partialcolordiv").load("@Url.Action("regionMenu", "Item")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Regional Menu Configuration")
                        CallActiveLink(param);
                    }
                });


            }

            else if (url.includes("Dish/RegionalRecipeMap")) {

                Utility.Loading();
                $("#partialcolordiv").load("@Url.Action("RegionalRecipeMap", "Dish")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Regional Dish Configuration")
                        Utility.UnLoading();
                        CallActiveLink(param);
                    }
                });
            }

            else if (url.includes("Recipe/RegionalConfig")) {

                Utility.Loading();
                $("#partialcolordiv").load("@Url.Action("RegionalConfig", "Recipe")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Regional Recipe Configuration")
                        CallActiveLink(param);
                    }
                });
            }


            //========================= Unit ======================

            else if (url.includes("Item/SiteMenu")) {

                Utility.Loading();
                $("#partialcolordiv").load("@Url.Action("SiteMenu", "Item")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Unit Menu Configuration")
                        Utility.UnLoading();
                        CallActiveLink(param);

                    }
                });


            }
            else if (url.includes("Container/SiteContainer")) {

                Utility.Loading();
                $("#partialcolordiv").load("@Url.Action("SiteContainer", "Container")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Unit - Dish - Container Mapping")
                        Utility.UnLoading();
                        CallActiveLink(param);
                    }
                });


            }
            else if (url.includes("Item/UnitPrice")) {

                Utility.Loading();
                $("#partialcolordiv").load("@Url.Action("UnitPrice", "Item")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Item Price Configuration");
                        Utility.UnLoading();
                        CallActiveLink(param);
                    }
                });


            }

            else if (url.includes("Dish/SiteRecipeMap")) {

                Utility.Loading();
                $("#partialcolordiv").load("@Url.Action("SiteRecipeMap", "Dish")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Unit Dish Master");
                        Utility.UnLoading();
                        CallActiveLink(param);
                    }
                });


            }
            else if (url.includes("Recipe/SiteConfig")) {

                Utility.Loading();
                $("#partialcolordiv").load("@Url.Action("SiteConfig", "Recipe")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Unit Recipe Configuration");
                        Utility.UnLoading();
                        CallActiveLink(param);
                    }
                });


            }
            else if (url.includes("CuisineMaster/CuisineMaster")) {

                Utility.Loading();
                $("#partialcolordiv").load("@Url.Action("CuisineMaster", "CuisineMaster")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Cuisine Master");
                        Utility.UnLoading();
                        CallActiveLink(param);
                    }
                });
            }
            else if (url.includes("CookBookMaster/Allergen")) {
                Utility.Loading();
                $("#partialcolordiv").load("@Url.Action("Allergen", "CookBookMaster")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Allergen Master");
                        Utility.UnLoading();
                        CallActiveLink(param);
                    }
                });
            }
            else if (url.includes("National/Index")) {

                Utility.Loading();
                $("#partialcolordiv").load("@Url.Action("Index", "National")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("National Site");
                        Utility.UnLoading();
                        CallActiveLink(param);
                    }
                });


            }
            else if (url.includes("NationalAPL/Index")) {

                Utility.Loading();
                $("#partialcolordiv").load("@Url.Action("Index", "NationalAPL")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("National APL");
                        Utility.UnLoading();
                        CallActiveLink(param);
                    }
                });


            }

            //==================================================Control Desk Menu===================== add by gaurav saini 6 july 2021


            else if (url.includes("ManageSector/Index")) {

                Utility.Loading();
                $("#partialcolordiv").load("@Url.Action("Index", "ManageSector")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Manage Sector Master");
                        Utility.UnLoading();
                        CallActiveLink(param);
                    }
                });


            }

            else if (url.includes("LevelMaster/Index")) {

                Utility.Loading();
                $("#partialcolordiv").load("@Url.Action("Index", "LevelMaster")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Level Master");
                        Utility.UnLoading();
                        CallActiveLink(param);
                    }
                });


            }
            else if (url.includes("ManageFunction/Index")) {

                Utility.Loading();
                $("#partialcolordiv").load("@Url.Action("Index", "ManageFunction")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Function Master");
                        Utility.UnLoading();
                        CallActiveLink(param);
                    }
                });


            }
             else if (url.includes("ManagePermissions/Index")) {

                Utility.Loading();
                $("#partialcolordiv").load("@Url.Action("Index", "ManagePermissions")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("Permissions Master");
                        Utility.UnLoading();
                        CallActiveLink(param);
                    }
                });


            }
            else if (url.includes("CapringMaster/Index")) {

                Utility.Loading();
                $("#partialcolordiv").load("@Url.Action("Index", "CapringMaster")", function (result, status) {
                    if (status == "success") {
                        $("#ImageSectionMain").hide();
                        $("#topHeading").text("CAPRING Master");
                        Utility.UnLoading();
                        CallActiveLink(param);
                    }
                });


            }

        }


        function CallActiveLink(url) {

            var current = location.pathname;

            $('a.nav-link').each(function () {
                var $this = $(this);
                var str = $this.attr('href').split(url);

                if (current.indexOf(str[1]) !== -1) {

                    $this.addClass('active');
                } else {
                    $this.removeClass('active');
                }
                // $this.addClass('active');

            });
        }



        function ChangeSector(newSectorID) {
            moduledata = "";
            localStorage.setItem('moduledata', JSON.stringify(moduledata));
            var newSectorName = '';
            for (sec of sectordata) {
                if (sec.value == newSectorID) {
                    newSectorName = sec.text;
                }
            }
            //  Utilit y.Page_Alert_Save("The action will reload the application and discard the unsaved changes. Click 'Proceed' to Switch the Sector or click 'Cancel' to stay on the same Sector", "Swith Sector", "Proceed", "Cancel",
            Utility.Page_Alert_Save("You have triggered a command to Switch " + secname + " to " + newSectorName + ". This will discard all unsaved work.", "Swith Sector", "Proceed", "Cancel",
            function () {
                    HttpClient.MakeRequest(CookBookLayout.ChangeSectorData, function (result) {
                        if (result == false) {
                            alert("Oops! Something went wrong. Please reachout to IT Helpdesk for further assistance");
                        }
                        else {
                            HttpClient.MakeRequest(CookBookLayout.GetSectorDataList, function (data) {
                                var dataSource = data;
                                sectordata = [];
                                for (var i = 0; i < dataSource.length; i++) {
                                    sectordata.push({ "value": dataSource[i].ID, "text": dataSource[i].SectorName, "SectorNumber": dataSource[i].SectorNumber });
                                }
                                secname = "@if (userData != null)
                                            {
                                                 @userData.SectorName
                                            }";

                                populateSectorDataDropdown();
                                var url = '@Url.Action("Index", "Home")';
                                window.location.href = url;
                            }, null, false);
                        }
                    }, { "SectorID": newSectorID }, true);
                },
                function () {
                    //
                }
            );
        }


        $(function () {
            var current = location.pathname;
            $('a.nav-link').each(function () {
                var $this = $(this);
                var str = $this.attr('href').split(current);
                // if the current path is like this link, make it active
                //if ($this.attr('href').indexOf(str[1]) !== -1) {
                if (current.indexOf(str[1]) !== -1) {

                    $this.addClass('active');
                }

            })
            //document.getElementsByClassName('sectormenu')[0].scrollTop = 0;
            //var menus = document.querySelectorAll('.sectormenu > .nav-item');

            //for (var i = 0; i < menus.length; i++) {
            //    if (menus[i].getElementsByTagName('a')[0].classList.contains('active')) {
            //        var child = menus[i].querySelectorAll(':scope > .active');
            //        $("#SideMenu1Sample").animate({
            //            scrollTop: $(child).offset().top
            //        })
            //        //document.getElementsByClassName('sectormenu')[0].scrollTop = chilW;

            //    }
            //}
        });

        var pageLoadTime = moment();

        setInterval(refreshAuthenticationCookies, 10000);

        function refreshAuthenticationCookies() {
            if (moment().diff(pageLoadTime, "seconds") > 600) {
               // document.getElementById("refreshAuthenticationIframe").contentDocument.location = "@Url.Action("ForceSessionRefresh", "Home", new { area = "" })";
                var renewUrl = "@Url.Action("ForceSessionRefresh", "Home", new { area = "" })";
                var element = document.getElementById("refreshAuthenticationIframe");
                element.src = renewUrl;
                pageLoadTime = moment();
            }
        }
    </script>
    @{
        var isCookBookPlay = Convert.ToBoolean(System.Configuration.ConfigurationManager.AppSettings["IsCookBookPlay"]);
    }

</head>
<body class="hold-transition sidebar-mini layout-fixed">
 
    <div class="wrapper">
        <iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms" id="refreshAuthenticationIframe" 
                src="@Url.Action("ForceSessionRefresh", "Home", new { area = "" })" style="display:none;"></iframe>
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <h4 id="topHeading" class="m-0 text-dark" style="margin-top:5px!important">@ViewBag.Title</h4>
                </li>
            </ul>

            @if (isCookBookPlay)
            {
            <ul class="navbar-nav ml-auto">
                <li class="nav-item d-none d-sm-inline-block">
                    <h4 id="topHeading" class="m-0 text-red" style="margin-top:5px!important;FONT-WEIGHT: 600;FONT-SIZE: 40PX!important;">DEMO VERSION</h4>
                </li>
            </ul>
            }

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown" id="sectorlist">
                </li>
                <li class="nav-item">
                    @if (Context.Session["UserLoginDetails"] != null)
                    {
                        UserMasterResponseData userObject = (UserMasterResponseData)Session["UserLoginDetails"];

                        <a class="nav-link" data-widget="control-sidebar" data-slide="false" href="#" role="#">
                            <i class="fas fa-user" style="margin-right:7px"></i>@userObject.ProfileName | @userObject.UserRoleName
                        </a>
                    }
                    else
                    {
                        <a class="nav-link" data-widget="control-sidebar" data-slide="false" href="#" role="#">
                            <i class="fas fa-user"></i>Hi,
                        </a>
                    }
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-light">
            <!-- Brand Logo -->
            <a id="brandLogo" href="@Url.Action("Index", "Home")" class="brand-link">
                <img src="~/Content/Images/logo_long_dist.png" alt="CookBook" class="brand-image"
                     style="opacity: .8">
                <span class="brand-text font-weight-light"></span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar" style="min-height:475px!important">
                <!-- Sidebar user panel (optional) -->
                @*<div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div style="margin-top:5px">
                            <i class="fas left fa-user" style="color:beige"></i>

                        </div>
                        <div class="info">
                            <a href="#" class="d-block">Vivek Dwivedi</a>
                        </div>
                    </div>*@

                <!-- Sidebar Menu -->
                <nav class="mt-2" id="SideMenu1Sample">
                    <ul class="nav nav-pills nav-sidebar flex-column sectormenu" data-widget="treeview" role="menu" data-accordion="false">
                       
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="min-height:560px!important">
            <div id="mainOverlay"></div>
            <div id="mainLoader" disabled>

            </div>
            <div>
                @RenderBody()
                
            </div>
            @RenderSection("scripts", required: false)
        </div>
        <script>
            $(".k-pager-info .k-label").text().replace("items", "records");
        </script>
        <!-- /.content-wrapper -->
        <footer class="main-footer" style="position:fixed; width:100%; bottom: 0px; z-index: 999;">
            <span>Copyright &copy; 2020-2021 Compass India.</span>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                CookBook Version 0.0
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <div class="modal fade" id="confirmbox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;z-index:1050;width:100%; align-self:center;">
            <div class="modal-dialog" style="width:30%">
                <div class="modal-content">
                    <div class="modal-body" style="text-align:center">
                        <i id="warningIcon" class="fas fa-exclamation-triangle warning-icon" style="padding: 4px 7px;font-size: 30px;color:#76b4b0;margin:16px"></i>
                        <p style="font-size: 16px;" id="confirmMessage">Any confirmation message?</p>
                    </div>
                    <div class="modal-footer" style="border: none;justify-content: space-around;margin-right:0px">
                        <button class="colored-btn" id="confirmOk">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirmbox_optional" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;z-index:1050;width:100%; align-self:center;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body" style="text-align:center">
                        <i class="fa fa-exclamation-triangle" style="padding: 4px 7px;font-size: 30px;color:#76b4b0;margin:16px"></i>
                        <p>Are you sure you want to <br /><strong>Gravy</strong></p>
                        <img src="~/Content/Images/check.png" style="width:24px;height:24px; margin-right:15px;" /><p id="confirmMessage_Optional">Any confirmation message?</p>
                    </div>
                    <div class="modal-footer" style="border: none;justify-content: space-around;margin-right:0px">
                        <button class="white-btn" id="confirm_Ok">Ok</button>
                        <button class="colored-btn" id="confirm_No">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirmbox_warning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;z-index:1050;width:100%; align-self:center;">
            <div class="modal-dialog">
                <div class="modal-content" style="width:410px;">
                    <div class="modal-header">
                        <p id="confirmHeader_Warning" class="p-alert">Alert</p>
                    </div>
                    <div class="modal-body" style="text-align:center">
                        <i class="fas fa-exclamation-triangle warning-icon" style="padding: 4px 7px;font-size: 30px;color:#76b4b0;margin:16px"></i><p style="font-size: 16px;" id="confirmMessage_Warning">Any confirmation message?</p>
                    </div>
                    <div class="modal-footer" style="border: none">
                        <button class="colored-btn" id="confirm_Ok">Ok</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirmSave_Box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;z-index:10020; width:100%; align-self:center;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body" style="text-align:center">
                        <i id="warningIcon" class="fas fa-exclamation-triangle warning-icon" style="padding: 4px 7px;font-size: 30px;color:#76b4b0;margin:16px"></i>
                        <p style="font-size: 16px;" id="confirmSave_Message">Any confirmation message?</p>
                    </div>
                    <div class="modal-footer" style="border: none;justify-content: space-around;margin-right:0px">
                        <button class="white-btn" id="confirmSave_Ok">
                            Ok
                        </button>
                        <button class="colored-btn" id="confirmSave_No">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="overlay" id="overlay"></div>
            <div class="preloader" id="preloader"></div>
        </div>

        <div class="modal fade" id="confirmSave_Box1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;z-index:1150; width:100%; align-self:center;">
            <div class="modal-dialog">
                <div class="modal-content" style="width:410px;">
                    <div class="modal-body" style="text-align:center">
                        <img src="~/Content/Images/check.png" style="width:24px;height:24px; margin-right:15px;" /><p style="font-size: 16px;" id="confirmSave_Message1">Any confirmation message?</p>
                    </div>
                    <div class="modal-footer" style="border: none;justify-content: space-around;margin-right:0px">
                        <button class="white-btn" id="confirmSave_Ok">Ok</button>
                        <button class="colored-btn" id="confirmSave_No">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="overlay" id="overlay"></div>
            <div class="preloader" id="preloader"></div>
        </div>

    </div>
    <!-- ./wrapper -->
</body>
</html>
