﻿@using CookBook.Data;
@{
    UserData userData = (UserData)Session["UserLoginDetails"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <title>Cilantro</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")


    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/Content/Custom.css" rel="stylesheet" />*@
    <link href="~/Content/css/styles.css" rel="stylesheet" />

    <link href="@Url.Content("~/Content/kendo/2016.1.412/kendo.bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2016.1.412/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.412/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.412/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.412/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.412/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />



    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


    <script src="~/Scripts/select.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>


    <script src="@Url.Content("~/Scripts/kendo/2016.1.412/angular.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.1.412/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.1.412/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.1.412/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/HTTP/HttpClient.js")"></script>
    <script src="@Url.Content("~/Scripts/Utility/Utility.js")"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>





<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">

            <div class="container">

                <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Course", "Index", "Course")</li>
                            <li>@Html.ActionLink("User", "Index", "User")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>*
            </div>
        </div>*@
    <div class="container">
        <div class="top-bar">
            @if (userData != null)
            {
                <img src="~/Content/Images/location.png" alt="">
            }
            <span id="city"></span>
        </div>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top banner">
            <div class="row">
                <div class="col-sm-3">
                    <a href="https://cpgplc.sharepoint.com/sites/MyCompass/SitePages/Home.aspx" target="_blank"><img src="~/Content/Images/compass-logo.png" alt="" class="logo-compass"></a>

                </div>
                <div class="col-sm-4 header-tm">
                    <h4 class="select-header SalesTracker-sort">
                        <a href="@Url.Action("Home","TransactionDetails")" class="app-icon">
                        </a>Kitchen Planning Tool
                    </h4>
                </div>
                <div class="col-sm-5  header-tm" style="margin-top:10px;">
                    <div class="collapse navbar-collapse navbar-right" id="navbars">
                        <ul class="menu">
                            @if (userData != null)
                            {
                                if (userData.IsAdmin && userData.IsSiteUser)
                                {
                                    <li>@Html.ActionLink("Home", "Home", "TransactionDetails")</li>
                                    <li>@Html.ActionLink("Master", "Index", "Contamination")</li>
                                    <li>@Html.ActionLink("Site Report", "Index", "TransactionReport")</li>
                                }
                                else if (userData.IsAdmin)
                                {
                                    <li>@Html.ActionLink("Master", "Index", "Contamination")</li>
                                    <li class="master-li">@Html.ActionLink("Regional Report", "Index", "RegionalReport")</li>
                                }
                                else if (userData.IsSiteUser)
                                {
                                    <li>@Html.ActionLink("Home", "Home", "TransactionDetails")</li>
                                    <li class="master-li">@Html.ActionLink("Site Report", "Index", "TransactionReport")</li>
                                }
                                else
                                {
                                    <li class="master-li">@Html.ActionLink("Regional Report", "Index", "RegionalReport")</li>
                                }
                            }
                            else
                            {
                                Response.Redirect("~/HOME/NotAuthenticated");
                            }
                        </ul>
                        @*<nav>
                                <ul class="menu">
                                    <li>@Html.ActionLink("Home", "Home", "TransactionDetails")</li>
                                    <li>@Html.ActionLink("Master", "Index", "Contamination")</li>
                                    <li>@Html.ActionLink("Site Report", "Index", "TransactionReport")</li>
                                    <li class="master-li">@Html.ActionLink("Regional Report", "Index", "RegionalReport")</li>
                                </ul>
                            </nav>*@
                    </div>
                </div>
            </div>



        </nav>


        <div>
            @RenderBody()
            <footer>
                @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
            </footer>
        </div>

        <div class="modal fade" id="confirmbox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
            <div class="modal-dialog" style="width:30%">
                <div class="modal-content">
                    <div class="modal-header">
                        <p id="confirmHeader" class="p-alert">Alert</p>
                    </div>
                    <div class="modal-body">
                        <p id="confirmMessage">Any confirmation message?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="org-btn save-btn" id="confirmOk">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirmbox_optional" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;z-index:1050;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <p id="confirmHeader_Optional" class="p-alert">Alert</p>
                    </div>
                    <div class="modal-body">
                        <p id="confirmMessage_Optional">Any confirmation message?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="org-btn save-btn width100" id="confirm_Ok">Ok</button>
                        @*<button class="btn btn-primary width100" id="confirm_No">Cancel</button>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirmSave_Box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;z-index:1150; width:100%; align-self:center;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <p id="confirmSave_Header" class="p-alert">Alert</p>
                    </div>
                    <div class="modal-body">
                        <p id="confirmSave_Message">Any confirmation message?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="org-btn save-btn" id="confirmSave_Ok">Ok</button>
                        <button class="clear-btn" id="confirmSave_No">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="overlay"></div>
        <div id="preloader"></div>

        @*@Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")*@
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('#confirmSave_Box').on('shown.bs.modal', function (e) {
            $("#confirmSave_Ok").focus();
        });

        $('#confirmbox').on('shown.bs.modal', function (e) {
            $("#confirmOk").focus();
        });


    })


</script>