﻿
<style>
    #recipeTab {
        background-color: #fff !important;
        border-color: #fff !important;
    }

        #recipeTab .k-content {
            margin-left: 0;
            /*margin-top: 0 !important;
            padding-top: 0 !important;*/
            margin-top: 7px !important;
            padding: 5px !important;
            padding-left: 0 !important;
            border: solid 1px #d5d5d5 !important;
        }

        #recipeTab .k-tabstrip-items {
            padding-left: 0;
        }

        #recipeTab .k-item {
            border-color: #fff !important;
        }

        /*#recipeTab .k-state-active {

        }*/

        #recipeTab .k-link {
            /*background-color: rgb(118,180,176) !important;*/
            /* background-color: rgb(118,180,176);*/
            color: black !important;
            background-color: #ffc631 !important;
            padding: 5px;
            border-radius: 5px 5px 0 0;
            padding-left: 10px !important;
            padding-right: 10px !important;
            height: 24px;
            color: white;
            cursor: pointer;
            padding-bottom: 2px;
        }

        #recipeTab .container {
            padding-left: 5px !important;
        }

    #windowEditDishnutri .k-tabstrip:focus {
        box-shadow: none !important;
    }

    #windowEditDishnutri .divdetailshead {
        margin-bottom: 0 !important;
        font-weight: 500 !important;
    }
    /*#windowEditDishnutri .lbldetails {
        font-size: 0.9rem;
    }*/
    /*#windowEditDishnutri .divdetailsinput {
        background-color: #fff;
        border-color: #fff;
        font-weight: 600;
        padding-left: 0;
        font-size: 1rem !important;
    }*/
    /*#ngallergenname, #allergenname {
        color: #212529 !important;
        font-weight: 700 !important;*/
    /*font-size: 1rem !important;*/
    /*}*/

    #gridMOGNutri .k-grid-content, .dishRecipe .k-grid-content {
        /* overflow: visible !important;*/
        max-height: fit-content !important;
    }

    #windowEditDishnutri {
        padding-bottom: 15px;
    }
    /*#windowEditDishnutri .leftside {
            overflow-y: scroll;
            max-height: 86vh;
        }*/
    .k-last .k-link {
        margin-right: 0 !important;
    }
    /*Krish 13-07-2022*/

    .dishRecipe .colortag {
        height: 12px !important;
        width: 22px !important;
        background-color: #fff;
        border-radius: 9px;
        margin-left: 9px;
    }

    .backgray {
        background-color: rgb(242,240,239);
        margin-left: 8px;
        margin-right: 8px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 2px;
        margin-top: 4px;
        border-radius: 5px;
    }

    .dishRecipe .k-grid-content {
        /*overflow: scroll;*/
        max-height: 225px !important;
    }

    #recipeDetailsShell .dishRecipe {
        margin-bottom: 0 !important;
    }

    #recipeDetailsShell #divInstr {
        font-size: 12px;
    }
</style>
<div id="windowEditRecipeDetails" class="col-md-12" style="padding-left:0;">

    @*<div class="container" style="overflow-y: auto; height:inherit;">*@
    <div id="error" class="alert alert-danger alert-dismissible" style="display:none">
        <i class="icon fas fa-exclamation"></i>
        <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
        </p>
    </div>



    <div style="display:none;">
        <div id="gridContent">
            <div id="gridMOGNutri" style="overflow:visible!important;"></div>
        </div>
        <div id="instructionContent">

        </div>
    </div>


    <div id="recipeDetails" style="display:none;">
        <input type="hidden" name="hdnRecipeCodeForPrint" value="" id="hdnRecipeCodeForPrint" />
        <div class="container" style="overflow-y: auto; height:inherit;padding-left:0!important;">
            <div class="row">
                <div class="col-md-12" style="text-align:right;">
                    <button type="button" style=" margin-top: 0 !important; height: 30px;" id="btnBacktoGrid" class="btn btn-tool" onclick="doBackFromDetails();">Back</button>
                    <button type="button" style="height:26px;" id="btnPrintRecipeGrid" class="btn btn-success btn-xs" onclick="doPrintFromDetails();">Print</button>
                    <button type="button" style="height:26px;" id="btnExportRecipeGrid" class="btn btn-success btn-xs" onclick="doExportFromDetails();">Export</button>
                </div>
            </div>
            <div class="backgray">
                <div class="row">
                    <div class="col-md-2">
                        <label class="form-control-label">Recipe Code</label>

                        <label class="form-control-label label">##RecipeCode##</label>

                    </div>
                    <div class="col-md-7">
                        <label class="form-control-label">Recipe Name</label>

                        <label class="form-control-label label">##RecipeName##</label>

                    </div>
                    <div class="col-md-1">
                        <label class="form-control-label">Quantity</label>

                        <label class="form-control-label label">##Quantity##</label>

                    </div>
                    <div class="col-md-2" style="text-align:right;">
                        <label class="form-control-label">Recipe Type</label>

                        <label class="form-control-label label">##RecipeType##</label>

                    </div>

                </div>
                <div class="row">
                    @*<div class="col-md-12">*@
                    <div class="col-md-6">
                        <label class="form-control-label">Contains</label>
                        <label class="form-control-label">##Allergen##</label>
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                        <label class="form-control-label">May Contains (NG)</label>
                        <label class="form-control-label">##AllergenNG##</label>
                    </div>
                    @*</div>*@
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div>
                        <div class="dishRecipe">
                            <div class="upper" style="height: 36px;">
                                Direct Ingredients (MOG)
                                <br />

                            </div>
                            <div class="lower">
                                <div style="overflow: visible !important;" data-role="grid" class="k-grid k-widget">
                                    ##RecipeGrid##
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="width:99%;">
                <div class="col-md-12">
                    <label class="form-control-label">Instructions</label>
                </div>
                <div class="col-md-12" style="max-height:75px;overflow-y:scroll;" id="divInstr">
                    ##Instructions##
                </div>
            </div>
        </div>
    </div>


</div>

<div id="windowEditExportRecipe" style="display:none;">
    <div class="container">
        <div class="first-input">
            <div>
                <label class="form-control-label"> Recipe Yield<span class="mandatoryAsterisk">*</span></label>
                <input type="text" id="inputRecipeYield" value="" class="form-control" />
            </div>
        </div>

        <div class="first-input">
            <div>

                <button type="button" id="recipeExportSubmit" onclick="recipeExportSubmit();" class="btn btn-info btn-new-save">Export</button>

                <button type="button" id="recipeExportCancel" onclick="recipeExportCancel();" class="btn btn-tool btn-new-cancel">Cancel</button>
            </div>


        </div>

    </div>
</div>
