﻿<style>
    /*Krish*/
    @@media screen {
        #printRecipe {
            display: none;
        }
    }

    @@media print {
        @@page {
            margin: 0;
        }

        body {
            margin: 1.4cm;
        }

            body * {
                visibility: hidden;
                -webkit-print-color-adjust: exact;
            }


        #printRecipe, #printRecipe * {
            visibility: visible;
        }

        #printRecipe {
            position: absolute;
            left: 10px;
            top: 15px;
        }
        /*table, th, td {*/
        /*border-collapse: collapse;
            border: 1px solid black;*/
        /*width: 100%;*/
        /*text-align: center;
        }*/
        table {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #fff;
        }

        th, td {
            text-align: left;
            padding: 5px;
        }

        th {
            /*padding-left: 6px;*/
        }


        table tr:nth-child(odd) {
            background-color: #f2f2f2;
            /*color: #fff;*/
        }
        /*tr:nth-child(even) {
            background-color: #f2f2f2;
        }*/
        .topHeaderPrint * {
            font-weight: 600;
            font-size: 18px;
        }

        .tableMOGPrint {
            padding-top: 30px;
        }

        .divInstructions {
            padding-top: 30px;
        }

        #txtaInstructions {
            width: 100%;
            /*min-height: 200px;*/
            padding: 8px;
            /*border: 1px solid #f2f2f2;*/
        }

        .topHeaderPrintLogo {
            width: 250px;
        }

            .topHeaderPrintLogo img {
                max-height: 50px;
            }
    }
</style>

<div class="container recipePrintpage">
    <!-- Main row -->
    <div class="row">
        <div class="col-md-9 topHeaderPrint">
            <span class="topspanheading" id="spanRecipeName"></span>
            <span class="topspanheading" id="spanDishName"></span>
            <span class="topspanheading" id="spanYield"></span>
        </div>
        @{
            var localSite = System.Configuration.ConfigurationManager.AppSettings["BaseUrl"];
        }
        <div class="col-md-3 topHeaderPrintLogo">
            <img id="applogo" src="~/Content/Images/logo_long_dist.png" alt="CookBook" class="brand-image" style="opacity: .8">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span>Recipe - Compass India Food Services</span>
        </div>
    </div>
    <div class="row tableMOGPrint">
        <div class="col-md-12">
            @*<label>MOG Details : </label>*@
        </div>
        <div class="col-md-12">
            <table id="tblRecipePrint">
            </table>
        </div>
    </div>
    <div class="row divInstructions">
        <div class="col-md-12">
            <label>Instructions : </label>
        </div>

        <div class="col-md-12" id="txtaInstructions1" style="display:none;">

        </div>
        <div class="col-md-12" id="txtaInstructions">

        </div>
    </div>
</div>