﻿<div class="card-header">
    <h3 class="card-title" style="margin-left: -17px;">Dish Details</h3>
    <div class="card-tools" style="margin-top: -6px;">
        <span style="float:left; margin-top:2px!important">
            <input type="text" id="myInputDish" placeholder="Search" class="search-input" title="Start typing to filter">
            <i class="fas fa-search" style="    position: relative; right: -277px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
        </span>
        <button id="btnExport" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                data-widget="chat-pane-toggle" style="padding-top:7px">
            Export To Excel
        </button>
        <button id="InitiateBulkChanges" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                data-widget="chat-pane-toggle" style="padding-top:7px">
            Apply Bulk Changes
        </button>
        <button id="CancelBulkChanges" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                data-widget="chat-pane-toggle" style="display:none;padding-top:7px">
            Cancel Bulk Changes
        </button>
        <button id="SaveBulkChanges" type="submit" class="btn btn-success-bulk btn-xs" data-toggle="tooltip" title=""
                data-widget="chat-pane-toggle" style="display:none; margin-top:5px">
            Save Bulk Changes
        </button>
        <button id="AddNewDish" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                data-widget="chat-pane-toggle" style="margin-top:5px">
            Add New Dish
        </button>
    </div>
</div>