﻿<script>

    var CookBookMasters = {
           GetCapringMasterDataList: "@Url.Action("GetCapringMasterDataList", "Eclipse")",
        GetUserMasterDataList: "@Url.Action("GetUserMasterDataList", "Eclipse")",
    }
</script>

<script src="~/Scripts/CookBook/UserCapring.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />
<style>
    .slider {
        top: 6px !important;
        bottom: -6px !important;
    }
    .foo {
        border: solid 1px #333;
        border-collapse: collapse;
    }

    .bar {
        /*background: #9c9c9c;
        color: #333;*/
        padding: 5px 20px;
    }
</style>
@{
    ViewBag.Title = "User Capring Mapping";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div id="UCMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                   
                    <!-- /.card-header -->
                  
              
                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<div id="videoPlayingDiv" style="display:none;">
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 5px;">
            <video id="videoclip" width="990" height="550" controls="controls" style="border:1px solid lightgrey;" disablePictureInPicture controlsList="nodownload noplaybackrate" oncontextmenu="return false;">
                <source id="mp4video" src="#" type="video/mp4" />
            </video>
        </div>
    </div>
</div>