﻿<script>

    var CookBookMasters = {

        GetSectorMasterData: "@Url.Action("GetSectorMasterData", "CapringMaster")",
        GetLevelMasterData: "@Url.Action("GetLevelMasterData", "CapringMaster")",
        GetFunctionMasterData: "@Url.Action("GetFunctionMasterData", "CapringMaster")",
        GetPermissionMasterData: "@Url.Action("GetPermissionMasterData", "CapringMaster")",
        SaveCapringInfo: "@Url.Action("SaveCapringInfo", "CapringMaster")",
        GetCapringMasterList: "@Url.Action("GetCapringMasterList", "CapringMaster")",
        UpdateCapringInfo: "@Url.Action("UpdateCapringInfo", "CapringMaster")",
        UpdateCapringInactiveActive: "@Url.Action("UpdateCapringInactiveActive", "CapringMaster")", 
        UpdateCapringDescriptionInfo: "@Url.Action("UpdateCapringDescriptionInfo", "CapringMaster")",

    }
</script>

<script src="~/Scripts/CookBook/CapringMaster.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />
<link href="~/Content/css/summernote/summernote-bs4.css" rel="stylesheet" />
<script src="~/Content/css/summernote/summernote-bs4.min.js"></script>
@*<script src="~/Scripts/CookBook/RecipeRegionalConfig.js"></script>*@
@{
    ViewBag.Title = "CAPRING Master";
}
<style>
    .k-dropdown-wrap .k-state-default {
        margin-left: 17px;
    }
    #gridRecipeCustom .k-grid-content.k-auto-scrollable {
        height: auto !important;
    }

    .serv {
        font-size: 0.8em;
        line-height: 21px;
        padding: 8px 0px;
    }


    .k-button, .k-state-hover, .k-button:hover {
        color: #e2e2e2;
        border-color: none;
        background-color: transparent;
        box-shadow: none !important;
    }

        .k-button.k-state-active, .k-button:active {
            color: #e2e2e2;
            border-color: none !important;
            background-color: transparent !important;
            box-shadow: none !important;
        }

        .k-button.k-state-focus, .k-button:focus {
            box-shadow: none !important;
        }

        .k-button.k-state-active:hover, .k-button:active:hover {
            box-shadow: none !important;
            background-color: transparent !important;
            border: none !important;
        }

    .k-grid-MapDishes {
        cursor: pointer !important;
    }

    .k-dropdown-wrap.k-state-border-down {
        border-bottom-width: 1px;
        padding-bottom: 0;
        border-radius: 4px;
    }

    .k-dirty {
        display: none;
    }
</style>
<!-- Main content -->

<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->

            <section class="col-sm-12" style="display:inherit; max-height:480px">

                <div class="col-lg-12 card direct-chat direct-chat-primary">
                    <h3 class="card-title" style="margin-left: -12px;margin-top: 7px;"></h3>
                    <div class="card-header">


                        <div class="container">

                            <div id="maindiv" style="display:none;">
                                <div class="row">
                                    <input type="text" id="txt_CapringCode" style=" margin-top: 7px; width: 217px !important;margin-left: 10px;" readonly class="form-control" placeholder="CAPRING Code" />
                                    <input type="text" id="txt_CapringDesc" style="margin-top: 7px;width: 218px !important;margin-left:6px" class="form-control" placeholder="CAPRING Description" />
                                    <div style="display:none;width:250px!important; margin-left:6px; margin-top:7px!important; margin-right:10px; text-align: left;" id="ddlSectorMaster" class="form-control"></div>


                                </div>
                                <div class="row">
                                    <div class="col-3">

                                        <div style="display:none;width:228px!important; margin-left:2px; margin-top:7px!important; margin-right:10px; text-align: left;" id="ddlLevelMaster" class="form-control"></div>
                                    </div>

                                    <div class="col-3">

                                        <div style="display:none;width:230px!important; margin-left:35px; margin-top:7px!important; margin-right:10px; text-align: left;" id="ddlFunctionMaster" class="form-control"></div>
                                    </div>
                                    <div class="col-3">
                                        <div style="display:none;width:250px!important; margin-left:66px; margin-top:7px!important; margin-right:10px; text-align: left;" id="ddlPermissionMaster" class="form-control"></div>


                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col-11" style="margin-left: 624px;">
                                        <button type="submit" id="Capringcancel" class="btn btn-tool">Cancel</button>
                                        <button type="submit" id="btnGo" style="margin-top: 9px !important;" class="btn btn-info">Save</button>
                                    </div>


                                </div>

                            </div>
                            <input type="hidden" id="CapringID" />
                            <input type="hidden" id="CapringDescription" />
                            <div id="Editmaindiv" style="display:none;">
                                <div class="row">
                                    <input type="text" id="txt_CapringCodeEdit" style=" margin-top: 7px; width: 217px !important;margin-left: 10px;" readonly class="form-control" placeholder="CAPRING Code" />
                                    <input type="text" id="txt_CapringDescEdit" style="margin-top: 7px;width: 218px !important;margin-left:6px" class="form-control" placeholder="CAPRING Description" />
                                    <div style="display:none;width:250px!important; margin-left:6px; margin-top:7px!important; margin-right:10px; text-align: left;" id="EditddlSectorMaster" class="form-control"></div>


                                </div>
                                <div class="row">
                                    <div class="col-3">

                                        <div style="display:none;width:228px!important; margin-left:2px; margin-top:7px!important; margin-right:10px; text-align: left;" id="EditddlLevelMaster" class="form-control"></div>
                                    </div>

                                    <div class="col-3">

                                        <div style="display:none;width:230px!important; margin-left:35px; margin-top:7px!important; margin-right:10px; text-align: left;" id="EditddlFunctionMaster" class="form-control"></div>
                                    </div>
                                    <div class="col-3">
                                        <div style="display:none;width:250px!important; margin-left:66px; margin-top:7px!important; margin-right:10px; text-align: left;" id="EditddlPermissionMaster" class="form-control"></div>


                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col-11" style="margin-left: 610px;">
                                        <button type="submit" id="CapringcancelEdit" class="btn btn-tool">Cancel</button>
                                        <button type="submit" id="btnGoEdit" style="margin-top: 9px !important;" class="btn btn-info">Update</button>
                                    </div>


                                </div>

                            </div>

                        </div>
                            <div class="card-tools" style="margin-top: -6px;" id="maintools">

                                @*<a href="MOG/DownloadExcTemplate/" target="_blank" class="btn btn-tool" style="margin-top:20px;"> Export To Template</a>*@
                                <button id="btnExport" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                        data-widget="chat-pane-toggle" style="padding-top:7px;">
                                    Export To Excel
                                </button>

                                <span style="float:left">
                                    <input type="text" style=" margin-top: 8px;" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                    <i class="fas fa-search" style="position: relative; right: -277px;top: 7px;font-size: 0.8em;color: #76b4b0;"></i>
                                </span>

                                <button id="CapringAddNew" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                        data-widget="chat-pane-toggle" style="margin-top:5px; ">
                                    Add New CAPRING
                                </button>

                            </div>
                        </div>
                            <div id="dishid" style="display:none;"></div>
                            <!-- /.card-header -->
                            <div id="fpbody" class="card-body" style="overflow:visible;">


                                <div id="gridCapringMaster"></div>

                            </div>
                            <!-- /.card-body -->

                        </div>

                        <!-- /.Left col -->
                        <!-- /.Left col -->
</section>
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
