﻿<script>

    var CookBookMasters = {
        GetCuisinMasterList: "@Url.Action("CuisineMasterList", "CuisineMaster")",
        SaveCuisine: "@Url.Action("SaveCuisine", "CuisineMaster")",
        UpdateCuisine: "@Url.Action("UpdateCuisine", "CuisineMaster")",

    }
</script>

<script src="~/Scripts/CookBook/CuisineMaster.js"></script>

<link href="~/Content/css/styles.css" rel="stylesheet" />
<style>
    #GETALLMogViewALLHistoryBATCHWISE .k-grid-content {
        min-height: 100px;
        max-height: 200px;
    }

    #inputSectorClear .k-input[readonly] {
        background-color: #e2e2e2 !important;
        color: #2e2e2e;
    }

    .m-link {
        cursor: pointer !important;
        color: #a09b9b;
        font-size: 0.8em;
        margin-right: 4px;
    }

    .k-grid-MapAPL {
        color: #76b4b0 !important;
    }

    .statuscolu {
        color: orangered !important;
    }

    #windowEditMOGWiseAPL .card-header {
        padding-top: 0px !important;
    }

    #windowEditMOGWiseAPL .container {
        padding-left: 5px !important;
    }

    #changesum:hover {
        background: none !important;
    }

    .btn-tool:hover {
        background-color: transparent !important;
    }

    .checkbox-container .checkmark:after {
        left: 3.5px !important;
        top: 1px !important;
    }

    .info-box {
        min-height: 45px !important;
        padding: 0px !important;
        border: 1px solid #00000047;
    }

    .info-box-padding {
        /* padding-left: 0px !important;
        padding-right: 0px !important;*/
        margin-right: 23px !important;
    }

    /*#finalRecipeGrid, #baseRecipeGrid, #dishGrid, #itemGrid, #siteGrid .k-grid-content.k-auto-scrollable {
        height: 150px !important;
        max-height: 150px !important;
    }*/

    #windowEditMOGDependencies .k-grid-content.k-auto-scrollable {
        height: 150px !important;
        max-height: 150px !important;
    }

    .batchstatuscolor {
        color: forestgreen !important;
    }

    .batchstatuscolorred {
        color: orangered !important;
    }

    .ViewBatch {
        color: #b7aeae !important;
    }

    #windowEditMOGDependencies .k-grid {
        width: 99% !important;
    }


    h6 {
        font-weight: 600 !important;
        margin-top: 10px !important;
    }

    .dependencies-scroll {
        max-height: 360px;
        overflow-y: scroll !important;
        overflow-x: hidden;
    }

    .slider {
        top: 6px !important;
        bottom: -6px !important;
    }

    #windowEditMOGDependencies .k-grid-norecords-template {
        background-color: #fff;
        border: none !important;
        font-size: 20px !important;
    }

    .colortag {
        height: 13px;
        width: 12px;
        border-radius: 9px;
        margin-left: 22px;
        background-color: blue;
    }
</style>
@{
    ViewBag.Title = "Cuisine Master";
}
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <input id="isRIEnabled" type="hidden" value="@System.Configuration.ConfigurationManager.AppSettings["isRIEnabled"]" />
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">

                <div id="MOGMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -12px;margin-top: 7px;"></h3>

                        <div class="card-tools" style="margin-top: -6px;">

                            @*<a href="MOG/DownloadExcTemplate/" target="_blank" class="btn btn-tool" style="margin-top:20px;"> Export To Template</a>*@
                            <button id="btnExport" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px">
                                Export To Excel
                            </button>


                            <span style="float:left">
                                <input type="text" style=" margin-top: 8px;" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="position: relative; right: -277px;top: 7px;font-size: 0.8em;color: #76b4b0;"></i>
                            </span>
                            <button id="Cuisineddnew" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="margin-top:5px">
                                Add New
                            </button>

                        </div>
                    </div>
                    <div id="mogid" style="display:none;"></div>
                    <!-- /.card-header -->
                    <div id="fpbody" class="card-body">
                        <div id="bulkerror" class="alert alert-danger alert-dismissible" style="display:none">
                            <i class="icon fas fa-exclamation"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="success" class="alert alert-success alert-dismissible" style="display:none">
                            <i class="icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridBulkChange"></div>
                        <div id="gridMOG"></div>

                    </div>
                    <!-- /.card-body -->
                    <!-- /.card-footer-->
                </div>


                <div id="CuisinewindowEdit" style="display:none;">
                    <div class="container">
                        <div class="first-input">
                            <div>
                                <label class="form-control-label">Code</label>
                                <input type="text" id="Cuisineccode" disabled class="form-control" />
                            </div>


                        </div>
                        <div class="first-input">
                            <div>
                                <label class="form-control-label"> Name<span class="mandatoryAsterisk">*</span></label>
                                <input type="text" id="Cuisinecname" class="form-control" />
                            </div>
                        </div>

                        <div class="first-input">
                            <div>

                                <button type="submit" id="Cuisinesubmit" class="btn btn-info btn-new-save">Save</button>

                                <button type="submit" id="Cuisinecancel" class="btn btn-tool btn-new-cancel">Cancel</button>
                            </div>


                        </div>

                    </div>
                </div>


                <div id="CuisinewindowEdit1" style="display:none;">
                    <div class="container">
                        <div class="first-input">
                            <div>
                                <label class="form-control-label">Code</label>
                                <input type="text" id="Cuisineccode1" disabled class="form-control" />
                            </div>


                        </div>
                        <div class="first-input">
                            <div>
                                <label class="form-control-label"> Name<span class="mandatoryAsterisk">*</span></label>
                                <input type="text" id="Cuisinecname1" class="form-control" />
                            </div>
                        </div>

                        <div class="first-input">
                            <div>

                                <button type="submit" id="Cuisinesubmit1" class="btn btn-info btn-new-save">Save</button>

                                <button type="submit" id="Cuisinecancel1" class="btn btn-tool btn-new-cancel">Cancel</button>
                            </div>


                        </div>

                    </div>
                </div>


            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<div id="videoPlayingDiv" style="display:none;">
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 5px;">
            <video id="videoclip" width="990" height="550" controls="controls" style="border:1px solid lightgrey;" disablePictureInPicture controlsList="nodownload noplaybackrate" oncontextmenu="return false;">
                <source id="mp4video" src="#" type="video/mp4" />
            </video>
        </div>
    </div>
</div>