﻿<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
   
        GetDishCategoryDataList: "@Url.Action("NationalGetDishCategoryDataList", "NationalDishCategory")",
      
    }
</script>

<script src="~/Scripts/CookBook/NationalDishCategory.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />
<style>

    .slider {
        top: 6px !important;
        bottom: -6px !important;
    }

    .k-grid-filter.k-state-active {
        background-color: #ddd !important;
    }
    .k-grid-filter.k-state-active {
        background-color: #dedada !important;
    }
</style>
@{
    ViewBag.Title = "Dish Category";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div id="SiteMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;"></h3>
                        <div class="card-tools" style="margin-top: -6px;">
                            <button id="btnExportDish" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px">
                                Export To Excel
                            </button>
                            <span style="float:left; margin-top:2px!important">
                                <input type="text" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="    position: relative; right: -277px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                            </span>
                            @*<button id="dcaddnew" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                data-widget="chat-pane-toggle" style="margin-top:5px">
            Add New
        </button>*@
                        </div>
                    </div>
                    <div id="dcid" style="display:none;"></div>
                    <!-- /.card-header -->
                    <div id="dcbody" class="card-body">


                        <div id="gridDishCategory"></div>

                        <div id="DishwindowEdit" style="display:none;">
                            <div class="container">
                                <div class="first-input">
                                    <div>
                                        <label class="form-control-label">Code</label>
                                        <input type="text" id="dccode" class="form-control" disabled />
                                    </div>


                                </div>
                                <div class="first-input">
                                    <div>
                                        <label class="form-control-label"> Name<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="dcname" class="form-control" />
                                    </div>
                                </div>

                                <div class="first-input">
                                    <div>

                                        <button type="submit" id="dcsubmit" class="btn btn-info btn-new-save">Save</button>

                                        <button type="submit" id="dccancel" class="btn btn-tool btn-new-cancel">Cancel</button>
                                    </div>


                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                    <!-- /.card-footer-->
                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<div id="videoPlayingDiv" style="display:none;">
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 5px;">
            <video id="videoclip" width="990" height="550" controls="controls" style="border:1px solid lightgrey;" disablePictureInPicture controlsList="nodownload noplaybackrate" oncontextmenu="return false;">
                <source id="mp4video" src="#" type="video/mp4" />
            </video>
        </div>
    </div>
</div>