﻿<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetPMDataList: "@Url.Action("GetPatientMasterDataList", "PatientMaster")",
        GetPMHISTORY: "@Url.Action("GetPatientMasterHISTORY", "PatientMaster")",
        GetPMHISTORYDetails: "@Url.Action("GetPatientMasterHISTORYDetails", "PatientMaster")",
        GetshowGetALLPMHISTORYBATCHWISE: "@Url.Action("GetshowGetALLPMHISTORYBATCHWISE", "PatientMaster")",
        UploadExcelsheetPatientMaster: "@Url.Action("UploadExcelsheetPatientMaster", "PatientMaster")",
        SaveStatusPatientMasterData: "@Url.Action("SaveStatusPatientMaster", "PatientMaster")",
        GetALLHISTORYDetailsPatientMaster:"@Url.Action("GetALLHISTORYDetailsPatientMaster", "PatientMaster")",
    }
</script>

<script src="~/Scripts/CookBook/PatientMaster.js"></script>
@*<link href="~/Content/css/styles-falcon.css" rel="stylesheet" />*@
<style>
    #inputAllergenClear .k-input[readonly] {
        background-color: #e2e2e2 !important;
        color: #2e2e2e;
    }

    .checkbox-container .checkmark:after {
        left: 3.5px !important;
        top: 1px !important;
    }

    .batchstatuscolor {
        color: forestgreen !important;
    }

    .batchstatuscolorred {
        color: orangered !important;
    }

    /*#GETALLMogViewALLHistoryBATCHWISEAPL .k-grid-content {
        min-height: 100px;
        max-height: 250px !important;
        height: 250px !important;
    }*/
    #GETALLPmViewALLHistoryBATCHWISE .k-grid-content {
        min-height: 100px;
        max-height: 250px !important;
        height: 246px !important;
    }
    #gridPMViewCustomHistory .k-grid-content {
        min-height: 100px;
        max-height: 250px!important;
        height:250px!important;
    }

    .colortag {
        height: 13px;
        width: 12px;
        border-radius: 9px;
        /*margin-left: 22px;*/
        margin-left: 38%;
        background-color: blue;
    }
    #fpbody {
        overflow-x:visible;
    }
</style>
@{
    ViewBag.Title = "Patient Master";

}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div id="pmviewhistorymain" style="display:none;" class="col-lg-12 card direct-chat direct-chat-primary">


                    <div class="row" style="margin:10px">


                        <div class="col-7">
                            <div class="menuName">
                                <div><span id="inputdishname1">Upload Patient Master Batch status. </span></div>
                                <div style="height:20px;display: inline-grid;margin-top: -1px;margin-left: 2px;color: #000;">
                                    <label class="form-control-label" style="font-size:0.965em!important">
                                        Batch Failed, Following records have the invalid/incorrect data. Refer below list and correct the data in excel and re-upload.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!--</div>-->
                        <div class="col-5" style="margin-top: 10px; text-align: right;padding-right:8px;">
                            @*<button type="submit" id="APLMOGbtnback" onclick="back()" class="btn btn-success btn-xs">Back</button>
            <button type="submit" id="ALLBATCHVIEW" onclick="AllViewBatch()" class="btn btn-success btn-xs">View All Batch(s)</button>*@
                            <button type="submit" id="Pmbtnback" class="btn btn-success btn-xs">Back</button>
                            <button type="submit" id="ALLBATCHVIEW" class="btn btn-success btn-xs">View All Batch(s)</button>
                        </div>


                    </div>
                    
                    <div class="row" style="margin-top:10px">
                        <div class="col-12">
                            @*<div id="gridRecipeCustom" style="max-height:200px;"></div>*@
                            <div id="gridPMViewCustomHistoryDetails" style="max-height: 200px;margin-top: 24px;"></div>
                        </div>

                    </div>
                    <div class="row" style="margin-top:10px!important">


                    </div>


                    <div class="row" style="margin-top:10px">
                        <div class="col-12">
                            @*<div id="gridRecipeCustom" style="max-height:200px;"></div>*@
                            <div id="gridPMViewCustomHistory" style="max-height:290px;height:282px!important;"></div>
                        </div>

                    </div>


                    <span style="float:left; margin-top:2px!important" id="batchsearch">
                        <input type="text" id="BatchmyInput" placeholder="Search" class="search-input" title="Start typing to filter" style="margin-right:9px;">
                        <i class="fas fa-search" style="position: relative; right: -97%;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                    </span>

                    <div class="row" style="margin-top:10px!important">


                    </div>

                    <div class="row"></div>
                    <div class="row" style="margin-top:10px">
                        <div class="col-12">
                            @*<div id="gridRecipeCustom" style="max-height:200px;"></div>*@
                            <div id="gridPMViewALLHistory" style="max-height: 200px;"></div>
                        </div>

                    </div>



                    <div class="row" style="margin-top:10px!important">


                    </div>

                    <div class="row"></div>
                    <div class="row" style="margin-top:10px">
                        <div class="col-12">
                            @*<div id="gridRecipeCustom" style="max-height:200px;"></div>*@
                            <div id="GETALLPmViewALLHistoryBATCHWISE" style="max-height: 290px; height: 282px !important;"></div>
                        </div>

                    </div>



                </div>





                <div id="PMMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -12px;margin-top: 7px;"></h3>

                        <div class="card-tools" style="margin-top: -6px;">

                            @*<a href="MOG/DownloadExcTemplate/" target="_blank" class="btn btn-tool" style="margin-top:20px;"> Export To Template</a>*@
                            @*<button id="btnExport" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px">
                                Export To Excel
                            </button>*@
                            <button id="BtnExportTemp" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px">
                                Patient Master Template
                            </button>
                            <button id="Btnviewuploadhistory" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px">
                                View Upload History
                            </button>
                            <span style="float:left">
                                <input type="text" style=" margin-top: 8px;" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="position: relative; right: -277px;top: 7px;font-size: 0.8em;color: #76b4b0;"></i>
                            </span>
                            <button id="InitiateBulkChanges" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px; display:none;">
                                Apply Bulk Changes
                            </button>
                            <button id="CancelBulkChanges" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="display:none;padding-top:7px; display:none;">
                                Cancel Bulk Changes
                            </button>
                            <button id="SaveBulkChanges" type="submit" class="btn btn-success-bulk btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="display:none; margin-top:5px">
                                Save Bulk Changes
                            </button>
                            <button id="ExcelUpload" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="margin-top:5px; ">
                                Upload Patient Master
                            </button>


                        </div>
                    </div>
                    @*<div id="mogid" style="display:none;"></div>*@
                    <!-- /.card-header -->
                    <div id="fpbody" class="card-body">
                        <div id="bulkerror" class="alert alert-danger alert-dismissible" style="display:none">
                            <i class="icon fas fa-exclamation"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="success" class="alert alert-success alert-dismissible" style="display:none">
                            <i class="icon fas fa-check"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div id="gridBulkChange"></div>
                        <div id="gridPatientMaster"></div>
                        @*<div id="NationalwindowEdit">

                            <div class="container">
                                <div class="row">
                                    <div class="col-4" id="mogCodeDiv" style="min-width:85px!important">
                                        <label class="form-control-label">MOG Code</label>
                                        <input type="text" id="mogcode" class="form-control" disabled />
                                    </div>

                                    <div class="col-7" id="mogNameDiv">
                                        <label class="form-control-label">MOG Name<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="inputmogname" class="form-control" disabled />
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-4" id="mogUOMDiv">
                                        <label class="form-control-label">UOM<span class="mandatoryAsterisk">*</span></label>
                                        <div id="inputuom" class="form-control" disabled></div>
                                    </div>

                                    <div class="col-7" id="mogAliasDiv">
                                        <label class="form-control-label">MOG Alias</label>
                                        <input type="text" id="inputmogalias" class="form-control" />
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-12" id="mogAliasDiv">
                                        <div style="width:96%;">  <div class="form-control-label" style="margin-bottom:0px!important;"> Start typing/Select the Sector to be Mapped with MOG</div></div>
                                        <div id="inputSectorClear" style="width: 96%;">
                                            <div style="display:none; text-align: left;" id="inputSector"></div>

                                        </div>

                                    </div>
                                </div>
                                <div class="row" style="float:right;">
                                    <div class="col-11">
                                        <button type="submit" id="NatiMogbtnCancel" class="btn btn-tool">Cancel</button>
                                        <button type="submit" id="NatiMogbtnSubmit" style="margin-top: 9px !important;" class="btn btn-info">Save</button>
                                    </div>


                                </div>

                            </div>


                        </div>*@

                        <div id="UploadExcelFile">

                            <div class="container">
                                <div class="row">
                                    <div class="form-control-label" style="padding-top:-2px;margin-left:8px;margin-bottom:0px!important;"> Please select the Patient Master file to upload</div>
                                </div>

                                <div class="row">
                                    <div class="col-4" id="EXclpmCodeDiv" style="min-width:85px!important">
                                        <input type="file" id="file" class="form-control-file" accept=".xlsx,.xls,.json,.csv" style="font-size:0.8em" />
                                    </div>
                                </div>
                                <div class="row" style="float:left;">
                                    <div class="col-11">
                                        <button id="UploadPmExcel" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                                data-widget="chat-pane-toggle" style="margin-top:5px; ">
                                            Upload File
                                        </button>
                                    </div>


                                </div>

                            </div>


                        </div>
                                                                                                                                                
                    </div>
                    <!-- /.card-body -->
                    
                    <!-- /.card-footer-->
                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>