﻿<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetAllergenDataList: "@Url.Action("GetAllergenDataList", "CookBookMaster")",
        ChangeStatus: "@Url.Action("SaveAllergen", "CookBookMaster")",
        SaveAllergen: "@Url.Action("SaveAllergen", "CookBookMaster")",
    }
</script>

<script src="~/Scripts/CookBook/Allergen.js"></script>
@*<link href="~/Content/css/styles-falcon.css" rel="stylesheet" />*@
<style>

    .slider {
        top: 6px !important;
        bottom: -6px !important;
    }

    .checkbox-container input:checked ~ .checkmark::after {
        top: 2px !important;
        left: 4px !important;
    }
    .item-photo {
        width: 40px !important;
        height: 40px !important;
        border-radius: 20px !important;
    }
</style>
@{
    ViewBag.Title = "Allergen";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div id="SiteMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;"></h3>
                        <div class="card-tools" style="margin-top: -6px;">
                            <span style="float:left; margin-top:2px!important">
                                <input type="text" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="    position: relative; right: -277px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                            </span>
                            <button id="allergenaddnew" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="margin-top:5px">
                                Add New
                            </button>
                        </div>
                    </div>
                    <div id="allergenid" style="display:none;"></div>
                    <!-- /.card-header -->
                    <div id="fpbody" class="card-body">


                        <div id="gridAllergen"></div>
                        <div id="allergenWindowEdit" style="display:none;">
                            <div class="container">
                                <div class="row" style="padding-top: 10px!important">
                                    <div class="col-2">
                                        <label class="form-control-label">Code</label>
                                        <input type="text" id="allergencode" class="form-control" disabled />
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label"> Name<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="allergenname" class="form-control" />
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label"> Top 8</label>
                                        <div style="DISPLAY: inline-block; margin-top: inherit;">
                                            <label class="checkbox-container" style="display: inline-block;">
                                                <input type="checkbox" id="top8">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                      @*  <input type="checkbox" id="top8" class="form-control" style="width: 18px; margin-left: 10px;" />*@
                                    </div>
                                </div>
                                <div class="row" style="padding-top:10px">
                                    <div class="col-6">
                                        <label class="form-control-label"> Allergen Info</label>
                                        <input type="text" id="allergeninfo" class="form-control" />
                                    </div>
                                    <div class="col-4">

                                        <label class="form-control-label">Image Icon</label>

                                        <input type="file" id="file" class="form-control-file" accept=".png" style="font-size:0.8em" />
                                        <small>(upload .png or .jpg files only)</small>

                                    </div>

                                </div>

                                <div class="row" style="margin-top:10px">
                                    <div class="col-12">
                                        <label class="form-control-label">
                                            Image Preview
                                        </label>
                                        <img id="image" alt="" style="min-height:90px; max-height:90px; border:1px dashed gray" />

                                    </div>

                                </div>


                                <div class="row" style="margin-top:10px;margin-bottom:15px;">
                                    <div class="modal-footer col-12" style="padding-right:7.5px!important; align-items:flex-end!important">
                                        <button type="submit" id="allergencancel" class="btn btn-tool">Cancel</button>
                                        <button type="submit" id="allergensubmit" class="btn btn-info">Save</button>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>
                    <!-- /.card-body -->

                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<div id="videoPlayingDiv" style="display:none;">
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 5px;">
            <video id="videoclip" width="990" height="550" controls="controls" style="border:1px solid lightgrey;" disablePictureInPicture controlsList="nodownload noplaybackrate" oncontextmenu="return false;">
                <source id="mp4video" src="#" type="video/mp4" />
            </video>
        </div>
    </div>
</div>