﻿<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        SaveUOMModuleMapping: "@Url.Action("SaveUOMModuleMapping", "CookBookMaster")",
        GetUOMModuleDataList: "@Url.Action("GetUOMModuleDataList", "CookBookMaster")",
        GetUOMModuleMappingDataList: "@Url.Action("GetUOMModuleMappingDataList", "CookBookMaster")",
        GetUOMDataList: "@Url.Action("GetUOMDataList", "CookBookMaster")",
        GetUOMModuleMappingGridData: "@Url.Action("GetUOMModuleMappingGridData", "CookBookMaster")"
    }
</script>

<script src="~/Scripts/CookBook/UOMModuleMapping.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />
<style>

    .slider {
        top: 6px !important;
        bottom: -6px !important;
    }
</style>
@{
    ViewBag.Title = "UOM Module Mapping";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div id="SiteMaster" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -17px;"></h3>
                        <div class="card-tools" style="margin-top: -6px;">
                            <span style="float:left; margin-top:2px!important">
                                <input type="text" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="    position: relative; right: -277px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                            </span>
                            <button id="UOMModuleMappingnew" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="margin-top:5px">
                                Add New
                            </button>
                        </div>
                    </div>
                    <div id="uomid" style="display:none;"></div>
                    <!-- /.card-header -->
                    <div id="uombody" class="card-body">


                        <div id="gridUOM"></div>

                        <div id="RTwindowEdit" style="display:none;">
                            <div class="container">
                                <div class="first-input">
                                    <div>
                                        <label class="form-control-label"> UOM Module<span class="mandatoryAsterisk">*</span></label>
                                        <div id="ddluommodule" class="form-control" />
                                    </div>
                                </div>

                                <div class="row first-input" style="margin-top:15px!important">
                                    <div class="col-12">
                                        <div style="width:98%;">  <div class="form-control-label" style="margin-bottom:0px!important;"> Start typing/Select UOM to be mapped with Dish</div></div>
                                        <div id="ddluom" style="width: 98%;">
                                            <div style="display:none; text-align: left;" id="inputuom"></div>

                                        </div>
                                    </div>
                                </div>

                                <div class="first-input">
                                    <div>

                                        <button type="submit" id="UOMModuleMappingsubmit" class="btn btn-info btn-new-save">Save</button>

                                        <button type="submit" id="UOMModuleMappingcancel" class="btn btn-tool btn-new-cancel">Cancel</button>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->

                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<div id="videoPlayingDiv" style="display:none;">
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 5px;">
            <video id="videoclip" width="990" height="550" controls="controls" style="border:1px solid lightgrey;" disablePictureInPicture controlsList="nodownload noplaybackrate" oncontextmenu="return false;">
                <source id="mp4video" src="#" type="video/mp4" />
            </video>
        </div>
    </div>
</div>