﻿<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetDishDataList: "@Url.Action("GetDishDataList", "Dish")",
        GetMOGDataList: "@Url.Action("GetMOGDataList", "MOG")",
        GetUOMDataList: "@Url.Action("GetUOMDataList", "CookBookMaster")",
        GetRecipeDataList: "@Url.Action("GetRecipeDataList", "NationalRecipe")",
        GetBaseRecipesByRecipeID: "@Url.Action("GetBaseRecipesByRecipeID", "NationalRecipe")",
        GetMOGsByRecipeID: "@Url.Action("GetMOGsByRecipeID", "NationalRecipe")",
        SaveRecipeData: "@Url.Action("SaveRecipeData", "NationalRecipe")",
        SaveRecipeDataList: "@Url.Action("SaveRecipeDataList", "NationalRecipe")",
        GetAPLMasterDataListForMOG: "@Url.Action("GetAPLMasterDataListForMOG", "APLMaster")",
        GetRecipeImpactedDataList: "@Url.Action("GetRecipeImpactedDataList", "NationalRecipe")",
        SendRecipeEmail: "@Url.Action("SendRecipeEmail", "NationalRecipe")",
         GetApplicationSettingDataList: "@Url.Action("GetApplicationSettingDataList", "Setting")",
    }
</script>

<script src="~/Scripts/CookBook/NationalRecipe.js"></script>
<script src="~/Scripts/CookBook/recipeImpactedPopUp.js"></script>
<link href="~/Content/css/styles.css" rel="stylesheet" />
<link href="~/Content/css/summernote/summernote-bs4.css" rel="stylesheet" />
<script src="~/Content/css/summernote/summernote-bs4.min.js"></script>
@{
    ViewBag.Title = "Sector Recipe Configuration";
}

<style>
    .k-grid-filter.k-state-active {
        background-color: #dedada !important;
    }
    #windowEditMOGWiseAPL .k-grid-content.k-auto-scrollable {
        max-height: 150px !important;
    }

    #inputSearchAPL {
        height: 40px;
    }

    .k-dirty {
        display: none;
    }

    i {
        cursor: pointer !important;
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .k-numeric-wrap {
        border: none !important;
    }

    .k-numerictextbox {
        border: none !important;
    }

    /*.spin-input {
              height: 16px !important;
              width: 49px !important;
              border-radius: 2px !important;
              margin-bottom: 5px !important;
          }*/
    #windowEditMOGWiseAPL, #windowEditMOGWiseAPL .k-grid-content, #windowEditMOGWiseAPL .k-auto-scrollable {
        height: auto !important;
        /* max-height: 220px;*/
    }

    .slider {
        top: 6px !important;
        bottom: -6px !important;
    }

    .k-dropdown-wrap.k-state-disabled {
        height: 23px !important;
    }

    .k-dropdown-wrap.k-state-default, .k-dropdown-wrap.k-state-disabled {
        height: 23px !important;
    }
</style>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row" style="margin-top:20px!important;">
            <div class="col-12">
                <div id="success" class="alert alert-success alert-dismissible" style="display:none;width:100%;">
                    <i class="icon fas fa-check"></i>
                    <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                    </p>
                </div>
            </div>

            <!-- Left col -->
            <section id="mainContent" class="col-sm-12 " style="display: inherit;min-height: 480px;margin-top: -14px;">

                <div id="RecipeMaster" class="col-lg-12 card direct-chat direct-chat-primary" style="display:block">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-left: -12px;margin-top:4px !important"></h3>
                        <div class="card-tools" style="margin-top: -6px;">
                            <span style="float:left; margin-top:2px!important">
                                <input type="text" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="    position: relative; right: -277px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
                            </span>
                            <button id="btnExport" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px">
                                Export To Excel
                            </button>
                            @*<button id="InitiateBulkChanges" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px">
                                Apply Bulk Changes
                            </button>
                            <button id="CancelBulkChanges" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="display:none;padding-top:7px">
                                Cancel Bulk Changes
                            </button>*@
                            @*<button id="SaveBulkChanges" type="submit" class="btn btn-success-bulk btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="display:none; margin-top:5px">
                                Save Bulk Changes
                            </button>
                            <button id="AddNew" type="submit" class="btn btn-success btn-xs" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="margin-top:5px">
                                Add New Recipe
                            </button>*@
                        </div>
                    </div>
                    <div id="recipeid" style="display:none;"></div>
                    <div id="recipeid0" style="display:none;"></div>
                    <div id="recipeid1" style="display:none;"></div>
                    <div id="recipeid2" style="display:none;"></div>
                    <div id="recipeid3" style="display:none;"></div>
                    <div id="recipeid4" style="display:none;"></div>
                    <div id="recipeid5" style="display:none;"></div>
                    <div id="recipeidx" style="display:none;"></div>
                    <!-- /.card-header -->
                    <div id="fpbody" class="card-body">


                        <div id="gridBulkChange"></div>
                        <div id="gridRecipe" class="gridMain"></div>

                        <!-- Window Edit 1 start-->

                        <div id="windowEdit1" class="col-sm-12 connectedSortable" style="display:none; max-height:520px">
                            <section>
                                <div class="container" style="overflow: auto!important; max-height:520px!important">

                                    <div class="row">
                                        <span style="margin-left: 8px;margin-top: 7px;">Recipe Configuration </span>
                                        <div class="modal-footer col" style="padding-right: 7.5px !important;margin-top: 0px !important;">

                                            <button type="submit" id="btnCancel1" class="btn btn-tool">Back</button>
                                            @*<button type="submit" style="display:none;" id="btnSubmit1" class="btn btn-tool">Save</button>
                                            <button type="submit" style="display:none;" id="btnPublish1" class="btn btn-publish">Publish</button>*@


                                        </div>
                                    </div>

                                    <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:100%;margin-left:7px!important;margin-bottom:20px;">


                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-1">
                                                    <label class="form-control-label">Recipe Code</label>
                                                    <input type="text" id="inputrecipecode1" class="form-control" disabled />
                                                </div>
                                                <div class="col-3">
                                                    <label class="form-control-label">Recipe Name</label>
                                                    <input type="text" id="inputrecipename1" disabled class="form-control" />
                                                </div>
                                                <div class="col-3">
                                                    <label class="form-control-label">Recipe Alias Name</label>
                                                    <input type="text" id="inputrecipealiasname1" class="form-control" disabled />
                                                </div>
                                                <div class="col-1">
                                                    <label class="form-control-label">Quantity</label>
                                                    <input type="text" id="inputquantity1" value="10" class="form-control" disabled />
                                                </div>
                                                <div class="col-1">
                                                    <label class="form-control-label">UOM</label>
                                                    <div id="inputuom1" class="form-control" disabled></div>
                                                </div>
                                                <div class="col-2">
                                                    <label class="form-control-label">Recipe Type</label>
                                                    <div id="inputbase1" class="form-control" disabled></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">

                                            <div class="row">
                                                <div class="col-5"></div>
                                                <div class="col-5">
                                                    <h6 class="form-control-main m-0 text-right">Total Cost of Recipe: <span id="grandTotal1">₹0.00</span></h6>
                                                </div>
                                                <div>
                                                    <h6 class="form-control-main m-0 text-right">Cost of Recipe / Kg : <span id="grandCostPerKG1">₹0.00</span></h6>

                                                </div>
                                                    

                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="dishRecipe">
                                                <div class="upper" style="height: 24px;" id="mup_gridBaseRecipe1" onclick="showHideGrid('gridMOG1','emptymog1','mup_gridBaseRecipe1')">
                                                    Direct Ingredients (MOG)
                                                    <br />

                                                </div>
                                                <div class="lower">
                                                    <div id="gridMOG1" style="display:none;"></div>
                                                    <div id="emptymog1" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                        <button id="addmog1" class="btn btn-default" style="margin-top:22px!important">No MOG(S) </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>

                                    <div class="row">
                                        <div class="col-12">

                                            <div class="dishRecipe">
                                                <div class="upper" style="height: 24px;" id="bup_gridBaseRecipe1" onclick="showHideGrid('gridBaseRecipe1','emptybr1','bup_gridBaseRecipe1')">

                                                    Base Recipe(s)

                                                </div>
                                                <div class="lower">
                                                    <div id="gridBaseRecipe1" style="display:none;"></div>
                                                    <div id="emptybr1" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                        <button id="addbr1" class="btn btn-default" style="margin-top:22px!important">No Base Recipe(s) </button>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                    <div id="jump1">
                                        <div class="row">
                                            <div class="col-12">
                                                <h6>Instructions</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-12">


                                            <textarea id="inputinstruction1" class="form-control" style="height:60px!important"  readonly></textarea>

                                        </div>

                                    </div>

                                </div>
                            </section>

                        </div>
                        <!--Window Edit 1 End-->
                        <!-- Window Edit 2 start-->

                        <div id="windowEdit2" class="col-sm-12 connectedSortable" style="display:none; max-height:520px">
                            <section>
                                <div class="container" style="overflow: auto!important; max-height:520px!important">

                                    <div class="row">
                                        <span style="margin-left: 8px;margin-top: 7px;">Recipe Configuration </span>
                                        <div class="modal-footer col" style="padding-right: 7.5px !important;margin-top: 0px !important;">

                                            <button type="submit" id="btnCancel2" class="btn btn-tool">Back</button>
                                            @*<button type="submit" style="display:none;" id="btnSubmit2" class="btn btn-tool">Save</button>
                                            <button type="submit" style="display:none;" id="btnPublish2" class="btn btn-publish">Publish</button>*@


                                        </div>
                                    </div>

                                    <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:100%;margin-left:7px!important;margin-bottom:20px;">

                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-1">
                                                    <label class="form-control-label">Recipe Code</label>
                                                    <input type="text" id="inputrecipecode2" class="form-control" disabled />
                                                </div>
                                                <div class="col-3">
                                                    <label class="form-control-label">Recipe Name</label>
                                                    <input type="text" id="inputrecipename2" disabled class="form-control" />
                                                </div>
                                                <div class="col-3">
                                                    <label class="form-control-label">Recipe Alias Name</label>
                                                    <input type="text" id="inputrecipealiasname2" class="form-control" disabled />
                                                </div>
                                                <div class="col-1">
                                                    <label class="form-control-label">Quantity</label>
                                                    <input type="text" id="inputquantity2" value="10" class="form-control" disabled />
                                                </div>
                                                <div class="col-1">
                                                    <label class="form-control-label">UOM</label>
                                                    <div id="inputuom2" class="form-control" disabled></div>
                                                </div>
                                                <div class="col-2">
                                                    <label class="form-control-label">Recipe Type</label>
                                                    <div id="inputbase2" class="form-control" disabled></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">

                                            <div class="row">
                                                <div class="col-5">
                                                    <h6 class="form-control-main m-0">Total Cost of Recipe: <span id="grandTotal2">₹0.00</span></h6>
                                                </div>

                                                <div class="col-6">
                                                    <h6 class="form-control-main m-0">Cost of Recipe / Kg : <span id="grandCostPerKG2">₹0.00</span></h6>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="dishRecipe">
                                                <div class="upper" style="height: 24px;" id="mup_gridBaseRecipe2" onclick="showHideGrid('gridMOG2','emptymog2','mup_gridBaseRecipe2')">
                                                    Direct Ingredients (MOG)
                                                    <br />

                                                </div>
                                                <div class="lower">
                                                    <div id="gridMOG2" style="display:none;"></div>
                                                    <div id="emptymog2" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                        <button id="addmog2" class="btn btn-default" style="margin-top:22px!important">No MOG(S) </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>

                                    <div class="row">
                                        <div class="col-12">

                                            <div class="dishRecipe">
                                                <div class="upper" style="height: 24px;" id="bup_gridBaseRecipe2" onclick="showHideGrid('gridBaseRecipe2','emptybr2','bup_gridBaseRecipe2')">

                                                    Base Recipe(s)

                                                </div>
                                                <div class="lower">
                                                    <div id="gridBaseRecipe2" style="display:none;"></div>
                                                    <div id="emptybr2" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                        <button id="addbr2" class="btn btn-default" style="margin-top:22px!important">No Base Recipe(s) </button>
                                                    </div>
                                                </div>

                                            </div>



                                        </div>

                                    </div>
                                    <div id="jump2">
                                        <div class="row">
                                            <div class="col-12">
                                                <h6>Instructions</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-12">


                                            <textarea id="inputinstruction2" class="form-control" style="height:60px!important"></textarea>

                                        </div>

                                    </div>

                                </div>
                            </section>

                        </div>
                        <!--Window Edit 2 End-->
                        <!-- Window Edit 3 start-->

                        <div id="windowEdit3" class="col-sm-12 connectedSortable" style="display:none; max-height:520px">
                            <section>
                                <div class="container" style="overflow: auto!important; max-height:520px!important">

                                    <div class="row">
                                        <span style="margin-left: 8px;margin-top: 7px;">Recipe Configuration </span>
                                        <div class="modal-footer col" style="padding-right: 7.5px !important;margin-top: 0px !important;">

                                            <button type="submit" id="btnCancel3" class="btn btn-tool">Back</button>
                                            @*<button type="submit" style="display:none;" id="btnSubmit3" class="btn btn-tool">Save</button>
                                            <button type="submit" style="display:none;" id="btnPublish3" class="btn btn-publish">Publish</button>*@


                                        </div>
                                    </div>

                                    <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:100%;margin-left:7px!important;margin-bottom:20px;">

                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-1">
                                                    <label class="form-control-label">Recipe Code</label>
                                                    <input type="text" id="inputrecipecode3" class="form-control" disabled />
                                                </div>
                                                <div class="col-3">
                                                    <label class="form-control-label">Recipe Name</label>
                                                    <input type="text" id="inputrecipename3" disabled class="form-control" />
                                                </div>
                                                <div class="col-3">
                                                    <label class="form-control-label">Recipe Alias Name</label>
                                                    <input type="text" id="inputrecipealiasname3" class="form-control" disabled />
                                                </div>
                                                <div class="col-1">
                                                    <label class="form-control-label">Quantity</label>
                                                    <input type="text" id="inputquantity3" value="10" class="form-control" disabled />
                                                </div>
                                                <div class="col-1">
                                                    <label class="form-control-label">UOM</label>
                                                    <div id="inputuom3" class="form-control" disabled></div>
                                                </div>
                                                <div class="col-2">
                                                    <label class="form-control-label">Recipe Type</label>
                                                    <div id="inputbase3" class="form-control" disabled></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">

                                            <div class="row">
                                                <div class="col-5">
                                                    <h6 class="form-control-main m-0">Total Cost of Recipe: <span id="grandTotal3">₹0.00</span></h6>
                                                </div>

                                                <div class="col-6">
                                                    <h6 class="form-control-main m-0">Cost of Recipe / Kg : <span id="grandCostPerKG3">₹0.00</span></h6>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="dishRecipe">
                                                <div class="upper" style="height: 24px;" id="mup_gridBaseRecipe3" onclick="showHideGrid('gridMOG3','emptymog3','mup_gridBaseRecipe3')">
                                                    Direct Ingredients (MOG)
                                                    <br />

                                                </div>
                                                <div class="lower">
                                                    <div id="gridMOG3" style="display:none;"></div>
                                                    <div id="emptymog3" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                        <button id="addmog3" class="btn btn-default" style="margin-top:22px!important">No MOG(S) </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>

                                    <div class="row">
                                        <div class="col-12">

                                            <div class="dishRecipe">
                                                <div class="upper" style="height: 24px;" id="bup_gridBaseRecipe3" onclick="showHideGrid('gridBaseRecipe3','emptybr3','bup_gridBaseRecipe3')">

                                                    Base Recipe(s)

                                                </div>
                                                <div class="lower">
                                                    <div id="gridBaseRecipe3" style="display:none;"></div>
                                                    <div id="emptybr3" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                        <button id="addbr3" class="btn btn-default" style="margin-top:22px!important">No Base Recipe(s) </button>
                                                    </div>
                                                </div>

                                            </div>



                                        </div>

                                    </div>
                                    <div id="jump3">
                                        <div class="row">
                                            <div class="col-12">
                                                <h6>Instructions</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-12">


                                            <textarea id="inputinstruction3" class="form-control" style="height:60px!important"></textarea>

                                        </div>

                                    </div>

                                </div>
                            </section>

                        </div>
                        <!--Window Edit 3 End-->
                        <!-- Window Edit 4 start-->

                        <div id="windowEdit4" class="col-sm-12 connectedSortable" style="display:none; max-height:520px">
                            <section>
                                <div class="container" style="overflow: auto!important; max-height:520px!important">

                                    <div class="row">
                                        <span style="margin-left: 8px;margin-top: 7px;">Recipe Configuration </span>
                                        <div class="modal-footer col" style="padding-right: 7.5px !important;margin-top: 0px !important;">

                                            <button type="submit" id="btnCancel4" class="btn btn-tool">Back</button>
                                            @*<button type="submit" style="display:none;" id="btnSubmit4" class="btn btn-tool">Save</button>
                                            <button type="submit" style="display:none;" id="btnPublish4" class="btn btn-publish">Publish</button>*@


                                        </div>
                                    </div>

                                    <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:100%;margin-left:7px!important;margin-bottom:20px;">

                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-1">
                                                    <label class="form-control-label">Recipe Code</label>
                                                    <input type="text" id="inputrecipecode4" class="form-control" disabled />
                                                </div>
                                                <div class="col-3">
                                                    <label class="form-control-label">Recipe Name</label>
                                                    <input type="text" id="inputrecipename4" disabled class="form-control" />
                                                </div>
                                                <div class="col-3">
                                                    <label class="form-control-label">Recipe Alias Name</label>
                                                    <input type="text" id="inputrecipealiasname4" class="form-control" disabled />
                                                </div>
                                                <div class="col-1">
                                                    <label class="form-control-label">Quantity</label>
                                                    <input type="text" id="inputquantity4" value="10" class="form-control" disabled />
                                                </div>
                                                <div class="col-1">
                                                    <label class="form-control-label">UOM</label>
                                                    <div id="inputuom4" class="form-control" disabled></div>
                                                </div>
                                                <div class="col-2">
                                                    <label class="form-control-label">Recipe Type</label>
                                                    <div id="inputbase4" class="form-control" disabled></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">

                                            <div class="row">
                                                <div class="col-5">
                                                    <h6 class="form-control-main m-0">Total Cost of Recipe: <span id="grandTotal4">₹0.00</span></h6>
                                                </div>

                                                <div class="col-6">
                                                    <h6 class="form-control-main m-0">Cost of Recipe / Kg : <span id="grandCostPerKG4">₹0.00</span></h6>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="dishRecipe">
                                                <div class="upper" style="height: 24px;" id="mup_gridBaseRecipe4" onclick="showHideGrid('gridMOG4','emptymog4','mup_gridBaseRecipe4')">
                                                    Direct Ingredients (MOG)
                                                    <br />

                                                </div>
                                                <div class="lower">
                                                    <div id="gridMOG4" style="display:none;"></div>
                                                    <div id="emptymog4" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                        <button id="addmog4" class="btn btn-default" style="margin-top:22px!important">No MOG(S) </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>

                                    <div class="row">
                                        <div class="col-12">

                                            <div class="dishRecipe">
                                                <div class="upper" style="height: 24px;" id="bup_gridBaseRecipe4" onclick="showHideGrid('gridBaseRecipe4','emptybr4','bup_gridBaseRecipe4')">

                                                    Base Recipe(s)

                                                </div>
                                                <div class="lower">
                                                    <div id="gridBaseRecipe4" style="display:none;"></div>
                                                    <div id="emptybr4" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                        <button id="addbr4" class="btn btn-default" style="margin-top:22px!important">No Base Recipe(s) </button>
                                                    </div>
                                                </div>

                                            </div>



                                        </div>

                                    </div>
                                    <div id="jump4">
                                        <div class="row">
                                            <div class="col-12">
                                                <h6>Instructions</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-12">


                                            <textarea id="inputinstruction4" class="form-control" style="height:60px!important"></textarea>

                                        </div>

                                    </div>

                                </div>
                            </section>

                        </div>
                        <!--Window Edit 4 End-->
                        <!-- Window Edit 4 start-->

                        <div id="windowEdit5" class="col-sm-12 connectedSortable" style="display:none; max-height:520px">
                            <section>
                                <div class="container" style="overflow: auto!important; max-height:520px!important">

                                    <div class="row">
                                        <span style="margin-left: 8px;margin-top: 7px;">Recipe Configuration </span>
                                        <div class="modal-footer col" style="padding-right: 7.5px !important;margin-top: 0px !important;">

                                            <button type="submit" id="btnCancel5" class="btn btn-tool">Back</button>
                                            @*<button type="submit" style="display:none;" id="btnSubmit5" class="btn btn-tool">Save</button>
                                            <button type="submit" style="display:none;" id="btnPublish5" class="btn btn-publish">Publish</button>*@


                                        </div>
                                    </div>

                                    <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:100%;margin-left:7px!important;margin-bottom:20px;">

                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-1">
                                                    <label class="form-control-label">Recipe Code</label>
                                                    <input type="text" id="inputrecipecode5" class="form-control" disabled />
                                                </div>
                                                <div class="col-3">
                                                    <label class="form-control-label">Recipe Name</label>
                                                    <input type="text" id="inputrecipename5" disabled class="form-control" />
                                                </div>
                                                <div class="col-3">
                                                    <label class="form-control-label">Recipe Alias Name</label>
                                                    <input type="text" id="inputrecipealiasname5" class="form-control" disabled />
                                                </div>
                                                <div class="col-1">
                                                    <label class="form-control-label">Quantity</label>
                                                    <input type="text" id="inputquantity5" value="10" class="form-control" disabled />
                                                </div>
                                                <div class="col-1">
                                                    <label class="form-control-label">UOM</label>
                                                    <div id="inputuom5" class="form-control" disabled></div>
                                                </div>
                                                <div class="col-2">
                                                    <label class="form-control-label">Recipe Type</label>
                                                    <div id="inputbase5" class="form-control" disabled></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">

                                            <div class="row">
                                                <div class="col-5">
                                                    <h6 class="form-control-main m-0">Total Cost of Recipe: <span id="grandTotal5">₹0.00</span></h6>
                                                </div>

                                                <div class="col-6">
                                                    <h6 class="form-control-main m-0">Cost of Recipe / Kg : <span id="grandCostPerKG5">₹0.00</span></h6>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="dishRecipe">
                                                <div class="upper" style="height: 24px;" id="mup_gridBaseRecipe5" onclick="showHideGrid('gridMOG4','emptymog4','mup_gridBaseRecipe4')">
                                                    Direct Ingredients (MOG)
                                                    <br />

                                                </div>
                                                <div class="lower">
                                                    <div id="gridMOG5" style="display:none;"></div>
                                                    <div id="emptymog5" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                        <button id="addmog5" class="btn btn-default" style="margin-top:22px!important">No MOG(S) </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>

                                    <div class="row">
                                        <div class="col-12">

                                            <div class="dishRecipe">
                                                <div class="upper" style="height: 24px;" id="bup_gridBaseRecipe5" onclick="showHideGrid('gridBaseRecipe5','emptybr5','bup_gridBaseRecipe5')">

                                                    Base Recipe(s)

                                                </div>
                                                <div class="lower">
                                                    <div id="gridBaseRecipe5" style="display:none;"></div>
                                                    <div id="emptybr5" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                                        <button id="addbr5" class="btn btn-default" style="margin-top:22px!important">No Base Recipe(s) </button>
                                                    </div>
                                                </div>

                                            </div>



                                        </div>

                                    </div>
                                    <div id="jump5">
                                        <div class="row">
                                            <div class="col-12">
                                                <h6>Instructions</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-12">


                                            <textarea id="inputinstruction5" class="form-control" style="height:60px!important"></textarea>

                                        </div>

                                    </div>

                                </div>
                            </section>

                        </div>
                        <!--Window Edit 5 End-->
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
            </section>

            <!-- Window Edit 0 start-->

            <div id="windowEdit0" class="col-sm-12 connectedSortable" style="display:none; max-height:520px">
                <section>
                    <div class="container" style="overflow: auto!important; max-height:520px!important">
                        <div id="error0" class="alert alert-danger alert-dismissible" style="display:none">
                            <i class="icon fas fa-exclamation"></i>
                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                            </p>
                        </div>
                        <div class="row">
                            <span style="margin-left: 8px;">New Recipe Configuration </span>
                            <span style="margin-left:50px;margin-right:5px;"> Populate Recipe</span> 
                            <div id="copyRecipe"></div>
                            <div class="modal-footer col">



                                <button type="submit" id="btnCancel0" class="btn btn-tool">Back</button>

                                @*<button type="submit" id="btnSubmit0" class="btn btn-tool">Save</button>
                                <button type="submit" id="btnPublish0" class="btn btn-publish">Publish</button>*@

                            </div>
                        </div>


                        <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:98.6%;margin-left:7px!important;margin-bottom:20px;">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-2">
                                        <label class="form-control-label">Recipe Code</label>
                                        <input type="text" id="inputrecipecode0" class="form-control" disabled />
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Recipe Name<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="inputrecipename0" class="form-control" />
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Recipe Alias Name</label>
                                        <input type="text" id="inputrecipealiasname0" class="form-control" />
                                    </div>
                                    <div class="col-1">
                                        <label class="form-control-label">Quantity</label>
                                        <input type="text" id="inputquantity0" value="10" class="form-control" disabled />
                                    </div>
                                    <div class="col-1">
                                        <label class="form-control-label">UOM</label>
                                        <div id="inputuom0" class="form-control" disabled></div>
                                    </div>
                                    <div class="col-2">
                                        <label class="form-control-label">Recipe Type<span class="mandatoryAsterisk">*</span></label>
                                        <div id="inputbase0" class="form-control"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">

                                <div class="row">
                                    <div class="col-3 offset-md-6">
                                        <h6 class="form-control-main m-0 text-right">Total Cost of Recipe: <span id="grandTotal0">₹0.00</span></h6>
                                    </div>

                                    <div class="col-3">
                                        <h6 class="form-control-main m-0 text-right">Cost of Recipe / Kg : <span id="grandCostPerKG0">₹0.00</span></h6>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="dishRecipe">
                                    <div id="mup_gridBaseRecipe0" class="upper" onclick="showHideGrid('gridMOG0','emptymog0','mup_gridBaseRecipe0')">
                                        Direct Ingredients (MOG)
                                        <br />

                                    </div>
                                    <div class="lower">
                                        <div id="gridMOG0" style="display:none;"></div>
                                        <div id="emptymog0" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                            <button id="addmog0" class="btn btn-default" style="margin-top:22px!important">Add MOG(s) </button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>


                        <div class="row">
                            <div class="col-12">
                                <div class="dishRecipe">
                                    <div class="upper" id="bup_gridBaseRecipe0" onclick="showHideGrid('gridBaseRecipe0','emptybr0','bup_gridBaseRecipe0')">

                                        Base Recipe(s)

                                    </div>
                                    <div class="lower">
                                        <div id="gridBaseRecipe0" style="display:none;"></div>
                                        <div id="emptybr0" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                            <button id="addbr0" class="btn btn-default" style="margin-top:22px!important">Add Base Recipe(s) </button>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div id="jump0">
                            <div class="row">
                                <div class="col-12">
                                    <h6>Instructions</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">


                                <textarea id="inputinstruction0" class="form-control" style="height:30px!important;"></textarea>

                            </div>

                        </div>

                    </div>
                </section>

            </div>
            <!--Window Edit 0 End-->
            <!-- Window Edit x start-->

            <div id="windowEditx" class="col-sm-12 connectedSortable" style="display:none; max-height:520px">
                <section>
                    <div class="container" style="overflow: auto!important; max-height:520px!important">

                        <div class="row">
                            <span style="margin-left: 8px;margin-top: 7px;">Base Recipe Configuration </span>
                            <div class="modal-footer col" style="padding-right: 7.5px !important;margin-top: 0px !important;">

                                <button type="submit" id="btnCancelx" class="btn btn-tool">Back</button>
                                @*<button type="submit" id="btnSubmitx" class="btn btn-tool">Save</button>
                                <button type="submit" id="btnPublishx" class="btn btn-publish">Publish</button>*@
                            </div>
                        </div>

                        <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:100%;margin-left:7px!important;margin-bottom:20px;">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-2">
                                        <label class="form-control-label">Recipe Code</label>
                                        <input type="text" id="inputrecipecodex" class="form-control" disabled />
                                    </div>
                                    <div class="col-4">
                                        <label class="form-control-label">Recipe Name<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="inputrecipenamex" class="form-control" />
                                    </div>
                                    <div class="col-1">
                                        <label class="form-control-label">Quantity</label>
                                        <input type="text" id="inputquantityx" value="10" class="form-control" disabled />
                                    </div>
                                    <div class="col-1">
                                        <label class="form-control-label">UOM</label>
                                        <div id="inputuomx" class="form-control" disabled></div>
                                    </div>
                                    <div class="col-2">
                                        <label class="form-control-label">Recipe Type<span class="mandatoryAsterisk">*</span></label>
                                        <div id="inputbasex" class="form-control"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row" style="text-align: right;">
                                    <div class="col-12 mt-1">
                                        <h6 class="form-control-main m-0">Total Cost of Recipe: <span id="grandTotalx">₹0.00</span></h6>
                                    </div>

                                    <div class="col-12">
                                        <h6 class="form-control-main m-0">Cost of Recipe / Kg : <span id="grandCostPerKGx">₹0.00</span></h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="dishRecipe">
                                    <div class="upper" style="height: 24px;" id="mup_gridBaseRecipex" onclick="showHideGrid('gridMOGx','emptymogx','mup_gridBaseRecipex')">
                                        Direct Ingredients (MOG)
                                        <br />
                                    </div>
                                    <div class="lower">
                                        <div id="gridMOGx" style="display:none;"></div>
                                        <div id="emptymogx" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:block;'>
                                            <button id="addmogx" class="btn btn-default" style="margin-top:22px!important">Add MOG(s) </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="dishRecipe">
                                    <div class="upper" style="height: 24px;" id="bup_gridBaseRecipex" onclick="showHideGrid('gridBaseRecipex','emptybrx','bup_gridBaseRecipex')">
                                        Base Recipe(s)
                                    </div>
                                    <div class="lower">
                                        <div id="gridBaseRecipex" style="display:none;"></div>
                                        <div id="emptybrx" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:block;'>
                                            <button id="addbrx" class="btn btn-default" style="margin-top:22px!important">Add Base Recipe(s) </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="jumpx">
                            <div class="row">
                                <div class="col-12">
                                    <h6>Instructions</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <textarea id="inputinstructionx" class="form-control" style="height:60px!important"></textarea>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!--Window Edit x End-->

            <div id="windowEdit" @*style="display:none;margin-top:10px;" *@ class="col-sm-12 connectedSortable" style="display:none; max-height:520px">
                <section>
                    <div class="container" style="overflow: auto!important; max-height:520px!important">
                      
                        <div class="row">
                            <span>Recipe Configuration</span>

                            <div class="modal-footer col">


                                <button type="submit" id="btnCancel" class="btn btn-tool">Back</button>
                                @*<button type="submit" id="btnSubmit" class="btn btn-tool">Save</button>
                                <button type="submit" id="btnPublish" class="btn btn-publish">Publish</button>*@

                            </div>
                        </div>
                        @*<div class="card">
                        *@

                        <div class="row" style="background-color: rgb(242,240,239);padding-top: 5px!important;padding-bottom: 10px!important; border-radius: 5px;width:98.6%;margin-left:7px!important;margin-bottom:20px;">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-2">
                                        <label class="form-control-label">Recipe Code</label>
                                        <input type="text" id="inputrecipecode" class="form-control" disabled />
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Recipe Name<span class="mandatoryAsterisk">*</span></label>
                                        <input type="text" id="inputrecipename" class="form-control" />
                                    </div>
                                    <div class="col-3">
                                        <label class="form-control-label">Recipe Alias Name</label>
                                        <input type="text" id="inputrecipealiasname" class="form-control" />
                                    </div>
                                    <div class="col-1">
                                        <label class="form-control-label">Quantity</label>
                                        <input type="text" id="inputquantity" value="10" class="form-control" disabled />
                                    </div>
                                    <div class="col-1">
                                        <label class="form-control-label">UOM</label>
                                        <div id="inputuom" class="form-control" disabled></div>
                                    </div>
                                    <div class="col-2">
                                        <label class="form-control-label">Recipe Type<span class="mandatoryAsterisk">*</span></label>
                                        <div id="inputbase" class="form-control"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">

                                <div class="row">
                                    <div class="col-3 offset-md-6">
                                        <h6 class="form-control-main m-0 text-right">Total Cost of Recipe: <span id="grandTotal">₹0.00</span></h6>
                                    </div>

                                    <div class="col-3">
                                        <h6 class="form-control-main m-0 text-right">Cost of Recipe / Kg : <span id="grandCostPerKG">₹0.00</span></h6>
                                    </div>

                                </div>

                            </div>
                           
                        </div>
                        <div class="row form-control-label" style="margin-left: 7px !important; margin-top: -13px !important; font-style: italic; color: #615e5e !important;"><span>* Major >= <span class="asPercent">5</span>% of the Recipe Weight</span></div>
                        <div class="row">
                            <div class="col-12">
                                <div class="dishRecipe">
                                    <div id="mup_gridMOG" class="upper" onclick="showHideGrid('gridMOG','emptymog','mup_gridMOG')">
                                        Direct Ingredients (MOG)
                                        <br />

                                    </div>
                                    <div class="lower">
                                        <div id="gridMOG" style="display:none;"></div>
                                        <div id="emptymog" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                            <button id="addmog" class="btn btn-default" style="margin-top:22px!important">Add MOG(s) </button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                        @*
                            </div>*@

                        <div class="row">
                            <div class="col-12">
                                <div class="dishRecipe">
                                    <div id="bup_gridBaseRecipe" class="upper" onclick="showHideGrid('gridBaseRecipe','emptybr','bup_gridBaseRecipe')">

                                        Base Recipe(s)


                                    </div>
                                    <div class="lower">
                                        <div id="gridBaseRecipe" style="display:none;"></div>
                                        <div id="emptybr" style='width:100%; background-color:rgb(240,240,240); min-height:70px; text-align:center; border-radius:5px;display:none;'>
                                            <button id="addbr" class="btn btn-default" style="margin-top:22px!important">Add Base Recipe(s) </button>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div id="jump">
                            <div class="row">
                                <div class="col-12">
                                    <h6>Instructions</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">


                                <textarea id="inputinstruction" class="form-control" style="height:60px!important"></textarea>

                            </div>

                        </div>

                    </div>
                </section>

            </div>
            <!-- /.Left col -->
        </div>
        @Html.Partial("~/Views/Shared/_RecipeImpactPopUp.cshtml")
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>


<div id="windowEditMOGWiseAPL" style="display:none;">
    <div id="inputSearchAPL">
        <span id="searchspan1" style="float:right; margin-top:2px!important; display:block">
            <input type="text" id="myInputAPL" placeholder="Search" class="search-input" title="Start typing to filter">
            <i class="fas fa-search" style="    position: relative; right: -277px;top: 4px;font-size: 0.7em;color: #76b4b0;"></i>
        </span>

    </div>
    <div class="container">

        <div style="margin-top:10px;" id="gridMOGWiseAPL"></div>

    </div>
</div>
<div id="videoPlayingDiv" style="display:none;">
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 5px;">
            <video id="videoclip" width="990" height="550" controls="controls" style="border:1px solid lightgrey;" disablePictureInPicture controlsList="nodownload noplaybackrate" oncontextmenu="return false;">
                <source id="mp4video" src="#" type="video/mp4" />
            </video>
        </div>
    </div>
</div>

