﻿
<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetDishCategoryList: "@Url.Action("GetDishCategoryList", "Item")",
        GetSiteMasterList: "@Url.Action("GetSiteMasterList", "Item")",
        GetRegionMasterList: "@Url.Action("GetRegionMasterList", "Item")",
        GetDishList: "@Url.Action("GetDishDataList", "Item")",
        GetRegionDishMasterData: "@Url.Action("GetRegionDishMasterData", "Item")",
        GetFoodProgramDataList: "@Url.Action("GetFoodProgramDataList", "CookBookMaster")",
        GetItemType1DataList: "@Url.Action("GetItemType1DataList", "CookBookMaster")",
        GetItemType2DataList: "@Url.Action("GetItemType2DataList", "CookBookMaster")",
        GetServewareDataList: "@Url.Action("GetServewareDataList", "CookBookMaster")",
        GetVisualCategoryDataList: "@Url.Action("GetVisualCategoryDataList", "CookBookMaster")",
        GetUOMDataList: "@Url.Action("GetUOMDataList", "CookBookMaster")",
        GetItemDataList: "@Url.Action("GetItemDataList", "Item")",
        GetItemDishMappingDataList: "@Url.Action("GetItemDishMappingDataList", "Item")",
        GetRegionItemDishMappingDataList: "@Url.Action("GetRegionItemDishMappingDataList", "Item")",
        GetMasterRegionItemDishMappingDataList: "@Url.Action("GetMasterRegionItemDishMappingDataList", "Item")",
        SaveItemData: "@Url.Action("SaveItemData", "Item")",
        SaveItemDataList: "@Url.Action("SaveItemDataList", "Item")",
        SaveItemDishMappingDataList: "@Url.Action("SaveItemDishMappingDataList", "Item")",
        SaveRegionItemDishMappingDataList: "@Url.Action("SaveRegionItemDishMappingDataList", "Item")",
        GetItemDishCategoryMappingDataList: "@Url.Action("GetItemDishCategoryMappingDataList", "Item")",
        GetRegionDishCategoryMappingDataList: "@Url.Action("GetRegionDishCategoryMappingDataList", "Item")",
        GetRegionItemInheritanceMappingDataList: "@Url.Action("GetRegionItemInheritanceMappingDataList", "Item")",
        GetUniqueMappedItemCodesFromItem:"@Url.Action("GetUniqueMappedItemCodesFromItem", "Item")",
        SaveRegionDishCategoryMappingDataList: "@Url.Action("SaveRegionDishCategoryMappingDataList", "Item")",
        SaveSectorToRegionInheritance: "@Url.Action("SaveSectorToRegionInheritance", "Item")",
        GetRegionInheritedData: "@Url.Action("GetRegionInheritedData", "Item")",
        GetRegionMasterListByUserId: "@Url.Action("GetRegionMasterListByUserId", "Item")",
        GetSubSectorMasterList: "@Url.Action("GetSubSectorMasterList", "Item")",
        UpdateCostSectorToRegionInheritance: "@Url.Action("UpdateCostSectorToRegionInheritance", "Item")",
        mydishcateinactiveupdate: "@Url.Action("UpdateRegionDishCategoryInactiveUpdate", "Item")",
        GetDietCategoryDataList: "@Url.Action("GetDietCategoryDataList", "CookBookMaster")",
         GetUOMModuleMappingDataList: "@Url.Action("GetUOMModuleMappingDataList", "CookBookMaster")",
        GetInheritChangesSectorToRegion: "@Url.Action("GetInheritChangesSectorToRegion", "Item")",
        SaveChangesSectorToRegion: "@Url.Action("SaveChangesSectorToRegion", "Item")",
        //Krish
        GetRegionItemDataList:"@Url.Action("GetRegionItemDataList", "Item")",
    }

</script>

<script src="~/Scripts/CookBook/Region.js"></script>
<link href="~/Content/css/stylesRegion.css" rel="stylesheet" />
<link href="~/Content/css/styles.css" rel="stylesheet" />
@{
  //  Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Regional Menu Configuration";
}


<style>
    .dishtile {
        margin-left: 8px;
        margin-top: -23px !important;
    }
    .k-dropdown-wrap.k-state-default {
        background-color: #fff;
        min-height: 1.85em;
        line-height: 1.85em;
        padding: 0em 0;
        font-size: 13px;
        text-align: left;

    }
    .k-button, .k-state-hover {
        color: #e2e2e2;

        border-color: none;
        background-color: transparent;
        box-shadow: none !important;
    }

    .k-button.k-state-active, .k-button:active {
        color: #e2e2e2;
        border-color: none !important;
        background-color: transparent !important;
        box-shadow: none !important;
    }
    .k-button.k-state-focus, .k-button:focus {
        box-shadow:none !important;
    }
    k-button.k-state-active:hover {
        box-shadow: none !important;
        background-color: transparent !important;
        border: none !important;
    }
    .k-grid-MapDishes {
        cursor: pointer!important;
    }
    .k-grid-MapDishes:hover {
        background: transparent!important;
    }
    .connectedSortable {
        background-color: transparent;
    }
    .MapDisabled {
        cursor: no-drop;
    }
    .search-input {
        width: 284px;
        height: 25px !important;
        padding-left: 8px;
        float: right;
        position: relative;
        margin-top: 8px;
        border: solid 1px #ccc;
        font-size: 0.8em;
        margin-right: 15px;
        border-radius: 4px;
        padding-top:0px;
    }
    .k-dropdown-wrap.k-state-border-down {
        border-bottom-width: 1px;
        padding-bottom: 0;
        border-radius: 4px;
    }
    .top-arrow {
        position: relative;
        content: '';
        /*border-left: 7px solid transparent;*/
        border-right: 7px solid transparent;
        border-bottom: 7px solid #699e9b;
        left: -5px;
        top: -1px;
        transform: rotate(0deg);
    }
   /* #gridItem {
        max-height: 460px !important;
    }
     #gridItem.k-grid-content {
        min-height: 100px !important;
        height:460px!important;

    }*/
   /*-- Loader --*/
.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 99999999;
    opacity: 0.9;
}

#preloader-logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loading-msg {
    width: 100%;
    font-size: 0.75em;
    color: #555;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}

.spinner {
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #2489CE;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite ease;
}

    #topMsg {
        background-color: #fffcd7;
        width: 100%;
        margin-top: 12px;
        text-align: center;
        font-size: 14px;
        color: #4e1504;
    }

#loading-msg {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 25px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 0.8em;
}
    [class*=icheck-] > input:first-child:checked + input[type=hidden] + label::after, [class*=icheck-] > input:first-child:checked + label::after {
        top: 4px !important;
        left: 5px !important;
    }

    [class*=icheck-] > label {
        line-height: 18px !important;
    }

    [class*=icheck-] > input:first-child + input[type=hidden] + label::before, [class*=icheck-] > input:first-child + label::before {
        margin-left: -22px !important;
    }

    ::-webkit-scrollbar:horizontal {
        height: 10px !important;
    }


    ::-webkit-scrollbar {
        width: 10px !important;
    }
/*-- End Loader --*/
</style>
<!-- Main content -->

<div class="preloader" style="display:none;">
    <div class="spinner"></div>
    <span id="loading-msg"></span>
</div>

<section class="content">
    <div class="container-fluid">

        <div class="row">

            <div id="topMsg" style="display:none;">
                The Items shall not be visible to Unit if not individually Configured and Published
            </div>
            <section class="col-sm-12" style="display:inherit;" id="configMaster">

                <div style="display:block;" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header" style="margin-top:-6px;">

                        <div style="float: left; display: none; width: 150px !important; margin-left: -13px; margin-top: 7px !important; margin-right: 10px; text-align: left;" id="inputSubSector" class="form-control googleonly"></div>

                        <div style=" float: left;display:none;width:150px!important; margin-left: -7px;margin-top: 7px !important;margin-right:10px; text-align: left;" id="inputregion" class="form-control"></div>
                        <button id="btnGo" type="submit" class="btn  btn-info" data-toggle="tooltip" title=""
                                data-widget="chat-pane-toggle" style="float: left; display: none; margin-left: -6px !important; margin-top: 7px !important" onclick="Utility.Loading(); setTimeout(function () {InheritedMap()},20);">
                            Go
                        </button>

                        <div id="subSectorRadioBtn" class="d-inline card-tools" style="display:none !important;float: left;width: 192px !important;margin-left: 6px;margin-top: 12px !important;text-align: left;">
                            <div class="icheck-success d-inline" id="">
                                <input type="radio" name="subsector" value="SSR-001" checked="" id="inputAll">
                                <label for="inputAll" class="form-control-plaintext" style="display:inline!important">
                                    Both
                                </label>
                            </div>
                            <div class="icheck-success d-inline" id="inputGogoDiv">
                                <input type="radio" value="SSR-002" name="subsector" id="inputGogo">
                                <label for="inputGogo" class="form-control-plaintext" style="display:inline!important">
                                    GOGO
                                </label>
                            </div>
                            <div class="icheck-success d-inline" id="inputGovoDiv">
                                <input type="radio" value="SSR-003" name="subsector" id="inputGovo">
                                <label for="inputGovo" class="form-control-plaintext" style="display:inline!important">
                                    GOVO
                                </label>
                            </div>
                        </div>




                        <div id="actionRegion" class="card-tools" style="display:none;">

                            <span style="float:left; margin-top:6px!important;width:150px;" id="dietcategorysearch"></span>

                            <span style="float:left;">
                                <input type="text" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="position: relative; right: -277px;top: 7px;font-size: 0.7em;color: #76b4b0;"></i>
                            </span>


                            <div id="previewchk" class="btn btn-tool">
                                <div style="DISPLAY: inline-block; margin-top: inherit;">
                                    <label class="checkbox-container" style="display: inline-block;">
                                        <input type="checkbox" id="btnPreview" onchange="preview(this);">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <label class="btn btn-tool" id="changesum" style="font-weight: 400;margin-top: -6px!important;margin-left:-6px; font-size: 0.9em!important;">
                                    Change Summary
                                </label>
                            </div>
                            <button id="btnExport" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px">
                                Export To Excel
                            </button>
                            <button id="btnInherited" type="submit" class="btn  btn-info" style="margin-top:7px!important" onclick="toggleInherited()">
                                <span id="toggleText">Edit Menu</span>
                            </button>
                            <button id="btnDrft" type="submit" class="btn  btn-tool" style="margin-top:7px!important" onclick="saveProcedure(0)">
                                Save
                            </button>
                            <button id="btnSaveChk" type="submit" class="btn btn-publish" style="margin-top:7px!important" onclick="saveProcedure(1)">
                                Inherit To Region
                            </button>
                        </div>
                    </div>
                    <div id="fpbody" class="card-body">

                        <div id="gridItem"></div>

                    </div>
                </div>
            </section>
        </div>
        <!-- Main row -->
        <!-- Left col -->
        <section class="connectedSortable" id="mapMaster" style="display:none;">
            <div class="row">
                <div class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card">
                        <div class="row" style="margin-top:10px">
                            <div id="ConfigMaster" style="display:none;" class="col-lg-12 card direct-chat direct-chat-primary">
                                <div class="card-body">

                                    @*<div class="row">
                                        <div id="bulkerror1" class="alert alert-danger alert-dismissible" style="display:none">
                                            <i class="icon fas fa-exclamation"></i>
                                            <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                            </p>
                                        </div>
                                        <div class="col-12">
                                            <div id="success1" class="alert alert-success alert-dismissible" style="display:none">
                                                <i class="icon fas fa-check"></i>
                                                <p style="font-size: 12px;margin-bottom: .15rem;margin-left: 5px;">
                                                </p>
                                            </div>
                                        </div>
                                    </div>*@
                                    <div class="row" style="margin:10px">

                                        <div class="col-7">
                                            @*<div style="height:50px;width:50px; display: inline-grid;float:left;">
                                                <img style="height:50px;width:50px; " id="imageMenuItem" />
                                            </div>*@
                                            <div class="categoryStatus">
                                                <div id="itemDietCategory">
                                                    <div id="itemDietCategoryStatus"></div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="menuName">
                                                    <div><span id="itemName">Menu Image Preview </span><span id="fpname" class="fptag"></span></div>
                                                    <div style="height:20px;width: 500px;display: inline-grid;margin-top: -1px;margin-left: 2px;color: #000;">
                                                        <label class="form-control-label" style="font-size:0.965em!important">
                                                            <span style="margin-left:4px" id="ssector"></span>
                                                            Item Code:
                                                            <span id="itemCode" style="margin-right:4px"> 1010</span>|
                                                            <span id="fptype" style="margin-left:4px; margin-right:4px"></span>
                                                            <span id="pipeSpan">|</span>
                                                            <span style="margin-left:4px" id="vcat"></span>

                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-5" style="margin-top:10px; padding-right:9px; text-align:right">
                                            @*<label style="text-align-last: end;" class="form-control-label">Populate from Sector (Default View)</label>*@
                                            <button type="submit" id="btnRecipeCancel" onclick="apply()" class=" btn btn-tool">Reset</button>
                                            <button type="submit" id="btnback" onclick="back()" class=" btn btn-tool">Back</button>
                                            @*<button type="submit" id="btnInheritChanges" onclick="inheritChanges()" class=" btn btn-tool">Inherit Changes</button>*@
                                            @*<button style="height:initial;" type="submit" id="btnReset" onclick="preSet()" class="btn btn-info btn-default">Restore Sector Config </button>*@
                                            <button type="submit" id="btnSubmitRecipe" onclick="onSave()" class="btn btn-tool">Save</button>
                                            <button type="submit" id="btnPublishRecipe" onclick="onPublish()" class="btn btn-publish">Publish</button>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:20px!important;justify-content:flex-end">
                                        @*<button type="submit" id="expandIcon" class="btn" style="width:90px;font-weight:400;margin-top:-20px; color:#76b4b0;font-size:0.8em">Expand All</button>
                                        <button type="submit" id="collapseIcon" class="btn" style="width:96px;font-weight:400;margin-left:-15px; margin-top: -20px; color:#76b4b0;font-size:0.8em">Collapse All</button>*@
                                        <button type="submit" id="expandIcon" class="btn" style="padding: 5px; width: 75px; font-weight: 400; font-size: 0.8em !important; margin-top: -20px; color: #76b4b0;">Expand All</button>
                                        <button type="submit" id="collapseIcon" class="btn" style="padding:5px;width:75px;font-weight:400; font-size:0.8em!important; margin-top: -20px; color:#76b4b0;">Collapse All</button>
                                    </div>
                                    <div class="row" style="margin-top:3px!important;overflow-y: auto;max-height:60vh;">
                                        <div class="col-12" id="dishCategory"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="col-sm-12" style="display:none;" id="inheritItemChanges" >

            <div style="display:block;" class="col-lg-12 card direct-chat direct-chat-primary">
                <div class="card-header" style="margin-top:-6px;">

                    <div id="actionItemChangeRegion" class="card-tools" style="display:block;">

                        <span style="float:left;">
                            <input type="text" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                            <i class="fas fa-search" style="position: relative; right: -277px;top: 7px;font-size: 0.7em;color: #76b4b0;"></i>
                        </span>


                        @*<div id="previewchk" class="btn btn-tool">
                            <div style="DISPLAY: inline-block; margin-top: inherit;">
                                <label class="checkbox-container" style="display: inline-block;">
                                    <input type="checkbox" id="btnPreview" onchange="preview(this);">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <label class="btn btn-tool" id="changesum" style="font-weight: 400;margin-top: -6px!important;margin-left:-6px; font-size: 0.9em!important;">
                                Change Summary
                            </label>
                        </div>*@
                        <button id="btnInherited" type="submit" class="btn  btn-info" style="margin-top:7px!important" onclick="backInheritChanges()">
                            <span id="toggleText">Back</span>
                        </button>
                        <button id="btnSaveChk" type="submit" class="btn btn-publish" style="margin-top:7px!important" onclick="saveInheritChanges()">
                            Inherit To Sector
                        </button>
                    </div>
                </div>
                <div id="fpbody" class="card-body">

                    <div id="gridInheritChanges"></div>
                    
                </div>
            </div>
        </section>

    </div>
   
</section>