﻿<script>

    var CookBookMasters = {
        GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetConceptType1DataList: "@Url.Action("GetConceptType1DataList", "CookBookMaster")",
        GetConceptType2DataList: "@Url.Action("GetConceptType2DataList", "CookBookMaster")",
        GetConceptType3DataList: "@Url.Action("GetConceptType3DataList", "CookBookMaster")",
        GetConceptType4DataList: "@Url.Action("GetConceptType4DataList", "CookBookMaster")",
        GetConceptType5DataList: "@Url.Action("GetConceptType5DataList", "CookBookMaster")",
        GetDietCategoryDataList: "@Url.Action("GetDietCategoryDataList", "CookBookMaster")",
        GetDishCategoryList: "@Url.Action("GetDishCategoryList", "Item")",
        GetDishList: "@Url.Action("GetDishDataList", "Item")",
        GetFoodProgramDataList: "@Url.Action("GetFoodProgramDataList", "CookBookMaster")",
        GetItemType1DataList: "@Url.Action("GetItemType1DataList", "CookBookMaster")",
        GetItemType2DataList: "@Url.Action("GetItemType2DataList", "CookBookMaster")",
        GetServewareDataList: "@Url.Action("GetServewareDataList", "CookBookMaster")",
        GetVisualCategoryDataList: "@Url.Action("GetVisualCategoryDataList", "CookBookMaster")",
        GetItemDataList: "@Url.Action("GetItemDataList", "Item")",
        GetItemDishMappingDataList: "@Url.Action("GetItemDishMappingDataList", "Item")",
        SaveItemData: "@Url.Action("SaveItemData", "Item")",
        SaveItemDataList: "@Url.Action("SaveItemDataList", "Item")",
        SaveItemDishMappingDataList:"@Url.Action("SaveItemDishMappingDataList", "Item")",
    }
</script>

<script src="~/Scripts/CookBook/Sector.js"></script>
<link href="~/Content/css/stylesSector.css" rel="stylesheet" />
<style>
</style>
@{
    ViewBag.Title = "Sector Menu Config";
}



<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12 connectedSortable" style="display:inherit; min-height:480px">
                <div id="ConfigMaster"class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title m-0 text-dark" style="margin-left: -17px;"><b></b></h3>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin-top:10px">


                            <div class="col-4">
                                <label class="form-control-label">Food Program</label>
                                <div id="inputfoodprogram" class="form-control"></div>
                            </div>

                            <div class="col-4">
                                <label class="form-control-label"> Menu Items</label>
                                <div id="inputmenuitem" class="form-control"></div>
                            </div>
                            <div class="col-4">
                                <label class="form-control-label"> Apply</label>
                                <button style="height:initial;"  type="submit" id="btnApply" onclick="apply()" class="btn btn-info">Apply Filter</button>
                            </div>
                        </div>
                        <div class="row" id="applyArea">
                            Hare Krishna!!
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</section>