﻿
<script>

    var CookBookMasters = {
           GetLoginUserDetailsUrl: "@Url.Action("GetLoginUserDetails", "CookBookMaster")",
        GetDietCategoryDataList: "@Url.Action("GetDietCategoryDataList", "CookBookMaster")",
        GetSiteMasterList: "@Url.Action("GetSiteDataList", "Site")",
         GetItemDishCategoryMappingDataList: "@Url.Action("GetItemDishCategoryMappingDataList", "Item")",
        GetItemDishMappingDataList: "@Url.Action("GetItemDishMappingDataList", "Item")",
        SaveItemData: "@Url.Action("SaveItemData", "Item")",
        SaveItemDataList: "@Url.Action("SaveItemDataList", "Item")",
        SaveItemDishMappingDataList: "@Url.Action("SaveItemDishMappingDataList", "Item")",
        GetDishCategoryList: "@Url.Action("GetDishCategoryList", "Item")",
        GetSiteMasterList: "@Url.Action("GetSiteMasterList", "Item")",
        GetDishList: "@Url.Action("GetDishDataList", "Item")",
        GetSiteDishDataList: "@Url.Action("GetSiteDishDataList", "Item")",
        GetFoodProgramDataList: "@Url.Action("GetFoodProgramDataList", "CookBookMaster")",
       GetItemDataList: "@Url.Action("GetItemDataList", "Item")",
        GetItemDishMappingDataList: "@Url.Action("GetItemDishMappingDataList", "Item")",
        GetRegionItemDishMappingDataList: "@Url.Action("GetRegionItemDishMappingDataList", "Item")",
         GetSiteItemDishMappingDataList: "@Url.Action("GetSiteItemDishMappingDataList", "Item")",
        GetMasterRegionItemDishMappingDataList: "@Url.Action("GetMasterRegionItemDishMappingDataList", "Item")",
            GetMasterSiteItemDishMappingDataList: "@Url.Action("GetMasterSiteItemDishMappingDataList", "Item")",
        SaveItemData: "@Url.Action("SaveItemData", "Item")",
        SaveItemDataList: "@Url.Action("SaveItemDataList", "Item")",
        SaveItemDishMappingDataList: "@Url.Action("SaveItemDishMappingDataList", "Item")",
        SaveRegionItemDishMappingDataList: "@Url.Action("SaveRegionItemDishMappingDataList", "Item")",
        SaveSiteItemDishMappingDataList: "@Url.Action("SaveSiteItemDishMappingDataList", "Item")",
        GetRegionDishCategoryMappingDataList: "@Url.Action("GetRegionDishCategoryMappingDataList", "Item")",
        GetSiteDishCategoryMappingDataList: "@Url.Action("GetSiteDishCategoryMappingDataList", "Item")",
        GetUOMDataList: "@Url.Action("GetUOMDataList", "CookBookMaster")",
        GetReasonList: "@Url.Action("GetReasonList", "Item")",
       GetSiteItemInheritanceMappingDataList:"@Url.Action("GetSiteItemInheritanceMappingDataList", "Item")",
        SaveSiteDishCategoryMappingDataList: "@Url.Action("SaveSiteDishCategoryMappingDataList", "Item")",
        GetItemDataList: "@Url.Action("GetItemDataList", "Item")",
        GetUniqueMappedItemCodesFromRegion:"@Url.Action("GetUniqueMappedItemCodesFromRegion", "Item")",
        SaveRegionToSiteInheritance: "@Url.Action("SaveRegionToSiteInheritance", "Item")",
        SaveToSiteInheritance: "@Url.Action("SaveToSiteInheritance", "Item")",
        GetSiteDataListByUserId: "@Url.Action("GetSiteDataListByUserId", "Site")",
         GetDayPartDataList: "@Url.Action("GetDayPartDataList", "CookBookMaster")",
        SaveSiteItemDayPartMappingDataList: "@Url.Action("SaveSiteItemDayPartMappingDataList", "Item")",
        GetSiteItemDayPartMappingDataList: "@Url.Action("GetSiteItemDayPartMappingDataList", "Item")",
        GetRegionItemInheritanceMappingDataList: "@Url.Action("GetRegionItemInheritanceMappingDataList", "Item")",
        GetDietCategoryDataList: "@Url.Action("GetDietCategoryDataList", "CookBookMaster")",
         GetUOMModuleMappingDataList: "@Url.Action("GetUOMModuleMappingDataList", "CookBookMaster")",
        GetSiteItemDropDownDataData: "@Url.Action("GetSiteItemDropDownDataData", "Item")",
    }
</script>
<link href="~/Content/css/styleSite.css" rel="stylesheet" />
<link href="~/Content/css/styles.css" rel="stylesheet" />
<script src="~/Scripts/CookBook/SiteRegionMenu.js"></script>

@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Unit Menu Configuration";
}

<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
    .nav-link {
      
        padding: .5rem 1rem;
    }
    .site_smallIngredient {
        text-align: left;
        position: absolute;
        z-index: 1024;
        left: 57%;
        min-height:142px;
        background-color: #a6a6a6;
        border: 1px solid #e2e2e2;
        width: 100%;
        min-width: 410px;
        border-radius:5px;
    }
    .smallIngredient {
        position: relative;
    }
    .supper > span {
        float: right;
    }
    span .k-dropdown {
        width: 120px !important;
    }
    .served_site{
        margin-left:5px;
        margin-right:18px;
    }
    .served_site_variation {
        margin-left: 7px;
        margin-right: 21px;
    }
    .tilebox .k-dropdown {
        background-color: transparent !important;
    }
    .k-widget.k-dropdown.k-header.myCustomClass {
        width: 170px;
    }
    .tilebox {
        padding-left: 8px;
    }
    .tilebox .qserv {
        font-size: 0.9em;
        color: #595959;
    }
    .tilebox .wtpc {
        font-size: 0.9em;
        color: #595959;
    }
    .tilebox .site_smallIngredient .k-i-arrow-s {
        left: 10px;
        position: absolute;
        top: 6px;
    }
    .suppertxt {
        padding-left: 0px !important;
        height: auto !important;
    }
    .suppertxt span {
        padding-right: 5px;
    }
    .showportion {
        font-weight: 900;
        cursor: pointer;
        /*  margin-right:8px;
        margin-top:-5px;*/
        position: absolute;
        top: -1px;
        right: 0;
    }
    .smallIngredient .supper {
        white-space: none;
        text-overflow: initial;
        width: initial;
        max-width: initial;
        overflow: initial;
    }
    .topText {
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 186px !important;
        overflow: hidden;
    }

    .bgcolortrans {
        background: transparent !important;
        box-shadow: none !important;
        width: 50px;
    }
    .bgcolortrans .k-dropdown-wrap{
        padding: 0px 2px;
    }
    .popupokbtn {
        top: 0;
        margin-top: 0px !important;
        padding: 1px 10px !important;
        font-size: 14px !Important;
    }
    .k-dropdown {
        background-color: transparent !important;
        /*height:24px!important;*/
    }
    .k-button, .k-state-hover {
        color: #e2e2e2;
        border-color: none;
        background-color: transparent;
        box-shadow: none !important;
    }

        .k-button.k-state-active, .k-button:active {
            color: #e2e2e2;
            border-color: none !important;
            background-color: transparent !important;
            box-shadow: none !important;
        }

        .k-button.k-state-focus, .k-button:focus {
            box-shadow: none !important;
        }

        .k-button.k-state-active:hover {
            box-shadow: none !important;
            background-color: transparent !important;
            border: none !important;
        }

    .k-grid-MapDishes {
        cursor: pointer !important;
    }
        .k-grid-MapDishes:hover {
            background: transparent !important;
        }
    .connectedSortable {
        background-color: transparent;
    }

    .MapDisabled {
        cursor: no-drop;
    }

    .search-input {
        width: 284px;
        height: 25px !important;
        padding-left: 8px;
        float: right;
        position: relative;
        margin-top: 8px;
        border: solid 1px #ccc;
        font-size: 0.8em;
        margin-right: 15px;
        border-radius: 4px;
        padding-top: 0px;
    }

    .k-dropdown-wrap.k-state-border-down {
        border-bottom-width: 1px;
        padding-bottom: 0;
        border-radius: 4px;
    }

    .top-arrow {
        position: relative;
        content: '';
        /*border-left: 7px solid transparent;*/
        border-right: 7px solid transparent;
        border-bottom: 7px solid #699e9b;
        left: -5px;
        top: -1px;
        transform: rotate(0deg);
    }

    .direct-chat .card-body {
        overflow-x:visible !important;
        padding: 0;
        position: relative;
    }

    ::-webkit-scrollbar:horizontal {
        height: 10px !important;
    }


    ::-webkit-scrollbar {
        width: 10px !important;
    }
    
</style>

<!-- Main content -->


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <section class="col-sm-12" style="display:inherit;" id="configMaster">
                <div style="display:block;" class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card-header" style="margin-top:-6px;">
                        <div style=" display:none; width:250px!important; margin-left:-13px; margin-top:7px; margin-right:10px; text-align: left;" id="inputsite" class="form-control"></div>
                        <button id="btnGo" type="submit" class="btn  btn-info" data-toggle="tooltip" title=""
                                data-widget="chat-pane-toggle" style=" display:none; margin-left:-6px!important;margin-top:8px!important" onclick="Utility.Loading(); setTimeout(function () {InheritedMap()},1000);">
                            Go
                        </button>
                        <div id="actionRegion" class="card-tools" style="display:none;">

                            <span style="float:left; margin-top:6px!important;width:70px;" id="dietcategorysearch"></span>
                            <span style="float:left;">
                                <input type="text" id="myInput" placeholder="Search" class="search-input" title="Start typing to filter">
                                <i class="fas fa-search" style="position: relative; right: -277px;top: 7px;font-size: 0.7em;color: #76b4b0;"></i>
                            </span>
                            <div id="previewchk" class="btn btn-tool">
                                <div style="DISPLAY: inline-block; margin-top: inherit;">
                                    <label class="checkbox-container" style="display: inline-block;">
                                        <input type="checkbox" id="btnPreview" onchange="preview(this);">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <label class="btn btn-tool" id="changesum" style="font-weight: 400;margin-top: -6px!important;margin-left:-6px; font-size: 0.9em!important;">
                                    Change Summary
                                </label>
                            </div>
                            <button id="btnExport" type="submit" class="btn btn-tool" data-toggle="tooltip" title=""
                                    data-widget="chat-pane-toggle" style="padding-top:7px">
                                Export To Excel
                            </button>
                            <button id="btnInherited" type="submit" class="btn  btn-info" data-toggle="tooltip" title="" style="margin-top:7px!important"
                                    data-widget="chat-pane-toggle" onclick="toggleInherited()">
                                <span id="toggleText">Edit Menu</span>
                            </button>
                            <button type="submit" id="btnbackMain" onclick="back()" class=" btn btn-tool">Back</button>
                            <button id="btnDrft" type="submit" class="btn  btn-tool" data-toggle="tooltip" title="" style="margin-top:7px!important"
                                    data-widget="chat-pane-toggle" onclick="saveProcedure(0)">
                                Save
                            </button>
                            <button id="btnSaveChk" type="submit" class="btn btn-tool btn-publish" data-toggle="tooltip" title="" style="margin-top:7px!important"
                                    data-widget="chat-pane-toggle" onclick="saveProcedure(1)">
                                Inherit To Unit
                            </button>
                        </div>
                    </div>
                    <div id="fpbody" class="card-body">

                        <div id="gridItem"></div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Main row -->
        <!-- Left col -->
        <section class="connectedSortable" id="mapMaster" style="display:none;">
            <div class="row">
                <div class="col-lg-12 card direct-chat direct-chat-primary">
                    <div class="card">
                        <div class="row" style="margin-top:10px">
                            <div id="ConfigMaster" style="display:none;" class="col-lg-12 card direct-chat direct-chat-primary">
                                <div class="card-body">


                                    <div class="row" style="margin:10px">

                                        <div class="col-9">
                                            @*<div style="height:50px;width:50px; display: inline-grid;float:left;">
                    <img style="height:50px;width:50px; " id="imageMenuItem" />
                </div>*@
                                            <div class="categoryStatus">
                                                <div id="itemDietCategory">
                                                    <div id="itemDietCategoryStatus"></div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="menuName">
                                                    <div><span id="itemName">Menu Image Preview </span><span id="fpname" class="fptag"></span></div>
                                                    <div style="height:20px;width: 700px;display: inline-grid;margin-top: -1px;margin-left: 2px;color: #000;"><label class="form-control-label" style="font-size:0.965em!important">
                                                        Item Code: <span id="itemCode" style="margin-right:4px">
                                                            1010
                                                        </span>|<span id="fptype" style="margin-left:4px; margin-right:4px"></span><span id="pipeSpan">|</span><span style="margin-left:4px" id="vcat"></span>
                                                        <span id="inputItemAllergenLabel" style="margin-right:4px"></span>
                                                    </label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3" style="margin-top:10px; padding-right:9px; text-align:right">
                                            @*<label style="text-align-last: end;" class="form-control-label">Populate from Sector (Default View)</label>*@
                                            <button type="submit" id="btnRecipeCancel" onclick="apply()" class=" btn btn-tool">Reset</button>
                                            <button type="submit" id="btnback" onclick="back()" class=" btn btn-tool">Back</button>
                                            @*<button style="height:initial;" type="submit" id="btnReset" onclick="preSet()" class="btn btn-info btn-default">Restore Sector Config </button>*@
                                            <button type="submit" id="btnSubmitRecipe" onclick="onSave()" class="btn btn-tool">Save</button>
                                            <button type="submit" id="btnSubmitClose" onclick="onPublish()" class="btn btn-info btn-publish">Publish</button>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:20px!important;justify-content:flex-end">
                                        <div class="col-12">
                                            <label class="form-control-label"><span id="dayHeader">Start Typing / Choose Mealtime for Mapping</span> <span id="iname"></span><span class="mandatoryAsterisk">*</span></label>
                                            
                                        </div>
                                       
                                        <div class="col-12" style="overflow-y: auto;max-height:100px!important;">
                                            <div id="inputdaypart"></div>
                                        </div>


                                    </div>
                                    <div class="row" style="margin-top:20px!important;justify-content:flex-end">
                                     


                                        <button type="submit" id="expandIcon" class="btn" style="padding: 5px; width: 75px; font-weight: 400; font-size: 0.8em !important; margin-top: -20px; color: #76b4b0;">Expand All</button>
                                        <button type="submit" id="collapseIcon" class="btn" style="padding:5px;width:75px;font-weight:400; font-size:0.8em!important; margin-top: -20px; color:#76b4b0;">Collapse All</button>
                                    </div>
                                    <div class="row" style="min-height:230px!important;margin-top:1px!important;overflow-y: auto;max-height:60vh;">
                                        <div class="col-12" id="dishCategory"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="windowEdit" style="display:none;">
            <div class="container">
                <div class="first-input">
                    <div>
                        <label class="form-control-label">Item Code<span class="mandatoryAsterisk">*</span></label>
                        <input type="text" id="itemcode" class="form-control" disabled />
                    </div>


                </div>
                <div class="first-input">
                    <div>
                        <label class="form-control-label">Item Name<span class="mandatoryAsterisk">*</span></label>
                        <input type="text" id="itemname" class="form-control" disabled/>
                    </div>
                </div>
                <div class="first-input">
                    <div>
                        <label class="form-control-label">Item Price ₹<span class="mandatoryAsterisk">*</span></label>
                        <input type="number" id="itemprice" class="form-control" />
                    </div>
                </div>
                <div class="first-input">
                    <div>

                        <button type="submit" id="btnpricesubmit" class="btn btn-info btn-new-save">Save</button>

                        <button type="submit" id="btnpricecancel" class="btn btn-tool btn-new-cancel">Cancel</button>
                    </div>


                </div>

            </div>
        </div>
    </div>
</section>
